<div class="row card-box">
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/examinations/manage-exams/create-exam')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    CE
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Create Exam</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/examinations/manage-exams/exam-dates')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    ED
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Exam Dates</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/examinations/manage-exams/notifications')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    No
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Notifications</p>
            </div>
        </div>
    </div>
</div>