<!-- <p class="h5 text-success my-3">Dashboard 1</p>
<div class="row">
    <div class="col-md-4 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'pd@omsb.org'">
        <div class="card card-card-animate shadow" >
            <div class="card-body py-2">  
                <div class="d-flex flex-row justify-content-between align-items-center" >
                    <div class="flex flex-column">
                        <p class="fs-16 mb-3 ">Admission Setup</p>
                        <a (click)="onNavigate('/admission/admission/admission-setup')" class="btn btn-success">View</a>
                    </div>
                    <img src="assets/images/verification-img.png" class="img-fluid">
                </div>            
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-card-animate shadow" >
            <div class="card-body py-2">  
                <div class="d-flex flex-row justify-content-between align-items-center" >
                    <div class="flex flex-column">
                        <p class="fs-16 mb-3 ">Sponsor Setup</p>
                        <a (click)="onNavigate('/admission/admission/sponsor-setup')" class="btn btn-success">View</a>
                    </div>
                    <img src="assets/images/file.png" class="img-fluid">
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'pd@omsb.org'">
        <div class="card card-card-animate shadow" >
            <div class="card-body py-2">  
                <div class="d-flex flex-row justify-content-between align-items-center" >
                    <div class="flex flex-column">
                        <p class="fs-16 mb-3 ">View Application</p>
                        <a (click)="onNavigate('/admission/admission/view-application')" class="btn btn-success">View</a>
                    </div>
                    <img src="assets/images/illustrator-1.png" class="img-fluid">
                </div>                             
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'|| userRole === 'interviewer@omsb.org'">
        <div class="card card-card-animate shadow" >
            <div class="card-body py-2">  
                <div class="d-flex flex-row justify-content-between align-items-center" >
                    <div class="flex flex-column">
                        <p class="fs-16 mb-3 ">Interview</p>
                        <a (click)="onNavigate('/admission/admission/interview')" class="btn btn-success">View</a>
                    </div>
                    <img src="assets/images/widget-img.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-card-animate shadow" >
            <div class="card-body py-2">  
                <div class="d-flex flex-row justify-content-between align-items-center" >
                    <div class="flex flex-column">
                        <p class="fs-16 mb-3 ">Interview Result</p>
                        <a (click)="onNavigate('/admission/admission/interview-result')" class="btn btn-success">View</a>
                    </div>
                    <img src="assets/images/error500.png" class="img-fluid">
                </div>                             
            </div>
        </div>
    </div>
</div>

<p class="h5 text-success my-3">Dashboard 2</p>
<div class="row">
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'pd@omsb.org'">
        <div class="card card-card-animate shadow" >
            <div class="card-body py-2">  
                <div class="d-flex flex-column justify-content-between align-items-center" >
                    <p class="fs-16 mb-2">Admission Setup</p>
                    <img src="assets/images/verification-img.png" class="img-fluid">
                    <a (click)="onNavigate('/admission/admission/admission-setup')" class="btn btn-success mt-3 w-100">View</a>

                </div>            
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-card-animate shadow" >
            <div class="card-body py-2">  
                <div class="d-flex flex-column justify-content-between align-items-center" >
                    <p class="fs-16 mb-2">Sponsor Setup</p>
                    <img src="assets/images/file.png" class="img-fluid">
                    <a (click)="onNavigate('/admission/admission/sponsor-setup')" class="btn btn-success mt-3 w-100">View</a>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'pd@omsb.org'">
        <div class="card card-card-animate shadow" >
            <div class="card-body py-2">  
                <div class="d-flex flex-column justify-content-between align-items-center" >
                    <p class="fs-16 mb-2">View Application</p>
                    <img src="assets/images/illustrator-1.png" class="img-fluid">
                    <a (click)="onNavigate('/admission/admission/view-application')" class="btn btn-success mt-3 w-100">View</a>
                </div>                          
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'|| userRole === 'interviewer@omsb.org'">
        <div class="card card-card-animate shadow" >
            <div class="card-body py-2">  
                <div class="d-flex flex-column justify-content-between align-items-center" >
                    <p class="fs-16 mb-2">Interview</p>
                    <img src="assets/images/widget-img.png" class="img-fluid">
                    <a (click)="onNavigate('/admission/admission/interview')" class="btn btn-success mt-3 w-100">View</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-card-animate shadow" >
            <div class="card-body py-2">  
                <div class="d-flex flex-column justify-content-between align-items-center" >
                    <p class="fs-16 mb-2">Interview Result</p>
                    <img src="assets/images/error500.png" class="img-fluid">
                    <a (click)="onNavigate('/admission/admission/interview-result')" class="btn btn-success mt-3 w-100">View</a>
                </div>                             
            </div>
        </div>
    </div>
</div> -->

<div class="row card-box">
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'pd@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/admission/admission/admission-setup')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AS
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Admission Setup</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/admission/admission/sponsor-setup')">
            <div class="card-header bg-warning">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    SS
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Sponsor Setup</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'pd@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/admission/admission/view-application')">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    VA
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">View Application</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'|| userRole === 'interviewer@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/admission/admission/interview')" >
            <div class="card-header bg-secondary">
            </div>
            <div class="card-body ">
                <div class="d-flex card-thumbnail">
                    In
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Interview</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3"  *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/admission/admission/interview-result')" >
            <div class="card-header bg-info">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    IR
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Interview Result</p>
            </div>
        </div>
    </div>
</div>

<!-- <p class="h4 text-success mt-3">Multiple Action</p>
<div class="row card-box">
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AS
                </div>
            </div>
            <div class="card-body py-2 w-100">
                <div class="d-flex flex-row no-wrap justify-content-between">
                    <p class="h5 text-wrap" style="margin-right: 10px;">Admission Setup Long Text</p>
                    <div class="dropdown" ngbDropdown>
                        <a href="javascript:void(0);" class="arrow-none btn btn-outline-primary btn-icon waves-effect waves-light" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                            <i class="ri-more-2-fill"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                            <li>
                                <a class="dropdown-item" ><i class="mx-1 ri-pages-line
                                    "></i>Action 1</a>
                            </li>
                            <li>
                                <a class="dropdown-item" ><i class="mx-1 ri-pages-line"></i>Action 2</a>
                            </li>
                        </ul>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div> -->