<div class="row ">
    <div class="col-md-6 col-12 mb-3">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row align-items-start">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="slide slide1">
                                    <div class="p-3">
                                        <p class="fs-19 ">Scholarship Program Setup</p>
                                    </div>
                                </div>
                                <div class="slide slide1">
                                    <div class="p-3">
                                        <div class="d-flex flex-column">
                                            <button (click)="onNavigate('/scholarship/create-program-type')" class="btn btn-success">Create Program Type</button>
                                            <button (click)="onNavigate('/scholarship/create-program')" class="btn btn-success my-2">Create Program</button>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> <!-- end card-body-->
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row align-items-start">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="slide slide1">
                                    <div class="p-3">
                                        <p class="fs-19 ">Application</p>
                                    </div>
                                </div>
                                <div class="slide slide1">
                                    <div class="p-3">
                                        <div class="d-flex flex-column">
                                            <button (click)="onNavigate('/scholarship/view-applications')" class="btn btn-success">View Applications</button>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> <!-- end card-body-->
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row align-items-start">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="slide slide1">
                                    <div class="p-3">
                                        <p class="fs-19 ">International Trainee Applications</p>
                                    </div>
                                </div>
                                <div class="slide slide1">
                                    <div class="p-3">
                                        <div class="d-flex flex-column">
                                            <button (click)="onNavigate('/scholarship/international-trainee-applications')" class="btn btn-success">View Applications</button>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> <!-- end card-body-->
        </div>
    </div>
</div>