<div class="row mt-1">
    <div class="card">
        <div class="card-body">
            <div  class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-end gap-2 my-2">
                        <button *ngIf="userRole === 'eportal@omsb.org'" (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                        <button class="btn btn-primary">New Verification</button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened && userRole === 'eportal@omsb.org'" [@enterAnimation] >
                <div class="col-md-3 mb-3" >
                    <label class="form-lable">Trainee Name</label>
                    <ng-select [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-3 mb-3" >
                    <label class="form-lable">Passport No</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3" >
                    <label class="form-lable">Civil Id</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Status</label>
                    <ng-select 
                    [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="d-flex flex-row mb-2">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
            <div class="row mt-1">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>                                  
                                    <th scope="col" *ngIf="userRole === 'eportal@omsb.org'">Trainee Name</th>
                                    <th scope="col">DoB</th>
                                    <th scope="col">Passport No</th>
                                    <th scope="col">Civil ID</th>
                                    <th scope="col">No of Verifications</th>
                                    <th scope="col" *ngIf="userRole === 'trainee@omsb.org'"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let trainee of tableData">
                                <tr>
                                    <td *ngIf="userRole === 'eportal@omsb.org'">{{trainee.traineeName}}</td>
                                    <td>{{trainee.dob}}</td>
                                    <td>{{trainee.passportNo}}</td>
                                    <td>{{trainee.civilId}}</td>
                                    <td>{{trainee.noOfVerifications}}</td>
                                    <td *ngIf="userRole === 'trainee@omsb.org'">
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class=" ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <li (click)="onNavigate('/vehpc/verification/view-unmatched-verifications')">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-search-eye-line"></i>Find my DFRN</a></li>
                                                    
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="trainee.dfrn">
                                    <td></td>
                                    <td></td>
                                    <td colspan="3" class="p-0">
                                        <div class="live-preview">     
                                            <div class="table-responsive">
                                                <table class="table align-middle table-hover table-wrap mb-0">
                                                    <thead>
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                        <th scope="col">DFRN</th>
                                                        <th scope="col">Verification Date</th>
                                                        <th scope="col"></th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>{{trainee.dfrn.number}}</td>
                                                            <td>{{trainee.dfrn.verificationDate}}</td>
                                                            <td>
                                                                <div class="dropdown" ngbDropdown>
                                                                    <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                                        <i class=" ri-more-2-fill"></i>
                                                                    </a>
                                                                    <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                                        <li (click)="openModal(applicationView, 'xl')">
                                                                            <a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View</a></li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #applicationView let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Verification Report from Dataflow</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-dataflow-view></app-dataflow-view>
        </div>
    </div>
</ng-template>