<div class="row card-box">
    <div class="col-md-3 col-12 mb-3">
        <div class="card  border shadow" [routerLink]="['/cpd/media-request']">
            <div class="card-header bg-success">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    NP
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">New Media Material request</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card  border shadow" [routerLink]="['/cpd/request-for-committees']" >
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    CR
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Request for Committees</p>
            </div>
        </div>
    </div>
</div>