<div class="row main-body">
    <ng-container *ngTemplateOutlet="tableBody"></ng-container>
</div>

<ng-template #fullDataModal let-modal style="z-index: 999999 !important;">
    <div class="modal-content">
        <div class="modal-body py-0">
            <div class="row modal-main-body">
                <ng-container *ngTemplateOutlet="tableBody"></ng-container>   
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>


<!-- template body -->
<ng-template #tableBody>
    <div class="card mb-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <p class="h5 px-3">Rotations</p>
                    <div class="list-group list-group-fill-success">
                        <div *ngFor="let code of listData.rotationCodes; let i = index">
                            <a [ngClass]="status[i] === true ? 'bg-secondary' : ''" (click)="onSelectRotationCode(code, i)" class="list-group-item list-group-item-action" style="cursor: pointer !important">{{code}}</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-9">
                    <div *ngIf="!isFullscreenMode" class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row">
                            <button type="button" class="btn btn-primary btn-label waves-effect waves-light my-2"><i class="ri-save-2-line label-icon align-middle fs-16 me-2"></i>Save as Draft</button>
                            <button type="button" class="mx-2 btn btn-primary btn-label waves-effect waves-light my-2"><i class="ri-save-2-line label-icon align-middle fs-16 me-2"></i>Submit</button>
                        </div>
                        <button (click)="fullModal(fullDataModal)" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light my-2"><i class=" ri-fullscreen-fill"></i></button>
                    </div>
                    <div *ngIf="isFullscreenMode" class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row">
                            <button type="button" class="btn btn-primary btn-label waves-effect waves-light my-2"><i class="ri-save-2-line label-icon align-middle fs-16 me-2"></i>Save as Draft</button>
                            <button type="button" class="mx-2 btn btn-primary btn-label waves-effect waves-light my-2"><i class="ri-save-2-line label-icon align-middle fs-16 me-2"></i>Submit</button>
                        </div>
                        <button (click)="closeModal()"type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light my-2"><i class="  ri-close-line"></i></button>
                    </div>
                    <div class="table-responsive table_block">
                        <table class=" table table-nowrap" >
                            <thead class="text-center">
                                <tr>
                                    <th>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" 
                                            (change)="onChangeListView()"
                                            id="flexSwitchCheckDefault" [(ngModel)]="isRotationVsTrainee">
                                            <label class="form-check-label mx-2" for="flexSwitchCheckDefault">
                                                <span *ngIf="isRotationVsTrainee">Trainee</span>
                                                <span *ngIf="!isRotationVsTrainee">Faculty</span>
                                            </label>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 1</div>
                                            <div class="block_date">(01/09/2019 - 28/09/2019)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 2</div>
                                            <div class="block_date">(29/09/2019 - 26/10/2019)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 3</div>
                                            <div class="block_date">(27/10/2019 - 23/11/2019)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 4</div>
                                            <div class="block_date">(24/11/2019 - 21/12/2019)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 5</div>
                                            <div class="block_date">(22/12/2019 - 18/01/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 6</div>
                                            <div class="block_date">(19/01/2020 - 15/02/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 7</div>
                                            <div class="block_date">(16/02/2020 - 14/03/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 8</div>
                                            <div class="block_date">(15/03/2020 - 11/04/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 9</div>
                                            <div class="block_date">(12/04/2020 - 09/05/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 10</div>
                                            <div class="block_date"> (10/05/2020 - 06/06/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 11</div>
                                            <div class="block_date">(07/06/2020 - 04/07/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 12</div>
                                            <div class="block_date">(05/07/2020 - 01/08/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 13</div>
                                            <div class="block_date">(02/08/2020 - 31/08/2020)</div>
                                        </div>
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor="let s of studentList; let i = index">
                                    <td style="text-align:left !important" class="columnName">
                                        <div class="hoverModal bg-light p-3 d-flex flex-column">
                                            <p class="mb-1">Program : {{s.student.program}}</p>
                                            <p class="mb-1">OMSB # : {{s.student.omsbNumber}}</p>
                                            <p class="mb-0">Year : {{s.student.year}}</p>
                                        </div>
                                        <span>{{s.student.name}}</span>
                                    </td>
                                    <td *ngFor="let blockValue of s.blockValue; let j = index;" (click)="setBlock(s.student.name, j)"
                                    [ngClass]="colorBlocksArray[i][j] === '#000000' ? 'text-white' : ''"
                                    [ngStyle]="{'background-color': colorBlocksArray[i][j] }">
                                        <span>{{blockValue}}</span><i  *ngIf="blockValue != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(s.student.name, j)"></i>
                                    </td>
                                </tr>
                                <tr *ngFor="let f of facultyList; let i = index">
                                    <td style="text-align:left !important" class="columnName">
                                        <span>{{f.faculty.name}}</span>
                                    </td>
                                    <td *ngFor="let blockValue of f.blockValue; let j = index;" (click)="setBlock(f.faculty.name, j)" [ngStyle]="{'background-color': colorBlocksArray[i][j] }">
                                        <span>{{blockValue}}</span><i  *ngIf="blockValue != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, j)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</ng-template>