<form [formGroup]="requestForm" *ngIf="isEditable">
    <div class="row">
        <div class="col-md-4 mb-3">
            <label class="form-label">Name<span class="text-danger px-2">{{"*"}}</span></label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Email<span class="text-danger px-2">{{"*"}}</span></label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Civil ID/Resident ID<span class="text-danger px-2">{{"*"}}</span></label>
            <input type="text" class="form-control" formControlName="civilId">
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Training Site<span class="text-danger px-2">{{"*"}}</span></label>
            <ng-select formControlName="trainingSite"
            [items]="['Khoula Hospital','Al Nahdah Hospital','Armed Forces Hospital']" placeholder="Please select">
        </ng-select>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Position<span class="text-danger px-2">{{"*"}}</span></label>
            <ng-select formControlName="position" [items]="['Chairperson', 'Program Director', 'Asst. Program Director', 'Member']" placeholder="Please select">
            </ng-select>
        </div>
        <div class="col-md-12 mb-3">
            <p class="text-muted">Covering letter<span
                class="text-danger">{{ " *" }}</span>
            </p>
            <input type="hidden">
            <ngx-dropzone (change)="onSelect($event, 'filesCovering')"
            [multiple]="false">
            <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of filesCovering"
                [removable]="true" (removed)="onRemove(f, 'filesCovering')">
                <ngx-dropzone-label
                >{{ f.name }} ({{
                    f.type
                }})</ngx-dropzone-label
                >
            </ngx-dropzone-preview>
            </ngx-dropzone>
        </div>
        <div class="d-flex flex-row my-2">
            <button class="btn btn-primary my-2">Submit</button>
        </div>
    </div>
    
</form>
<form [formGroup]="requestForm" *ngIf="!isEditable">
    <div class="row">
        <div class="col-md-4 mb-3">
            <label class="form-label">Name</label>
            <label class="form-control">{{formValues.name}}</label>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Email</label>
            <label class="form-control">{{formValues.email}}</label>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Civil ID/Resident ID</label>
            <label class="form-control">{{formValues.civilId}}</label>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Training Site</label>
            <label class="form-control">{{formValues.trainingSite}}</label>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Position</label>
            <label class="form-control">{{formValues.position}}</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Reason for removal</label>
            <textarea class="form-control">{{formValues.removalReason}}</textarea>
        </div>
        <div class="col-md-12 mb-3">
            <div class="d-flex flex-row">
                <button type="button" class="mx-3 btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                <p class="h6">Request from the Program Chairperson / PD </p>
            </div>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.ecSectionComments !== undefined">
            <label class="form-label">Comments from EC Section</label>
            <label class="form-control">{{formValues.ecSectionComments}}</label>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.ecSectionComments === undefined && isSubmit">
            <label class="form-label">Comments from EC Section</label>
            <textarea rows="5" class="form-control"></textarea>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.ecSectionHeadComments !== undefined">
            <label class="form-label">Comments from EC Section Head</label>
            <label class="form-control">{{formValues.ecSectionHeadComments}}</label>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.ecSectionHeadComments === undefined && isSubmit && formValues.ecSectionComments !== undefined">
            <label class="form-label">Comments from EC Section Head</label>
            <textarea rows="5" class="form-control"></textarea>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.gmeDirectorComments !== undefined">
            <label class="form-label">Comments from GME Director</label>
            <label class="form-control">{{formValues.gmeDirectorComments}}</label>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.gmeDirectorComments === undefined && formValues.ecSectionHeadComments !== undefined && isSubmit">
            <label class="form-label">Comments from GME Director</label>
            <textarea rows="5" class="form-control"></textarea>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.vppaComments !== undefined">
            <label class="form-label">Comments from VPAA</label>
            <label class="form-control">{{formValues.vppaComments}}</label>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.vppaComments === undefined && formValues.gmeDirectorComments !== undefined && isSubmit">
            <label class="form-label">Comments from VPAA</label>
            <textarea rows="5" class="form-control"></textarea>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.executivePresidentComments !== undefined">
            <label class="form-label">Comments from Executive President</label>
            <label class="form-control">{{formValues.executivePresidentComments}}</label>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.executivePresidentComments === undefined && formValues.vppaComments !== undefined && isSubmit">
            <label class="form-label">Comments from Executive President</label>
            <textarea rows="5" class="form-control"></textarea>
        </div>

        
        
        <div class="col-md-6 mb-3" *ngIf="formValues.membershipQararLink !== undefined">
            <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
            <label class="form-label">Approved Cancellation QARAR</label>
        </div>
        <div class="d-flex flex-row my-2 justify-content-between border shadow p-3" *ngIf="isSubmit">
            <div class="d-flex flex-row">
                <p class="h6">Pending Evaluations</p>
                <button type="button" class="mx-3 btn btn-outline-primary btn-sm waves-effect waves-light">View</button>
            </div>
            <div class="d-flex flex-row">
                <p class="h6">Pending procedure confirmations</p>
                <button type="button" class="mx-3 btn btn-outline-primary btn-sm waves-effect waves-light">View</button>
            </div>
        </div>
        <div class="col-md-12 mb-3" *ngIf="formValues.status === 'Pending Document Verification'">
            <label class="form-label">Comments</label>
            <textarea rows="5" class="form-control"></textarea>
        </div>
        <div class="col-md-6 mb-3" *ngIf="formValues.certificateAppreciationLink !== undefined">
            <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
            <label class="form-label">Certificate of Appreciation 
            </label>
        </div>

        <div class="d-flex flex-row my-2" *ngIf="isSubmit">
            <button class="btn btn-primary my-2">Submit</button>
        </div>
    </div>  
</form>