<app-breadcrumbs title="Research day - Judges Incentives" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/tafus/academic-activities')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="row mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row w-25">
                            <ng-select [(ngModel)]="selectedUser" (change)="onChangeUser($event)"  class="w-100"
                                [items]="[
                                    'PD',
                                    'PA',
                                    'TAFUS',
                                    'Trainee Affairs Director']" placeholder="Please select User Role">
                            </ng-select>
                        </div>
                        <div class="d-flex flex-row justify-content-end gap-3 mb-3" >
                            <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                            <button *ngIf="selectedUser === 'PD' || selectedUser === 'PA'" (click)="openModal(addJudgesIncentives, 'xl')" type="button" class="btn btn-primary btn-label waves-effect waves-light" ><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>Create New Judges Incentives</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                <div class="col-md-4 mb-3" *ngIf="selectedUser === 'TAFUS' || selectedUser === 'Trainee Affairs Director'">
                    <label class="form-lable">Program Name<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Guest Speaker Name<span class="text-danger"></span></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Post<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Status<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="d-flex flex-row">
                    <button class="btn btn-primary my-2">Filter</button>
                </div>
            </div>
            <div class="row">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Post</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listData.tableData">
                                    <td>{{row.name}}</td>
                                    <td>{{row.post}}</td>
                                    <td>{{row.date}}</td>
                                    <td>{{row.amount  | currency:'OMR'}}</td>
                                    <td (click)="openModal(activityStatus, 'md'); setRequest(row)" style="cursor: pointer; color: rgb(3, 3, 147)">{{row.status}}</td> 
                                    <td>
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <container-element [ngSwitch]="selectedUser">
                                                    <some-element *ngSwitchCase="'PD'">
                                                        <container-element [ngSwitch]="row.status">
                                                            <some-element *ngSwitchCase="'Draft'">
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1  ri-edit-line"></i>Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-delete-bin-line"></i>Delete</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-file-edit-line"></i>Submit for Approval</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-file-edit-line"></i>Reject</a>
                                                                </li>
                                                            </some-element>
                                                            
                                                            <some-element *ngSwitchDefault>
                                                                <li >
                                                                    <a class="dropdown-item" >No Actions Available</a>
                                                                </li> 
                                                            </some-element>
                                                        </container-element>
                                                    </some-element>
                                                    <some-element *ngSwitchCase="'PA'">
                                                        <container-element [ngSwitch]="row.status">
                                                            <some-element *ngSwitchCase="'Draft'">
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1  ri-edit-line"></i>Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-delete-bin-line"></i>Delete</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-file-edit-line"></i>Submit for Approval</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-file-edit-line"></i>Reject</a>
                                                                </li>
                                                            </some-element>
                                                            
                                                            <some-element *ngSwitchDefault>
                                                                <li >
                                                                    <a class="dropdown-item" >No Actions Available</a>
                                                                </li> 
                                                            </some-element>
                                                        </container-element>
                                                    </some-element>
                                                    <some-element *ngSwitchCase="'TAFUS'">
                                                        <li (click)="setSelectedComments(row); openModal(commentsView, 'xl')">
                                                            <a class="dropdown-item" ><i class="mx-1 ri-message-2-line"></i>Comments</a>
                                                        </li> 
                                                        <container-element [ngSwitch]="row.status">
                                                            <some-element *ngSwitchCase="'Pending Approval from TAFUS'">
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1  ri-file-list-line"></i>Approve Payment</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-file-edit-line"></i>Reject</a>
                                                                </li>
                                                            </some-element>
                                                        </container-element>
                                                    </some-element>
                                                    <some-element *ngSwitchCase="'Trainee Affairs Director'">
                                                        <li (click)="setSelectedComments(row); openModal(commentsView, 'xl')">
                                                            <a class="dropdown-item" ><i class="mx-1 ri-message-2-line"></i>Comments</a>
                                                        </li> 
                                                        <container-element [ngSwitch]="row.status">
                                                            <some-element *ngSwitchCase="'Pending Approval from TA Director'">
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1  ri-file-list-line"></i>Approve Payment</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-file-edit-line"></i>Reject</a>
                                                                </li>
                                                            </some-element>
                                                        </container-element>
                                                    </some-element>
                                                    <some-element *ngSwitchDefault>
                                                        <li >
                                                            <a class="dropdown-item" >No Actions Available</a>
                                                        </li> 
                                                    </some-element>
                                                </container-element>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addJudgesIncentives let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Create Judges Incentive </label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-create-incentive-for-judges></app-create-incentive-for-judges>
            <div class="d-flex flex-row">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #activityStatus let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Status Tracker</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <ngx-simplebar class="p-3" style="max-height: 364px;">
                    <div class="acitivity-timeline acitivity-main">
                        <div class="acitivity-item d-flex mb-3" *ngFor="let stage of selectedActivity.applicationStatus; let i = index">
                            <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                <div class="avatar-title text-light rounded-circle " [ngClass]="stage.status === 'Pending' ? 'bg-warning' : 'bg-success' ">
                                    <i [ngClass]="stage.status === 'Pending' ? 'ri-loader-2-fill' : 'ri-check-double-line' "></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1">{{stage.stage}}</h6>
                                <p class="h7 mb-1">{{stage.name}}</p>
                                <span class="badge rounded-pill"
                                    [ngClass]="stage.status === 'Awaiting Approval' ? 'badge-soft-secondary' : 'badge-soft-success' "
                                >{{stage.status}}</span>
                                <br>
                                <small class="my-3 text-muted">{{"Date : "}}{{stage.date === '' ? 'N/A' : stage.date}}</small>
                                <br>
                                <small class="my-3 text-muted">{{"By : "}}{{stage.by === '' ? 'N/A' : stage.by}}</small>
                            </div>
                        </div>
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #commentsView let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Course Request Comments</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="card" *ngIf="selectedComments.length === 0">
                <div class="card-body">         
                    <div class="mt-3 text-center">
                        <p class="h6 text-warning">No comments available!</p>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="selectedComments.length !== 0">
                <div class="card-body">
                    <div class="mt-3 border shadow" >
                        <ngx-simplebar style="max-height: 350px;">
                            <ul class="list-group list-group-flush border-dashed px-3">
                                <li class="list-group-item ps-0" *ngFor="let comment of selectedComments">
                                    <div class="d-flex flex-row justify-content-between">
                                        <div class="d-flex flex-row align-items-end">
                                            <p class="h6 text-primary">{{"Created On : "}}</p>
                                            <p class="h6 text-muted mx-3">{{comment.createdOn}}</p>
                                        </div>
                                        <div class="d-flex flex-row align-items-end">
                                            <p class="h6 text-primary">{{"Created By : "}}</p>
                                            <p class="h6 text-muted mx-3">{{comment.createdBy}}</p>
                                        </div>
                                    </div>
                                    <label class="form-control my-1">{{comment.comments}}</label>
                                    <div class="d-flex flex-column mt-2">
                                        <p class="h6 text-primary">{{"Assigned To : "}}</p>
                                        <ng-select [items]="listData.userLists" [multiple]="true"
                                            bindLabel="labelValue" [ngModel]="comment.assignedTo"
                                            placeholder="Please select">
                                        </ng-select>
                                    </div>
                                </li>
                            </ul><!-- end ul -->
                        </ngx-simplebar>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-md-12 mb-1">
                            <label class="form-label">Comment</label>
                            <textarea rows="2" class="form-control"></textarea>
                        </div>
                        <div class="col-md-12 mb-1">
                            <p class="text-muted">Upload your attachments<span class="text-danger">{{ " *" }}</span></p>
                            <ngx-dropzone (change)="onSelect($event, 'supportingFiles')"
                            [multiple]="false">
                                <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of supportingFiles"
                                    [removable]="true" (removed)="onRemove(f, 'supportingFiles')">
                                    <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>
                        <div class="col-md-12 mb-1">
                            <label class="form-label">Assigned To</label>
                            <ng-select [items]="listData.userLists" [multiple]="true"
                                bindLabel="labelValue" bindValue="name" 
                                placeholder="Please select">
                                </ng-select>
                        </div>
                        <div class="d-flex flex-row my-2">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
