<div class="row my-2 py-2 bg-light" *ngIf="!isPreviewForm">
    <p class="h5 text-primary">Create Your New Form</p>
    <div class="col-md-6 mb-3">
        <label class="form-label">Please select Evaluation Category</label>
        <ng-select [(ngModel)]="evaluationCategory"  [items]="['Unsatisfactory - Not Evaluated', 'Strongly Disagree - Strongly Agree', '1 - 4', '1 - 5 or More']" placeholder="Please select" (change)="onChangeCategory()">
        </ng-select>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Please select Input Type</label>
        <div class="d-flex flex-row gap-3">
            <ng-select style="min-width: 180px" [(ngModel)]="selectedSelectionType" [items]="['Add Multi Selection', 'Add Input Field']" placeholder="Please select" (change)="onChangeSelection()">
            </ng-select>
            <button class="btn btn-sm btn-primary" (click)="addNewCriteriaListRow()">Add New Row</button>
            <button class="btn btn-sm btn-primary" *ngIf="criteriaList.length !== 0" (click)="onTogglePreview()">Preview</button>
        </div>
    </div>
    <div class="col-md-12 mb-3" *ngIf="evaluationCategory !== null">
        <div class="row" >
            <div class="live-preview">     
                <div class="table-responsive">
                    <table class="table align-middle table-hover table-wrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Criteria</th>
                                <th *ngFor="let value of selectedEvaluationCategoryList">{{value}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let question of criteriaList; let i = index">
                                <td>
                                    <input type="text" class="form-control" placeholder="Please enter the Criteria" [(ngModel)]="question.question" (change)="onChangeCriteria(i)">
                                </td>
                                <td *ngFor="let choice of question.choices; let j=index" [attr.colspan]="question.colspan">
                                    <div *ngIf="question.isChoices" class="form-check mb-2">
                                        <div class="d-flex flex-row align-items-center">
                                            <input class="form-check-input text-start" type="radio" id="{{i}}{{j}}" name="{{i}}" >
                                            <label class="form-check-label mx-2 text-start check-option" for="{{i}}{{j}}">
                                                {{choice}}
                                            </label>
                                        </div>
                                    </div>
                                    <div *ngIf="!question.isChoices">
                                        <textarea rows="3" class="form-control"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" (click)="removeRow(i)">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                             
            </div>
        </div>
    </div>
</div>

<div class="row my-2 py-2 bg-light" *ngIf="isPreviewForm">
    <div class="col-md-6 mb-3">
        <label class="form-label">Please select Input Type</label>
        <div class="d-flex flex-row gap-3">
            <button class="btn btn-sm btn-primary" *ngIf="criteriaList.length !== 0" (click)="onTogglePreview()">Hide Preview</button>
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <div class="row" >
            <div class="live-preview">     
                <div class="table-responsive">
                    <table class="table align-middle table-hover table-wrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Criteria</th>
                                <th *ngFor="let value of selectedEvaluationCategoryList">{{value}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let question of criteriaList; let i = index">
                                <td>
                                    <label class="form-label">{{question.question}}</label>
                                </td>
                                <td *ngFor="let choice of question.choices; let j=index" [attr.colspan]="question.colspan">
                                    <div *ngIf="question.isChoices" class="form-check mb-2">
                                        <div class="d-flex flex-row align-items-center">
                                            <input class="form-check-input text-start" type="radio" id="{{i}}{{j}}" name="{{i}}">
                                            <label class="form-check-label mx-2 text-start check-option" for="{{i}}{{j}}">
                                                {{choice}}
                                            </label>
                                        </div>
                                    </div>
                                    <div *ngIf="!question.isChoices">
                                        <textarea rows="3" class="form-control"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                             
            </div>
        </div>
    </div>
</div>
