<section class="section pt-0 pb-0" id="home">
    <div class="container-fluid h-100">
        <div class="row ">
            <div class="col-lg-6 left d-flex flex-row">
                <div class="d-flex justify-content-center align-items-center content-left">
                    <button class="btn btn-custom-arrow">
                        <i class=" ri-arrow-drop-right-fill"></i>
                    </button>
                </div>
                <div class="d-flex flex-column justify-content-center content-right">

                    <h2 class="header">
                        Medical Simulation & Innovation Centre
                    </h2>
                    <p class="text">Continuing Professional Development (CPD) is a holistic multidimensional approach to lifelong learning which is an integral requirement for all health care professionals.</p>
                    <button class="btn btn-custom">Read More</button>
                </div>
            </div>
            <div class="col-lg-6 right">
                <img src="/assets/images/lab_tests.jpeg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row update_row">
            <div class="container py-4">
                <div class="d-flex flex-row justify-content-between">
                    <span><i class="ri-file-warning-fill"></i>COVID-19 (Coronavirus) Update</span>
                    <span>COVID-19 tools and resources: symptom checker, visitor restrictions, testing info and safety measures. </span>
                    <a>Learn More</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section class="section pb-0 vh-100 hero-section" id="solutions">
    <div class="container-fluid h-100">
        <div class="row">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h2 class="header">OUR SOLUTIONS</h2>
                <p class="mb-0 header_text">At Osaka LAB, we are passionate about our role in improving the quality of people's lives.</p>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card custom_card card-animate">
                        <img src="assets/images/lab_tests.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title mb-1">Research Models & Services</h5>
                            <p class="card-text">High-quality inbred, outbred, disease, germ-free, and immunodeficient model</p>
                        </div>
                        <div class="card-footer bg-transparent text-center">
                            <a href="javascript:void(0);" class="link-light">Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card custom_card card-animate">
                        <img src="assets/images/lab_tests.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title mb-1">Biologics Testing Solutions</h5>
                            <p class="card-text">High-quality inbred, outbred, disease, germ-free, and immunodeficient model</p>
                        </div>
                        <div class="card-footer bg-transparent text-center">
                            <a href="javascript:void(0);" class="link-light">Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card custom_card card-animate">
                        <img src="assets/images/lab_tests.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title mb-1">Formulation & Product Chemistry</h5>
                            <p class="card-text">High-quality inbred, outbred, disease, germ-free, and immunodeficient model</p>
                        </div>
                        <div class="card-footer bg-transparent text-center">
                            <a href="javascript:void(0);" class="link-light">Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>            
        </div>
    </div>
</section>
<section class="section pb-0 hero-section" id="how_we_are">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 left">
                <div class="d-flex flex-column justify-content-center align-items-center my-5">
                    <h2 class="header">WHO WE ARE</h2>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center content_box gap-5 px-3 pb-5">
                    <div class="content_box_items">
                        <p class="header">OUR MISSION</p>
                        <p class="text">The lab is staffed by a capable, friendly group of scientists, mostly microbiologists. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="javascript:void(0);" class="link-light">Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                    </div>
                    <div class="content_box_items">
                        <p class="header">OUR VISION</p>
                        <p class="text">We are passionate about our role in improving the quality of people’s lives. Our mission, our excellent science, and our strong sense of purpose guide us in all that we do.</p>
                        <a href="javascript:void(0);" class="link-light">Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                    </div>
                    <div class="content_box_items">
                        <p class="header">OUR VALUE</p>
                        <p class="text">We strive to be the difference for our clients, colleagues, animals, and partners. Watch as our employees explain how our values are applied in their respective careers.</p>
                        <a href="javascript:void(0);" class="link-light">Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 right">
                <img src="assets/images/sugrey_event.jpeg">
            </div>
        </div>
        
    </div>
</section>
<section class="section pb-0 hero-section" id="events">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center my-5">
            <h2 class="header">NEWS & EVENTS</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column news_bar_item card-animate p-3">
                        <p class="date">17 Dec 2022</p>
                        <p class="title">IBM Quantum Summit 2020: Exploring the Promise of Quantum Computing for Industry</p>
                        <p class="info">A recent panel discussion on “The Promise of Quantum for Industry” at the annual IBM Quantum Summit homed in on several business challenges that quantum computers are well-suited to tackle and more.</p>
                        <i class="ri-arrow-right-circle-line"></i>
                    </div>
                    <div class="d-flex flex-column news_bar_item card-animate p-3">
                        <p class="date">10 Jan 2023</p>
                        <p class="title">New antigen tests are worse than PCR for evaluating asymptomatic patients</p>
                        <p class="info">One of the leading companies in the sector warns that they tend to give false negatives in people with lower amounts of virus and point out that they are only reliable in those with high viral load</p>
                        <i class="ri-arrow-right-circle-line"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <ngx-simplebar style="max-height: 435px;">
                    <ul class="list-group list-group-flush border-dashed px-3">
                        <div class="d-flex flex-row p-3 event_card card-animate">
                            <div class="date_box d-flex flex-column justify-content-center align-items-center">
                                <p class="month mb-0">Aug</p>
                                <p class="date mb-0">21</p>
                            </div>
                            
                            <div class="info_box d-flex flex-column justify-content-center">
                                <p class="title mb-0">IPHEX 2020 Pharma and Health Care Exhibition Hyderabad</p>
                                <p class="type mb-0">Video</p>
                                <p class="info mb-0"><i class="ri-timer-line"></i> 14:00 - 15:00 PM</p>
                                <p class="info mb-0"><i class="ri-map-pin-line"></i> 213, Building 2, New Jersey, USA</p>
                            </div>


                        </div>
                        <div class="d-flex flex-row p-3 event_card card-animate">
                            <div class="date_box d-flex flex-column justify-content-center align-items-center">
                                <p class="month mb-0">Sep</p>
                                <p class="date mb-0">02</p>
                            </div>
                            
                            <div class="info_box d-flex flex-column justify-content-center">
                                <p class="title mb-0">American College of Toxicology (ACT) Annual Meeting</p>
                                <p class="type mb-0">Event</p>
                                <p class="info mb-0"><i class="ri-timer-line"></i> 14:00 - 15:00 PM</p>
                                <p class="info mb-0"><i class="ri-map-pin-line"></i> 213, Building 2, New Jersey, USA</p>
                            </div>


                        </div>
                        <div class="d-flex flex-row p-3 event_card card-animate">
                            <div class="date_box d-flex flex-column justify-content-center align-items-center">
                                <p class="month mb-0">Aug</p>
                                <p class="date mb-0">21</p>
                            </div>
                            
                            <div class="info_box d-flex flex-column justify-content-center">
                                <p class="title mb-0">IPHEX 2020 Pharma and Health Care Exhibition Hyderabad</p>
                                <p class="type mb-0">Video</p>
                                <p class="info mb-0"><i class="ri-timer-line"></i> 14:00 - 15:00 PM</p>
                                <p class="info mb-0"><i class="ri-map-pin-line"></i> 213, Building 2, New Jersey, USA</p>
                            </div>


                        </div>
                    </ul>
                  </ngx-simplebar>    
            </div>
        </div>
        
    </div>
</section>
<section #counter class="section hero-section" id="counter">
    <div class="container p-5">
        <div class="row justify-content-between text-center ">
            <div class="col-lg-2 col-4">
                <div class="counter_item">
                    <p class="mb-0"><span [CountTo]="traineesCounterNumber" class="counter-value" [from]="0" [duration]="2"></span></p>
                    <div class="text text-wrap">OMSB</div>
                    <div class="text text-wrap">TRAINEES</div>
                </div>
            </div>
            <div class="col-lg-2 col-4">
                <div class="counter_item">
                    <p class="mb-0"><span [CountTo]="simulationSessionsNumber" class="counter-value" [from]="0" [duration]="2"></span></p>
                    <div class="text text-wrap">SIMULATION</div>
                    <div class="text text-wrap">SESSIONS</div>
                </div>
            </div>
            <div class="col-lg-2 col-4">
                <div class="counter_item">
                    <p class="mb-0"><span [CountTo]="courseParticipantsNumber" class="counter-value" [from]="0" [duration]="2"></span></p>
                    <div class="text text-wrap">COURSE</div>
                    <div class="text text-wrap">PARTICIPANTS</div>
                </div>
            </div>
            <div class="col-lg-2 col-4">
                <div class="counter_item">
                    <p class="mb-0"><span [CountTo]="physiciansNumber" class="counter-value" [from]="0" [duration]="2"></span></p>
                    <div class="text text-wrap">PHYSICIANS</div>
                    <div class="text text-wrap">REGISTERED</div>
                </div>
            </div>
            <div class="col-lg-2 col-4">
                <div class="counter_item">
                    <p class="mb-0"><span [CountTo]="cpdNumber" class="counter-value" [from]="0" [duration]="2"></span></p>
                    <div class="text text-wrap">CPD</div>
                    <div class="text text-wrap">ACCREDITATION</div>
                </div>
            </div>
            <div class="col-lg-2 col-4">
                <div class="counter_item">
                    <p class="mb-0"><span [CountTo]="articlesNumber" class="counter-value" [from]="0" [duration]="2"></span></p>
                    <div class="text text-wrap">PUBLISHED</div>
                    <div class="text text-wrap">ARTICLES</div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="section hero-section" id="service">
    <div class="container">
        <div class="row d-flex flex-row justify-content-center my-5">
            <div class="col-md-6">
                <h2 class="header">OUR SERVICES</h2>
                <p class="mb-0 header_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quis recusandae delectus repudiandae, vero similique, nihil totam magnam architecto, sit soluta ab! Odio, eveniet quisquam!</p>
            </div>
        </div>
        <div class="row mt-5 service_box">
            <div class="col-lg-4 mb-3 service_box_section card-animate">
                <div class="body">
                    <p class="title">Residency & Fellowship</p>
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem consequatur exercitationem, veniam dolorum hic ipsum debitis molestiae facere, mollitia culpa deleniti asperiores, eligendi accusantium omnis dolore!</p>
                    <div class="d-flex flex-column list_menu">
                        <span>Simulation Course Registration</span>
                        <span>Prometric Exams</span>
                        <span>Exam Registration</span>
                        <span>Residency / Fellowship Application</span>
                        <span>GFP Application</span>
                        <span>Resident Management System</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 service_box_section card-animate">
                <div class="body">
                    <p class="title">Residency & Fellowship</p>
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem consequatur exercitationem.</p>
                    <div class="d-flex flex-column list_menu">
                        <span>Simulation Course Registration</span>
                        <span>Accredited E-Learning Courses</span>
                        <span>Prometric Exams</span>
                        <span>Certificate Verification</span>
                        <span>Certificate Equivalency</span>
                        <span>Continuous Professional 
                            Development</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 service_box_section card-animate">
                <div class="body">
                    <p class="title">Residency & Fellowship</p>
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem consequatur exercitationem.</p>
                    <div class="d-flex flex-column list_menu">
                        <span>E-Learning</span>
                        <span>Simulation Course Registration</span>
                        <span>Hakeem System</span>
                        <span>OMSB e-Services Portal</span>
                        <span>E-Library</span>
                        <span>Oman Medical Journal</span>
                        <span>Ejada</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>