<app-breadcrumbs title="Application" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/admission/transfer')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="row mt-1">
    <div class="card bg-light">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-end">
                        <button (click)="openModal(transferApplication, 'xl')" type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3" ><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>Transfer Application</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Transfer Type<span class="text-danger">{{ " *" }}</span></label>
                                    <label class="form-control">{{listData.applicationForm.transferType}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Civil ID:</label>
                                    <label class="form-control">9485131321321</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Full Name:</label>
                                    <label class="form-control">Abbas Al Ajmi</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">OMSB Registration Number:</label>
                                    <label class="form-control">210-19</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Staff Number:</label>
                                    <label class="form-control">210-19</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Level of Training:</label>
                                    <label class="form-control">L4</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Current Training Program:</label>
                                    <label class="form-control">Anesthesia</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Current Program Start Date: </label>
                                    <label class="form-control">2020-01-08</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Sponsor: </label>
                                    <label class="form-control">MOH</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" >
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label class="form-label">Transfer to General Foundation Program in the field:<span class="text-danger">{{ " *" }}</span></label>
                                    <label class="form-control">{{listData.applicationForm.transferToGeneralFoundation}}</label>

                                </div>
                                <div class="col-md-12 mb-3">
                                    <label class="form-label">Reasons for transfer to General Foundation Program:<span class="text-danger">{{ " *" }}</span></label>
                                    <label class="form-control">{{listData.applicationForm.reasonsForTransferToGeneralFoundationProgram}}</label>
                                </div>
                                <!-- <div class="col-md-6 mb-3" *ngIf="applicationFormValues.transferType === 'Residency Program to another'">
                                    <label class="form-label">The training program requested for transfer to:<span class="text-danger">{{ " *" }}</span></label>
                                    <ng-select [items]="[]" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-6 mb-3" *ngIf="applicationFormValues.transferType === 'Residency Program to another'">
                                    <label class="form-label">Reasons for transfer to another residency program Program:<span class="text-danger">{{ " *" }}</span></label>
                                    <textarea rows="2" class="form-control"></textarea>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #transferApplication let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Transfer Application</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <ng-container *ngTemplateOutlet="applicationFormTemplate"></ng-container>
            </div>            
        </div>
    </div>
</ng-template>


<ng-template #applicationFormTemplate>
    <form [formGroup]="applicationForm">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Transfer Type<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select [items]="['Residency Program to GFP', 'Residency Program to another']" formControlName="transferType"
                          placeholder="Please select">
                        </ng-select>
                      </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Civil ID:</label>
                        <label class="form-control">9485131321321</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Full Name:</label>
                        <label class="form-control">Abbas Al Ajmi</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">OMSB Registration Number:</label>
                        <label class="form-control">210-19</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Staff Number:</label>
                        <label class="form-control">210-19</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Level of Training:</label>
                        <label class="form-control">L4</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Current Training Program:</label>
                        <label class="form-control">Anesthesia</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Current Program Start Date: </label>
                        <label class="form-control">2020-01-08</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Sponsor: </label>
                        <label class="form-control">MOH</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" >
            <div class="card-body" *ngIf="applicationFormValues.transferType === null ">
                <p class="text-warning h6">Please select the Transfer Type</p>
            </div>
            <div class="card-body" *ngIf="applicationFormValues.transferType">
                <div class="row">
                    <div class="col-md-6 mb-3" *ngIf="applicationFormValues.transferType === 'Residency Program to GFP'">
                        <label class="form-label">Transfer to General Foundation Program in the field:<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select [items]="[]" placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="applicationFormValues.transferType === 'Residency Program to GFP'">
                        <label class="form-label">Reasons for transfer to General Foundation Program:<span class="text-danger">{{ " *" }}</span></label>
                        <textarea rows="2" class="form-control"></textarea>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="applicationFormValues.transferType === 'Residency Program to another'">
                        <label class="form-label">The training program requested for transfer to:<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select [items]="[]" placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="applicationFormValues.transferType === 'Residency Program to another'">
                        <label class="form-label">Reasons for transfer to another residency program:<span class="text-danger">{{ " *" }}</span></label>
                        <textarea rows="2" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>

</ng-template>

