 <div class="layout-wrapper landing">
    <nav class="navbar p-0 navbar-expand-xl navbar-landing fixed-top" id="navbar" (window:scroll)="windowScroll()">
        <div class="container-fluid p-3">
            <a class="navbar-brand" routerLink="/">
                <div class="d-flex flex-row">
                    <div class="ml-3">
                        <img src="assets/images/king_image.png" class="card-logo card-logo-dark rounded-circle" alt="logo dark" height="100">
                        <img src="assets/images/king_image.png" class="card-logo card-logo-light rounded-circle" alt="logo light"
                            height="100">
                    </div>
                    <img src="assets/images/logo.png" class="card-logo card-logo-dark" alt="logo dark" height="100">
                    <img src="assets/images/logo.png" class="card-logo card-logo-light" alt="logo light"
                        height="100">
                </div>
            </a>
            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
                <i class="mdi mdi-menu text-white"></i>
            </button>

            <div class="collapse navbar-collapse p-3" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{'active':currentSection === 'hero'}" [ngxScrollTo]="'#hero'" href="javascript:void(0);">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'services'}" [ngxScrollTo]="'#services'" href="javascript:void(0);">Professional Competence Affair</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'services'}" [ngxScrollTo]="'#services'" href="javascript:void(0);">Academic Affairs</a>
                    </li>
                    
                    <li class="nav-item">
                        <div class="dropdown" ngbDropdown>
                            <a class="nav-link "  [ngClass]="{'active':currentSection === 'features'}" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>Admission</a>
                            <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu >
                                <li><a class="dropdown-item view-item-btn" href="javascript:void(0);">Sub menu 1</a></li>
                                <li><a class="dropdown-item view-item-btn" href="javascript:void(0);">Sub menu 2</a></li>
                                <li><a class="dropdown-item view-item-btn" href="javascript:void(0);">Sub menu 3</a></li>
                                <li><a class="dropdown-item view-item-btn" href="javascript:void(0);">Sub menu 4</a></li>
                                <li><a class="dropdown-item view-item-btn" href="javascript:void(0);">Sub menu 5</a></li>
                                <li><a class="dropdown-item edit-item-btn" href="/" data-bs-toggle="modal">Application</a></li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'features'}" [ngxScrollTo]="'#features'" href="javascript:void(0);">Medical Simulation & Innovation Center</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'plans'}" [ngxScrollTo]="'#plans'" href="javascript:void(0);">OMJ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'reviews'}" [ngxScrollTo]="'#reviews'" href="javascript:void(0);">Support & Services</a>
                    </li>
                </ul>

                <div class="d-flex flex-row">
                    <a routerLink="/registration" class="btn btn-link fw-medium text-decoration-none text-white">Register</a>
                    <a routerLink="/login" class="btn btn-primary">Sign In</a>
                </div>
            </div>

        </div>
    </nav>
    <!-- end navbar -->
    <div class="mt-4">
        <router-outlet></router-outlet>
    </div>
</div>


