#nav {
    z-index: 999999999999 !important;
}
.header_section_bar {
    background-color: #1a1a1a !important;
    color: white;
    p {
        margin-bottom: 0 !important;
    }
    i {
        color : #fc6e52;
    }
    .header_box {
        padding: 0px 35px;
        a { 
            text-decoration: none;
            color: white;
            cursor: pointer !important;
            padding: 2px 4px;
            border: 1px solid #1a1a1a; 
        }
        a:hover {
            border: 1px solid #fc6e52; 
        }
    }
    .right_border {
        border-right: 1px solid white;
    }
}
.nav-link {
 cursor: pointer !important;
 font-size : 12px !important;
 padding: 8px !important;
}

.card-logo {
    height: 80px !important;
}

.heading {
    font-size: 1.4rem;
} 

.btn-custom {
    background-color: #fc6e52 !important;
    color: white !important;
    font-weight: 600;
    border-radius: 0;
    font-size: 1rem;
}
.btn-custom:hover  {
    background-color: white !important;
    color: #fc6e52 !important;
    border: 1px solid #fc6e52 !important;
}
.nav-link:hover  {
    color: #fc6e52 !important;
}

.submenu {
    cursor: pointer !important;
}
.signIn-button {
    padding-top: 0;
}
.navbar-brand {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


@media screen and (max-width: 767px) { 
    .card-logo {
        height: 50px !important;
    }
    .heading {
        font-size: 1.1rem !important;
    } 
    .btn-custom {
        font-size: 0.8rem !important;
    }
}
@media screen and (max-width: 574px) { 
    .card-logo {
        height: 40px !important;
    }
    .heading {
        font-size: 1rem !important;
    } 
    .btn-custom {
        font-size: 0.6rem !important;
    }
    .navbar-brand {
        padding: 15px !important;
        display: flex;
        flex-direction: column;
    }
    .navbar-brand .d-flex {
        flex-direction: row;
        justify-content: start;
    }

    .signIn-button {
        padding-top: 15px;
    }
}