<section class="section" id="footer">
    <div class="container">
        <div class="row ">
            <div class="col-lg-3">
                <p class="header">SOLUTION</p>
                <p class="link">Medical Imaging</p>
                <p class="link">Laboratory Diagnostics</p>
                <p class="link">Point-of-Care Testing</p>
                <p class="link">Digital Health Solutions</p>
                <p class="link">Services & Consulting</p>
            </div>
            <div class="col-lg-3">
                <p class="header">EVENTS & TRAINING</p>
                <p class="link">All Events and training</p>
                <p class="link">Seminars</p>
                <p class="link">Conferences</p>
                <p class="link">Webinars</p>
                <p class="link">Training & workshops</p>
            </div>
            <div class="col-lg-3">
                <p class="header">ABOUT US</p>
                <p class="link">Our history</p>
                <p class="link">Leadership team</p>
                <p class="link">Contact us</p>
                <p class="link">Careers</p>
                <p class="link">Locations</p>
            </div>
            <div class="col-lg-3">
                <p class="header">NEWSLETTER</p>
                <p class="mb-0">Keep up on new methods and EPA/FDA news. Enter your e-mail and subscribe to our newsletter.</p>
                <div class="d-flex flex-row gap-3 mt-3">
                    <input class="w-100" type="text" class="form-control">
                    <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="ri-arrow-right-circle-line"></i></button>
                </div>
            </div>
        </div>        
    </div>
</section>