<app-breadcrumbs title="Provide Support Assessment" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/assessment-and-performance')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="row mt-1" >
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row" [ngClass]="userRole === 'pd@omsb.org' ? 'justify-content-end' : 'justify-content-between' ">
                        <div class="d-flex flex-row w-25" *ngIf="userRole === 'eportal@omsb.org'">
                            <ng-select [(ngModel)]="selectedUser" class="w-100"
                                [items]="['CH/PD/PA', 'A&P']" placeholder="Please select User Role">
                            </ng-select>
                        </div>
                        <div class="d-flex flex-row justify-content-end gap-3">
                            <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                            <button *ngIf="selectedUser === 'CH/PD/PA'" (click)="openModal(newRequest, 'xl')" type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3" ><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>Request for Support</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Request ID<span class="text-danger"></span></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Request Raised by<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Assessments<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Status<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="d-flex flex-row">
                    <button class="btn btn-primary my-2">Filter</button>
                </div>
            </div>
            <div class="row" >
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Request ID</th>
                                    <th scope="col">Request Raised by</th>
                                    <th scope="col">Request Raised on</th>
                                    <th scope="col">Assessments	</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listData.tableData">
                                    <td>{{row.requestId}}</td>
                                    <td>{{row.requestRaisedBy}}</td>
                                    <td>{{row.requestRaisedOn}}</td>
                                    <td>{{row.assessments}}</td>
                                    <td (click)="openModal(requestStatus, 'md'); setRequest(row)" style="cursor: pointer; color: rgb(3, 3, 147)">{{row.status}}</td> 
                                    <td>
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <li (click)="openModal(requestView, 'xl'); setRequest(row)"><a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View</a></li>
                                                <container-element [ngSwitch]="selectedUser">
                                                    <some-element *ngSwitchCase="'A&P'">
                                                        <container-element [ngSwitch]="row.status">
                                                            <some-element *ngSwitchCase="'Requested'">
                                                                <li (click)="openModal(setupTraining, 'xl')">
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-calendar-check-fill"></i>Setup Training session</a>
                                                                </li>
                                                                <li (click)="openModal(scheduleTraining, 'xl')">
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-calendar-2-line"></i>Schedule Training Session</a>
                                                                </li>
                                                            </some-element>
                                                            <some-element *ngSwitchCase="'Session Scheduled'">
                                                                <li>
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-check-double-fill"></i>Mark as Completed</a>
                                                                </li>
                                                            </some-element>
                                                        </container-element>
                                                    </some-element>
                                                </container-element>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                             
                </div>
            </div>
    </div>
</div>

<ng-template #newRequest let-modalNew>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Request for Support</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modalNew.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <app-provide-support-assessment-form></app-provide-support-assessment-form>
            </div>            
        </div>
    </div>
</ng-template>

<ng-template #requestView let-modalNew>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Request for Support</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modalNew.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <app-provide-support-assessment-form-view [formRequest]="selectedRequest"></app-provide-support-assessment-form-view>
            </div>            
        </div>
    </div>
</ng-template>

<ng-template #setupTraining let-modalNew>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Setup Training Session</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modalNew.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <app-provide-support-assessment-setup></app-provide-support-assessment-setup>
            </div>            
        </div>
    </div>
</ng-template>

<ng-template #scheduleTraining let-modalNew>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Schedule Training Session</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modalNew.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <app-provide-support-assessment-schedule></app-provide-support-assessment-schedule>
            </div>            
        </div>
    </div>
</ng-template>


<ng-template #requestStatus let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Request Status Tracker</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <ngx-simplebar class="p-3" style="max-height: 364px;">
                    <div class="acitivity-timeline acitivity-main">
                        <div class="acitivity-item d-flex mb-3" *ngFor="let stage of selectedRequest.applicationStatus; let i = index">
                            <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                <div class="avatar-title text-light rounded-circle " [ngClass]="stage.status === 'Pending' ? 'bg-warning' : 'bg-success' ">
                                    <i [ngClass]="stage.status === 'Pending' ? 'ri-loader-2-fill' : 'ri-check-double-line' "></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1">{{stage.stage}}</h6>
                                <p class="h7 mb-1">{{stage.name}}</p>
                                <span class="badge rounded-pill"
                                    [ngClass]="stage.status === 'Awaiting Approval' ? 'badge-soft-secondary' : 'badge-soft-success' "
                                >{{stage.status}}</span>
                                <br>
                                <small class="my-3 text-muted">{{"Date : "}}{{stage.date === null ? 'N/A' : stage.date}}</small>
                                <br>
                                <small class="my-3 text-muted">{{"By : "}}{{stage.by === null ? 'N/A' : stage.by}}</small>
                            </div>
                        </div>
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div>
</ng-template>