.table-responsive  {
    height: calc(100vh - 220px) !important;
    overflow-y: scroll;
}
.table-responsive tr:nth-child(1) th {
    top: 0 !important; 
    left: 0 !important;
    position: sticky !important;    
}
th {
    background-color: #193239 !important;   
    color: white;
    align-items: center;
}
td {
    word-wrap: break-word;
    padding: 0.45rem 0.6rem;
}
tr th {
    z-index: 999;
}
td button {
    z-index: 99;
}