<section class="section landing" id="services">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-10">
                <div class="text-center">
                    <h1 class="display-4 fw-medium mb-4 lh-base text-white"><span class="text-success">{{"Oman "}}</span>Medical Specialty Board</h1>
                    <p class="lead text-white h5 lh-base mb-4 pb-2">Our aim is to create an inter-professional training environment of excellence, that enables health professionals and trainees to engage in various technical and non-technical skills.</p>

                    <div class="hstack gap-2 justify-content-center">
                        <a class="btn btn-primary" href="#services">Explore Now <i class="ri-arrow-right-line align-middle ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- start wallet -->
 <section class="section" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h2 class="mb-3 fw-semibold lh-base">SERVICES</h2>
                    <p class="text-muted">Digital Transformation has paved the way for better and faster services. Efforts will continue to make your experience remarkable.</p>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row g-4">
            <div class="col-lg-4">
                <div class="card text-center border shadow-none">
                    <div class="card-body">
                        <img src="/assets/images/goal.png" alt="" height="55" class="mb-3 pb-2">
                        <h5>Continuing Professional Development</h5>
                        <p class="text-muted pb-1">Organizers, Trainers and Trainees to apply for CPD accreditation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center border shadow-none">
                    <div class="card-body">
                        <img src="/assets/images/verified.png" alt="" height="55" class="mb-3 pb-2">
                        <h5>Certificate Verification</h5>
                        <p class="text-muted pb-1">Allows healthcare Professionals to verify their academic and professional certificates.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center border shadow-none">
                    <div class="card-body">
                        <img src="/assets/images/evaluation.png" alt="" height="55" class="mb-3 pb-2">
                        <h5>Certificate Evaluation</h5>
                        <p class="text-muted pb-1">Allows healthcare Professionals to verify their academic and professional certificates.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center border shadow-none">
                    <div class="card-body">
                        <img src="/assets/images/online-education.png" alt="" height="55" class="mb-3 pb-2">
                        <h5>Online Courses</h5>
                        <p class="text-muted pb-1">Allows healthcare Professionals to register for courses offered at OMSB. They will be able to take the course online once registered.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center border shadow-none">
                    <div class="card-body">
                        <img src="/assets/images/exam.png" alt="" height="55" class="mb-3 pb-2">
                        <h5>Standardized Testing</h5>
                        <p class="text-muted pb-1">Allows healthcare Professionals to choose from various standardized tests and take the exam at OMSB premise.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center border shadow-none">
                    <div class="card-body">
                        <img src="/assets/images/journal.png" alt="" height="55" class="mb-3 pb-2">
                        <h5>Oman Medical Journal</h5>
                        <p class="text-muted pb-1">Allows healthcare Professionals to explore and read from a wide range of published articles.</p>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end wallet -->
