td a {
    cursor: pointer !important;
}
th {
    background-color: #193239 !important;   
    color: white;
    align-items: center;
}
td, th {
    vertical-align: middle;
    word-wrap: break-word;
}
td {
    padding: 0.25rem 0.6rem;
}
.table-responsive {
    overflow: visible;
}

.border-top {
    border-top: 1.3px dashed grey !important;
    padding-top: 10px;
}
.mgLink {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
.mgLink:hover {
    color: red;
}