<app-breadcrumbs title="Application" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/admission/interruption')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="row mt-1">
    <div class="card bg-light">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-end">
                        <button (click)="openModal(transferApplication, 'xl')" type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3" ><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>Interruption Application</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Interruption Type<span class="text-danger">{{ " *" }}</span></label>
                                    <label class="form-control">{{listData.applicationForm.interruptionType}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Civil ID:</label>
                                    <label class="form-control">9485131321321</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Full Name:</label>
                                    <label class="form-control">Abbas Al Ajmi</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">OMSB Registration Number:</label>
                                    <label class="form-control">210-19</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Staff Number:</label>
                                    <label class="form-control">210-19</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Level of Training:</label>
                                    <label class="form-control">L4</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Current Training Program:</label>
                                    <label class="form-control">Anesthesia</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Current Program Start Date: </label>
                                    <label class="form-control">2020-01-08</label>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Sponsor: </label>
                                    <label class="form-control">MOH</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" >
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label class="form-label">Period of Interruption<span class="text-danger">{{ " *" }}</span></label>
                                    <div class="d-flex flex-row gap-2">
                                        <label class="form-control">{{"From Block : "}} <span class="text-muted">{{listData.applicationForm.periodOfInterruption.from}}</span> </label>
                                        <label class="form-control">{{"To Block : "}} <span class="text-muted">{{listData.applicationForm.periodOfInterruption.to}}</span> </label>
                                    </div>

                                </div>
                                
                                <div class="col-md-12 mb-3">
                                    <label class="form-label">Reasons for requesting an interruption:<span class="text-danger">{{ " *" }}</span></label>
                                    <label class="form-control">{{listData.applicationForm.reason}}</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #transferApplication let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Interruption Application</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <ng-container *ngTemplateOutlet="applicationFormTemplate"></ng-container>
            </div>            
        </div>
    </div>
</ng-template>


<ng-template #applicationFormTemplate>
    <form [formGroup]="applicationForm">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Interruption Type<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select [items]="[ 'One Block', 'Upto 3 Blocks', 'Upto 1 Year' ]" formControlName="interruptionType"
                          placeholder="Please select">
                        </ng-select>
                      </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Civil ID:</label>
                        <label class="form-control">9485131321321</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Full Name:</label>
                        <label class="form-control">Abbas Al Ajmi</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">OMSB Registration Number:</label>
                        <label class="form-control">210-19</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Staff Number:</label>
                        <label class="form-control">210-19</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Level of Training:</label>
                        <label class="form-control">L4</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Current Training Program:</label>
                        <label class="form-control">Anesthesia</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Current Program Start Date: </label>
                        <label class="form-control">2020-01-08</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Sponsor: </label>
                        <label class="form-control">MOH</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="applicationFormValues.interruptionType">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Block From</label>
                        <ng-select [items]="listBlockFrom" formControlName="blockFrom"
                            (change)="onChangeBlockFrom($event)"
                          placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Block To</label>
                        <ng-select [items]="listBlockTo" formControlName="blockTo"
                          placeholder="Please select">
                        </ng-select>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>

</ng-template>



