<app-breadcrumbs title="Create a Project Type" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" (click)="onNavigate()" class="btn btn-primary btn-label waves-effect waves-light mb-3"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="card">
    <div class="card-body">
        <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
            <div class="col-md-3 mb-3">
                <label class="form-label">Project Type</label>
                <ng-select [items]="[]"
                placeholder="Please select">
                </ng-select>
            </div>
            <div class="d-flex flex-row">
                <button class="btn btn-primary my-2">Filter</button>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end gap-2 ">
            <button (click)="onAdd()" type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"><i class="ri-file-add-line label-icon align-middle fs-16 me-2"></i>Add Project Type</button>
            <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
        </div>
        <div class="live-preview">     
            <form [formGroup]="programTypeForm">
                <div class="table-responsive">
                    <table class="table align-middle table-wrap table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Project Type</th>
                                <th scope="col">Description</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="programTypes">
                            <tr *ngFor="let data of getProgramTypesControls ; let i = index" [formGroupName]="i">
                                <td *ngIf="data.value.isEdit">
                                    <input class="form-control" type="text" formControlName="programTypeEdit">
                                </td>
                                <td *ngIf="data.value.isEdit">
                                    <textarea class="form-control" type="text" rows="3" formControlName="typeEdit"></textarea>
                                </td>
                                <td *ngIf="!data.value.isEdit">{{data.value.programType}}</td>
                                <td *ngIf="!data.value.isEdit">{{data.value.type}}</td>
                                <td *ngIf="data.value.isEdit">
                                    <button class="btn btn-sm btn-success m-1" (click)="onSave(i)">Save</button>
                                    <button class="btn btn-sm btn-danger m-1" (click)="onDelete(i)">Delete</button>
                                </td>
                                <td *ngIf="data.value.isEdit === false">
                                    <div class="dropdown" ngbDropdown>
                                        <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                            <li (click)="onEdit(i)">
                                                <a class="dropdown-item" ><i class="mx-1  ri-edit-2-line"></i>Edit</a></li>
                                            <li (click)="onDelete(i)">
                                                <a class="text-danger dropdown-item" ><i class="mx-1  ri-delete-bin-line"></i>Delete</a></li>
                                            <li (click)="selectQualificationCriteria(data.value.qualificationCriteria, data.value.programType, i)">
                                                <a class="dropdown-item"><i class=" mx-1 ri-window-2-line"></i>Qualification Criteria</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>                     
                        </tbody>
                    </table>
                </div>
            </form>                               
        </div>
    </div>
</div>


<ng-template #qualificationCriteria let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Qualification Criteria</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-2">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Sponsored By</label>
                        <ng-select [items]="[]"
                        placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Employed</label>
                        <ng-select [items]="['Yes', 'No']"
                        placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Approval from Employer</label>
                        <ng-select [items]="['Yes', 'No']"
                        placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">OMSB selection Exam Required</label>
                        <ng-select [items]="['Yes', 'No']"
                        placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">OMSB selection Exam cut-off-score</label>
                        <ng-select [items]="['Yes', 'No']"
                        placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">OMSB Specialty Certificate</label>
                        <ng-select [items]="['Yes', 'No']"
                        placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Valid BLS and ACLS certificate</label>
                        <ng-select [items]="['Yes', 'No']"
                        placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Valid International Qualifying Exam passing score</label>
                        <ng-select [items]="['Yes', 'No']"
                        placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="d-flex flex-row">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-end ">
                    <button (click)="onAddQualificationCriteria()" type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"><i class="ri-file-add-line label-icon align-middle fs-16 me-2"></i>Add Qualification Criteria</button>
                </div>
                <div class="live-preview">     
                    <form [formGroup]="qualificationCriteriaForm">
                        <div class="table-responsive">
                            <table class="table align-middle table-wrap table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Sponsored By</th>
                                        <th scope="col">Employed</th>
                                        <th scope="col">Approval from Employer</th>
                                        <th scope="col">OMSB selection Exam Required</th>
                                        <th scope="col">OMSB selection Exam cut-off-score</th>
                                        <th scope="col">OMSB Specialty Certificate</th>
                                        <th scope="col">Valid BLS and ACLS certificate</th>
                                        <th scope="col">Valid International Qualifying Exam passing score</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="qualificationCriteriaArray">
                                    <tr *ngFor="let data of getQualificationCriteriaControls ; let i = index" [formGroupName]="i">
                                        <td *ngIf="!data.value.isEdit">{{data.value.sponsoredBy}}</td>
                                        <td *ngIf="data.value.isEdit">
                                            <ng-select [items]="listData.sponsoredBy" formControlName="sponsoredByEdit"
                                            placeholder="Please select">
                                          </ng-select>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" formControlName="isEmployed" value="Yes" id="isEmployed{{i}}-1" (click)="onEditValue(i)">
                                                  <label for="isEmployed{{i}}-1" class="form-check-label mx-3">Yes</label>
                                                </div>
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" id="isEmployed{{i}}-2" formControlName="isEmployed" value="No" (click)="onEditValue(i)">
                                                  <label for="isEmployed{{i}}-2" class="form-check-label mx-3">No</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" formControlName="isApprovedByEmployer" value="Yes" id="isApprovedByEmployer{{i}}-1" (click)="onEditValue(i)">
                                                  <label for="isApprovedByEmployer{{i}}-1" class="form-check-label mx-3">Yes</label>
                                                </div>
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" id="isApprovedByEmployer{{i}}-2" formControlName="isApprovedByEmployer" value="No" (click)="onEditValue(i)">
                                                  <label for="isApprovedByEmployer{{i}}-2" class="form-check-label mx-3">No</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" formControlName="isSelectionExamRequired" value="Yes" id="isSelectionExamRequired{{i}}-1" (click)="onEditValue(i)">
                                                  <label for="isSelectionExamRequired{{i}}-1" class="form-check-label mx-3">Yes</label>
                                                </div>
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" id="isSelectionExamRequired{{i}}-2" formControlName="isSelectionExamRequired" value="No" (click)="onEditValue(i)">
                                                  <label for="isSelectionExamRequired{{i}}-2" class="form-check-label mx-3">No</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" formControlName="isSelectionExamCutOffScore" value="Yes" id="isSelectionExamCutOffScore{{i}}-1" (click)="onEditValue(i)">
                                                  <label for="isSelectionExamCutOffScore{{i}}-1" class="form-check-label mx-3">Yes</label>
                                                </div>
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" id="isSelectionExamCutOffScore{{i}}-2" formControlName="isSelectionExamCutOffScore" value="No" (click)="onEditValue(i)">
                                                  <label for="isSelectionExamCutOffScore{{i}}-2" class="form-check-label mx-3">No</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" formControlName="isSpecialtyCertificate" value="Yes" id="isSpecialtyCertificate{{i}}-1" (click)="onEditValue(i)">
                                                  <label for="isSpecialtyCertificate{{i}}-1" class="form-check-label mx-3">Yes</label>
                                                </div>
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" id="isSpecialtyCertificate{{i}}-2" formControlName="isSpecialtyCertificate" value="No" (click)="onEditValue(i)">
                                                  <label for="isSpecialtyCertificate{{i}}-2" class="form-check-label mx-3">No</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" formControlName="isValidCertificates" value="Yes" id="isValidCertificates{{i}}-1" (click)="onEditValue(i)">
                                                  <label for="isValidCertificates{{i}}-1" class="form-check-label mx-3">Yes</label>
                                                </div>
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" id="isValidCertificates{{i}}-2" formControlName="isValidCertificates" value="No" (click)="onEditValue(i)">
                                                  <label for="isValidCertificates{{i}}-2" class="form-check-label mx-3">No</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" formControlName="isInternationallyQualified" value="Yes" id="isInternationallyQualified{{i}}-1" (click)="onEditValue(i)">
                                                  <label for="isInternationallyQualified{{i}}-1" class="form-check-label mx-3">Yes</label>
                                                </div>
                                                <div class="py-2 form-check d-flex flex-row align-items-center">
                                                  <input class="form-check-input" type="radio" id="isInternationallyQualified{{i}}-2" formControlName="isInternationallyQualified" value="No" (click)="onEditValue(i)">
                                                  <label for="isInternationallyQualified{{i}}-2" class="form-check-label mx-3">No</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td *ngIf="data.value.isEdit">
                                            <button class="btn btn-sm btn-success m-1" (click)="onSaveQualificationCriteria(data, i)">Save</button>
                                            <button class="btn btn-sm btn-danger m-1" (click)="onDeleteValue(i)">Delete</button>
                                        </td>
                                        <td *ngIf="!data.value.isEdit">
                                            <div class="dropdown" ngbDropdown>
                                                <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                    <i class="ri-more-2-fill"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                    <li (click)="onEditValue(i)">
                                                        <a class="dropdown-item" ><i class="mx-1  ri-edit-2-line"></i>Edit</a></li>
                                                    <li (click)="onDeleteValue(i)">
                                                        <a class="text-danger dropdown-item" ><i class="mx-1  ri-delete-bin-line"></i>Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>                     
                                </tbody>
                            </table>
                        </div>
                    </form>     
                                            
                </div>
                
            </div>
        </div>
    </div>
</ng-template>