<div class="row">
    <div class="col-md-12 mb-3" *ngIf="!isPortfolioHidden">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Resident Training Records</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Program Year</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">PGY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listData.trainingRecordsTableData; let i = index">      
                                    <td>{{data.startDate}}</td>
                                    <td>{{data.endDate}}</td>
                                    <td>{{data.year}}</td>
                                    <td>{{data.status}}</td>                   
                                    <td>{{data.pgy}}</td>                   
                                </tr>                                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Rotation Requirements</h4>
            </div>
            <div class="card-body px-3">
                <apx-chart [series]="rotationRequirementsChart.series" [chart]="rotationRequirementsChart.chart"
                [legend]="rotationRequirementsChart.legend" [dataLabels]="rotationRequirementsChart.dataLabels"
                [colors]="rotationRequirementsChart.colors" [plotOptions]="rotationRequirementsChart.plotOptions"></apx-chart>
            </div>
        </div>
        
    </div>
    <div class="col-md-12" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Compliance Per Rotation</h4>
            </div>
            <div class="card-body px-3">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Rotation</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Evaluation of Rotation</th>
                                    <th scope="col">Evaluation of Faculty</th>
                                    <th scope="col">Evaluation of Curriculum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listData.compliancePerRotationTableData; let i = index">
                                    <td>{{data.name}}</td>
                                    <td>{{data.startDate}}</td>
                                    <td>{{data.endDate}}</td>
                                    <td scope="row" *ngIf="data.status === 'in-progress'">
                                        <span class="badge rounded-pill badge-outline-primary">In-Progress</span>

                                    </td>
                                    <td scope="row" *ngIf="data.status === 'in-progress'">
                                        <span class="badge rounded-pill badge-outline-primary">In-Progress</span>

                                    </td>
                                    <td scope="row" *ngIf="data.status === 'in-progress'">
                                        <span class="badge rounded-pill badge-outline-primary">In-Progress</span>

                                    </td>
                                    <td *ngIf="data.status != 'in-progress'">
                                        <div class="form-check">
                                            <i *ngIf="data.rotationChecked" class="class ri-check-double-fill text-success"></i>
                                            <i *ngIf="!data.rotationChecked" class="class ri-file-warning-line text-warning"></i>
                                            <label class="mx-2 form-check-label" for="responsivetableCheck01{{i}}">{{data.rotationValue}}</label>
                                        </div>
                                    </td>
                                    <td *ngIf="data.status != 'in-progress'">
                                        <div class="form-check">
                                            <i *ngIf="data.facultyChecked" class="class ri-check-double-fill text-success"></i>
                                            <i *ngIf="!data.facultyChecked" class="class ri-file-warning-line text-warning"></i>
                                            <label class="mx-2 form-check-label" for="responsivetableCheck02{{i}}">{{data.facultyValue}}</label>
                                        </div>
                                    </td>
                                    <td *ngIf="data.status != 'in-progress'">
                                        <div class="form-check">
                                            <i *ngIf="data.curriculumChecked" class="class ri-check-double-fill text-success"></i>
                                            <i *ngIf="!data.curriculumChecked" class="class ri-file-warning-line text-warning"></i>
                                            <label class="mx-2 form-check-label" for="responsivetableCheck02{{i}}">{{data.curriculumValue}}</label>
                                        </div>
                                    </td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Conference Attendance</h4>
            </div>
            <div class="card-body px-3">
                <div class="d-flex flex-row justify-content-end">
                    <p class="text-primary h6">% Attended = Present / (No. Of Required - Excused)</p>
                </div>
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Level</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">No. Of Conference</th>
                                    <th scope="col">No. Of Required</th>
                                    <th scope="col">Present</th>
                                    <th scope="col">Tardy</th>
                                    <th scope="col">Excused</th>
                                    <th scope="col">% Required</th>
                                    <th scope="col">% Attended</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listData.conferenceAttendanceTableData; let i = index">      
                                    <td>{{data.level}}</td>
                                    <td>{{data.category}}</td>
                                    <td>{{data.conference}}</td>
                                    <td>{{data.required}}</td>
                                    <td>{{data.present}}</td>
                                    <td>{{data.tardy}}</td>
                                    <td>{{data.excused}}</td>
                                    <td>{{data.requiredPercentage}}</td>
                                    <td>{{data.attendedPercentage}}</td>                                          
                                </tr>
                                <tr class="total-footer">
                                    <td></td>
                                    <td>Total</td>
                                    <td>119</td>
                                    <td>119</td>
                                    <td>37</td>
                                    <td>0</td>
                                    <td>82</td>
                                    <td></td>
                                    <td>Avg: 100%</td>
                                </tr>
                                <tr class="total-footer">
                                    <td></td>
                                    <td>Grand Total</td>
                                    <td>119</td>
                                    <td>119</td>
                                    <td>37</td>
                                    <td>0</td>
                                    <td>82</td>
                                    <td></td>
                                    <td>Avg: 100%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-12" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Duty Hour Rule Violations</h4>
            </div>
            <div class="card-body px-3">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Rotation</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Hrs/Wk</th>
                                    <th scope="col">80 Hr</th>
                                    <th scope="col">24+</th>
                                    <th scope="col">Call</th>
                                    <th scope="col">Days Off</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listData.dutyHourViolationsTableData">
                                    <td>{{data.name}}</td>
                                    <td>{{data.startDate}}</td>
                                    <td>{{data.endDate}}</td>
                                    <td>{{data.perWeek}}</td>
                                    <td>{{data.hr}}</td>
                                    <td>{{data.twentyFourPlus}}</td>
                                    <td>{{data.call}}</td>
                                    <td>{{data.daysOff}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Competency by Rotation</h4>
            </div>
            <div class="card-body px-3">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Rotation</th>
                                    <th scope="col">Dates</th>
                                    <th scope="col">Patient Care</th>
                                    <th scope="col">Medical Knowledge</th>
                                    <th scope="col">Systems Based</th>
                                    <th scope="col">Practice Based</th>
                                    <th scope="col">Professionalism</th>
                                    <th scope="col">Interpersonal</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listData.competencyByRotation">
                                    <td>{{data.rotation}}</td>
                                    <td>{{data.dates}}</td>
                                    <td>{{data.patientCare}}</td>
                                    <td>{{data.medicalKnowledge}}</td>
                                    <td>{{data.systemsBased}}</td>
                                    <td>{{data.practiceBased}}</td>
                                    <td>{{data.professionalism}}</td>
                                    <td>{{data.interpersonal}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <apx-chart [series]="competencyByRotationChart_1.series" [chart]="competencyByRotationChart_1.chart"
                                            [markers]="competencyByRotationChart_1.markers" [dataLabels]="competencyByRotationChart_1.dataLabels"
                                            [stroke]="competencyByRotationChart_1.stroke" [colors]="competencyByRotationChart_1.colors" [title]="competencyByRotationChart_1.title"
                                            [xaxis]="competencyByRotationChart_1.xaxis"></apx-chart>
                                    </td>
                                    <td>
                                        <apx-chart [series]="competencyByRotationChart_2.series" [chart]="competencyByRotationChart_2.chart"
                                            [markers]="competencyByRotationChart_2.markers" [dataLabels]="competencyByRotationChart_2.dataLabels"
                                            [stroke]="competencyByRotationChart_2.stroke" [colors]="competencyByRotationChart_2.colors" [title]="competencyByRotationChart_2.title"
                                            [xaxis]="competencyByRotationChart_2.xaxis"></apx-chart>
                                    </td>
                                    <td>
                                        <apx-chart [series]="competencyByRotationChart_3.series" [chart]="competencyByRotationChart_3.chart"
                                            [markers]="competencyByRotationChart_3.markers" [dataLabels]="competencyByRotationChart_3.dataLabels"
                                            [stroke]="competencyByRotationChart_3.stroke" [colors]="competencyByRotationChart_3.colors" [title]="competencyByRotationChart_3.title"
                                            [xaxis]="competencyByRotationChart_3.xaxis"></apx-chart>
                                    </td>
                                    <td>
                                        <apx-chart [series]="competencyByRotationChart_4.series" [chart]="competencyByRotationChart_4.chart"
                                            [markers]="competencyByRotationChart_4.markers" [dataLabels]="competencyByRotationChart_4.dataLabels"
                                            [stroke]="competencyByRotationChart_4.stroke" [colors]="competencyByRotationChart_4.colors" [title]="competencyByRotationChart_4.title"
                                            [xaxis]="competencyByRotationChart_4.xaxis"></apx-chart>
                                    </td>
                                    <td>
                                        <apx-chart [series]="competencyByRotationChart_5.series" [chart]="competencyByRotationChart_5.chart"
                                            [markers]="competencyByRotationChart_5.markers" [dataLabels]="competencyByRotationChart_5.dataLabels"
                                            [stroke]="competencyByRotationChart_5.stroke" [colors]="competencyByRotationChart_5.colors" [title]="competencyByRotationChart_5.title"
                                            [xaxis]="competencyByRotationChart_5.xaxis"></apx-chart>
                                    </td>
                                    <td>
                                        <apx-chart [series]="competencyByRotationChart_6.series" [chart]="competencyByRotationChart_6.chart"
                                            [markers]="competencyByRotationChart_6.markers" [dataLabels]="competencyByRotationChart_6.dataLabels"
                                            [stroke]="competencyByRotationChart_6.stroke" [colors]="competencyByRotationChart_6.colors" [title]="competencyByRotationChart_6.title"
                                            [xaxis]="competencyByRotationChart_6.xaxis"></apx-chart>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">On-Demand Evaluation</h4>
            </div>
            <div class="card-body px-3">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Custom Data Field</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listData.onDemandEvaluation">
                                    <td>{{data.name}}</td>
                                    <td>{{data.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Certifications</h4>
            </div>
            <div class="card-body px-3">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Certification Type</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Expired</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listData.certifications">
                                    <td>{{data.type}}</td>
                                    <td>{{data.description}}</td>
                                    <td>{{data.startDate}}</td>
                                    <td>{{data.endDate}}</td>
                                    <td>{{data.status}}</td>
                                    <td>{{data.expired}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Test Scores</h4>
            </div>
            <div class="card-body px-3">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Test Type</th>
                                    <th scope="col">Date Taken</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Passed</th>
                                    <th scope="col">Percentile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listData.testScores">
                                    <td>{{data.type}}</td>
                                    <td>{{data.dateTaken}}</td>
                                    <td>{{data.score}}</td>
                                    <td>{{data.passed}}</td>
                                    <td>{{data.percentile}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Resident Development Workshops</h4>
            </div>
            <div class="card-body px-3">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Custom Data Filed</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listData.developmentWorkshops">
                                    <td>{{data.name}}</td>
                                    <td>{{data.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Procedures Logged</h4>
            </div>
            <div class="card-body px-3">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Procedure Name</th>
                                    <th scope="col">Conditional Independence Target</th>
                                    <th scope="col">Review Total Passed</th>
                                    <th scope="col">Review Total Not Passed</th>
                                    <th scope="col">Residency Total Passed</th>
                                    <th scope="col">Residency Total Not Passed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listData.proceduresLogged">
                                    <td>{{data.procedureName}}</td>
                                    <td>{{data.conditionalIndependenceTarget}}</td>
                                    <td>{{data.reviewTotalPassed}}</td>
                                    <td>{{data.reviewTotalNotPassed}}</td>
                                    <td>{{data.residencyTotalPassed}}</td>
                                    <td>{{data.residencyTotalNotPassed}}</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-3" *ngIf="!isPortfolioHidden">
        <div class="card card-height-100">
            <div class="card-header d-flex flex-column">
                <h4 class="card-title mb-0 flex-grow-1">Competency by Training Year</h4>
                <p class="my-2 text-primary">Results from Grade Scale : 1 to 4</p>
            </div>
            <div class="card-body px-3">
                <apx-chart [series]="competencyTrainingYearChart.series" [chart]="competencyTrainingYearChart.chart" [dataLabels]="competencyTrainingYearChart.dataLabels"
                [plotOptions]="competencyTrainingYearChart.plotOptions" [yaxis]="competencyTrainingYearChart.yaxis" [legend]="competencyTrainingYearChart.legend"
                [fill]="competencyTrainingYearChart.fill" [stroke]="competencyTrainingYearChart.stroke" [tooltip]="competencyTrainingYearChart.tooltip"
                [xaxis]="competencyTrainingYearChart.xaxis" [colors]="competencyTrainingYearChart.colors"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-3" *ngIf="requestData.progressSummary === 'filled' && onEditMode === false">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Progress Summary</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-wrap mb-0">
                            <thead class="table-light">

                            <tbody>
                                <tr *ngFor="let data of progressSummary; let i = index">
                                    <td>{{data}}</td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="{{i}}" id="{{i}}" checked="true">
                                            <label class="form-check-label mx-2" for="flexRadioDefault1">Meet Expectations</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="{{i}}" id="{{i}}" >
                                            <label class="form-check-label mx-2" for="{{i}}">Require Attention</label>
                                        </div>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex flex-column mt-4">
                    <label class="form-label">Comments</label>
                    <label class="form-control">{{requestData.progressSummaryComments}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-3" *ngIf="requestData.commentsFromTrainee !== null && onEditMode === false">
        <div class="card">
            <div class="card-body">
                <label class="form-label">Comments From Trainee</label>
                <label class="form-control">{{requestData.commentsFromTrainee}}</label>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-3" *ngIf="requestData.commentsByAP !== null && onEditMode === false">
        <div class="card">
            <div class="card-body">
                <label class="form-label">Comments From A&P</label>
                <label class="form-control">{{requestData.commentsByAP}}</label>
            </div>
        </div>
    </div>
</div>
