<app-breadcrumbs title="Verify Certificates & Profile Info" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/vehpc/verification/verify-certificate')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="row mt-1">
    <div class="card bg-light">
        <div class="card-body">
            <app-dataflow-view></app-dataflow-view>
        </div>
    </div>
</div>