<div *ngIf="!isCvSection">
    <div class="card bg-light">
      <div class="card-body">
          <div class="row ">
              <div class="col-md-4">
                  <div class="mb-3">
                      <label class="form-label"
                      >Application Intake Year</label>
                      <label class="form-control">{{listData.formObject.intakeYear}}</label>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="mb-3">
                      <label class="form-label">Examination Type</label
                      >
                      <label class="form-control">{{listData.formObject.examType}}</label>
                  </div>
              </div>
              <div class="col-md-4 mb-3" *ngIf="listData.formObject.examType === 'MFD'">
                <div class="form-check form-switch">
                  <input class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchChzeckDefault" checked/>
                  <label class="form-check-label"
                  for="flexSwitchCheckDefault" >Have you passed the MFD II?</label>
                </div>
              </div>
              <div class="col-md-4 mb-3" *ngIf="listData.formObject.examType === 'MFD' && listData.formObject.isMfdPassed === 'Yes'" >
                  <div class="d-flex flex-row align-items-center">
                      <p class="h6">Download MFD Part II</p>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                  </div>
              </div>
              <div class="col-md-4 mb-3" *ngIf="listData.formObject.examType === 'MFD' && listData.formObject.isMfdPassed === 'Yes'">
                  <div class="d-flex flex-row align-items-center">
                      <p class="h6">Download your certificate</p>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                  </div>
              </div>
              <div class="col-md-4 mb-3" *ngIf="listData.formObject.examType === 'OMSB Selection Exam'">
                  <label class="form-label">OMSB Selection Exam Score</label>
                  <label class="form-control">{{listData.formObject.omsbScore}}</label>
              </div>
          </div>
          
      </div>
    </div>
    <div class="card bg-light">
        <div class="card-body">
            <div class="row py-2">
                <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Marital Status</label>
                    <label class="form-control">Married</label>
                </div>
                </div>
                <div class="col-md-8 mb-3">
                    <label class="form-label">Address</label>
                    <label class="form-control">Al Abri Ibraham, Muscat, Oman</label>
                </div>
                <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Governorate</label>
                    <label class="form-control">Value 1</label>
  
                </div>
                </div>
                <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Wilayat/Region</label>
                    <label class="form-control">Value 1</label>
                </div>
                </div>
                <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Name of Next of Kin (NOK)</label>
                    <label class="form-control">Faisal Gawas</label>
                </div>
                </div>
                <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Contact No. of NOK</label>
                    <label class="form-control">+9683213581</label>
                </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4 mt-3 mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchChzeckDefault" checked/>
                    <label class="form-check-label"
                    for="flexSwitchCheckDefault" >List any Disabilities or Diseases</label>
                  </div>
                </div>
                <div class="col-md-12 mt-3 mb-3">
                  <label class="form-label">Please provide the name of the disease or disability</label>
                  <label class="form-control">Diabetes</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <p class="h5 text-success">Education</p>
        <div class="row">
          <div class="col-md-3">
              <label class="form-label">Name of University/College</label>
                <label class="form-control">Sultan Qaboos University</label>
          </div>
          <div class="col-md-3">
              <label class="form-label">Degree Obtained</label>
              <label class="form-control">MD</label>
          </div>
          <div class="col-md-3">
              <label class="form-label">Country</label>
              <label class="form-control">Oman</label>
  
          </div>
          <div class="col-md-3">
              <label class="form-label">GPA</label>
              <label class="form-control">2.27</label>
  
          </div>
          <div class="col-md-3">
            <label class="form-label">Date Of Graduation</label>
            <label class="form-control">November 30, 2009</label>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <p class="h5 text-success">Internship Details</p>
        <div class="row">
          <div class="col-md-3">
            <label class="form-label">Start Date</label>
            <label class="form-control">November 30, 2011</label>
          </div>
          <div class="col-md-3">
            <label class="form-label">End Date</label>
            <label class="form-control">November 30, 2013</label>
          </div>
          <div class="col-md-3">
            <label class="form-label">Institution of Internship</label>
            <label class="form-control">Al Nahdah Hospital</label>
          </div>
          <div class="col-md-3">
            <label class="form-label">Current Position</label>
            <label class="form-control">Medical Office (MO)</label>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <p class="h5 text-success">Certificates</p>
        <div class="row">
          <div class="col-md-3">
            <label class="form-label">BLS Certificate - Expiry Date</label>
            <label class="form-control">November 30, 2030</label>
          </div>
          <div class="col-md-3" >
            <div class="d-flex flex-row align-items-center">
                <p class="h6">Download your BLS Certificate</p>
                <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
            </div>
          </div>
          <div class="col-md-3">
            <label class="form-label">ACLS Certificate - Expiry Date</label>
            <label class="form-control">November 30, 2030</label>
          </div>
          <div class="col-md-3" >
            <div class="d-flex flex-row align-items-center">
                <p class="h6">Download your ACLS Certificate</p>
                <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <label class="form-label">Postgraduate Qualifications / Training
              Experience</label>
            <label class="form-control">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa similique praesentium impedit commodi mollitia odio ut id, itaque molestias quisquam nemo, sapiente nobis rem enim.</label>
          </div>
          <div class="col-md-3" >
            <div class="d-flex flex-row align-items-center">
                <p class="h6">Proof of Document</p>
                <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <p class="h5 text-success">Selection of Choice of Specialty programs</p>
        <div class="row">
          <div class="col-md-6">
            <label class="form-label">1st Choice</label>
            <label class="form-control">Anesthesia</label>
          </div>
          <div class="col-md-6">
            <label class="form-label">1st Choice</label>
            <label class="form-control">Biochemistry</label>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mt-3 mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchChzeckDefault" checked/>
                <label class="form-check-label"
                for="flexSwitchCheckDefault" >Do you require a Lab Coat</label>
              </div>
            </div>
            <div class="col-md-4 mt-3 mb-3">
              <label class="form-label">Please select your Lab Coat Size</label>
              <label class="form-control">L</label>
            </div>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6" >
            <div class="d-flex flex-row align-items-center">
                <p class="h6">Upload your Sponsorship letter from Employer</p>
                <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body">
        <div class="d-flex flex-row">
          <button class="btn btn-primary" (click)="toggleCvSection()">CV Section</button>
        </div>
      </div>
    </div>
</div>
<div *ngIf="isCvSection">
  <div class="card bg-light">
    <div class="card-body">
      <app-admission-view-cv-application></app-admission-view-cv-application>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-row">
        <button class="btn btn-primary" (click)="toggleCvSection()">Back to Application Form</button>
      </div>
    </div>
  </div>
</div>