.section {
    padding: 30px 0 !important;
    background-color: rgb(237, 237, 237) !important;
}

.login-card {
    padding-top: 65px !important;
}
p {
    margin-bottom: 0px !important;
}
.border {
    border: 1px solid var(--vz-border-color) !important;
    border-radius: 10px !important;
}

.shadow {
    -webkit-box-shadow: 5px 5px 13px 11px rgba(169,169,169,0.3) !important; 
    box-shadow: 5px 5px 13px 11px rgba(169,169,169,0.3) !important;
}

.img-box {
    width: 280px !important;
    height: auto;
    background-color: #dfdfdf !important;   
}
.img-box_2 {
    width: 230px !important;
    height: auto;
    background-color: #dfdfdf !important;   
}

.card-box-title {
    color: #ef4f35 !important;
    text-shadow: 2px 2px 4px #ef4e3572 !important;
}

.tab-card {
    background: url('/assets/images/chat-bg-pattern.png');
}
.nav-border-top-success .nav-link.active {
    color: #ef4f35;
    border-top-color: #ef4f35;
}
.btn-success {
    background-color: #ef4f35;
    border-color: #ef4f35;
}