 <!-- start services -->
 <section class="section p-0" id="services">
    <div class="container">
        <div class="login-card row justify-content-center">
            <div class="col-lg-8">
                <div class="card border shadow px-2 py-2">
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul ngbNav #BorderTop="ngbNav" [activeId]="1" class="nav nav-tabs nav-justified nav-border-top nav-border-top-success mb-3">
                          <li [ngbNavItem]="1">
                              <a ngbNavLink>
                                <i class="ri-bank-card-line align-middle me-1"></i>Id Card</a>
                              <ng-template ngbNavContent>
                                <div class="card tab-card">
                                    <div class="card-body">
                                        <div class="d-flex flex-row">
                                            <div class="card img-box">
                                                <div class="card-body rounded border d-flex align-items-center justify-content-center">
                                                    <img src="/assets/images/card_reader.png"class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column px-4 w-100 text-center">
                                                <h2 class="card-box-title">Login using ID Card</h2>
                                                <p class="mt-4">To login with Id Card, you will need you Civil Id card, your pin code and a card reader.</p>
                                                <button class="btn btn-success mx-auto mt-3" style="width: 100px !important;" type="submit" (click)="onSubmit()">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </ng-template>
                          </li>
                          <li [ngbNavItem]="2">
                              <a ngbNavLink>
                                <i class="ri-smartphone-line me-1 align-middle"></i>Mobile</a>
                              <ng-template ngbNavContent>
                                <div class="card tab-card">
                                    <div class="card-body">
                                        <div class="d-flex flex-row">
                                            <div class="card img-box_2">
                                                <div class="card-body rounded border">
                                                    <img src="/assets/images/phone_auth.png" class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column px-4 w-100 text-center">
                                                <h2 class="card-box-title">Login using Mobile</h2>
                                                <p class="mt-4">To login with Mobile, you will need PKI enabled SIM card and the OPT</p>
                                                <div class="input-group mb-3">
                                                    <span id="basic-addon1" class="input-group-text">+968</span><input type="number" placeholder="Mobile Number" aria-label="Mobile Number" aria-describedby="basic-addon1" class="form-control">
                                                </div>
                                                <button class="btn btn-success  mx-auto mt-3 w-25" type="submit" (click)="onSubmit()">Login</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </ng-template>
                          </li>
                        </ul>
                        <div class="tab-content text-muted">
                          <div [ngbNavOutlet]="BorderTop"></div>
                        </div>
                    </div><!-- end card-body -->
                </div>                
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        
        <!-- end row -->
    </div>
    <!-- end container --> 
</section>
<!-- end services -->