<div class="row">
    <div class="col-md-12 mb-3">
        <label class="form-label">New Curriculum Document<span class="text-danger">{{ " *" }}</span></label>
        <ngx-dropzone (change)="onSelect($event, 'supportingFiles')"
                            [multiple]="false">
                            <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of supportingFiles"
                                [removable]="true" (removed)="onRemove(f, 'supportingFiles')">
                                <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Proposed Effective AY for New Curriculum<span class="text-danger">{{ " *" }}</span></label>
        <ng-select 
            [items]="[2023,2024,2025,2026,2027,2028,2029,2030]" placeholder="Please select Option">
        </ng-select>
    </div>
</div>
<div class="d-flex flex-row mt-3">
    <button class="btn btn-primary">Submit</button>
</div>