<app-breadcrumbs title="View Application" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/admission/withdrawal')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="row mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-end gap-3 my-2">
                        <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Civil ID</label>
                    <input class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Academic Year<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Status<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="d-flex flex-row">
                    <button class="btn btn-primary my-2">Filter</button>
                </div>
            </div>
            <div class="row">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Civil ID</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">OMSB Number</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let application of listData.tableData">
                                    <td>{{application.civilId}}</td>
                                    <td>{{application.name}}</td>
                                    <td>{{application.ombsNumber}}</td>
                                    <td (click)="openModal(requestStatus, 'md'); setApplication(application)" style="cursor: pointer; color: rgb(3, 3, 147)">{{application.status}}</td> 
                                    <td>
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <li (click)="openModal(withdrawalApplication, 'xl'); setApplication(application)"><a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View</a></li>
                                                <li *ngIf="application.status === 'Applied'" (click)="openModal(applicationApproval, 'lg')"><a class="dropdown-item" ><i class="mx-1  ri-article-line"></i>Sponsor Approval</a></li>
                                                <li *ngIf="application.status === 'Sponsor Approved'"><a class="dropdown-item" ><i class="mx-1  ri-article-line"></i>Approval</a></li>
                                                <li *ngIf="application.status === 'Approved'">
                                                    <a class="dropdown-item" ><i class="mx-1  ri-article-line"></i>Create Qarar</a></li>
                                                    <li *ngIf="application.status === 'Approved'"><a class="dropdown-item" ><i class="mx-1  ri-shield-user-line"></i>Provide Council & Guidance</a></li>
                                                <li *ngIf="application.status === 'Qarar Issued'" (click)="openModal(clearanceApplication, 'lg')">
                                                    <a class="dropdown-item" ><i class="mx-1  ri-article-line"></i>Clearance</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #withdrawalApplication let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">View Withdrawal Application</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Civil ID:</label>
                                        <label class="form-control">{{selectedApplication.civilId}}</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Full Name:</label>
                                        <label class="form-control">{{selectedApplication.name}}</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">OMSB Registration Number:</label>
                                        <label class="form-control">{{selectedApplication.ombsNumber}}</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Staff Number:</label>
                                        <label class="form-control">{{selectedApplication.staffNumber}}</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Level of Training:</label>
                                        <label class="form-control">{{selectedApplication.levelOfTraining}}</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Current Training Program:</label>
                                        <label class="form-control">{{selectedApplication.currentTrainingProgram}}</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Current Program Start Date: </label>
                                        <label class="form-control">{{selectedApplication.programStartDate}}</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Sponsor: </label>
                                        <label class="form-control">{{selectedApplication.Sponsor}}</label>
                                    </div>
                                </div>
                                <div class="row" *ngIf="selectedApplication.qararLink !== null">
                                    <div class="col-md-6 mb-1">
                                        <div class="d-flex flex-row">
                                            <p class="h6">Download Qarar</p>
                                            <button type="button" class="mx-3 btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" >
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">Reasons for withdrawal from the Training Program<span class="text-danger">{{ " *" }}</span></label>
                                        <label class="form-control">{{selectedApplication.withdrawalReason}}</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" >
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Status</label>
                                        <label class="form-control">{{selectedApplication.status}}</label>
                                    </div>
                                    <div class="col-md-12 mb-3" *ngIf="selectedApplication.sponsorRejectedReason !== null">
                                        <label class="form-label">Sponsor Rejected Reason<span class="text-danger">{{ " *" }}</span></label>
                                        <label class="form-control">{{selectedApplication.sponsorRejectedReason}}</label>
                                    </div>
                                    <div class="col-md-12 mb-3" *ngIf="selectedApplication.rejectedReason !== null">
                                        <label class="form-label">Rejected Reason<span class="text-danger">{{ " *" }}</span></label>
                                        <label class="form-control">{{selectedApplication.rejectedReason}}</label>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</ng-template>

<ng-template #clearanceApplication let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Clearance</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Civil ID:</label>
                                        <label class="form-control">9485131321321</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Full Name:</label>
                                        <label class="form-control">Abbas Al Ajmi</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">OMSB Registration Number:</label>
                                        <label class="form-control">210-19</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Staff Number:</label>
                                        <label class="form-control">210-19</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Level of Training:</label>
                                        <label class="form-control">L4</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Current Training Program:</label>
                                        <label class="form-control">Anesthesia</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Current Program Start Date: </label>
                                        <label class="form-control">2020-01-08</label>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Sponsor: </label>
                                        <label class="form-control">MOH</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" >
                            <form [formGroup]="approvalForm">
                                <div class="card-body" formArrayName="remarksArray">
                                    <div class="d-flex mt-4 flex-row justify-content-between">
                                        <p class="h4 text-success">Clearance Details</p>
                                        <a
                                          (click)="addRemarks()"
                                          href="javascript:void(0);"
                                          class="link-primary"
                                          ><i class="ri-add-box-line"></i>Add more</a
                                        >
                                      </div>
                                    <div class="row border shadow"  *ngFor="let remark of remarksControls; let i = index"
                                    [formGroupName]="i">
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Name of the Institution / Department</label>
                                            <ng-select
                                                formControlName="nameOfInstitution" [items]="['Khoula Hospital', 'Al Nahdah Hospital', 'Armed Forces Hospital']"
                                                placeholder="Select your Institution">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Name of the authorized person</label>
                                            <label class="form-control">Faisal Gawas</label>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label class="form-label">Remarks<span class="text-danger">{{ " *" }}</span></label>
                                            <textarea rows="2" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="d-flex flex-row">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</ng-template>

<ng-template #applicationApproval let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Sponsor Approval </p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <form [formGroup]="approvalForm">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Approval Status</label>
                            <ng-select 
                                [items]="['Approve', 'Reject']"  
                                formControlName="approvalStatus"
                                placeholder="Please select">
                            </ng-select>
                        </div>
                        <div class="col-md-12 mb-3" *ngIf="approvalFormValues.approvalStatus === 'Reject'">
                            <label class="form-label">Reason</label>
                            <textarea rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="d-flex flex-row my-2">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>      
        </div>
    </div>
</ng-template>

<ng-template #requestStatus let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Application Tracker</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <ngx-simplebar class="p-3" style="max-height: 364px;">
                    <div class="acitivity-timeline acitivity-main">
                        <div class="acitivity-item d-flex mb-3" *ngFor="let stage of selectedApplication.applicationStatus; let i = index">
                            <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                <div class="avatar-title text-light rounded-circle " [ngClass]="stage.status === 'Pending' ? 'bg-warning' : 'bg-success' ">
                                    <i [ngClass]="stage.status === 'Pending' ? 'ri-loader-2-fill' : 'ri-check-double-line' "></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1">{{stage.stage}}</h6>
                                <p class="h7 mb-1">{{stage.name}}</p>
                                <span class="badge rounded-pill"
                                    [ngClass]="stage.status === 'Awaiting Approval' ? 'badge-soft-secondary' : 'badge-soft-success' "
                                >{{stage.status}}</span>
                                <br>
                                <small class="my-3 text-muted">{{"Date : "}}{{stage.date === '' ? 'N/A' : stage.date}}</small>
                                <br>
                                <small class="my-3 text-muted">{{"By : "}}{{stage.by === '' ? 'N/A' : stage.by}}</small>
                            </div>
                        </div>
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div>
</ng-template>
