<app-breadcrumbs title="View Application" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/admission/rejoining')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="row mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-end gap-3 my-2">
                        <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Civil ID</label>
                    <input class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Academic Year<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Status<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="d-flex flex-row">
                    <button class="btn btn-primary my-2">Filter</button>
                </div>
            </div>
            <div class="row">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Civil ID</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">OMSB Number</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let application of listData.tableData">
                                    <td>{{application.civilId}}</td>
                                    <td>{{application.name}}</td>
                                    <td>{{application.ombsNumber}}</td>
                                    <td (click)="openModal(requestStatus, 'md'); setApplication(application)" style="cursor: pointer; color: rgb(3, 3, 147)">{{application.status}}</td> 
                                    <td>
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <li (click)="openModal(rejoiningApplication, 'xl')" ><a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View</a></li>
                                                <li *ngIf="application.status === 'Applied'">
                                                    <a class="dropdown-item" ><i class="mx-1  ri-article-line"></i>Sponsor Approval</a></li>

                                                <li *ngIf="application.status === 'Sponsor Approved'">
                                                    <a class="dropdown-item" ><i class="mx-1  ri-article-line"></i>Approve</a></li>
                                                <li *ngIf="application.status === 'Approved'">
                                                    <a class="dropdown-item" ><i class="mx-1  ri-article-line"></i>Create Qarar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #rejoiningApplication let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Rejoining Application Form</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
              <ng-container *ngTemplateOutlet="applicationFormTemplate"></ng-container>

          </div>           
        </div>
    </div>
</ng-template>

<ng-template #applicationFormTemplate>
  <form [formGroup]="applicationForm" class="p-0">
    <div class="card">
      <div class="card-body">
        <p class="h5 mt-4">DEMOGRAPHIC INFORMATION SECTION</p>
          <div class="row">
              <div class="col-md-2 mb-4" *ngIf="applicationFormValues.assessmentUploadLink != null">
                <div class="user-thumb mb-2 d-flex flex-row" >
                  <img src="assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail avatar-lg" alt="thumbnail">

                </div>
              </div>
              <div [ngClass]="{'col-md-4' : applicationFormValues.assessmentUploadLink === null, 'col-md-6' : applicationFormValues.assessmentUploadLink !== null}">
                  <div class="mb-3">
                      <label class="form-label">Name (As per passport)</label>
                      <label class="form-control">{{applicationFormValues.name}}</label>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Birthday</label>
                  <label class="form-control">{{applicationFormValues.birthday}}</label>
                </div>
              </div>
              
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-control-label" >Nationality</label>
                  <label class="form-control">{{applicationFormValues.nationality}}</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">National ID No</label>
                  <label class="form-control">{{applicationFormValues.nationalIDNo}}</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Passport No</label>
                  <label c    lass="form-control">{{applicationFormValues.passportNo}}</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Marital Status</label>
                  <label class="form-control">{{applicationFormValues.maritalStatus}}</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Permanent Address</label>
                  <label class="form-control">{{applicationFormValues.permanentAddress}}</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Wilayat/Region</label>
                  <label class="form-control">{{applicationFormValues.wilayatOrRegion}}</label>
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label">Mobile Number</label>
                <label class="form-control">{{applicationFormValues.mobileNumber}}</label>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Name of Next of Kin (NOK)</label>
                  <label class="form-control">{{applicationFormValues.nameNextKin}}</label>
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label">Contact No. of NOK</label>
                <label class="form-control">{{applicationFormValues.contactNextKin}}</label>
              </div>
              <div class="col-md-12">
                  <label class="form-label">Diseases / Disabilities</label>
                  <label class="form-control">{{applicationFormValues.diseases}}</label>
              </div>
            </div>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-md-4 mb-3">
                  <label class="form-control-label">Current Employment Status</label>
                  <label class="form-control">{{applicationFormValues.isEmployed}}</label>
              </div>
              <div class="col-md-4 mb-3">
                  <label class="form-control-label">Name of Institution</label>
                  <label class="form-control">{{applicationFormValues.nameOfInstitution}}</label>
              </div>
              <div class="col-md-4 mb-3">
                  <label class="form-control-label">Department</label>
                  <label class="form-control">{{applicationFormValues.department}}</label>
              </div>
              <div class="col-md-4 mb-3">
                  <label class="form-control-label">Current Position</label>
                  <label class="form-control">{{applicationFormValues.currentPosition}}</label>
              </div>
          </div>
      </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 mb-3">
              <label class="form-control-label">Date of Joining OMSB</label>
              <label class="form-control">2020-01-09</label>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-control-label">Date of Completion</label>
            <label class="form-control">2021-10-15</label>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-control-label">Program at the time of withdrawal</label>
            <label class="form-control">Anesthesia</label>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-control-label">Level of Training at time of Withdrawal:</label>
            <label class="form-control">L3</label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-md-12 mb-3">
                  <label class="form-label">Post Graduate Qualifications</label>
                  <label class="form-control">{{applicationFormValues.postGraduateQualifications}}</label>
              </div>
              <div class="col-md-12 mb-3">
                  <label class="form-label">Post Graduate Training experience</label>
                  <label class="form-control">{{applicationFormValues.postGraduateTrainingExperience}}</label>
              </div>
              <div class="col-md-4 mb-3">
                  <label class="form-control-label">Sponsorship</label>
                  <label class="form-control">{{applicationFormValues.sponsorship}}</label>
              </div>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
        <p class="h5 mt-4">QUALIFICATION DATA SECTION</p>
          <div class="mt-3 d-flex flex-row justify-content-between">
              <p class="h5">1. BSc/Medical School</p>
            </div>
            <div formArrayName="medicineSchool">
              <div
                class="mt-2 d-flex flex-column p-3  bg-light"
                *ngFor="let schools of medicineSchoolControls; let i = index"
                [formGroupName]="i"
              >
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">School</label>
                    <label class="form-control">{{schools.value.school}}</label>
                  </div>
                  <div class="col-md-3">
                    <label class="form-label">Start Date</label>
                    <label class="form-control">{{schools.value.startDate}}</label>
                  </div>
                  <div class="col-md-3">
                    <label class="form-label">End Date</label>
                    <label class="form-control">{{schools.value.endDate}}</label>
                  </div>
                  <div class="col-md-3">
                    <label class="form-label">Country</label>
                    <label class="form-control">{{schools.value.country}}</label>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
          <div class="mt-3 d-flex flex-row justify-content-between">
              <p class="h5">2. Clinical Electives</p>
            </div>
            <div formArrayName="clinicalElectives">
              <div
                class="mt-2 d-flex flex-column p-3  bg-light"
                *ngFor="let clinics of clinicalElectivesControls; let i = index"
                [formGroupName]="i">
                <div class="row">
                  <div class="col-md-4">
                    <label class="form-label">Department, Institution</label>
                    <label class="form-control">{{clinics.value.department}}</label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">Date</label>
                    <label class="form-control">{{clinics.value.date}}</label>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
          <p class="h5 mt-3">3. The Basic Certificates Courses:</p>
          <div class="mt-2 d-flex flex-column p-3  bg-light">
            <div class="row" formGroupName="certificateCourses">
              <div class="col-md-6">
                <label class="form-label text-primary">BLS Certificate</label>
                <div class="d-flex flex-row">
                  <label class="form-label w-100">Expiry Date</label>
                  <label class="form-control">{{certificateCoursesValues.blsCertificateExpiry}}</label>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label text-primary">ACLS Certificate</label>
                <div class="d-flex flex-row">
                  <label class="form-label w-100">Expiry Date</label>
                  <label class="form-control">{{certificateCoursesValues.aclsCertificateExpiry}}</label>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
          <div class="mt-3 d-flex flex-row justify-content-between">
              <p class="h5">INTERNSHIP</p>
            </div>
            <div formArrayName="internship">
              <div
                class="mt-2 d-flex flex-column p-3  bg-light"
                *ngFor="let schools of internshipControls; let i = index"
                [formGroupName]="i"
              >
                <div class="row">
                  <div class="col-md-3">
                    <label class="form-label">Start Date</label>
                    <label class="form-control">{{schools.value.startDate}}</label>
                  </div>
                  <div class="col-md-3">
                    <label class="form-label">End Date</label>
                    <label class="form-control">{{schools.value.endDate}}</label>
                  </div>
                  <div class="col-md-3">
                    <label class="form-label">Institution of Internship</label>
                    <label class="form-control">{{schools.value.institution}}</label>
                  </div>
                  <div class="col-md-3">
                    <label class="form-label">Country</label>
                    <label class="form-control">{{schools.value.country}}</label>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
          <p class="h5 mt-4">SCHOLARLY ACTIVITIES SECTION</p>
          <div class="mt-3 d-flex flex-row justify-content-between">
              <p class="h5">1. Research</p>
          </div>
          <div formArrayName="research">
              <div class="mt-2 d-flex flex-column p-3  bg-light"
              *ngFor="let schools of researchControls; let i = index"
              [formGroupName]="i">
                  <div class="row">
                      <div class="col-md-4">
                          <label class="form-label">Project Title</label>
                          <label class="form-control">{{schools.value.projectTitle}}</label>
                      </div>
                      <div class="col-md-4">
                          <label class="form-label">Position</label>
                          <label class="form-control">{{schools.value.position}}</label>
                      </div>
                      <div class="col-md-4">
                          <label class="form-label" >Inclusive Dates</label>
                          <label class="form-control">{{schools.value.inclusiveDates}}</label>
                      </div>
                      <div class="col-md-4">
                          <label class="form-label" >Institution</label>
                          <label class="form-control">{{schools.value.institution}}</label>
                      </div>
                      <div class="col-md-4">
                          <label class="form-label" >Department</label>
                          <label class="form-control">{{schools.value.department}}</label>
                      </div>
                      <div class="col-md-4">
                          <label class="form-label" >Mentor</label>
                          <label class="form-control">{{schools.value.mentor}}</label>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
          <p class="h5 mt-3">2. Publications</p>
          <div class="mt-3 d-flex flex-column mt-2 p-3">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="form-label"
                    >Last, First, Middle Initial of authors as listed in the paper.
                    Underline your name. Title of article, Journal, Publication date;
                    vol (issue): pages. (Should include abstracts).
                  </label>
                  <label class="form-control">{{applicationFormValues.publications}}</label>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
          <p class="h5 mt-3">3. Presentations</p>
          <div class="mt-3 d-flex flex-column mt-2 p-3">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="form-label" >Name of Conference, Presentation title, (if ‘placed’, list here), Date and Location</label>
                    <label class="form-control">{{applicationFormValues.presentations}}</label>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
          <p class="h5 mt-3">4. Honors and Awards</p>
          <div class="mt-3 d-flex flex-column mt-2 p-3">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="form-label">Award, Institution, Date Conferred</label>
                  <label class="form-control">{{applicationFormValues.honorsAndAwards}}</label>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
          <div class="mt-3 d-flex flex-row justify-content-between">
              <p class="h5">4. Community Service/Volunteer Experience (Health-Related Fields)</p>
          </div>
          <div formArrayName="communityService">
              <div class="mt-2 d-flex flex-column p-3  bg-light"
              *ngFor="let schools of addCommunityServiceControls; let i = index"
              [formGroupName]="i">
                  <div class="row">
                      <div class="col-md-4">
                          <label class="form-label">From Date</label>
                          <label class="form-control">{{schools.value.fromDate}}</label>
                      </div>
                      <div class="col-md-4">
                          <label class="form-label">To Date</label>
                          <label class="form-control">{{schools.value.toDate}}</label>
                      </div>
                      <div class="col-md-12 mt-3">
                          <label class="form-control">{{schools.value.description}}</label>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
      <div class="card" >
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 mb-3">
                      <p class="text-muted">Completion of training certificate from OMSB 
                      </p>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                  </div>
                  <div class="col-md-6 mb-3">
                      <p class="text-muted">Photocopy of any results of entry exams, international exams or other postgraduate exams
                      </p>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                  </div>
                  <div class="col-md-6 mb-3">
                      <p class="text-muted">Approval documents from Sponsor
                      </p>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                  </div>
                  <div class="col-md-6 mb-3">
                      <p class="text-muted">Application Health Assessment Form</p>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                  </div>
                  <div class="col-md-6 mb-3">
                      <p class="text-muted">Passport size photograph with blue background</p>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                  </div>
                  <div class="col-md-6 mb-3">
                      <p class="text-muted">Copy of valid (BLS) & (ACLS) Certificates</p>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                  </div>
              </div>
          </div>
      </div>
  </form>
</ng-template>

<ng-template #applicationApproval let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Sponsor Approval </p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <form [formGroup]="approvalForm">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Approval Status</label>
                            <ng-select 
                                [items]="['Approve', 'Reject']"  
                                formControlName="approvalStatus"
                                placeholder="Please select">
                            </ng-select>
                        </div>
                        <div class="col-md-6 mb-3" *ngIf="approvalFormValues.approvalStatus === 'Reject'">
                            <label class="form-label">Reason</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="d-flex flex-row my-2">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>      
        </div>
    </div>
</ng-template>

<ng-template #requestStatus let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Application Tracker</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <ngx-simplebar class="p-3" style="max-height: 364px;">
                    <div class="acitivity-timeline acitivity-main">
                        <div class="acitivity-item d-flex mb-3" *ngFor="let stage of selectedApplication.applicationStatus; let i = index">
                            <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                <div class="avatar-title text-light rounded-circle " [ngClass]="stage.status === 'Pending' ? 'bg-warning' : 'bg-success' ">
                                    <i [ngClass]="stage.status === 'Pending' ? 'ri-loader-2-fill' : 'ri-check-double-line' "></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1">{{stage.stage}}</h6>
                                <p class="h7 mb-1">{{stage.name}}</p>
                                <span class="badge rounded-pill"
                                    [ngClass]="stage.status === 'Awaiting Approval' ? 'badge-soft-secondary' : 'badge-soft-success' "
                                >{{stage.status}}</span>
                                <br>
                                <small class="my-3 text-muted">{{"Date : "}}{{stage.date === '' ? 'N/A' : stage.date}}</small>
                                <br>
                                <small class="my-3 text-muted">{{"By : "}}{{stage.by === '' ? 'N/A' : stage.by}}</small>
                            </div>
                        </div>
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div>
</ng-template>
