p {
    text-align: justify !important;
}
.text-muted {
    color : #5b5d66 !important
}
.badge {
    padding: 0.55em 0.85em !important;
}
.committeeCard {
    cursor: pointer !important;
}
.committeeCard:hover {
    background-color: #5b5d66;
    color: white;
}
