<div class="row card-box">
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/course/course-setup')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    CS
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Create Course Setup</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/course/scheduling')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    Sc
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Scheduling</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/course/create-form')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    CF
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Create Form</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/course/view-application')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    Vw
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">View</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/course/order-food')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    OF
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Order Food</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/course/refund-management')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    RM
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Refund Management</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row ">
    <div class="col-md-6 col-12 mb-3">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">Course Setup</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/course/course-setup')" class="btn btn-success">Create Course Setup</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">Scheduling</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/course/scheduling')" class="btn btn-success">Scheduling</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">Create Form</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/course/create-form')" class="btn btn-success">Scheduling</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">View Applications</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/course/view-application')" class="btn btn-success">View</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">Order Food</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/course/order-food')" class="btn btn-success">View</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">Refund Management</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/course/refund-management')" class="btn btn-success">View</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
</div> -->