<div class="row">
    <div class="col">
        <div class="h-100">
            <div class="row mb-3 pb-1">
                <div class="col-12">
                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                        <div class="flex-grow-1">
                            <h4 class="fs-16 mb-1">Good Morning, Abbas!</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MMR Statistics and My Tasks -->
            <div class="row">
                <div class="col-md-8 ">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">MMR Statistics</h4>
                            <div class="flex-shrink-0">
                                <div class="dropdown card-header-dropdown" ngbDropdown>
                                    <a class="text-reset dropdown-btn arrow-none" href="javascript:void(0);" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                        <span class="text-muted"><i class="ri-settings-4-line align-middle me-1 fs-15"></i></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                        <a (click)="onNavigate('/counselling/mmr-dashboard')" class="dropdown-item" href="javascript:void(0);">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-3">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="card-widget d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                                               <i class="ri-folder-chart-line align-middle"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                           <p class="fw-semibold fs-12 text-light mb-1">Total Program Referrals</p>
                                           <h4 class="text-light mb-0"><span [CountTo]="10" class="counter-value" [from]="0" [duration]="1"></span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="card-widget d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                                               <i class="ri-folder-4-line align-middle"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                           <p class="fw-semibold fs-12 text-light mb-1">Total Self Referrals</p>
                                           <h4 class="text-light mb-0"><span [CountTo]="9" class="counter-value" [from]="0" [duration]="1"></span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="h6 text-secondary my-2">Scenario Statistics</p>
                                <div class="col-md-4 ">
                                    <div class="card-widget d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                                               <i class="ri-folder-shield-line align-middle"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                           <p class="fw-semibold fs-12 text-light mb-1">Self</p>
                                           <h4 class="text-light mb-0"><span [CountTo]="8" class="counter-value" [from]="0" [duration]="1"></span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="card-widget d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                                               <i class="  ri-markdown-line align-middle"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                           <p class="fw-semibold fs-12 text-light mb-1">Transfers</p>
                                           <h4 class="text-light mb-0"><span [CountTo]="8" class="counter-value" [from]="0" [duration]="1"></span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="card-widget d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                                               <i class="ri-folder-zip-line align-middle"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                           <p class="fw-semibold fs-12 text-light mb-1">Interruption</p>
                                           <h4 class="text-light mb-0"><span [CountTo]="8" class="counter-value" [from]="0" [duration]="1"></span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">My Tasks</h4>
                        </div>
                        <div class="card-body p-0">
            
                            <div class="align-items-center p-3 justify-content-between d-flex">
                                <div class="flex-shrink-0">
                                    <div class="text-muted"><span class="fw-semibold">4</span> of <span class="fw-semibold">10</span> remaining</div>
                                </div>
                                <button type="button" class="btn btn-sm btn-success"><i class="ri-add-line align-middle me-1"></i> Add Task</button>
                            </div>
                            
                            <ngx-simplebar style="max-height: 130px;">
                                <ul class="list-group list-group-flush border-dashed px-3">
                                    <li class="list-group-item ps-0">
                                        <div class="d-flex align-items-start">
                                            <div class="form-check ps-0 flex-sharink-0">
                                                <input type="checkbox" class="form-check-input ms-0" id="task_one">
                                            </div>
                                            <div class="flex-grow-1">
                                                <label class="form-check-label mb-0 ps-2" for="task_one">Log Duty Hours for December</label>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <p class="text-muted fs-12 mb-0">15 Oct, 2022</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item ps-0">
                                        <div class="d-flex align-items-start">
                                            <div class="form-check ps-0 flex-sharink-0">
                                                <input type="checkbox" class="form-check-input ms-0" id="task_two">
                                            </div>
                                            <div class="flex-grow-1">
                                                <label class="form-check-label mb-0 ps-2" for="task_two">Add Rotations to Anaesthesia Curriculum</label>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <p class="text-muted fs-12 mb-0">20 Oct, 2022</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item ps-0">
                                        <div class="d-flex align-items-start">
                                            <div class="form-check flex-sharink-0 ps-0">
                                                <input type="checkbox" class="form-check-input ms-0" id="task_three">
                                            </div>
                                            <div class="flex-grow-1">
                                                <label class="form-check-label mb-0 ps-2" for="task_three">Add Training Sites to Anaesthesia Curriculum</label>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <p class="text-muted fs-12 mb-0">24 Oct, 2022</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item ps-0">
                                        <div class="d-flex align-items-start">
                                            <div class="form-check ps-0 flex-sharink-0">
                                                <input type="checkbox" class="form-check-input ms-0" id="task_four">
                                            </div>
                                            <div class="flex-grow-1">
                                                <label class="form-check-label mb-0 ps-2" for="task_four">Log Procedures for Hilal basheer
                                                </label>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <p class="text-muted fs-12 mb-0">27 Oct, 2022</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item ps-0">
                                        <div class="d-flex align-items-start">
                                            <div class="form-check ps-0 flex-sharink-0">
                                                <input type="checkbox" class="form-check-input ms-0" id="task_five">
                                            </div>
                                            <div class="flex-grow-1">
                                                <label class="form-check-label mb-0 ps-2" for="task_five">Log Procedures for Al Abri Falsal</label>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <p class="text-muted fs-12 mb-0">29 Oct, 2022</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- end ul -->
                            </ngx-simplebar>
                            <div class="p-3 pt-2">
                                <a href="javascript:void(0);" class="text-muted text-decoration-underline">Show more...</a>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1"> Courses and Workshops for the Past 6 Months</h4>
                            <div class="flex-shrink-0">
                                <div class="dropdown card-header-dropdown" ngbDropdown>
                                    <a class="text-reset dropdown-btn arrow-none" href="javascript:void(0);" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                        <span class="text-muted"><i class="ri-settings-4-line align-middle me-1 fs-15"></i></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                        <a (click)="onNavigate('/simulation/course')" class="dropdown-item" href="javascript:void(0);">View Courses</a>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                        <a (click)="onNavigate('/simulation/workshop')" class="dropdown-item" href="javascript:void(0);">View Workshop</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-3">
                            <apx-chart [series]="coursesCommencedStatics.series" 
                                [chart]="coursesCommencedStatics.chart"
                                [dataLabels]="coursesCommencedStatics.dataLabels" [plotOptions]="coursesCommencedStatics.plotOptions"
                                [responsive]="coursesCommencedStatics.responsive" [xaxis]="coursesCommencedStatics.xaxis"
                                [legend]="coursesCommencedStatics.legend" [fill]="coursesCommencedStatics.fill" [colors]="coursesCommencedStatics.colors"></apx-chart>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1"> Courses and Workshops - Order Food</h4>
                            <div class="flex-shrink-0">
                                <div class="dropdown card-header-dropdown" ngbDropdown>
                                    <a class="text-reset dropdown-btn arrow-none" href="javascript:void(0);" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                        <span class="text-muted"><i class="ri-settings-4-line align-middle me-1 fs-15"></i></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                        <a (click)="onNavigate('/simulation/course/order-food')" class="dropdown-item" href="javascript:void(0);">View Courses - Order Food</a>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                        <a (click)="onNavigate('/simulation/workshop/order-food')" class="dropdown-item" href="javascript:void(0);">View Workshop - Order Food</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-3">
                            <apx-chart [series]="orderFoodStatics.series" [chart]="orderFoodStatics.chart"
                            [dataLabels]="orderFoodStatics.dataLabels" [plotOptions]="orderFoodStatics.plotOptions"
                            [xaxis]="orderFoodStatics.xaxis" [stroke]="orderFoodStatics.stroke"
                            [fill]="orderFoodStatics.fill" [title]="orderFoodStatics.title"
                            [tooltip]="orderFoodStatics.tooltip" [legend]="orderFoodStatics.legend" [colors]="orderFoodStatics.colors"></apx-chart>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Program Year</h4>
                        </div>
                        <div class="card-body px-3">
                            <apx-chart [series]="scheduleChartStatics.series" [chart]="scheduleChartStatics.chart"
                            [fill]="scheduleChartStatics.fill" [grid]="scheduleChartStatics.grid"
                            [dataLabels]="scheduleChartStatics.dataLabels" [plotOptions]="scheduleChartStatics.plotOptions"
                            [xaxis]="scheduleChartStatics.xaxis" [yaxis]="scheduleChartStatics.yaxis"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div> 
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>