<section class="section p-0">
  <div class="container p-0">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header text-center">
            <h3>Registration</h3>
          </div>
          <div class="card-body bg-light">
            <form [formGroup]="registrationForm">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="d-flex flex-row w-100 justify-content-between align-items-center">
                          <label class="form-label mb-0 text-nowrap" >Residency Status</label>
                          <ng-select [items]="listData.residencyType" class="mx-3"
                            formControlName="residencyStatus"
                            placeholder="Please select" style="width: 285px !important">
                          </ng-select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex flex-row w-100 h-100 justify-content-between align-items-center">
                        <label class="form-label mb-0 text-nowrap">Are you an OMSB member?</label>
                        <div class="d-flex flex-row mx-3">
                          <div class="form-check mx-1">
                            <input class="form-check-input" type="radio" id="omsbMemeberCheckRadio1" formControlName="isOmsbMember" value="true">
                            <label class="form-check-label" for="omsbMemeberCheckRadio1">Yes</label>
                          </div>
                          <div class="form-check mx-1">
                            <input class="form-check-input" type="radio" id="omsbMemeberCheckRadio2" formControlName="isOmsbMember" value="false">
                            <label class="form-check-label" for="omsbMemeberCheckRadio2">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row mt-3">
                    <div class="col-md-6" *ngIf="formValues.isOmsbMember === 'true'">
                      <div class="d-flex flex-row w-100 justify-content-between align-items-center">
                          <label class="form-label mb-0 text-nowrap">Membership Type</label>
                          <ng-select [items]="listData.membershipType" class="mx-3"
                            formControlName="membershipType"
                            placeholder="Please select" style="width: 285px !important">
                          </ng-select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex flex-row w-100 h-100 justify-content-between align-items-center">
                        <label class="form-label mb-0 text-nowrap">Are you employed?</label>
                        <div class="d-flex flex-row mx-3">
                          <div class="form-check mx-1">
                            <input class="form-check-input" type="radio" id="isEmployedCheckRadio1" formControlName="isEmployed" value="true">
                            <label class="form-check-label" for="isEmployedCheckRadio1">Yes</label>
                          </div>
                          <div class="form-check mx-1">
                            <input class="form-check-input" type="radio" id="isEmployedCheckRadio2" formControlName="isEmployed" value="false">
                            <label class="form-check-label" for="isEmployedCheckRadio2">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Personal Details -->
              <p class="h4 my-3">Personal Details</p>
              <div class="card">
                <div class="card-body">
                  <div class="row mt-3">
                    <div class="col-md-3 mb-3">
                      <label class="form-label">First Name (English)<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="firstName" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Second Name (English)<span *ngIf="formValues.residencyStatus === 'Omani National'" class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="secondName" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Third Name (English)<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="thirdName" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Family Name (English)<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="familyName" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Full Name (Arabic) - if applicable</label>
                      <input type="text" formControlName="fullNameInArabic" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Gender<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select [items]="listData.gender" formControlName="gender"
                        bindLabel="name" bindValue="value" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Nationality<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select [items]="listData.nationalities" formControlName="nationality"
                      bindLabel="name" bindValue="name" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label" >Birthday<span class="text-danger">{{ " *" }}</span></label>
                      <input class="form-control flatpickr-input" type="text"
                        formControlName="birthDate" mwlFlatpickr [altInput]="true" [convertModelValue]="true"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Email Address<span class="text-danger">{{ " *" }}</span></label>
                      <input type="text" formControlName="email" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Contact Number<span class="text-danger">{{ " *" }}</span></label>
                      <ngx-intl-tel-input [cssClass]="'custom'" 
                      [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                      [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Oman"
                      [maxLength]="15" [phoneValidation]="true" [numberFormat]="PhoneNumberFormat.National" formControlName="contactNumber">
                    </ngx-intl-tel-input>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Identification Details -->
              <p class="h4 my-3">Identification Details</p>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Omani Resident/National/Government ID No.</label>
                      <input type="text" formControlName="idNumber" class="form-control"/>
                    </div>
                    <div class="col-md-4 mb-3">
                      <p class="text-muted">Upload your Id (Front Side)</p>
                      <input type="hidden" formControlName="idLinkFront">
                      <ngx-dropzone (change)="onSelect($event, 'filesResidentIdFront')" [multiple]="false">
                          <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of filesResidentIdFront" [removable]="true" (removed)="onRemove(f, 'filesResidentIdFront')">
                            <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-md-4 mb-3">
                      <p class="text-muted">Upload your Id (Back Side)</p>
                      <input type="hidden" formControlName="idLinkBack">
                      <ngx-dropzone (change)="onSelect($event, 'filesResidentIdBack')" [multiple]="false">
                          <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of filesResidentIdBack" [removable]="true" (removed)="onRemove(f, 'filesResidentIdBack')">
                            <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Passport Number</label>
                      <input type="text" formControlName="passportNumber" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <p class="text-muted">Upload your Passport</p>
                      <input type="hidden" formControlName="passportLink">
                      <ngx-dropzone (change)="onSelect($event, 'filesPassport')" [multiple]="false">
                          <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of filesPassport" [removable]="true" (removed)="onRemove(f, 'filesPassport')">
                            <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-md-3 mb-3" *ngIf="formValues.isEmployed === 'true'">
                      <label class="form-label">Staff ID No./Work ID No.</label>
                      <input type="text" formControlName="staffIdOrWorkId" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3" *ngIf="formValues.isEmployed === 'true'">
                      <p class="text-muted">Upload you Staff Id / Work Id</p>
                      <input type="hidden" formControlName="staffIdLink">
                      <ngx-dropzone (change)="onSelect($event, 'filesStaffId')" [multiple]="false">
                          <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of filesStaffId" [removable]="true" (removed)="onRemove(f, 'filesStaffId')">
                            <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- Employment Details  -->
              <p class="h4 my-3">Employment Details </p>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Profession<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.profession" formControlName="profession"
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Primary specialty<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.specialty" formControlName="primarySpecialty" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.primarySpecialty === 'Other'">
                      <label class="form-label">Specify if other Specialty<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="ifOtherPrimarySpecialty" class="form-control"/>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Secondary specialty<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.specialty" formControlName="secondarySpecialty" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.secondarySpecialty === 'Other'">
                      <label class="form-label">Specify if other Specialty<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="ifOtherSecondarySpecialty" class="form-control"/>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.isEmployed === 'true'">
                      <label class="form-label">Job Title / Designation<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.jobTitle" formControlName="jobTitle" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.isEmployed === 'true'">
                      <label class="form-label">Primary Workplace Sector Type<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.sector" formControlName="primaryWorkplaceSectorType" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.primaryWorkplaceSectorType === 'Government' && formValues.primaryWorkplaceSectorType != 'Non-Applicable' && formValues.isEmployed === 'true'">
                      <label class="form-label">Primary Sector Name/Institution<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.governmentSectorInstitutes" formControlName="primarySectorName" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.primaryWorkplaceSectorType === 'Private' && formValues.primaryWorkplaceSectorType != 'Non-Applicable'  && formValues.isEmployed === 'true'">
                      <label class="form-label">Primary Sector Name/Institution<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.privateSectorInstitutes" formControlName="primarySectorName" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.primarySectorName === 'Other' && formValues.primaryWorkplaceSectorType != 'Non-Applicable'  && formValues.isEmployed === 'true'">
                      <label class="form-label">Specify if other Sector Name<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="ifOtherPrimarySector" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.primaryWorkplaceSectorType != 'Non-Applicable'  && formValues.isEmployed === 'true'">
                      <label class="form-label">Region of Primary Workplace<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.regions" formControlName="regionOfPrimaryWorkplace" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.primaryWorkplaceSectorType != 'Non-Applicable'  && formValues.isEmployed === 'true'">
                      <label class="form-label">Secondary Workplace Sector Type<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.sector" formControlName="secondaryWorkplaceSectorType" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.secondaryWorkplaceSectorType === 'Government' && formValues.primaryWorkplaceSectorType != 'Non-Applicable'  && formValues.isEmployed === 'true'">
                      <label class="form-label">Secondary Sector Name/Institution<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.governmentSectorInstitutes" formControlName="secondarySectorName" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.secondaryWorkplaceSectorType === 'Private' && formValues.primaryWorkplaceSectorType != 'Non-Applicable'  && formValues.isEmployed === 'true'">
                      <label class="form-label">Secondary Sector Name/Institution<span class="text-danger">{{" *"}}</span></label>
                      <ng-select [items]="listData.privateSectorInstitutes" formControlName="secondarySectorName" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formValues.secondaryWorkplaceSectorType === 'Other' && formValues.primaryWorkplaceSectorType != 'Non-Applicable'  && formValues.isEmployed === 'true'">
                      <label class="form-label">Specify if other Sector Name<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="ifOtherSecondarySectorName" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Employment Details  -->
              <div class="d-flex flex-row justify-content-between">
                <p class="h4">Education Details</p>
                <a
                  (click)="addEducation()"
                  href="javascript:void(0);"
                  class="link-primary"
                  ><i class="ri-add-box-line"></i>Add more</a
                >
              </div>
              <div formArrayName="education">
                <div class="d-flex flex-column"
                  *ngFor="let schools of educationControls; let i = index"
                  [formGroupName]="i">
                  <div class="d-flex flex-row justify-content-end align-items-center">
                    <a (click)="onDeleteEducation(i)" class="link-danger"><i class="ri-delete-bin-5-line"></i></a>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-3 mb-3">
                          <label class="form-label">Qualification<span class="text-danger">{{ " *" }}</span></label>
                          <input type="text" formControlName="qualification" class="form-control" />
                        </div>
                        <div class="col-md-3 mb-3">
                          <label class="form-label">Country of Institution<span class="text-danger">{{ " *" }}</span></label>
                          <ng-select [items]="listData.countryList"
                            placeholder="Please select" bindLabel="name" formControlName="country"
                            bindValue="name">
                          </ng-select>
                        </div>
                        <div class="col-md-3 mb-3">
                          <label class="form-label">University / Institution<span class="text-danger">{{ " *" }}</span></label>
                          <ng-select [items]="listData.universities"
                            placeholder="Please select" formControlName="universityOrInstitution">
                          </ng-select>
                        </div>
                        <div class="col-md-3 mb-3" *ngIf="formValues.education[i].universityOrInstitution === 'Other'">
                          <label class="form-label" >Specify if Institution<span class="text-danger">{{ " *" }}</span></label>
                          <input type="text" formControlName="ifOtherUniversityOrInstitution" class="form-control" />
                        </div>
                        <div class="col-md-3">
                          <label class="form-label">Year of Graduation<span class="text-danger">{{ " *" }}</span></label>
                          <ng-select [items]="listData.intakeYears"
                            placeholder="Please select" formControlName="graduationYear">
                          </ng-select>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="h4 my-3">Verification Details </p>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Dataflow Reference Number, if available<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="dataflowRef" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <p class="h4 my-3" *ngIf="userDetailObject === undefined">Confirmation</p>
              <div class="card">
                <div class="card-body">
                  <div class="row mt-3" *ngIf="userDetailObject === undefined">
                    <div class="col-md-12">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="confirmationToggleOne" formControlName="confirmationToggleOne"/>
                          <label class="form-check-label" for="confirmationToggleOne">I agree to have my general information (name, specialty and workplace) presented.</label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="confirmationToggleTwo" formControlName="confirmationToggleTwo"/>
                          <label class="form-check-label" for="confirmationToggleTwo">In the OMSB Public Healthcare Professionals Directory.</label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="confirmationToggleThree" formControlName="confirmationToggleThree"/>
                          <label class="form-check-label" for="confirmationToggleThree">I do not agree to have my general information (name, specialty and workplace) presented.</label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="confirmationToggleFour" formControlName="confirmationToggleFour"/>
                          <label class="form-check-label" for="confirmationToggleFour">In the OMSB Public Healthcare Professionals Directory.</label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="confirmationToggleFive" formControlName="confirmationToggleFive"/>
                          <label class="form-check-label" for="confirmationToggleFive">I declare that all of the information provided by me in this form is true and correct to the best of my knowledge.</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="d-flex flex-row w-100 justify-content-end">
                  <button class="btn btn-primary mt-3" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <!-- end card body -->
        </div>
      </div>
    </div>
  </div>
</section>
