<section class="section p-0">
  <div class="container p-0">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header text-center">
            <h3>Registration</h3>
          </div>
          <div class="card-body bg-light">
            <form [formGroup]="registrationForm">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Nationality / Residency Status<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select 
                          formControlName="residencyStatus" [items]="listData.residencyStatus" 
                          placeholder="Please select">
                      </ng-select>
                    </div>
                  </div>
                  <div class="row" *ngIf="registrationFormValues.residencyStatus === 'Omani National'">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">National ID<span class="text-danger">{{ " *" }}</span></label>
                      <input type="text" class="form-control" formControlName="nationalID">
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Passport Number<span class="text-danger">{{ " *" }}</span></label>
                      <input type="text" class="form-control" formControlName="passportNumber">
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Passport Expiry Date<span class="text-danger">{{ " *" }}</span></label>
                      <input
                          class="form-control flatpickr-input"
                          type="text" mwlFlatpickr
                          [altInput]="true" formControlName="passportExpiryDate"
                          [convertModelValue]="true"
                        />
                    </div>
                  </div>
                  <div class="row" *ngIf="registrationFormValues.residencyStatus === 'Omani National'">
                    <div class="col-md-6 mb-3" *ngIf="!userDetailObject">
                      <label class="form-label">Attach National ID<span class="text-danger">{{ " *" }}</span></label>
                      <ngx-dropzone (change)="onSelect($event, 'nationalIdFiles')" [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of nationalIdFiles" [removable]="true" (removed)="onRemove(f, 'nationalIdFiles')">
                        <ngx-dropzone-label >{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="!userDetailObject">
                      <label class="form-label">Attach Passport<span class="text-danger">{{ " *" }}</span></label>
                      <ngx-dropzone (change)="onSelect($event, 'passportFiles')" [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of passportFiles" [removable]="true" (removed)="onRemove(f, 'passportFiles')">
                        <ngx-dropzone-label >{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="userDetailObject">
                      <label class="form-label">Download National ID<span class="text-danger">{{ " *" }}</span></label>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="userDetailObject">
                      <label class="form-label">Download Passport<span class="text-danger">{{ " *" }}</span></label>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>

                  </div>
                  <div class="row" *ngIf="registrationFormValues.residencyStatus === 'Non Omani with a Civil ID'">
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Civil ID<span class="text-danger">{{ " *" }}</span></label>
                      <input type="text" class="form-control" formControlName="civilID">
                    </div>
                    
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Country of Nationality<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select
                        [items]="listData.countryList"
                        placeholder="Please select"
                        bindLabel="name"
                        formControlName="countryOfNationality"
                        bindValue="code">
                      </ng-select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Passport Number<span class="text-danger">{{ " *" }}</span></label>
                      <input type="text" class="form-control" formControlName="passportNumber">
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Passport Issued Country<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select
                        [items]="listData.countryList"
                        placeholder="Please select"
                        bindLabel="name"
                        formControlName="passportIssuedCountry"
                        bindValue="code">
                      </ng-select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Passport Expiry Date<span class="text-danger">{{ " *" }}</span></label>
                      <input
                          class="form-control flatpickr-input"
                          type="text" mwlFlatpickr
                          [altInput]="true" formControlName="passportExpiryDate"
                          [convertModelValue]="true"
                        />
                    </div>
                  </div>
                  
                  <div class="row" *ngIf="registrationFormValues.residencyStatus === 'Non Omani with a Civil ID'">
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Attach Civil ID<span class="text-danger">{{ " *" }}</span></label>
                      <ngx-dropzone (change)="onSelect($event, 'civilIdFiles')" [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of civilIdFiles" [removable]="true" (removed)="onRemove(f, 'civilIdFiles')">
                        <ngx-dropzone-label >{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Attach Passport<span class="text-danger">{{ " *" }}</span></label>
                      <ngx-dropzone (change)="onSelect($event, 'passportFiles')" [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of passportFiles" [removable]="true" (removed)="onRemove(f, 'passportFiles')">
                        <ngx-dropzone-label >{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                    </div>
                  </div>

                  <div class="row" *ngIf="registrationFormValues.residencyStatus === 'Non Omani with no Civil ID'">
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Country of Nationality<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select
                        [items]="listData.countryList"
                        placeholder="Please select"
                        bindLabel="name"
                        formControlName="countryOfNationality"
                        bindValue="code">
                      </ng-select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Passport Number<span class="text-danger">{{ " *" }}</span></label>
                      <input type="text" class="form-control" formControlName="passportNumber">
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Passport Issued Country<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select
                        [items]="listData.countryList"
                        placeholder="Please select"
                        bindLabel="name"
                        formControlName="passportIssuedCountry"
                        bindValue="code">
                      </ng-select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Passport Expiry Date<span class="text-danger">{{ " *" }}</span></label>
                      <input
                          class="form-control flatpickr-input"
                          type="text" mwlFlatpickr
                          [altInput]="true" formControlName="passportExpiryDate"
                          [convertModelValue]="true"
                        />
                    </div>                    
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Attach Passport<span class="text-danger">{{ " *" }}</span></label>
                      <ngx-dropzone (change)="onSelect($event, 'passportFiles')" [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of passportFiles" [removable]="true" (removed)="onRemove(f, 'passportFiles')">
                        <ngx-dropzone-label >{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row mt-3">
                    <div class="col-md-3 mb-3">
                      <label class="form-label">First Name (English)<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="firstName" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Second Name (English)<span *ngIf="registrationFormValues.residencyStatus === 'Omani National'" class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="secondName" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Third Name (English)<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="thirdName" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Family Name (English)<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" formControlName="familyName" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Full Name (Arabic) - if applicable</label>
                      <input type="text" formControlName="fullNameInArabic" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Gender<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select [items]="['Male', 'Female']" formControlName="gender" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Nationality<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select [items]="listData.nationalities" formControlName="nationality"
                      bindLabel="name" bindValue="name" placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label" >Birthday<span class="text-danger">{{ " *" }}</span></label>
                      <input class="form-control flatpickr-input" type="text"
                        formControlName="birthDate" mwlFlatpickr [altInput]="true" [convertModelValue]="true"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Email Address<span class="text-danger">{{ " *" }}</span></label>
                      <input type="text" formControlName="email" class="form-control"/>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Contact Number<span class="text-danger">{{ " *" }}</span></label>
                      <ngx-intl-tel-input [cssClass]="'custom'" 
                      [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                      [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Oman"
                      [maxLength]="15" [phoneValidation]="true" [numberFormat]="PhoneNumberFormat.National" formControlName="contactNumber">
                    </ngx-intl-tel-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                        role="switch" id="flexSwitchCheckDefault" formControlName="isAssociatedWithOmsb"  (change)="onChange($event)"/>
                        <label class="form-check-label" for="flexSwitchCheckDefault"
                        >Are you associated with the OMSB organization?<span class="text-danger px-2">{{" * "}}</span></label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="registrationFormValues.isAssociatedWithOmsb === true">
                      <label class="form-label">Role<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="role" 
                        [items]="listData.role" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="registrationFormValues.isAssociatedWithOmsb === false">
                      <label class="form-label">Purpose<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="purpose" 
                        [items]="listData.purposes" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                  </div>
                  <div class="row" *ngIf="registrationFormValues.role === 'Staff'">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Department<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="department" 
                        [items]="listData.departments" 
                        bindLabel="name"
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="registrationFormValues.department?.sections !== null">
                      <label class="form-label">Section<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="section" 
                        [items]="registrationFormValues.department.sections" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Position
                        <span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="position" 
                        [items]="listData.positions" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="registrationFormValues.position === 'Other'">
                      <label class="form-label">If other, position
                        <span class="text-danger">{{ " *" }}</span></label>
                        <input class="form-control" formControlName="ifOtherPosition">
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="registrationFormValues.position === 'Program Administrator'">
                      <label class="form-label">Program
                        <span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="program" 
                        [items]="listData.programs" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                  </div>
                  <div class="row" *ngIf="registrationFormValues.role === 'Faculty'">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Program Type<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="programType" 
                        [items]="listData.programTypes" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Program Name<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="programName" 
                        [items]="programNames" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Role<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="facultyRole" 
                        [items]="listData.rolesOther" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                  </div>
                  <div class="row" *ngIf="registrationFormValues.role === 'Trainee'">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Program Type<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="programType" 
                        [items]="listData.programTypes" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Program Name<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="programName" 
                        [items]="programNames" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                  </div>
                  <div class="row" *ngIf="registrationFormValues.role === 'Subject Matter Expert'">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Department<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="department" 
                        [items]="listData.departments" 
                        bindLabel="name"
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="registrationFormValues.department?.sections !== null">
                      <label class="form-label">Section<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="section" 
                        [items]="registrationFormValues.department.sections" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Position
                        <span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="position" 
                        [items]="listData.positions" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="registrationFormValues.position === 'Other'">
                      <label class="form-label">If other, position
                        <span class="text-danger">{{ " *" }}</span></label>
                        <input class="form-control" formControlName="ifOtherPosition">
                    </div>
                  </div>
                  <div class="row" *ngIf="registrationFormValues.purpose === 'Join as a new Faculty/Education Committee member'">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Program Type<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="programType" 
                        [items]="listData.programTypes" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Program Name<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="programName" 
                        [items]="programNames" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Role in the program<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="roleInTheProgram" 
                        [items]="listData.rolesOther" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                  </div>
                  <div class="row" *ngIf="registrationFormValues.purpose === 'Join as Subject Matter Expert'">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Department<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="department" 
                        [items]="listData.departments" 
                        bindLabel="name"
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="registrationFormValues.department?.sections !== null">
                      <label class="form-label">Section<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="section" 
                        [items]="registrationFormValues.department.sections" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Position
                        <span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="position" 
                        [items]="listData.positions" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="registrationFormValues.position === 'Other'">
                      <label class="form-label">If other, position
                        <span class="text-danger">{{ " *" }}</span></label>
                        <input class="form-control" formControlName="ifOtherPosition">
                    </div>
                  </div>
                  <div class="row" *ngIf="registrationFormValues.purpose === 'Apply for verification of Certificates'">
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Dataflow Reference Number, if available<span class="text-danger">{{ " *" }}</span></label>
                      <input type="text" formControlName="dataFlowRef" class="form-control">
                    </div>
                  </div>
                  <div class="row" *ngIf="registrationFormValues.purpose === 'Join Interview or judging panel'">
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Purpose<span class="text-danger">{{ " *" }}</span></label>
                      <ng-select formControlName="purposeOther" 
                        [items]="listData.purposesOther" 
                        placeholder="Please select">
                      </ng-select>
                    </div>
                  </div>

                </div>
              </div>
              <div class="card" >
                <div class="card-body" formArrayName="employment" >
                  <div class="mt-3 d-flex flex-row justify-content-between">
                    <p class="h5">Employment</p>
                    <a
                      (click)="addEmployment()"
                      href="javascript:void(0);"
                      class="link-primary"
                      ><i class="ri-add-box-line"></i>Add more</a
                    >
                  </div>
                  <div class="mt-2 d-flex flex-column  p-3 bg-light"
                      *ngFor="let employer of employmentControls; let i = index"
                      [formGroupName]="i">
                      <div class="d-flex flex-row justify-content-end align-items-center">
                        <a (click)="onDeleteEmployment(i)" class="link-danger"
                          ><i class="ri-delete-bin-5-line"></i
                        ></a>
                      </div>
                      <div class="row">
                        <div class="col-md-4 mb-3">
                          <label class="form-label">Profession
                          <span class="text-danger">{{ " *" }}</span></label>
                          <ng-select
                            [items]="listData.professions"
                            placeholder="Please select"
                            formControlName="profession">
                          </ng-select>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="employmentControls[i].value.profession === 'Other'">
                          <label class="form-label">If Other, profession
                          <span class="text-danger">{{ " *" }}</span></label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="form-label">Primary specialty
                          <span class="text-danger">{{ " *" }}</span></label>
                          <ng-select
                            [items]="listData.primarySpecialty"
                            placeholder="Please select"
                            formControlName="primarySpecialty">
                          </ng-select>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="employmentControls[i].value.primarySpecialty === 'Other'">
                          <label class="form-label">If Other, Primary specialty
                          <span class="text-danger">{{ " *" }}</span></label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="form-label">Secondary specialty, if any<span class="text-danger">{{ " *" }}</span></label>
                          <ng-select
                            [items]="listData.primarySpecialty"
                            placeholder="Please select"
                            formControlName="secondarySpecialty">
                          </ng-select>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="employmentControls[i].value.secondarySpecialty === 'Other'">
                          <label class="form-label">If Other, Primary specialty
                          <span class="text-danger">{{ " *" }}</span></label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="form-label">Job title/designation<span class="text-danger">{{ " *" }}</span></label>
                          <ng-select
                            [items]="listData.jobDesignations"
                            placeholder="Please select"
                            formControlName="jobDesignation">
                          </ng-select>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="employmentControls[i].value.jobDesignation === 'Other'">
                          <label class="form-label">If Other, Job Title / designation
                          <span class="text-danger">{{ " *" }}</span></label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="form-label">Primary Workplace Sector Type <span class="text-danger">{{ " *" }}</span></label>
                          <ng-select
                            [items]="listData.primaryWorkPlaceSectors"
                            placeholder="Please select"
                            formControlName="primaryWorkPlaceSector">
                          </ng-select>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="employmentControls[i].value.primaryWorkPlaceSector === 'Other'">
                          <label class="form-label">If Other, Primary Workplace Sector Type<span class="text-danger">{{ " *" }}</span></label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="form-label">Primary Sector Name/Institution<span class="text-danger">{{ " *" }}</span></label>
                          <ng-select
                            [items]="listData.primarySectorNames"
                            placeholder="Please select"
                            formControlName="primarySectorName">
                          </ng-select>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="employmentControls[i].value.primarySectorName === 'Other'">
                          <label class="form-label">If Other, Primary Sector Name/Institution<span class="text-danger">{{ " *" }}</span></label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="form-label">Region/Location of Primary Workplace<span class="text-danger">{{ " *" }}</span></label>
                          <ng-select
                            [items]="listData.primaryWorkRegions"
                            placeholder="Please select"
                            formControlName="primaryWorkRegion">
                          </ng-select>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="employmentControls[i].value.primaryWorkRegion === 'Other'">
                          <label class="form-label">If Other, Region/Location of Primary Workplace<span class="text-danger">{{ " *" }}</span></label>
                          <input type="text" class="form-control">
                        </div>
                      </div>

                  </div>
                </div>
              </div>
              <div class="card" >
                <div class="card-body" formArrayName="education" >
                  <div class="mt-3 d-flex flex-row justify-content-between">
                    <p class="h5">Education</p>
                    <a
                      (click)="addEducation()"
                      href="javascript:void(0);"
                      class="link-primary"
                      ><i class="ri-add-box-line"></i>Add more</a
                    >
                  </div>
                  <div class="mt-2 d-flex flex-column  p-3 bg-light"
                      *ngFor="let schools of educationControls; let i = index"
                      [formGroupName]="i">
                      <div class="d-flex flex-row justify-content-end align-items-center">
                        <a (click)="onDeleteEducation(i)" class="link-danger"
                          ><i class="ri-delete-bin-5-line"></i
                        ></a>
                      </div>
                      <div class="row">
                        <div class="col-md-3 mb-3">
                          <label class="form-label">Qualification
                          <span class="text-danger">{{ " *" }}</span></label>
                          <ng-select
                            [items]="listData.qualifications"
                            placeholder="Please select"
                            bindLabel="name"
                            formControlName="qualification">
                          </ng-select>
                        </div>
                        <div class="col-md-3 mb-3" *ngIf="educationControls[i].value.qualification === 'Other'">
                          <label class="form-label">If other, qualification
                          <span class="text-danger">{{ " *" }}</span></label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                          <label class="form-label">Country of Institution<span class="text-danger">{{ " *" }}</span></label>
                          <ng-select
                            [items]="listData.countryList"
                            placeholder="Please select"
                            bindLabel="name"
                            formControlName="country"
                            bindValue="code">
                          </ng-select>
                        </div>
                        <div class="col-md-3 mb-3">
                          <label class="form-label">University/Institution
                          <span class="text-danger">{{ " *" }}</span></label>
                          <ng-select
                            [items]="listData.institution"
                            placeholder="Please select"
                            bindLabel="name"
                            formControlName="institution">
                          </ng-select>
                        </div>
                      </div>

                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 mb-3" *ngIf="!userDetailObject">
                      <label class="form-label">Attach your CV<span class="text-danger">{{ " *" }}</span></label>
                      <ngx-dropzone (change)="onSelect($event, 'nationalIdFiles')" [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of cvFiles" [removable]="true" (removed)="onRemove(f, 'cvFiles')">
                        <ngx-dropzone-label >{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="userDetailObject">
                      <label class="form-label">Download CV<span class="text-danger">{{ " *" }}</span></label>
                      <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="!userDetailObject">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Username<span class="text-danger">{{" *"}}</span></label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-12 mb-3">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                        role="switch" id="flexSwitchCheckDefault" />
                        <label class="form-check-label" for="flexSwitchCheckDefault"
                        >I agree to have my general information (name, specialty and workplace) presented in the OMSB Public Healthcare Professionals Directory.<span class="text-danger px-2">{{" * "}}</span></label>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                        role="switch" id="flexSwitchCheckDefault" />
                        <label class="form-check-label" for="flexSwitchCheckDefault"
                        >I declare that all of the information provided by me in this form is true and correct to the best of my knowledge.<span class="text-danger px-2">{{" * "}}</span></label>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <button class="btn btn-primary">Submit</button>
                  </div>                  
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
