<section class="section" id="footer">
    <div class="container">
        <div class="row ">
            <div class="col-lg-3">
                <p class="header">SOLUTION</p>
                <p class="link">Medical Imaging</p>
                <p class="link">Laboratory Diagnostics</p>
                <p class="link">Point-of-Care Testing</p>
                <p class="link">Digital Health Solutions</p>
                <p class="link">Services & Consulting</p>
            </div>
            <div class="col-lg-3">
                <p class="header">NEWS & INSIGHTS</p>
                <p class="link">All Insights</p>
                <p class="link">Blog</p>
                <p class="link">Featured Stories</p>
                <p class="link">Publications</p>
                <p class="link">Digitalizing Healthcare</p>
            </div>
            <div class="col-lg-3">
                <p class="header">EVENTS & TRAINING</p>
                <p class="link">All Events and training</p>
                <p class="link">Seminars</p>
                <p class="link">Conferences</p>
                <p class="link">Webinars</p>
                <p class="link">Training & workshops</p>
            </div>
            <div class="col-lg-3">
                <p class="header">ABOUT US</p>
                <p class="link">Our history</p>
                <p class="link">Leadership team</p>
                <p class="link">Contact us</p>
                <p class="link">Careers</p>
                <p class="link">Locations</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="d-flex flex-row justify-content-between">
                    <p class="link">Privacy Notice</p>
                    <p class="link">Terms & Conditions</p>
                    <p class="link">Cookie Preference</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex flex-row justify-content-center gap-5">
                    <a class="social_media_btn"><i class="ri-facebook-fill"></i></a>
                    <a class="social_media_btn"><i class="ri-twitter-line"></i></a>
                    <a class="social_media_btn"><i class="bx bxl-linkedin-square"></i></a>
                    <a class="social_media_btn"><i class="ri-instagram-line"></i></a>
                </div>
            </div>
        </div>
        
    </div>
</section>