<app-breadcrumbs title="Application" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/admission/supplementary-training')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="row mt-1 bg-light p-3">
    <div class="card ">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-end">
                        <button (click)="openModal(supplementaryTrainingApplication, 'xl')" type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3" ><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>Supplementary Training Application</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="applicationFormTemplate"></ng-container >
</div>

<ng-template #supplementaryTrainingApplication let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Supplementary Training Application Form</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <ng-container *ngTemplateOutlet="applicationFormTemplate"></ng-container>
                <div-d-flex class="flex-row">
                    <button class="btn btn-primary">Submit</button>
                </div-d-flex>
            </div>            
        </div>
    </div>
</ng-template>

<ng-template #applicationFormTemplate>
    <form [formGroup]="applicationForm" class="p-0">
        <div class="card">
            <div class="card-body">
                <p class="h5 mb-3">DEMOGRAPHIC INFORMATION SECTION</p>
                <div class="row">
                  <div class="col-md-2 mb-4" *ngIf="applicationFormValues.assessmentUploadLink != null">
                    <div class="user-thumb mb-2 d-flex flex-row" >
                      <img src="assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail avatar-lg" alt="thumbnail">

                    </div>
                  </div>
                  <div [ngClass]="{'col-md-4' : applicationFormValues.assessmentUploadLink === null, 'col-md-6' : applicationFormValues.assessmentUploadLink !== null}">
                      <div class="mb-3">
                        <label class="form-label">Name (As per passport)<span class="text-danger">{{" *"}}</span></label>
                        <input type="text" class="form-control" formControlName="name" />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Birthday<span class="text-danger">{{ " *" }}</span></label>
                        <input class="form-control flatpickr-input"
                          formControlName="birthday" type="text"
                          mwlFlatpickr [altInput]="true" [convertModelValue]="true"/>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-control-label" >Nationality<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select name="nationality"
                            formControlName="nationality" [items]="listData.nationalities" bindLabel="name" bindValue="code"
                            placeholder="Select your nationality">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">National ID No<span class="text-danger">{{ " *" }}</span></label>
                        <input type="text" class="form-control"
                          formControlName="nationalIDNo"/>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Passport No<span class="text-danger">{{ " *" }}</span></label>
                        <input type="text" class="form-control"
                          formControlName="passportNo"/>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Marital Status<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select
                          [items]="['Married','Unmarried']"
                          placeholder="Select your Marital Status"
                          bindLabel="name" formControlName="maritalStatus"
                          bindValue="value">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Permanent Address<span class="text-danger">{{ " *" }}</span></label>
                        <input type="text" class="form-control"
                          formControlName="permanentAddress"/>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Wilayat/Region<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select
                          [items]="listData.wilayatList"
                          placeholder="Select your Wilayat/Region"
                          bindLabel="name"
                          formControlName="wilayatOrRegion"
                          bindValue="value">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Mobile Number<span class="text-danger">{{ " *" }}</span></label>
                      <ngx-intl-tel-input [cssClass]="'custom'" 
                          [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                          [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Oman"
                          [maxLength]="15" [phoneValidation]="true" [numberFormat]="PhoneNumberFormat.National" formControlName="mobileNumber">
                      </ngx-intl-tel-input>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Name of Next of Kin (NOK)<span class="text-danger">{{" *"}}</span></label>
                        <input type="text" formControlName="nameNextKin"
                          class="form-control"/>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Contact No. of NOK<span class="text-danger">{{ " *" }}</span></label>
                      <ngx-intl-tel-input [cssClass]="'custom'" 
                          [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                          [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Oman"
                          [maxLength]="15" [phoneValidation]="true" [numberFormat]="PhoneNumberFormat.National" formControlName="contactNextKin">
                      </ngx-intl-tel-input>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Diseases / Disabilities<span class="text-danger">{{ " *" }}</span></label>
                        <textarea rows="2" formControlName="diseases" class="form-control"></textarea>
                    </div>
                  </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-control-label">Current Employment Status<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select
                            formControlName="isEmployed" [items]="['Employed', 'Unemployed']" 
                            placeholder="Select your employment Status">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-control-label">Name of Institution<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select
                            formControlName="nameOfInstitution" [items]="['Khoula Hospital', 'Al Nahdah Hospital', 'Armed Forces Hospital']"
                            placeholder="Select your Institution">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-control-label">Department<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select
                            formControlName="department" [items]="['ENT']"
                            placeholder="Select your Department">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-control-label">Current Position<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select
                            formControlName="currentPosition" [items]="['Trainee']"
                            placeholder="Select your current Position">
                        </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-control-label">Date of Joining OMSB</label>
                        <label class="form-control">2020-01-09</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-control-label">Date of Completion</label>
                        <label class="form-control">2021-10-15</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-control-label">One-year supplementary training (Program Name):</label>
                        <ng-select
                            formControlName="oneYearSupplementaryTraining" [items]="['Anesthesia']" 
                            placeholder="Select your Sponsorship">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Post Graduate Qualifications<span class="text-danger">{{ " *" }}</span></label>
                        <textarea rows="2" formControlName="postGraduateQualifications" class="form-control"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Post Graduate Training experience<span class="text-danger">{{ " *" }}</span></label>
                        <textarea rows="2" formControlName="postGraduateTrainingExperience" class="form-control"></textarea>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-control-label">Sponsorship<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select
                            formControlName="sponsorship" [items]="['MOH']" 
                            placeholder="Select your Sponsorship">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 mt-4">QUALIFICATION DATA SECTION</p>
                <div class="d-flex flex-row justify-content-between">
                  <p class="h5">1. Secondary School</p>
                  <a
                    (click)="addSecondarySchool()"
                    href="javascript:void(0);"
                    class="link-primary"
                    ><i class="ri-add-box-line"></i>Add more</a
                  >
                </div>
                <div formArrayName="secondarySchool">
                  <div
                    class="mt-2 d-flex flex-column  p-3 bg-light"
                    *ngFor="let schools of secondarySchoolControls; let i = index"
                    [formGroupName]="i"
                  >
                    <div class="d-flex flex-row justify-content-end align-items-center">
                      <a (click)="onDeleteSecondarySchool(i)" class="link-danger"
                        ><i class="ri-delete-bin-5-line"></i
                      ></a>
                    </div>
                    <div class="row ">
                      <div class="col-md-3">
                        <label class="form-label"
                          >School<span class="text-danger">{{ " *" }}</span></label
                        >
                        <input type="text" formControlName="school" class="form-control" />
                      </div>
                      <div class="col-md-3">
                        <label class="form-label"
                          >Start Date<span class="text-danger">{{ " *" }}</span></label
                        >
                        <input
                          class="form-control flatpickr-input"
                          type="text"
                          mwlFlatpickr
                          [altInput]="true"
                          formControlName="startDate"
                          [convertModelValue]="true"
                        />
                      </div>
                      <div class="col-md-3">
                        <label class="form-label"
                          >End Date<span class="text-danger">{{ " *" }}</span></label
                        >
                        <input
                          class="form-control flatpickr-input"
                          type="text"
                          formControlName="endDate"
                          mwlFlatpickr
                          [altInput]="true"
                          [convertModelValue]="true"
                        />
                      </div>
                      <div class="col-md-3">
                        <label class="form-label"
                          >Country<span class="text-danger">{{ " *" }}</span>
                        </label>
                        <ng-select
                          [items]="listData.countryList"
                          placeholder="Country"
                          bindLabel="name"
                          formControlName="country"
                          bindValue="code"
                        >
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mt-3 d-flex flex-row justify-content-between">
                    <p class="h5">2. BSc/Medical School</p>
                    <a
                      (click)="addMedicineSchool()"
                      href="javascript:void(0);"
                      class="link-primary"
                      ><i class="ri-add-box-line"></i>Add more</a
                    >
                  </div>
                  <div formArrayName="medicineSchool">
                    <div
                      class="mt-2 d-flex flex-column p-3  bg-light"
                      *ngFor="let schools of medicineSchoolControls; let i = index"
                      [formGroupName]="i"
                    >
                      <div class="d-flex flex-row justify-content-end align-items-center">
                        <a (click)="onDeleteMedicineSchool(i)" class="link-danger"
                          ><i class="ri-delete-bin-5-line"></i
                        ></a>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <label class="form-label"
                            >School<span class="text-danger">{{ " *" }}</span></label
                          >
                          <input type="text" formControlName="school" class="form-control" />
                        </div>
                        <div class="col-md-3">
                          <label class="form-label"
                            >Start Date<span class="text-danger">{{ " *" }}</span></label
                          >
                          <input
                            class="form-control flatpickr-input"
                            type="text"
                            mwlFlatpickr
                            [altInput]="true"
                            formControlName="startDate"
                            [convertModelValue]="true"
                          />
                        </div>
                        <div class="col-md-3">
                          <label class="form-label"
                            >End Date<span class="text-danger">{{ " *" }}</span></label
                          >
                          <input
                            class="form-control flatpickr-input"
                            type="text"
                            formControlName="endDate"
                            mwlFlatpickr
                            [altInput]="true"
                            [convertModelValue]="true"
                          />
                        </div>
                        <div class="col-md-3">
                          <label class="form-label"
                            >Country<span class="text-danger">{{ " *" }}</span>
                          </label>
                          <ng-select
                            [items]="listData.countryList"
                            placeholder="Country"
                            bindLabel="name"
                            formControlName="country"
                            bindValue="code"
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mt-3 d-flex flex-row justify-content-between">
                    <p class="h5">3. Clinical Electives</p>
                    <a
                      (click)="addClinicalElectives()"
                      href="javascript:void(0);"
                      class="link-primary"
                      ><i class="ri-add-box-line"></i>Add more</a
                    >
                  </div>
                  <div formArrayName="clinicalElectives">
                    <div
                      class="mt-2 d-flex flex-column p-3  bg-light"
                      *ngFor="let clinics of clinicalElectivesControls; let i = index"
                      [formGroupName]="i"
                    >
                      <div class="d-flex flex-row justify-content-end align-items-center">
                        <a (click)="onDeleteClinicalElectives(i)" class="link-danger"
                          ><i class="ri-delete-bin-5-line"></i
                        ></a>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label class="form-label"
                            >Department, Institution<span class="text-danger">{{
                              " *"
                            }}</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            formControlName="department"
                          />
                        </div>
                        <div class="col-md-4">
                          <label class="form-label"
                            >Date<span class="text-danger">{{ " *" }}</span></label
                          >
                          <input
                            class="form-control flatpickr-input"
                            type="text"
                            formControlName="date"
                            mwlFlatpickr
                            [altInput]="true"
                            [convertModelValue]="true"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 mt-3">4. The Basic Certificates Courses:</p>
                <div class="mt-2 d-flex flex-column p-3  bg-light">
                  <div class="row" formGroupName="certificateCourses">
                    <div class="col-md-6 d-flex flex-row">
                      <label class="form-label">BLS Certificate</label>
                      <div class="mb-3 mx-5">
                        <label class="form-label"
                          >Expiry Date<span class="text-danger">{{ " *" }}</span></label
                        >
                        <input
                          class="form-control flatpickr-input"
                          type="text"
                          mwlFlatpickr
                          formControlName="blsCertificateExpiry"
                          [altInput]="true"
                          [convertModelValue]="true"
                        />
                      </div>
                    </div>
                    <div class="col-md-6 d-flex flex-row">
                      <label class="form-label">ACLS Certificate</label>
                      <div class="mb-3 mx-5">
                        <label class="form-label"
                          >Expiry Date<span class="text-danger">{{ " *" }}</span></label
                        >
                        <input
                          class="form-control flatpickr-input"
                          type="text"
                          mwlFlatpickr
                          formControlName="aclsCertificateExpiry"
                          [altInput]="true"
                          [convertModelValue]="true"
                        />
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mt-3 d-flex flex-row justify-content-between">
                    <p class="h5">INTERNSHIP</p>
                    <a
                      (click)="addInternship()"
                      href="javascript:void(0);"
                      class="link-primary"
                      ><i class="ri-add-box-line"></i>Add more</a
                    >
                  </div>
                  <div formArrayName="internship">
                    <div
                      class="mt-2 d-flex flex-column p-3  bg-light"
                      *ngFor="let schools of internshipControls; let i = index"
                      [formGroupName]="i"
                    >
                      <div class="d-flex flex-row justify-content-end align-items-center">
                        <a (click)="onDeleteInternship(i)" class="link-danger"
                          ><i class="ri-delete-bin-5-line"></i
                        ></a>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <label class="form-label"
                            >Start Date<span class="text-danger">{{ " *" }}</span></label
                          >
                          <input
                            class="form-control flatpickr-input"
                            type="text"
                            mwlFlatpickr
                            [altInput]="true"
                            formControlName="startDate"
                            [convertModelValue]="true"
                          />
                        </div>
                        <div class="col-md-3">
                          <label class="form-label"
                            >End Date<span class="text-danger">{{ " *" }}</span></label
                          >
                          <input
                            class="form-control flatpickr-input"
                            type="text"
                            formControlName="endDate"
                            mwlFlatpickr
                            [altInput]="true"
                            [convertModelValue]="true"
                          />
                        </div>
                        <div class="col-md-3">
                          <label class="form-label"
                            >Institution of Internship<span class="text-danger">{{ " *" }}</span></label
                          >
                          <input
                            type="text"
                            formControlName="institution"
                            class="form-control"
                          />
                        </div>
                        <div class="col-md-3">
                          <label class="form-label"
                            >Country<span class="text-danger">{{ " *" }}</span>
                          </label>
                          <ng-select
                            [items]="listData.countryList"
                            placeholder="Country"
                            bindLabel="name"
                            formControlName="country"
                            bindValue="code"
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 mt-4">SCHOLARLY ACTIVITIES SECTION</p>
                <div class="mt-3 d-flex flex-row justify-content-between">
                    <p class="h5">1. Research</p>
                    <a
                      (click)="addResearch()"
                      href="javascript:void(0);"
                      class="link-primary"
                      ><i class="ri-add-box-line"></i>Add more</a
                    >
                </div>
                <div formArrayName="research">
                    <div class="mt-2 d-flex flex-column p-3  bg-light"
                    *ngFor="let schools of researchControls; let i = index"
                    [formGroupName]="i">
                        <div class="d-flex flex-row justify-content-end align-items-center">
                        <a (click)="onDeleteResearch(i)" class="link-danger"><i class="ri-delete-bin-5-line"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">Project Title<span class="text-danger">{{ " *" }}</span></label>
                                <input type="text" class="form-control" formControlName="projectTitle" />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Position<span class="text-danger">{{ " *" }}</span></label>
                                <input type="text" class="form-control" formControlName="position"/>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" >Inclusive Dates<span class="text-danger">{{ " *" }}</span></label>
                                <input
                                class="form-control flatpickr-input"
                                type="text"
                                mwlFlatpickr
                                [altInput]="true"
                                formControlName="inclusiveDates"
                                [convertModelValue]="true"
                                mode="range"/>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" >Institution<span class="text-danger">{{ " *" }}</span></label>
                                <input type="text" class="form-control" formControlName="institution"/>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" >Department<span class="text-danger">{{ " *" }}</span></label>
                                <input type="text" class="form-control" formControlName="department"/>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" >Mentor<span class="text-danger">{{ " *" }}</span></label>
                                <input type="text" class="form-control" formControlName="mentor"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 mt-3">2. Publications</p>
                <div class="mt-3 d-flex flex-column mt-2 p-3">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mb-3">
                        <label class="form-label"
                          >Last, First, Middle Initial of authors as listed in the paper.
                          Underline your name. Title of article, Journal, Publication date;
                          vol (issue): pages. (Should include abstracts).<span
                            class="text-danger"
                            >{{ " *" }}</span
                          >
                        </label>
                        <textarea type="text" formControlName="publications" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 mt-3">3. Presentations</p>
                <div class="mt-3 d-flex flex-column mt-2 p-3">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mb-3">
                        <label class="form-label"
                          >Name of Conference, Presentation title, (if ‘placed’, list here),
                          Date and Location
                          <span class="text-danger">{{ " *" }}</span>
                        </label>
                        <textarea type="text" formControlName="presentations"  class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 mt-3">4. Honors and Awards</p>
                <div class="mt-3 d-flex flex-column mt-2 p-3">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mb-3">
                        <label class="form-label"
                          >Award, Institution, Date Conferred<span class="text-danger">{{
                            " *"
                          }}</span></label
                        >
                        <textarea type="text" formControlName="honorsAndAwards" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mt-3 d-flex flex-row justify-content-between">
                    <p class="h5">4. Community Service/Volunteer Experience (Health-Related Fields)</p>
                    <a
                      (click)="addCommunityService()"
                      href="javascript:void(0);"
                      class="link-primary"
                      ><i class="ri-add-box-line"></i>Add more</a
                    >
                </div>
                <div formArrayName="communityService">
                    <div class="mt-2 d-flex flex-column p-3  bg-light"
                    *ngFor="let schools of addCommunityServiceControls; let i = index"
                    [formGroupName]="i">
                        <div class="d-flex flex-row justify-content-end align-items-center">
                        <a (click)="onDeleteCommunityService(i)" class="link-danger"><i class="ri-delete-bin-5-line"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label"
                                  >From Date<span class="text-danger">{{ " *" }}</span></label
                                >
                                <input
                                  class="form-control flatpickr-input"
                                  type="text"
                                  formControlName="fromDate"
                                  mwlFlatpickr
                                  [altInput]="true"
                                  [convertModelValue]="true"
                                />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label"
                                  >To Date<span class="text-danger">{{ " *" }}</span></label
                                >
                                <input
                                  class="form-control flatpickr-input"
                                  type="text"
                                  mwlFlatpickr
                                  formControlName="toDate"
                                  [altInput]="true"
                                  [convertModelValue]="true"
                                />
                            </div>
                            <div class="col-md-12 mt-3">
                                <textarea type="text" formControlName="description" class="form-control"></textarea>
              
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="applicationFormValues.assessmentUploadLink === null">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <p class="text-muted">Completion of training certificate from OMSB<span class="text-danger">{{ " *" }}</span>
                        </p>
                        <ngx-dropzone (change)="onSelect($event, 'filesAssessment')"
                        [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of filesAssessment"
                            [removable]="true" (removed)="onRemove(f, 'filesAssessment')">
                            <ngx-dropzone-label
                            >{{ f.name }} ({{
                                f.type
                            }})</ngx-dropzone-label
                            >
                        </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p class="text-muted">Photocopy of any results of entry exams, international exams or other postgraduate exams</p>
                        <ngx-dropzone (change)="onSelect($event, 'filesPersonalStatements')"
                        [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of filesPersonalStatements"
                            [removable]="true" (removed)="onRemove(f, 'filesPersonalStatements')">
                            <ngx-dropzone-label
                            >{{ f.name }} ({{
                                f.type
                            }})</ngx-dropzone-label
                            >
                        </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p class="text-muted">Approval documents from Sponsor<span class="text-danger">{{ " *" }}</span>
                        </p>
                        <ngx-dropzone (change)="onSelect($event, 'filesExams')"
                        [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of filesExams"
                            [removable]="true" (removed)="onRemove(f, 'filesExams')">
                            <ngx-dropzone-label
                            >{{ f.name }} ({{
                                f.type
                            }})</ngx-dropzone-label
                            >
                        </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p class="text-muted">Passport size photograph with blue background<span class="text-danger">{{ " *" }}</span>
                        </p>
                        <ngx-dropzone (change)="onSelect($event, 'filesPassportPhoto')"
                        [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of filesPassportPhoto"
                            [removable]="true" (removed)="onRemove(f, 'filesPassportPhoto')">
                            <ngx-dropzone-label
                            >{{ f.name }} ({{
                                f.type
                            }})</ngx-dropzone-label
                            >
                        </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p class="text-muted">Copy of valid (BLS) & (ACLS) Certificates<span class="text-danger">{{ " *" }}</span>
                        </p>
                        <ngx-dropzone (change)="onSelect($event, 'filesCertificates')"
                        [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of filesCertificates"
                            [removable]="true" (removed)="onRemove(f, 'filesCertificates')">
                            <ngx-dropzone-label
                            >{{ f.name }} ({{
                                f.type
                            }})</ngx-dropzone-label
                            >
                        </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="applicationFormValues.assessmentUploadLink != null">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <p class="text-muted">Completion of training certificate from OMSB 
                        </p>
                        <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p class="text-muted">Photocopy of any results of entry exams, international exams or other postgraduate exams
                        </p>
                        <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p class="text-muted">Approval documents from Sponsor
                        </p>
                        <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p class="text-muted">Passport size photograph with blue background<span class="text-danger">{{ " *" }}</span>
                        </p>
                        <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p class="text-muted">Copy of valid (BLS) & (ACLS) Certificates</p>
                        <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>