<div class="mt-3">
    <form [formGroup]="requestForm">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Exam Name<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select 
                        [items]="listData.userLists" bindLabel="labelValue" bindValue="name" placeholder="Please select">
                        </ng-select>                    
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Certificate Recipient<span class="text-danger">{{ " *" }}</span></label>
                        <div class="d-flex flex-row" >
                            <div class="form-check mx-3">
                              <input class="form-check-input"
                              formControlName="certificateRecipientType"  type="radio" id="radioCheck1" value="By Self">
                              <label for="radioCheck1">By Self</label>
                            </div>
                            <div class="form-check mx-3">
                              <input class="form-check-input" 
                              formControlName="certificateRecipientType" type="radio" id="radioCheck2"  value="By authorized recipient">
                              <label class="mx-2" for="radioCheck2">By authorized recipient</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="requestFormValues.certificateRecipientType === 'By authorized recipient'">
                        <label class="form-label">Please select authorized Recipient<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select
                        [items]="listData.userLists" bindLabel="labelValue" bindValue="name" placeholder="Please select">
                    </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body"  formArrayName="supportingDocuments">
                <div class="d-flex flex-row justify-content-end">
                    <a  (click)="addSupportingDocumentsArray()"
                    href="javascript:void(0);"
                    class="link-primary"
                    ><i class="ri-add-box-line"></i>Add more</a>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3 border shadow p-3" *ngFor="let document of supportingDocumentsArrayControls; let i = index"
                    [formGroupName]="i">
                        <div  class="d-flex flex-row justify-content-end align-items-center">
                            <a (click)="onDeleteSupportingDocumentsArray(i)" class="link-danger"><i class="ri-delete-bin-5-line"></i></a>
                        </div>
                        <label class="form-label">Title<span class="text-danger">{{ " *" }}</span></label>
                        <input type="text" class="form-control" formControlName="title">
                        <p class="text-muted">Supporting Documents.<span class="text-danger">{{ " *" }}</span>
                        </p>
                        <ngx-dropzone (change)="onSelect($event, 'filesSupportingDocuments')"
                        [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of filesSupportingDocuments"
                            [removable]="true" (removed)="onRemove(f, 'filesSupportingDocuments')">
                            <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 mb-3">
                    <label class="form-label">Reason for Request<span class="text-danger">{{ " *" }}</span></label>
                    <textarea rows="2" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>