<section class="section p-0">
    <div class="container-fluid px-5">
      <div class="row">
        <div class="profile-foreground position-relative">
          <div class="profile-wid-bg">
            <img
              src="assets/images/profile-bg.jpg"
              alt=""
              class="profile-wid-img"
            />
          </div>
        </div>
        <div class="row g-2 px-3">
          <div class="col-md-1 mx-1">
            <div class="avatar-lg">
              <img
                src="assets/images/users/avatar-1.jpg"
                alt="user-img"
                class="img-thumbnail rounded-circle"
              />
            </div>
          </div>
          <!--end col-->
          <div class="col-auto mt-3 mb-2">
            <div class="mb-1 d-flex flex-row">
              <label class="form-label text-white mx-3">Abbas Al Ajmi</label>
              <label class="form-label text-white mx-3">عباس أل أجمع</label>
            </div>
            <div class="d-flex flex-column">
              <label class="form-label text-white mx-3"
                ><i class="mx-2 ri-smartphone-line"></i>+96813255618</label
              >
              <label class="form-label text-white mx-3"
                ><i class="mx-2 ri-mail-line"></i>ajmi@gmail..com</label
              >
            </div>
          </div>
  
          <!--end col-->
        </div>
      </div>
  
      <div class="row px-5 justify-content-center">
        <div class="col-lg-11">
          <div>
            <div class="d-flex">
              <!-- Nav tabs -->
              <ul
                ngbNav
                #customNav="ngbNav"
                [activeId]="1"
                class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1"
                role="tablist"
              >
                <li [ngbNavItem]="1" class="nav-item">
                  <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                    <i class="ri-airplay-fill d-inline-block d-md-none"></i>
                    <span class="d-none d-md-inline-block">Application Forms</span>
                  </a>
                  <ng-template ngbNavContent>
                    <div class="card bg-light">
                      <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-12 mb-3">
                                <div class="card card-animate shadow" >
                                    <div class="card-body py-2">  
                                            <div class="row justify-content-center">
                                                <div class="col-md-8 col-sm-8 col-8">
                                                    <div class="flex flex-column">
                                                      <div >
                                                          <p class="fs-17 ">Application for Residency Program</p>
                                                      </div>
                                                    </div>
                                                    <div >
                                                      <a (click)="onNavigate('home/application-forms/residency-program')" class="btn btn-success">Application Form</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-4 p-0">
                                                    <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                                     
                                    </div> <!-- end card-body-->
                                </div>
                            </div>
                            <div class="col-md-4 col-12 mb-3">
                                <div class="card card-animate shadow" >
                                    <div class="card-body py-2">  
                                            <div class="row justify-content-center">
                                                <div class="col-md-8 col-sm-8 col-8">
                                                    <div class="flex flex-column">
                                                      <div >
                                                          <p class="fs-17 ">Application for GFP </p>
                                                      </div>
                                                      <div >
                                                        <a (click)="onNavigate('')" class="btn btn-success">Application Form</a>
                                                      </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-4 p-0">
                                                    <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                                     
                                    </div> <!-- end card-body-->
                                </div>
                            </div>
                            <div class="col-md-4 col-12 mb-3">
                                <div class="card card-animate shadow">
                                    <div class="card-body py-2">  
                                            <div class="row justify-content-center">
                                                <div class="col-md-8 col-sm-8 col-8">
                                                    <div class="flex flex-column">
                                                      <div >
                                                          <p class="fs-17 ">Application for Fellowship</p>
                                                      </div>
                                                      <div >
                                                        <a (click)="onNavigate('')" class="btn btn-success">Application Form</a>
                                                      </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-4 p-0">
                                                    <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                                     
                                    </div> <!-- end card-body-->
                                </div>
                            </div>
                            <div class="col-md-4 col-12 mb-3">
                                <div class="card card-animate shadow">
                                    <div class="card-body py-2">  
                                            <div class="row justify-content-center">
                                                <div class="col-md-8 col-sm-8 col-8">
                                                    <div class="flex flex-column">
                                                      <div >
                                                          <p class="fs-17 ">Application for Scholarship</p>
                                                      </div>
                                                      <div >
                                                        <a (click)="onNavigate('home/application-forms/scholarship-program-form')" class="btn btn-success">Application Form</a>
                                                      </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-4 p-0">
                                                    <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                                     
                                    </div> <!-- end card-body-->
                                </div>
                            </div>
                            <div class="col-md-4 col-12 mb-3">
                                <div class="card card-animate shadow" (click)="onNavigate('/home/application-forms/simulation-course-form')" >
                                    <div class="card-body py-2">  
                                            <div class="row justify-content-center">
                                                <div class="col-md-8 col-sm-8 col-8">
                                                    <div class="flex flex-column">
                                                      <div >
                                                          <p class="fs-17 ">Application for Simulation Courses</p>
                                                      </div>
                                                      <div >
                                                        <a (click)="onNavigate('/home/application-forms/simulation-course-form')" class="btn btn-success">Application Form</a>
                                                      </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-4 p-0">
                                                    <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                                     
                                    </div> <!-- end card-body-->
                                </div>
                            </div>
                            <div class="col-md-4 col-12 mb-3">
                                <div class="card card-animate shadow" (click)="onNavigate('/home/application-forms/research-ethical-approval-form')">
                                    <div class="card-body py-2">  
                                            <div class="row justify-content-center">
                                                <div class="col-md-8 col-sm-8 col-8">
                                                    <div class="flex flex-column">
                                                      <div >
                                                          <p class="fs-17 ">Research - Ethical Approval</p>
                                                      </div>
                                                      <div >
                                                        <a (click)="onNavigate('/home/application-forms/research-ethical-approval-form')" class="btn btn-success">Application Form</a>
                                                      </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-4 p-0">
                                                    <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                                     
                                    </div> <!-- end card-body-->
                                </div>
                            </div>
                            <div class="col-md-4 col-12 mb-3">
                                <div class="card card-animate shadow" (click)="onNavigate('/home/application-forms/research-funding-opportunities-form')">
                                    <div class="card-body py-2">  
                                            <div class="row justify-content-center">
                                                <div class="col-md-8 col-sm-8 col-8">
                                                    <div class="flex flex-column">
                                                      <div >
                                                          <p class="fs-17 mb-1 ">Research - Funding opportunities</p>
                                                          <p class="fs-11 mb-1 text-muted">Funding opportunities by another funder other than MoHERI</p>
                                                      </div>
                                                      <div>
                                                        <a (click)="onNavigate('/home/application-forms/research-funding-opportunities-form')" class="btn btn-success">Application Form</a>
                                                      </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-4 p-0">
                                                    <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                                     
                                    </div> <!-- end card-body-->
                                </div>
                            </div>
                            <div class="col-md-4 col-12 mb-3">
                                <div class="card card-animate shadow" (click)="onNavigate('/home/application-forms/research-consultation-request-form')">
                                    <div class="card-body py-2">  
                                            <div class="row justify-content-center">
                                                <div class="col-md-8 col-sm-8 col-8">
                                                    <div class="flex flex-column">
                                                      <div >
                                                          <p class="fs-17 ">Research - Consultation Request</p>
                                                      </div>
                                                      <div >
                                                        <a (click)="onNavigate('/home/application-forms/research-consultation-request-form')" class="btn btn-success">Application Form</a>
                                                      </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-4 p-0">
                                                    <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                                     
                                    </div> <!-- end card-body-->
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2" class="nav-item">
                  <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                    <i class="ri-list-unordered d-inline-block d-md-none"></i>
                    <span class="d-none d-md-inline-block">Personal Details</span>
                  </a>
                  <ng-template ngbNavContent>
                    <app-register [userDetails]="userDetails"></app-register>                    
                  </ng-template>
                </li>
              </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content pt-4 text-muted">
              <div [ngbNavOutlet]="customNav"></div>
            </div>
            <!--end tab-content-->
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
</section>