.section {
    background-color: rgb(237, 237, 237) !important;
}
.shadow {
    -webkit-box-shadow: 5px 5px 13px 11px rgba(169,169,169,0.3) !important; 
    box-shadow: 5px 5px 13px 11px rgba(169,169,169,0.3) !important;
}

.card-animate {
    height: 100%!important;
}

.card.card-animate:hover {
    cursor: pointer !important;
}