<div class="row mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row" [ngClass]="userRole != 'trainee@omsb.org' ? 'justify-content-between' : 'justify-content-end'">
                        <div class="d-flex flex-row w-25" *ngIf="userRole != 'trainee@omsb.org'" >
                            <ng-select [(ngModel)]="selectedUser" (change)="onChangeUser($event)"  class="w-100"
                                [items]="['Admin', 'Team User', 'Team Chair', 'SDS User']" placeholder="Please select User Role">
                            </ng-select>
                        </div>
                        <div class="d-flex flex-row justify-content-end gap-3 mb-3" >
                            <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                            <button *ngIf="userRole != 'trainee@omsb.org'" (click)="openModal(addNewCourse, 'xl')" type="button" class="btn btn-primary btn-label waves-effect waves-light" ><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>New Course</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Course Name<span class="text-danger"></span></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Course Ref No	<span class="text-danger"></span></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Status<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="d-flex flex-row">
                    <button class="btn btn-primary my-2">Filter</button>
                </div>
            </div>
            <div class="row" *ngIf="userRole === 'eportal@omsb.org'">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">Course Ref No</th>
                                    <th scope="col">Course Version</th>
                                    <th scope="col">Course PPT</th>
                                    <th scope="col">Team Qarar</th>
                                    <th *ngIf="selectedUser === 'Team User' || selectedUser === 'Team Chair' || selectedUser === 'SDS User'" scope="col">Comments</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let course of tableData">
                                    <td>{{course.courseName}}</td>
                                    <td>{{course.courseReferenceNumber}}</td>
                                    <td>{{course.courseVersion}}</td>
                                    <td>
                                        <button type="button" class="mx-3 btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                    </td>
                                    <td>
                                        <button type="button" class="mx-3 btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                    </td>
                                    <td *ngIf="selectedUser === 'Team User' || selectedUser === 'Team Chair' || selectedUser === 'SDS User'">
                                        <a  class="mgLink" (click)="setSelectedComments(course); openModal(courseCommentsView, 'lg')" >
                                            {{course?.comments === undefined ? '0' : course?.comments.length }}
                                        </a>
                                    </td>
                                    <td (click)="openModal(courseStatus, 'md'); setCourse(course)" style="cursor: pointer; color: rgb(3, 3, 147)">{{course.status}}</td> 
                                    <td>
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <!-- Admin -->
                                                <li (click)="setCourse(course); openModal(viewNewCourse, 'xl')">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View</a>
                                                </li>
                                                <li *ngIf="selectedUser === 'Admin' && course.status === 'Draft'" (click)="setCourse(course); openModal(editNewCourse, 'xl')">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-edit-line"></i>Edit</a>
                                                </li>
                                                <li *ngIf="selectedUser === 'Admin' && course.status === 'Draft'">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-group-2-line"></i>Assign to Team</a>
                                                </li>
                                                <li *ngIf="selectedUser === 'Admin' && course.status === 'Approved'">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-newspaper-line"></i>Publish</a>
                                                </li>
                                                <li (click)="setCourse(course); openModal(createNewVersion, 'xl')" *ngIf="selectedUser === 'Admin' && course.status === 'Published'">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-file-copy-2-line"></i>Create New Version</a>
                                                </li>

                                                <!-- Team User -->
                                                <li (click)="setSelectedComments(course); openModal(courseCommentsView, 'lg')" *ngIf="selectedUser === 'Team User' || selectedUser === 'Team Chair' || selectedUser === 'SDS User'">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-file-copy-2-line"></i>Add Comments</a>
                                                </li>

                                                <!-- Team Chair -->
                                                <li *ngIf="selectedUser === 'Team Chair' && course.status === 'With Review Team'" (click)="setCourse(course); openModal(editByChair, 'xl')">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-edit-line"></i>Edit</a>
                                                </li>
                                                <li *ngIf="selectedUser === 'Team Chair' && course.status === 'With Review Team'">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-mail-send-line"></i>Send to SDS</a>
                                                </li>
                                                <li *ngIf="selectedUser === 'Team Chair' && course.status === 'With Review Team'">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-check-double-fill"></i>Approve</a>
                                                </li>

                                                <!-- SDS User -->
                                                <li *ngIf="selectedUser === 'SDS User' && course.status === 'With Review Team'" (click)="setCourse(course); openModal(editByChair, 'xl')">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-edit-line"></i>Edit</a>
                                                </li>
                                                <li *ngIf="selectedUser === 'SDS User' && course.status === 'With SDS'">
                                                    <a class="dropdown-item" ><i class="mx-1 ri-mail-send-line"></i>Send to Review Team</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                             
                </div>
            </div>
            <div class="row" *ngIf="userRole === 'trainee@omsb.org'">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">Course Description</th>
                                    <th scope="col">Course Ref No</th>
                                    <th scope="col">Course Version</th>
                                    <th scope="col">Course PPT</th>
                                    <th scope="col">Completion Certificate</th>
                                    <th scope="col">Completion Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let course of tableData">
                                    <td>{{course.courseName}}</td>
                                    <td>{{course.courseDescription}}</td>
                                    <td>{{course.courseReferenceNumber}}</td>
                                    <td>{{course.courseVersion}}</td>
                                    <td>
                                        <button type="button" class="mx-3 btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                    </td>
                                    <td>
                                        <button type="button" class="mx-3 btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                    </td>
                                    <td>{{course.completedVersion}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addNewCourse let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">New Course</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-professional-competiency-create-course></app-professional-competiency-create-course>
            <div class="d-flex flex-row">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #viewNewCourse let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">View Course</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-professional-competiency-create-course [courseObject]="selectedCourse"  ></app-professional-competiency-create-course>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #editNewCourse let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Edit Course</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-professional-competiency-create-course [courseObject]="selectedCourse" [isEditable]="true" ></app-professional-competiency-create-course>
            <div class="d-flex flex-row">
                <button class="btn btn-primary">Update</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #editByChair let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Edit Course</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-professional-competiency-create-course [courseObject]="selectedCourse" [isEditable]="true" [isUploadOnly]="true"></app-professional-competiency-create-course>
            <div class="d-flex flex-row">
                <button class="btn btn-primary">Update</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #createNewVersion let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Create New Version</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-professional-competiency-create-course [courseObject]="selectedCourse" [isEditable]="true" [isCreateNewVersion]="true" ></app-professional-competiency-create-course>
            <div class="d-flex flex-row">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #courseStatus let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Course Status Tracker</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <ngx-simplebar class="p-3" style="max-height: 364px;">
                    <div class="acitivity-timeline acitivity-main">
                        <div class="acitivity-item d-flex mb-3" *ngFor="let stage of selectedCourse.applicationStatus; let i = index">
                            <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                <div class="avatar-title text-light rounded-circle " [ngClass]="stage.status === 'Pending' ? 'bg-warning' : 'bg-success' ">
                                    <i [ngClass]="stage.status === 'Pending' ? 'ri-loader-2-fill' : 'ri-check-double-line' "></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1">{{stage.stage}}</h6>
                                <p class="h7 mb-1">{{stage.name}}</p>
                                <span class="badge rounded-pill"
                                    [ngClass]="stage.status === 'Awaiting Approval' ? 'badge-soft-secondary' : 'badge-soft-success' "
                                >{{stage.status}}</span>
                                <br>
                                <small class="my-3 text-muted">{{"Date : "}}{{stage.date === '' ? 'N/A' : stage.date}}</small>
                                <br>
                                <small class="my-3 text-muted">{{"By : "}}{{stage.by === '' ? 'N/A' : stage.by}}</small>
                            </div>
                        </div>
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #courseCommentsView let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Course Comments</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="card" *ngIf="selectedComments.length === 0">
                <div class="card-body">         
                    <div class="mt-3 text-center">
                        <p class="h6 text-warning">No comments available!</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="mt-3 border shadow" *ngIf="selectedComments.length !== 0">
                        <ngx-simplebar style="max-height: 350px;">
                            <ul class="list-group list-group-flush border-dashed px-3">
                                <li class="list-group-item ps-0" *ngFor="let comment of selectedComments">
                                    <div class="d-flex flex-row justify-content-between">
                                        <div class="d-flex flex-row align-items-end">
                                            <p class="h6 text-primary">{{"Created On : "}}</p>
                                            <p class="h6 text-muted mx-3">{{comment.createdOn}}</p>
                                        </div>
                                        <div class="d-flex flex-row align-items-end">
                                            <p class="h6 text-primary">{{"Created By : "}}</p>
                                            <p class="h6 text-muted mx-3">{{comment.createdBy}}</p>
                                        </div>
                                    </div>
                                    <label class="form-control my-1">{{comment.comments}}</label>
                                    <div class="d-flex flex-column mt-2">
                                        <p class="h6 text-primary">{{"Assigned To : "}}</p>
                                        <ng-select [items]="listData.userLists" [multiple]="true"
                                            bindLabel="labelValue" [ngModel]="comment.assignedTo"
                                            placeholder="Please select">
                                        </ng-select>
                                    </div>
                                </li>
                            </ul><!-- end ul -->
                        </ngx-simplebar>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-md-12 mb-1">
                            <label class="form-label">Comment</label>
                            <textarea rows="2" class="form-control"></textarea>
                        </div>
                        <div class="col-md-12 mb-1">
                            <p class="text-muted">Upload your attachments<span class="text-danger">{{ " *" }}</span></p>
                            <ngx-dropzone (change)="onSelect($event, 'supportingFiles')"
                            [multiple]="false">
                                <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of supportingFiles"
                                    [removable]="true" (removed)="onRemove(f, 'supportingFiles')">
                                    <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>
                        <div class="col-md-12 mb-1">
                            <label class="form-label">Assigned To</label>
                            <ng-select [items]="listData.userLists" [multiple]="true"
                                bindLabel="labelValue" bindValue="name" 
                                placeholder="Please select">
                                </ng-select>
                        </div>
                        <div class="d-flex flex-row my-2">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
