<app-breadcrumbs title="View Applications" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/simulation/course')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="row mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="d-flex flex-row justify-content-end gap-3">
                        <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Applicant Name</label>
                    <ng-select [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Course Name</label>
                    <ng-select [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Course Name</label>
                    <ng-select [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Status</label>
                    <ng-select [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Request Date Range</label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                          [convertModelValue]="true" mode="range">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Course Date Range</label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                          [convertModelValue]="true" mode="range">
                </div>
            </div>

            <div class="row">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Civil ID</th>
                                    <th scope="col">Applicant Name</th>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Contact No</th>
                                    <th scope="col">Email ID</th>
                                    <th scope="col">Request Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <thead>
                                <tr *ngFor="let application of listData.applicationList">
                                    <td>{{application.civilID}}</td>
                                    <td>{{application.applicantName}}</td>
                                    <td>{{application.courseName}}</td>
                                    <td>{{application.startDate}}</td>
                                    <td>{{application.endDate}}</td>                                
                                    <td>{{application.contactNo}}</td>                                
                                    <td>{{application.emailID}}</td>                                
                                    <td>{{application.requestDate}}</td>                                
                                    <td>

                                        <span class="badge" [ngClass]="{'badge-outline-secondary' : application.status === 'Pending Payment', 'badge-outline-success' : application.status === 'Paid', 'badge-outline-warning' : application.status === 'Waiting List'}">{{application.status}}</span>
                                    </td>                                
                                    <td>
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <li (click)="setApplication(application); openModal(viewApplication, 'xl')"><a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View</a></li>
                                                <li *ngIf="application.status === 'Pending Payment'"><a class="dropdown-item" ><i class="mx-1 ri-secure-payment-line"></i>Update Payment Details</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>


                            </thead>
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #viewApplication let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">View Application</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="card shadow border">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Civil ID</label>
                                <label class="form-control">{{selectedApplication.civilID}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Applicant Name</label>
                                <label class="form-control">{{selectedApplication.applicantName}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Request Date</label>
                                <label class="form-control">{{selectedApplication.requestDate}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Contact Number</label>
                                <label class="form-control">{{selectedApplication.contactNo}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Email</label>
                                <label class="form-control">{{selectedApplication.emailID}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Status</label>
                                <label class="form-control">{{selectedApplication.status}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow border">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Course Name</label>
                                <label class="form-control">{{selectedApplication.courseName}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Course Type</label>
                                <label class="form-control">{{selectedApplication.courseType}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Course Code</label>
                                <label class="form-control">{{selectedApplication.courseCode}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Start Date</label>
                                <label class="form-control">{{selectedApplication.startDate}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">End Date</label>
                                <label class="form-control">{{selectedApplication.endDate}}</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card shadow border">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label class="form-label">Pre-Requisite Course</label>
                                <label class="form-control">{{selectedApplication.preRequisiteCourse}}</label>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">Course Duration (in Days)</label>
                                <label class="form-control">{{selectedApplication.courseDuration}}</label>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">Course Provider</label>
                                <label class="form-control">{{selectedApplication.courseProvider}}</label>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label">Evaluation Form</label>
                                <label class="form-control">{{selectedApplication.evaluationForm}}</label>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Description</label>
                                <span class="form-control" [innerHTML]="selectedApplication.courseDescription" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow border">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Terms And Condition</label>
                                <span class="form-control" [innerHTML]="selectedApplication.termsAndConditions" class="form-control"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</ng-template>
