.table_block thead, thead {
    text-align: center !important;
}

.table_block table td, 
.table_block table td, 
.table_block table th {
    border: 2px solid rgb(196, 196, 196) !important;
}

.table_block table td {
    font-size: 0.6125rem !important;
    padding: 0 !important;
    word-wrap: break-word !important;
    min-width: 100px !important;
}
.table_block table th {
    font-weight: 600 !important;
    font-size: 0.85rem !important;
}
.table_block table th, table tr {
    padding: 2px 8px !important;
}
.table_block table {
    width: 100% !important;
}

.table_block .th_title {
    width: 150px !important;
    text-align: start !important;
}

.hover-area {
    position: absolute !important; right: 0px !important;
    width: 300px !important;
    height: 100% !important;
    z-index: 9999999 !important;
    cursor: pointer !important;
    overflow: hidden !important;
    //background-color: #a6a6a66b;
}
.hover-area {
    width: 120px !important;
    height: 100% !important;
    z-index: 9999999 !important;
}
#scroll-left, #scroll-right {
    display: none !important;
}
.hover-area:hover #scroll-left, .hover-area:hover #scroll-right {
    display: block !important;
}
.hover-area:hover {
    background-color: #8685856b;
}
.live-preview {
    display: flex !important;
    flex-direction: column !important;
}
.table_block .span-box {
    width: 60px !important;
    overflow: hidden !important;
} 
.table_block .span-box-dot {
    margin-right: 5px !important;
} 
.table_block .span-box:hover {
    width: 100% !important;
} 
.table_block .span-box:hover + .span-box-dot {
    display: none !important;
} 

//table summary css 
.table_summary table {
    table-layout: auto;
    font-size: 0.9125rem;
}

.table_summary th {
    text-align: start !important;
    padding: 5px !important;
}
.table_summary td {
    text-align: center !important;
    padding: 5px !important;
}
.table_summary table, 
.table_summary table td, 
.table_summary table td, 
.table_summary table th {
    border: 2px solid rgb(196, 196, 196) !important;
}

.live-preview .heading {
    border: 2px solid rgb(196, 196, 196) !important;
    border-bottom: 0px !important;
}

//table summary css End 

.btn-custom {
    padding: 5px 5px !important;
    margin-right: 10px !important;
    color: rgb(99, 99, 99) !important;
    transition: 0.6s;
}
.btn-custom i {
    font-size: 1.3rem !important;
}

.btn-custom:hover {
    color: black;
    transition: 0.6s;
}


td .dropdown-menu-down {
    right: auto !important;
    //bottom:100% !important; top:auto !important;
}
td .dropdown-menu-up {
    right: auto !important;
    bottom:100% !important; 
    top:auto !important;
}

.dropdown-item {
    padding: 0.05rem 1.2rem !important;
}

.table-responsive .dropdown-menu {
    //position: absolute !important;
    z-index: 8888 !important;
    //transform: translate3d(5px, 35px, 0px)!important;
}


.progress_td {
    padding: 5px 5px !important;
}

.block_box {
    width: 100% !important;
    overflow: hidden !important;
    height: 45px!important;
    font-size: 0.8325rem  !important;
    cursor: pointer !important;
    background-color: white !important;
}

.block_box .block_name {
    height: 45px !important;
    background-color: white !important;
    transition: .8s;
    font-weight: 600 !important;
    line-height: 45px;
    text-align: center;
}

.block_box .block_date {
    height: 45px !important;
    background-color: white !important;
    transition: .8s;
    line-height: 45px;
    text-align: center;
}
.block_box:hover .block_date {
    transition: .8s;
    transform: translateY(-45px);
}

.arrow-none:hover {
    color: white !important;
}

.progress_td .card-body {
    display: none !important;
}

.progress_td:hover .card-body {
    display: block !important;
}
.card {
    border-radius: 0.65rem !important;
}
.card-header:first-child {
    border-radius: 0.65rem 0.65rem 0 0;
}
.card-header {
    border-bottom: none !important;
}

