<div class="mt-3">
    <div class="row">
        <div class="col-md-4 mb-3" *ngIf="selectedUser !== 'PD'">
            <label class="form-label">Program Name</label>
            <ng-select [items]="['Anesthesia', 'ENT']" placeholder="Please select">
            </ng-select>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Trainee</label>
            <ng-select [items]="listData.userLists" placeholder="Please select" bindLabel="labelValue" bindValue="name">
            </ng-select>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Reason for Termination</label>
            <ng-select [items]="[]" placeholder="Please select">
            </ng-select>
        </div>
        <div class="col-md-12 mb-3"  *ngIf="selectedUser === 'PD'">
            <label class="form-label">Comments from the Program Director</label>
            <textarea rows="2" class="form-control"></textarea>
        </div>
        <div class="col-md-12 mb-3"  *ngIf="selectedUser === 'TAFUS'">
            <label class="form-label">Comments from Trainee Affairs</label>
            <textarea rows="2" class="form-control"></textarea>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Trainee informed about the termination?</label>
            <div class="d-flex flex-row">
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="radioCheckButton1" name="radioCheck1"  value="yes">
                  <label class="form-check-label" for="radioCheckButton3">Yes</label>
                </div>
                <div class="form-check mx-4">
                  <input class="form-check-input" type="radio" id="radioCheckButton2" name="radioCheck1" value="no">
                  <label class="form-check-label" for="radioCheckButton4">No</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Sponsor informed about the termination?</label>
            <div class="d-flex flex-row">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="radioCheckButton3" name="radioCheck2"  value="yes">
                    <label class="form-check-label" for="radioCheckButton3">Yes</label>
                  </div>
                  <div class="form-check mx-4">
                    <input class="form-check-input" type="radio" id="radioCheckButton4" name="radioCheck2" value="no">
                    <label class="form-check-label" for="radioCheckButton4">No</label>
                  </div>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <p class="text-muted">
                Attachments supporting the decision	<span
              class="text-danger">{{ " *" }}</span>
            </p>
            <input type="hidden" formControlName="nationIdLink">
            <ngx-dropzone (change)="onSelect($event, 'supportingDocs')" [multiple]="false">
              <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
              <ngx-dropzone-preview
              *ngFor="let f of supportingDocs"
              [removable]="true"
              (removed)="onRemove(f, 'supportingDocs')">
              <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
    </div>
</div>