
<div class="card">
    <div class=card-body>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Proposed Program Name</label>
                <label class="form-control">Program Name - 1</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Proposed Program Director</label>
                <label class="form-control">Al Abri Falsal</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Type of Training Program</label>
                <label class="form-control">Residency</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Classification</label>
                <label class="form-control">Medical</label>
            </div>
            <!-- <div class="col-md-4 mb-3" >
                <label class="form-label">If Other Classification, please specify</label>
                <input type="text" class="form-control">
            </div> -->
            <div class="col-md-4 mb-3">
                <label class="form-label">Program Duration (in years)</label>
                <label class="form-control">4</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Proposed Primary Hospital (choose only one)</label>
                <label class="form-control">Sultan Qaboos University Hospital</label>
            </div>
            <!-- <div class="col-md-4 mb-3" >
                <label class="form-label">If Other Primary Hospital, please specify</label>
                <input type="text" class="form-control">
            </div> -->
            <div class="col-md-4 mb-3">
                <label class="form-label">Proposed Participating Sites (choose all that apply)</label>
                <label class="form-control">Khoula Hospital', 'Al Nahdah Hospital', 'Al Massara Hospital'</label>
            </div>
            <!-- <div class="col-md-4 mb-3">
                <label class="form-label">If Other Proposed Participating Sites, please specify</label>
                <input type="text" class="form-control">
            </div> -->
            <div class="col-md-4 mb-3">
                <label class="form-label">Proposed Intake per year</label>
                <label class="form-control">500</label>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class=card-body>
        <div class="row">
            <p class="h5 text-primary">Recruitment/Eligibility</p>
            <div class="col-md-4 mb-3">
                <label class="form-label">Applicant Eligibility</label>
                <label class="form-control">MD or MBBCh</label>
            </div>
            <!-- <div class="col-md-4 mb-3" >
                <label class="form-label">If Other Applicant Eligibility, please specify</label>
                <input type="text" class="form-control">
            </div> -->
        </div>
    </div>
</div>
<div class="card">
    <div class=card-body>
        <div class="row">
            <p class="h5 text-primary">Resources for Training at the primary training site</p>
            <div class="col-md-4 mb-3">
                <label class="form-label">Number of Faculty</label>
                <label class="form-control">2</label>
            </div>
            <div class="col-md-12 mb-3">
                <p class="h6 text-primary">Clinical Volume</p>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Total Hospital Visits</label>
                        <label class="form-control">100</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Department Visit</label>
                        <label class="form-control">10</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Volume of cases related to the proposed program</label>
                        <label class="form-control">15</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <label class="form-label">Describe the space and facilities such as office/clinic space, computers, on‑call room, resident lounge, shower, etc.</label>
                <label class="form-control">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
            </div>
            <div class="col-md-12 mb-3">
                <label class="form-label">Other important resources (kindly state the site)</label>
                <label class="form-control">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class=card-body>
        <p class="h5 text-primary">Needs Assessment</p>
        <div class="col-md-12 mb-3">
            <label class="form-label">What are the healthcare problems that the program will address and the disease prevalence?</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Please provide information regarding the workforce</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Current total number of qualified physicians in this field</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Current number of qualified physicians in the field and their distribution in the Sultanate (indicate governorate and number of physicians)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Omani</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Non-Omani</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Projected number of specialists in this field in 15 years</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Please outline the rationale for starting a training program in this area (e.g. will it address a societal need, meet local service demands, enhance the workforce requirements, improving quality of service, etc.?). (please limit your answer to 400 words)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
    </div>
</div>
<div class="card">
    <div class=card-body>
        <p class="h5 text-primary">Educational Program Information</p>
        <div class="col-md-12 mb-3">
            <label class="form-label">Describe the educational impact for starting this training program (e.g. how would the new program enhance the learning environment, improve the experience on certain rotations, complement existing programs, and further enhance the mission of the institution and OMSB)?  (please limit your answer to 400 words)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Describe the anticipated career path/s for program graduates (e.g. posting at the health centers and specialized health centers or primary/tertiary hospitals, regional or primary hospitals with a potential to provide services in the regions)  (please limit your answer to 400 words)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Indicate the proportion of time that the trainee would devote to clinical activities, research and any other major responsibilities (e.g.  overseeing/supervising the clinical teams, committees, education/guidance of junior trainees and other staff).  (please limit your answer to 400 words)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Describe the expected interactions between the trainees and other learners; any potential impact on the core residency program and other training (e.g. reduced clinical material available to trainees, increased medical student teaching or resident supervision, expanded didactic conferences open to trainees in other programs, etc.) (please limit your answer to 400 words)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Provide a brief description of the educational strategies that will be utilized in this training program. (please limit your answer to 400 words)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
    </div>
</div>
<div class="card">
    <div class=card-body>
        <p class="h5 text-primary">Strategic Impact</p>
        <div class="col-md-12 mb-3">
            <label class="form-label">How does the addition of this program affect residents, faculty, GME at OMSB and hospitals?</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
    </div>
</div>
<div class="card">
    <div class=card-body>
        <p class="h5 text-primary">Program Description</p>
        <p class="h6">Provide a brief description on the following </p>
        <div class="col-md-12 mb-3">
            <label class="form-label">Overview of the program and mission statement (please limit your answer to 100 words)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Description of training locations (what institutions would be involved?  Provide a brief description of the educational impact, faculty coverage, volume and variety of clinical experience, and faculty coverage for each training site).  (please limit your answer to 1000 words for each site)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Educational outcomes of the program (please limit your answer to 100 words)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Requirements of trainees in the program (e.g. participation in education program, clinical care of patients, presentation at a national meeting, publication of a scholarly activity) (please limit your answer to 400 words)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Description of evaluations of trainees and the program (please limit your answer to 400 words)</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">List of faculty roster and qualifications</label>
            <label class="form-control">lorem, ipsum dolor sit amet consectetur adipisicing elit. necessitatibus praesentium dicta quos odit, consequatur dignissimos.</label>
        </div>
    </div>
</div>

<div class="card" *ngIf="requestData.vppaComments !== null && !isPreviewOnly">
    <div class=card-body>
        <div class="col-md-3 mb-3">
            <label class="form-label">Program Name</label>
            <label class="form-control">{{requestData.similarProgram}}</label>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Comments to Chairmen from VPAA</label>
            <label class="form-control">{{requestData.vppaComments}}</label>
        </div>
    </div>
</div>
<div class="card" *ngIf="requestData.chairmenComments !== null && !isPreviewOnly">
    <div class=card-body>
        <div class="col-md-12 mb-3">
            <label class="form-label">Comments to VPAA from Chairman</label>
            <label class="form-control">{{requestData.chairmenComments}}</label>
        </div>
    </div>
</div>
<div class="card" *ngIf="requestData.vppaApprovalComments !== null && !isPreviewOnly">
    <div class=card-body>
        <div class="col-md-12 mb-3">
            <label class="form-label">Comments to VPAA from Chairman</label>
            <label class="form-control">{{requestData.vppaApprovalComments}}</label>
        </div>
    </div>
</div>
<div class="card" *ngIf="requestData.proposalLink !== null && !isPreviewOnly">
    <div class=card-body>
        <div class="col-md-12 mb-3">
            <label class="form-label">Download Proposal</label>
            <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
        </div>
    </div>
</div>
<div class="card" *ngIf="requestData.vppaCommentsToEb !== null && !isPreviewOnly">
    <div class=card-body>
        <div class="col-md-12 mb-3">
            <label class="form-label">Comments to EB from VPPA</label>
            <label class="form-control">{{requestData.vppaCommentsToEb}}</label>

        </div>
    </div>
</div>
<div class="card" *ngIf="requestData.bcsCommentsToBot !== null && !isPreviewOnly">
    <div class=card-body>
        <div class="col-md-12 mb-3">
            <label class="form-label">Comments to BoT from Board and Committee</label>
            <label class="form-control">{{requestData.bcsCommentsToBot}}</label>

        </div>
    </div>
</div>
<div class="card" *ngIf="requestData.bcsCommentsToCreateTaskForce !== null && !isPreviewOnly">
    <div class=card-body>
        <div class="col-md-12 mb-3">
            <label class="form-label">Board and Committee Comments : Create Task Force</label>
            <label class="form-control">{{requestData.bcsCommentsToCreateTaskForce}}</label>

        </div>
    </div>
</div>
<div class="card" *ngIf="requestData.taskForceArray !== null && !isPreviewOnly">
    <div class=card-body>
        <p class="h5 text-primary">Task Force List</p>
        <div class="col-md-12 mb-3">
            <div class="live-preview">     
                <div class="table-responsive">
                    <table class="table align-middle table-hover table-wrap mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Civil ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of requestData.taskForceArray">
                                <td>{{row.name}}</td>
                                <td>{{row.email}}</td>
                                <td>{{row.civilId}}</td>                                        
                            </tr>
                        </tbody>
                    </table>
                </div>                             
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Download Task Force QARAR document</label>
            <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
        </div>
    </div>
</div>
<div class="card" *ngIf="requestData.cfdsComments !== null && !isPreviewOnly">
    <div class=card-body>
        <div class="col-md-12 mb-3">
            <label class="form-label">Comments from CFDS</label>
            <label class="form-control">{{requestData.cfdsComments}}</label>
        </div>
    </div>
</div>