<div class="mt-3">
    <div class="card">
        <div class="card-body">
            <p class="h5 text-primary">Trainee Details</p>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="form-label">First Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="Abbas">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Second Name</label>
                    <input type="text" class="form-control" value="Al">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Third Name</label>
                    <input type="text" class="form-control" value="N/A">
                </div>
                <div class="col-md-3 mb-3" *ngIf="isEditable">
                    <label class="form-label" [ngClass]="isEditable === true ? 'bg-secondary px-2': ''">Family Name (Existing)</label>
                    <input type="text" class="form-control " value="Ajmi" disabled>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Family Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="Ajmi">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">First Name Arabic</label>
                    <input type="text" class="form-control" value="عباس">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Second Name Arabic</label>
                    <input type="text" class="form-control" value="ال">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Third Name Arabic</label>
                    <input type="text" class="form-control" value="N/A">
                </div>
                <div class="col-md-3 mb-3" *ngIf="isEditable">
                    <label class="form-label" [ngClass]="isEditable === true ? 'bg-secondary px-2': ''">Family Name Arabic (Existing)</label>
                    <input type="text" class="form-control" value="العجمي" disabled>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Family Name Arabic</label>
                    <input type="text" class="form-control" value="العمي">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Nationality<span class="text-danger">*</span></label>
                    <ng-select
                        name="nationality"
                        [items]="listData.nationalities"
                        bindLabel="name"
                        ngModel="OM"
                        bindValue="code"
                        placeholder="Please select"
                    ></ng-select>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Place of Birth<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="Muscat, Oman" [disabled]="true">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Gender<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="Male" [disabled]="true">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">DoB<span 
                        class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="1970-10-15" [disabled]="true">
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="h5 text-primary">Passport Details</p>
            <div class="row">
                <div class="col-md-6 mb-3" *ngIf="isEditable">
                    <label class="form-label" [ngClass]="isEditable === true ? 'bg-secondary px-2': ''">Passport Number (Existing)</label>
                    <input type="text" class="form-control" value="46583135432" disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Passport Number<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="12348529317">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Passport expiry Date</label>
                    <input class="form-control flatpickr-input"
                        type="text"
                        mwlFlatpickr
                        [altInput]="true"
                        ngModel="2030-10-15"
                        [convertModelValue]="true"/>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="h5 text-primary">National ID Info</p>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">National/Resident ID No.<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="456789131321" [disabled]="true">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">National/Resident ID Card Expiry Date</label>
                    <input class="form-control flatpickr-input"
                        type="text"
                        mwlFlatpickr
                        [altInput]="true"
                        ngModel="2030-10-15"
                        [convertModelValue]="true"/>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="h5 text-primary">Contact Details</p>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Home Telephone</label>
                    <input type="text" class="form-control" value="+968123456">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Mobile<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="+968123456">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Email<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="+968123456">
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="h5 text-primary">Education Details</p>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Qualification</label>
                    <ng-select
                        [items]="['BSC']"
                        ngModel="BSC"
                        placeholder="Please select"
                    ></ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="d-flex flex-row align-items-center">
                        <p class="h6">Download Qualification Attachments</p>
                        <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Country of institution<span class="text-danger">{{ " *" }}</span></label>
                    <ng-select
                      [items]="listData.countryList"
                      placeholder="Please select"
                      ngModel="OM"
                      bindLabel="name"
                      bindValue="code"></ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">University<span class="text-danger">{{ " *" }}</span></label>
                    <ng-select
                      [items]="['Sultan Qaboos University']"
                      placeholder="Please select"
                      ngModel="Sultan Qaboos University"></ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Year of Graduation<span class="text-danger">{{ " *" }}</span></label>
                    <ng-select
                      [items]="listData.yearsList"
                      placeholder="Please select"
                      ngModel="2016"></ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Language used in College<span class="text-danger">{{ " *" }}</span></label>
                    <ng-select
                      [items]="['English', 'Arabic']"
                      placeholder="Please select" 
                      ngModel="English"></ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Internship/Training<span class="text-danger">{{ " *" }}</span></label>
                    <ng-select
                      [items]="['Completed', 'On Going', 'Not Applicable']"
                      placeholder="Please select" 
                      ngModel="Completed"></ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="d-flex flex-row align-items-center">
                        <p class="h6">Download Internship/Training Certificate</p>
                        <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Internship/Training Dates</label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [ngModel]="dateRangeObject" 
                                    [convertModelValue]="true" mode="range">

                </div>
            </div>
        </div>
    </div>
</div>
