.card-body {
    padding: 15px 30px !important;
}
.form-text-label {
    color: white !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
}
.form-text-label span {
    font-weight: 500 !important;
}

.border-top-dashed {
    border-top: 1.6px dashed #e9ebec !important;
}

a i {
    padding: 5px;
}

a:hover i {
    border: 1px solid ;
}

// .shadow {
//     -webkit-box-shadow: 5px 5px 13px 11px rgba(169,169,169,0.3) !important; 
//     box-shadow: 5px 5px 13px 11px rgba(169,169,169,0.3) !important;
// }

