<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label text-nowrap">Please a Date Range<span class="text-danger">{{" * "}}</span></label>
                <input class="form-control flatpickr-input" type="text" id="example-week-input"
                      mwlFlatpickr [convertModelValue]="false" 
                      mode="range">
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Procedure<span class="text-danger">{{ " *" }}</span></label>
                <ng-select [items]="listData.procedureList"
                placeholder="Please select">
                </ng-select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Supervisor<span class="text-danger">{{ " *" }}</span></label>
                <ng-select [items]="listData.supervisors"
                placeholder="Please select">
                </ng-select>
            </div>
        </div>
        <button class="btn btn-primary mb-3">Search</button>
        <div class="live-preview" >                                    
            <div class="table-responsive">
                <table class="table align-middle table-nowrap mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Procedure</th>
                            <th scope="col">Confirmed Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let object of listData.procedureObjectsList"> 
                            <td>{{object.datePerformed}}</td>
                            <td>{{object.firstName}}{{" "}}{{object.lastName}}</td>
                            <td>{{object.procedure}}</td>
                            <td>{{object.confirmedDate}}</td>
                            

                            <td>                                
                                <i (click)="openModal(editEvent, 'lg')" class="text-danger mx-2 ri-edit-2-line"></i>
                                <i (click)="openModal(viewEvent, 'lg')" class="text-success mx-2 ri-eye-line"></i>
                            </td>
                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<ng-template #viewEvent let-modal style="z-index: 9999999 !important;">
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">View Log</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-2">
                
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #editEvent let-modal style="z-index: 9999999 !important;">
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Edit Log</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-2">
                <form ngSubmit)="onSubmitEvent()">
                    
                    <button class="btn btn-primary">Save</button>
                    
                </form>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>