<div class="row">
    <div class="col-md-12">
        <div class="card mb-2" >
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="d-flex flex-column text-center">
                                <p class="h2">OMAN MEDICAL SPECIALTY BOARD</p>
                                <p class="h3">Accreditation Report</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body py-3 px-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive table_block table-fixed">
                            <table class="table table-wrap" >
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="form-label">INTRODUCTION:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">DISCLAIMER:</label>
                                        </td>
                                        <td class="w-50">
                                            <label class="form-control">The concerns identified by the Review Team and highlighted in the following report were obtained according to the best of their knowledge and the circumstances at the time of the review.  It cannot be guaranteed that these concerns are the only deficiencies currently existing within the program.  Further, it cannot be assured that correction of these areas will be sufficient to achieve ACGME-I full accreditation in the next program accreditation review.  Finally, additional deficiencies may be identified at the next visit.</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">PROGRAM OVERVIEW:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <label class="form-label">REVIEW OF THE PROGRAM:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">DOMAIN 1:  ADMINISTRATION</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">DOMAIN 2:  STRUCTURE AND ORGANIZATION</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">DOMAIN 3:  RESOURCES</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">DOMAIN 4:  EDUCATIONAL GOALS</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">STANDARD P.4A:  GOALS AND OBJECTIVES</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">STANDARD P.4B:  CURRICULUM</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">STANDARD P.4C:  SCHOLARLY ACTIVITY</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">DOMAIN 5:  PATIENT SAFETY</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">DOMAIN 6:  TRAINING SUPERVISION</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">DOMAIN 7:  COMPETENCE-TARGETED TRAINING</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">STANDARD P.7A:  TRAINING COMPONENTS</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">STANDARD P.7B:  LIFELONG SELF-LEARNER</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">DOMAIN 8:  IN-TRAINING EVALUATIONS</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">STANDARD P.8A:  EVALUATION AND ASSESSMENT OF RESIDENTS</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">STANDARD P.8B:  EVALUATION AND ASSESSMENT OF TRAINERS</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">STANDARD P.8C:  EVALUATION AND ASSESSMENT OF PROGRAM</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">DOMAIN 9:  OUTCOME EVALUATIONS</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">SUMMARY OF REVIEW TEAM FINDINGS:</label>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">I. STRENGTHS</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">II. RESOLVED CITATIONS FROM PREVIOUS REVIEW(S):</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label text-primary my-2">A. ACGME-I</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label text-primary my-2">B. LOCAL ACCREDITATION</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">III. AREAS FOR IMPROVEMENT AND RECOMMENDED ACTIONS:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label text-primary my-2">A. INSTITUTIONAL REQUIREMENTS</label>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Major Concerns:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Concerns:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label text-primary my-2">B. FOUNDATIONAL REQUIREMENTS</label>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Major Concerns:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Program-Related Concerns:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Resident-Related Concerns:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Faculty-Related Concerns:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label text-primary my-2">C. ADVANCED SPECIALTY REQUIREMENTS</label>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Major Concerns:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Concerns:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">SURVEY TEAM DECISIONS AND FINAL RECOMMENDATIONS:</label>
                                        </td>
                                        <td  class="w-50">
                                            <textarea class="form-control" cols="3" rows="2" placeholder="Your comments"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row mt-3">
    <button class="btn btn-primary">Submit</button>
</div>