<div class="card">
    <div class="card-header align-items-xl-center d-xl-flex">
        <div class="flex-shrink-0">
          <ul ngbNav #Header="ngbNav" [activeId]="1" class="nav nav-pills card-header-pills">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    General Objectives
                </a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <ckeditor [editor]="Editor" ></ckeditor>
                        </div>
                        <div class="d-flex flex-row gap-3 mt-4">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                  Specific Objectives
                </a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true" class="mt-3">
                                <ngb-panel *ngFor="let object of listData.objectives; let i = index"  id="static-{{(i+1)}}">
                                    <ng-template ngbPanelTitle class="accordion-header">
                                        <h2 class="accordion-header" id="gen-ques-headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#gen-ques-collapseOne" aria-expanded="false"
                                                aria-controls="gen-ques-collapseOne">
                                                {{object}}
                                            </button>
                                        </h2>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <p class="h5">General Requirements</p>              
                                        <ckeditor [editor]="Editor" ></ckeditor>             
                                        <p class="h5">Specific Requirements</p>              
                                        <ckeditor [editor]="Editor" ></ckeditor>             
                                        <div class="d-flex flex-row gap-3 mt-4">
                                            <button class="btn btn-primary">Submit</button>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
                    </div>
                </ng-template>
            </li>
          </ul>
        </div>
    </div><!-- end card header -->
    <div class="card-body">
        <!-- Tab panes -->
        <div class="tab-content text-muted">
          <div [ngbNavOutlet]="Header"></div>
        </div>
    </div><!-- end card-body -->                
</div>