<div class="row">
    <div class="col-md-4 mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label">Post</label>
        <ng-select
        [items]="['Faculty', 'Lecturer', 'Visitor', 'Examiner']"
        placeholder="Current Position">
      </ng-select>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label">Date</label>
        <input
        class="form-control flatpickr-input"
        type="text"
        mwlFlatpickr
        [altInput]="true"
        [convertModelValue]="true"/>
        
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label">Amount (OMR)</label>
        <input type="text" class="form-control">
    </div>
</div>