<app-breadcrumbs title="Competition Grouping" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('research/research-day')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="row mt-1">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="nomineeGroupForm">
                <div class="row">
                    <div class="col-md-3 mb-3 border shadow" >
                        <p class="h5 text-secondary mt-2">1st Nominee Group</p>
                        <div class="d-flex flex-row my-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="formCheckSelectAll" 
                                formControlName="isSelectedAll"
                                (change)="onClickSelectAll()">
                                <label class="form-check-label" for="formCheckSelectAll">
                                Select All</label>
                            </div>
                        </div>
                        <ngx-simplebar class="p-3 border shadow mb-2" style="max-height: 320px;" formArrayName="nomineeGroupOneArray">
                            <div class="acitivity-timeline acitivity-main">
                                <div class="acitivity-item d-flex mb-3" *ngFor="let nominee of nomineeGroupOneControls; let i = index"
                                [formGroupName]="i">
                                    <div class="d-flex flex-row border p-1 w-100">
                                        <div class="d-flex flex-row ">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" 
                                                formControlName="isSelected" id="formCheck{{i}}">
                                            </div>
                                            <label class="form-check-label" for="formCheck{{i}}">{{nominee.value.name}}</label>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </ngx-simplebar>
                        <div class="d-flex flex-column my-2">
                            <button (click)="onCreateGroup()" class="btn btn-primary btn-sm">Oral Presentation Competition Group</button>

                        </div>
                    </div>
                    <div class="col-md-3 mb-3 border shadow" >
                        <p class="h5 text-secondary mt-2">2nd & 3rd Nominee Group</p>
                        <div class="d-flex flex-row my-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="formCheckSelectAllTwo" 
                                formControlName="isSelectedAllTwo"
                                (change)="onClickSelectAllTwo()">
                                <label class="form-check-label" for="formCheckSelectAllTwo">
                                Select All</label>
                            </div>
                        </div>
                        <ngx-simplebar class="p-3 border shadow mb-2" style="max-height: 320px;" formArrayName="nomineeGroupTwoAndThreeArray">
                            <div class="acitivity-timeline acitivity-main">
                                <div class="acitivity-item d-flex mb-3" *ngFor="let nominee of nomineeGroupTwoAndThreeControls; let i = index"
                                [formGroupName]="i">
                                    <div class="d-flex flex-row border p-1 w-100">
                                        <div class="d-flex flex-row ">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" 
                                                formControlName="isSelected" id="formCheckTwo{{i}}">
                                            </div>
                                            <label class="form-check-label" for="formCheckTwo{{i}}">{{nominee.value.name}}</label>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </ngx-simplebar>
                        <div class="d-flex flex-column my-2">
                            <button (click)="onCreateGroup()" class="btn mb-1 btn-primary btn-sm"> Poster Presentation Competition Group 1</button>
                            <button (click)="onCreateGroup()" class="btn btn-primary btn-sm"> Poster Presentation Competition Group 2</button>
                        </div>
                    </div>
                    <div class="col-md-6 mb-6 align-middle justify-content-center text-center my-auto" *ngIf="!isGroupCreated">
                        <i class="ri-spam-line text-warning fs-24"></i>                        
                        <p class="h5 text-warning">Please Create Competition Groups</p>
                    </div>
                    <div class="col-md-6 p-0 mb-3 border shadow " *ngIf="isGroupCreated">
                        <div class="p-4 m-2 border border-dashed">
                            <div class="card border shadow w-100">
                                <div class="card-body">
                                    <p class="h5 text-primary">Oral Presentation Competition Group</p>
                                    <p class="h8">{{"Assigned Nominees : 3"}}</p>
                                    <button class="btn btn-primary btn-sm" (click)="openModal(addJudge, 'md')">Add Judge</button>
                                    <button class="btn btn-primary mx-2 btn-sm">Edit Nominees</button>
                                </div>
                                <div class="card-body">
                                    <div class="live-preview">
                                        <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                                          <ngb-panel id="static-1">
                                              <ng-template ngbPanelTitle class="accordion-header">
                                                  <h2 class="accordion-header" id="gen-ques-headingOne">
                                                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                          data-bs-target="#gen-ques-collapseOne" aria-expanded="false"
                                                          aria-controls="gen-ques-collapseOne">
                                                          Judges
                                                      </button>
                                                  </h2>
                                              </ng-template>
                                              <ng-template ngbPanelContent>
                                                <div class="d-flex flex-row flex-wrap">
                                                    <label class="form-control">abbas@email.com</label>
                                                    <label class="form-control">shela@email.com</label>
                                                </div>
                                              </ng-template>
                                          </ngb-panel>
                                        </ngb-accordion>
                                      </div>                                    
                                </div>
                            </div>
                            <div class="card border shadow  w-100">
                                <div class="card-body">
                                    <p class="h5 text-primary">Poster Presentation Competition Group 1</p>
                                    <p class="h8">{{"Assigned Nominees : 4"}}</p>
                                    <button class="btn btn-primary btn-sm" (click)="openModal(addJudge, 'md')">Add Judge</button>
                                    <button class="btn btn-primary mx-2 btn-sm">Edit Nominees</button>
                                </div>
                            </div>
                            <div class="card border shadow w-100">
                                <div class="card-body">
                                    <p class="h5 text-primary">Poster Presentation Competition Group 2</p>
                                    <p class="h8">{{"Assigned Nominees : 2"}}</p>
                                    <button class="btn btn-primary btn-sm" (click)="openModal(addJudge, 'md')">Add Judge</button>
                                    <button class="btn btn-primary mx-2 btn-sm">Edit Nominees</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #addJudge let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Add Judge</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Select Judge<span class="text-danger">{{ " *" }}</span></label>
                                <ng-select [items]="listData.userLists" 
                                bindLabel="labelValue" bindValue="name" placeholder="Please select">
                                </ng-select>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>