<app-breadcrumbs title="View Applications" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/simulation/workshop')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>
<div class="row mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="d-flex flex-row justify-content-end gap-3">
                        <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Applicant Name</label>
                    <ng-select [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Course Name</label>
                    <ng-select [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Course Name</label>
                    <ng-select [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Status</label>
                    <ng-select [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Request Date Range</label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                          [convertModelValue]="true" mode="range">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Course Date Range</label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                          [convertModelValue]="true" mode="range">
                </div>
            </div>
            <div class="row">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Program Name</th>
                                    <th scope="col">Activity Title</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">No of Hrs</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Requested By</th>
                                    <th scope="col">Requested Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <thead>
                                <tr *ngFor="let application of listData.listApplicationTable">
                                    <td>{{application.programName}}</td>
                                    <td>{{application.activityTitle}}</td>
                                    <td>{{application.startDate}}</td>
                                    <td>{{application.endDate}}</td>
                                    <td>{{application.noOfHrs}}</td>                                
                                    <td>{{application.location}}</td>                                
                                    <td>{{application.requestedBy}}</td>                                
                                    <td>{{application.requestDate}}</td>                                
                                    <td>
                                        <span class="badge" [ngClass]="{'badge-outline-success' : application.status === 'Approved', 'badge-outline-secondary' : application.status === 'Requested'}">{{application.status}}</span>
                                    </td>                                
                                    <td>
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <li (click)="setApplication(application); openModal(viewApplication, 'xl')"><a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View</a></li>
                                                <li *ngIf="application.status === 'Approved'" (click)="setApplication(application); openModal(standardizedPatients, 'xl')"><a class="dropdown-item" ><i class="mx-1  ri-user-2-line"></i>Add Standardized Patients</a></li>
                                                <li *ngIf="application.status === 'Approved'" (click)="setApplication(application); openModal(addInstructor, 'lg')"><a class="dropdown-item" ><i class="mx-1 ri-user-2-fill"></i>Add Instructor</a></li>
                                                <li *ngIf="application.status === 'Approved'" (click)="setApplication(application); openModal(addInstructor, 'lg')"><a class="dropdown-item" ><i class="mx-1  ri-book-2-line"></i>Book Simulation Room</a></li>
                                                <li *ngIf="application.status === 'Approved'" (click)="setApplication(application); openModal(attendanceQR, 'lg')"><a class="dropdown-item" ><i class="mx-1 ri-qr-code-line"></i>Attendance QR Codes</a></li>
                                                <li *ngIf="application.status === 'Approved'" (click)="setApplication(application); openModal(markAttendance, 'lg')"><a class="dropdown-item" ><i class="mx-1  ri-calendar-check-line"></i>Mark Attendance</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>


                            </thead>
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #viewApplication let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">View Application</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="card shadow border">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Program Name</label>
                                <label class="form-control">{{selectedApplication.programName}}</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Activity Title</label>
                                <label class="form-control">{{selectedApplication.activityTitle}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Start Date</label>
                                <label class="form-control">{{selectedApplication.startDate}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">End Date</label>
                                <label class="form-control">{{selectedApplication.endDate}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">No Of Hours</label>
                                <label class="form-control">{{selectedApplication.noOfHrs}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Location</label>
                                <label class="form-control">{{selectedApplication.location}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Requested By</label>
                                <label class="form-control">{{selectedApplication.requestedBy}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Request Date</label>
                                <label class="form-control">{{selectedApplication.requestDate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</ng-template>

<ng-template #standardizedPatients let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Add Standardized Patients</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="card shadow border">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Program Name</label>
                                <label class="form-control">{{selectedApplication.programName}}</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Activity Title</label>
                                <label class="form-control">{{selectedApplication.activityTitle}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Start Date</label>
                                <label class="form-control">{{selectedApplication.startDate}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">End Date</label>
                                <label class="form-control">{{selectedApplication.endDate}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">No Of Hours</label>
                                <label class="form-control">{{selectedApplication.noOfHrs}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Location</label>
                                <label class="form-control">{{selectedApplication.location}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Requested By</label>
                                <label class="form-control">{{selectedApplication.requestedBy}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Request Date</label>
                                <label class="form-control">{{selectedApplication.requestDate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow border">
                    <form [formGroup]="standardizedPatientsForm">
                        <div class="d-flex flex-row px-3 py-2 justify-content-between">
                            <p class="h5 mb-0 text-primary">Standardized Patients</p>
                            <button (click)="addStandardizedPatientsArray()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-file-add-line"></i></button>
                        </div>
                        <div class="card-body" formArrayName="standardizedPatients">
                            <div class="row">
                                <div class="col-md-4" *ngFor="let fee of standardizedPatientsControls; let i = index"
                                [formGroupName]="i" >
                                    <div class="row">
                                        <div class="col-md-9 mb-1">
                                            <label for="" class="form-label">Patients Name</label>
                                            <ng-select [items]="listData.userLists" 
                                            bindLabel="labelValue" bindValue="name" 
                                            formControlName="patient" placeholder="Please select a Patient">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3 mb-1">
                                            <div class="d-flex flex-row justify-content-between">
                                                <button (click)="openModal(standardizedPatientsPopUp,'lg')" type="button" class="btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class="ri-file-user-line"></i></button>
                                                <button (click)="deleteStandardizedPatientsArray(i)" type="button" class="btn btn-outline-danger btn-sm btn-icon waves-effect waves-light"><i class=" ri-delete-bin-5-line"></i></button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <button class="btn btn-primary">Initiate Payment</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</ng-template>

<ng-template #standardizedPatientsPopUp let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Standardized Patients Details</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Civil ID</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.civilID}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Full Name</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.fullName}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Gender</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.gender}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Date Of Birth</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.dateOfBirth}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Nationality</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.nationality}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Registration Date</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.registrationDate}}</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Physical Information</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.physicalInformation}}</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Medical Information</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.medicalInformation}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Payable Amount</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.payableAmount}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #addInstructor let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Add Instructor</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="card shadow border">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Program Name</label>
                                <label class="form-control">{{selectedApplication.programName}}</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Activity Title</label>
                                <label class="form-control">{{selectedApplication.activityTitle}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Start Date</label>
                                <label class="form-control">{{selectedApplication.startDate}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">End Date</label>
                                <label class="form-control">{{selectedApplication.endDate}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">No Of Hours</label>
                                <label class="form-control">{{selectedApplication.noOfHrs}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Location</label>
                                <label class="form-control">{{selectedApplication.location}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Requested By</label>
                                <label class="form-control">{{selectedApplication.requestedBy}}</label>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Request Date</label>
                                <label class="form-control">{{selectedApplication.requestDate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="live-preview">     
                        <div class="table-responsive">
                            <table class="table align-middle table-hover table-wrap mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Name Of the Person</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of listData.roles">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="formCheck1">
                                            </div>
                                        </td>
                                        <td>{{user.roleType}}</td>
                                        <td>{{user.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                             
                    </div>
                </div>
                <button class="btn btn-primary">Submit</button>
            </div>
                      
        </div>
    </div>
</ng-template>

<ng-template #markAttendance let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Mark Attendance</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="row">
                    <p class="h5 text-secondary">Trainee List</p>
                    <div class="live-preview attendanceTable">     
                        <div class="table-responsive">
                            <table class="table align-middle table-hover table-wrap mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Name Of the Person</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of listData.roles">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="formCheck1" checked>
                                            </div>
                                        </td>
                                        <td>{{user.roleType}}</td>
                                        <td>{{user.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                             
                    </div>
                </div>
                <div class="row mt-3">
                    <p class="h5 text-secondary">Trainer / Instructor List</p>
                    <div class="live-preview attendanceTable">     
                        <div class="table-responsive">
                            <table class="table align-middle table-hover table-wrap mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Name Of the Person</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of listData.roles">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="formCheck1" checked>
                                            </div>
                                        </td>
                                        <td>{{user.roleType}}</td>
                                        <td>{{user.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                             
                    </div>
                </div>
                <button class="btn btn-primary mt-3">Submit</button>
            </div>
                      
        </div>
    </div>
</ng-template>



<ng-template #attendanceQR let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Attendance QR Codes</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="row justify-content-center text-center">
                    <div class="col-md-4 mb-3">
                        <div class="card shadow border">
                            <div class="card-body">
                                <p class="h5 text-success">2022-08-25</p>
                                <img src="assets/images/qrCodes/qr-code-1.png" class="img-fluid">
                                <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="  ri-printer-line"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow border">
                            <div class="card-body">
                                <p class="h5 text-success">2022-08-26</p>
                                <img src="assets/images/qrCodes/qr-code-2.png" class="img-fluid">
                                <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="  ri-printer-line"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow border">
                            <div class="card-body">
                                <p class="h5 text-success">2022-08-27</p>
                                <img src="assets/images/qrCodes/qr-code-3.png" class="img-fluid">
                                <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="  ri-printer-line"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow border">
                            <div class="card-body">
                                <p class="h5 text-success">2022-08-28</p>
                                <img src="assets/images/qrCodes/qr-code-4.png" class="img-fluid">
                                <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="  ri-printer-line"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow border">
                            <div class="card-body">
                                <p class="h5 text-success">2022-08-29</p>
                                <img src="assets/images/qrCodes/qr-code-5.png" class="img-fluid">
                                <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="  ri-printer-line"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card shadow border">
                            <div class="card-body">
                                <p class="h5 text-success">2022-08-30</p>
                                <img src="assets/images/qrCodes/qr-code-1.png" class="img-fluid">
                                <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="  ri-printer-line"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                      
        </div>
    </div>
</ng-template>