<div class="row card-box">
    <div class="col-md-3 col-12 mb-3" >
        <div class="card card-animate border shadow" [routerLink]="['/education-committee/add-members']">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AM
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Add Members to EC</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" [routerLink]="['/education-committee/remove-members']">
            <div class="card-header bg-warning">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    RM
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Remove Members from EC</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" [routerLink]="['/education-committee/add-fc-members']">
            <div class="card-header bg-success">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AF
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Add as Faculty member</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" [routerLink]="['/education-committee/remove-fc-members']">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    RF
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Remove Faculty Members</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" [routerLink]="['/education-committee/change-position']">
            <div class="card-header bg-secondary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    CP
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Change Position</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    IC
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Incentives</p>
            </div>
        </div>
    </div>
</div>