<section class="section" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 column_box">
                <img src="assets/images/logo.png" class="img-fluid logo_image">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis harum sit ea dolorem natus eligendi, veniam numquam est perspiciatis! Ullam sapiente sed illo, voluptates quia ad soluta perspiciatis nostrum expedita iusto reiciendis, suscipit, saepe ipsum similique.</p>
                <div class="d-flex flex-row align-items-center contact_box ">
                    <i class="ri-map-pin-fill"></i>
                    <div class="d-flex flex-column px-2">
                        <p class="title">Address</p>
                        <p class="text">123, Street Name, City, Your Country</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center contact_box ">
                    <i class=" ri-phone-line"></i>
                    <div class="d-flex flex-column px-2">
                        <p class="title">Call Us</p>
                        <p class="text">+123-456-7890 , +1 (409) 987–5874</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center contact_box ">
                    <i class=" ri-mail-line"></i>
                    <div class="d-flex flex-column px-2">
                        <p class="title">Email at</p>
                        <p class="text">Support@company.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 column_box">
                <h4 class="header">RECENT <span>NEWS</span></h4>
                <div class="row d-flex flex-row">
                    <div class="d-flex flex-row justify-content-center align-items-center custom_box box_1 gap-2">
                        <div class="d-flex mb-2 left"></div>
                        <div class="d-flex mt-2 right"></div>
                    </div>
                </div>
                <div class="d-flex flex-column news_box mt-3">
                    <div class="d-flex flex-row news_box_item card-animate">
                        <img src="assets/images/users/avatar-1.jpg" alt="" class="img-fluid">
                        <div class="d-flex flex-column px-3">
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur.</p>
                            <span class="time_text"><i class="ri-calendar-event-line"></i>15 Feb 2023</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row news_box_item card-animate">
                        <img src="assets/images/users/avatar-4.jpg" alt="" class="img-fluid">
                        <div class="d-flex flex-column px-3">
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <span class="time_text"><i class="ri-calendar-event-line"></i>15 Feb 2023</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row news_box_item card-animate">
                        <img src="assets/images/users/avatar-3.jpg" alt="" class="img-fluid">
                        <div class="d-flex flex-column px-3">
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur.</p>
                            <span class="time_text"><i class="ri-calendar-event-line"></i>15 Feb 2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 column_box ">
                <h4 class="header">TALK TO <span>US</span></h4>
                <div class="row d-flex flex-row">
                    <div class="d-flex flex-row justify-content-center align-items-center custom_box box_1 gap-2">
                        <div class="d-flex mb-2 left"></div>
                        <div class="d-flex mt-2 right"></div>
                    </div>
                </div>
                <div class="d-flex flex-column contact_form">
                    <div class="row mt-3">
                        <div class="col-md-12 mb-3">
                            <input type="text" class="form-control" placeholder="Name Here">
                        </div>
                        <div class="col-md-12 mb-3">
                            <input type="text" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" placeholder="Date">

                        </div>
                        <div class="col-md-12 mb-3">
                            <ng-select [items]="[]" placeholder="Course">
                            </ng-select>
                        </div>
                        <div class="col-md-12 mb-3">
                        <textarea rows="2" class="form-control"></textarea>
                        </div>
                        <div class="d-flex flex-row">
                            <button class="btn btn-custom">
                                Submit
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>