<div class="card bg-light">
    <div class="card-body">
        <div class="card shadow border">
            <div class="card-body">
                <div class="row">
                    <p class="h5 text-primary">Personal Information</p>
                    <div class="col-md-3 mb-3">
                        <label class="form-label">Applicant Name</label>
                        <label type="text" class="form-control">Abbas Al Ajmi</label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="form-label">Email</label>
                        <label type="text" class="form-control">Abbas@email.com</label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="form-label">Phone</label>
                        <label type="text" class="form-control">+968123456798</label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="form-label">Program</label>
                        <label type="text" class="form-control">Anesthesia</label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="form-label">Residency Level</label>
                        <label type="text" class="form-control">R3</label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="form-label">Designation</label>
                        <label type="text" class="form-control">GFP Trainee</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow border">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9 mb-3">
                        <label class="form-label">Model Name</label>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="number" class="form-control" >
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Details of the 3D Model (Function, Size, Color, etc.)</label>
                        <textarea rows="2" class="form-control"></textarea>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="d-flex flex-row gap-2">
            <button class="btn btn-primary">Submit</button>
        </div>   
    </div>    
</div>