<div class="row card-box">
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/tafus/chief-residents-affairs/nominate-chief-residents')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    NC
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Nominate Chief Residents</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/tafus/chief-residents-affairs/view-chief-residents')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    VC
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">View Chief Residents</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/tafus/chief-residents-affairs/annual-incentives')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AI
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Annual Incentives</p>
            </div>
        </div>
    </div>
</div>