<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0 flex-grow-1">Overview</h4>
                <div class="pt-3 border-top border-top-dashed mt-2">
                    <div class="row">
                        <div class="col-md-12 ">
                            <p class="card-text mb-2"><span class="fw-bold">{{programData.programDescription.name}}{{" : "}}</span>{{programData.programDescription.description}}</p>
                            <p class="card-text mb-2"><span class="fw-bold">{{programData.vision.name}}{{" : "}}</span>{{programData.vision.description}}</p>
                            <p class="card-text mb-2"><span class="fw-bold">{{programData.mission.name}}{{" : "}}</span>{{programData.mission.description}}</p>
                            <p class="card-text mb-2"><span class="fw-bold">{{programData.programDuration.name}}{{" : "}}</span>{{programData.programDuration.description}}</p>
                            <p  class="card-text mb-2 text-muted">{{programData.programDuration.extra}}</p>
                            <p class="card-text mb-2"><span class="fw-bold">{{programData.noOfBlocks.name}}{{" : "}}</span>{{programData.noOfBlocks.value}}</p>
                        </div>
                    </div>
                </div>
                <h4 class="card-title mt-3 mb-0 flex-grow-1">Curricula Document</h4>
                <div class="pt-3 border-top border-top-dashed mt-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border rounded border-dashed p-2">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-sm">
                                            <div class="avatar-title bg-light text-secondary rounded fs-24">
                                                <i class="ri-folder-zip-line"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <h5 class="fs-13 mb-1"><a href="javascript: void(0);" class="text-body text-truncate d-block">Curricula_Document.zip</a></h5>
                                        <div>2.2MB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0 flex-grow-1">Program Gallery</h4>
                <div class="pt-3 border-top border-top-dashed mt-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="swiper pagination-scrollbar-swiper rounded">
                                <swiper [config]="Progress">
                                  <div class="swiper-slide" *ngFor="let image of _albums; let i = index" (click)="open(i)">
                                      <img src="{{image.src}}" alt="" class="img-fluid" />
                                  </div>
                                </swiper>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      </div>
    
</div>