<div class="row mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-end gap-2 my-2">
                        <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                <div class="col-md-3 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
                    <label class="form-label">Trainee Name</label>
                    <ng-select 
                    [items]="listData.userLists" bindLabel="labelValue" bindValue="name" placeholder="Please select">
                    </ng-select>
                </div>
                <!-- <div class="col-md-3 mb-3">
                    <label class="form-label">Program Name</label>
                    <ng-select 
                    [items]="listData.residencyPrograms" placeholder="Please select">
                    </ng-select>
                </div> -->
                <div class="col-md-3 mb-3">
                    <label class="form-label">Exam Title</label>
                    <ng-select 
                    [items]="listData.typeOfExams" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Exam Start and End Range</label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    [convertModelValue]="true" mode="range">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Status</label>
                    <ng-select 
                    [items]="[]" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="d-flex flex-row mb-2">
                    <button class="btn btn-primary" (click)="onSearch()">Search</button>
                </div>
            </div>
            <div class="row mt-1" *ngIf="isSearched">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <!-- <th scope="col">Program Name</th> -->
                                    <th scope="col">Exam Title</th>
                                    <th scope="col">Exam Start Date</th>
                                    <th scope="col">Exam End Date</th>
                                    <th scope="col">Attempt No</th>
                                    <th scope="col">Reg Fee</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let exam of listData.tableData">
                                <tr>
                                    <!-- <td>{{exam.programName}}</td> -->
                                    <td>{{exam.examType}}</td>
                                    <td>{{exam.examStartDate}}</td>
                                    <td>{{exam.examEndDate}}</td>
                                    <td>{{exam.attempt}}</td>
                                    <td>{{exam.registrationFee}}</td>
                                    <td class="text-end">
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <li (click)="openModal(viewExam, 'xl')"><a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View Details</a></li>
                                                <li (click)="viewRegistration('all'); openModal(viewRegistrations, 'xl')"><a class="dropdown-item" ><i class="mx-1 ri-file-list-line"></i>Registrations For Exam</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="4" class="p-0">
                                        <div class="live-preview">     
                                            <div class="table-responsive">
                                                <table class="table align-middle table-hover table-wrap mb-0">
                                                    <thead>
                                                        <th scope="col">Exam Date</th>
                                                        <th scope="col">Exam Time</th>
                                                        <th scope="col">Venue</th>
                                                        <th scope="col">Seats Remaining</th>
                                                        <th scope="col"></th>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let examDate of exam.examDates">
                                                            <td>{{examDate.examDate}}</td>
                                                            <td>{{examDate.examTime}}</td>
                                                            <td>{{examDate.venue}}</td>
                                                            <td>{{examDate.seatsRemaining}}</td>
                                                            <td class="text-end">
                                                                <div class="dropdown" ngbDropdown>
                                                                    <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                                        <i class="ri-more-2-fill"></i>
                                                                    </a>
                                                                    <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                                        <li  (click)="openModal(registerTrainee, 'xl')">
                                                                            <a class="dropdown-item" ><i class="mx-1 ri-book-2-line"></i>Register</a></li>
                                                                        <li (click)="viewRegistration('date'); openModal(viewRegistrations, 'xl')"><a class="dropdown-item" ><i class="mx-1 ri-file-list-line"></i>View Registrations</a></li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #viewExam let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">View Exam</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-oc-create-exams [examData]="pageData.examObject"></app-oc-create-exams>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #registerTrainee let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Register</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-oc-create-registration></app-oc-create-registration>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #reScheduleRequest let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Re-ScheduleRequest Request</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-oc-create-reschedule></app-oc-create-reschedule>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #withdrawalRequest let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Withdrawal Request</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <app-oc-withdrawal-request></app-oc-withdrawal-request>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #viewRegistrations let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Registrations For Exam</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="row mt-1">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th *ngIf="userRole !== 'trainee@omsb.org'" scope="col">Trainee Name</th>
                                    <th scope="col">Exam Date</th>
                                    <th scope="col">Exam Time</th>
                                    <th scope="col">Days Remaining</th>
                                    <th scope="col">Payment Date</th>
                                    <th scope="col">Venue</th>
                                    <th scope="col">Registered On</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let examData of registrationTableData">
                                    <td *ngIf="userRole !== 'trainee@omsb.org'">{{examData.traineeName}}</td>
                                    <td>{{examData.examDate}}</td>
                                    <td>{{examData.examTime}}</td>
                                    <td>{{examData.daysRemaining}}</td>
                                    <td>{{examData.paymentDate}}</td>
                                    <td>{{examData.venue}}</td>
                                    <td>{{examData.registeredOn}}</td>
                                    <td (click)="openModal(requestStatus, 'md'); setRequest(examData)" style="cursor: pointer; color: rgb(3, 3, 147)">{{examData.status}}</td> 
                                    <td class="text-end">
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <container-element [ngSwitch]="userRole">
                                                    <some-element *ngSwitchCase="'trainee@omsb.org'">
                                                        <container-element [ngSwitch]="examData.status">
                                                            <some-element *ngSwitchCase="'Eligibility Check Pending'">
                                                                <li  (click)="openModal(withdrawalRequest, 'xl')" >
                                                                    <a class="dropdown-item" ><i class="mx-1  ri-download-line"></i>Withdraw</a></li>
                                                            </some-element>
                                                            <some-element *ngSwitchCase="'Payment Pending'">
                                                                <li><a class="dropdown-item" ><i class="mx-1 ri-coins-fill"></i>Complete Payment</a></li>
                                                                <li  (click)="openModal(withdrawalRequest, 'xl')"  >
                                                                    <a class="dropdown-item" ><i class="mx-1  ri-download-line"></i>Withdraw</a></li>
                                                            </some-element>
                                                            <some-element *ngSwitchCase="'Withdrawn'">
                                                                <li>
                                                                    <a class="dropdown-item" >No Action</a></li>
                                                            </some-element>
                                                            
                                                            <some-element *ngSwitchDefault>
                                                                <li  (click)="openModal(withdrawalRequest, 'xl')">
                                                                    <a class="dropdown-item" ><i class="mx-1  ri-download-line"></i>Withdraw</a></li>
                                                                <li (click)="openModal(reScheduleRequest, 'xl')">
                                                                    <a class="dropdown-item" ><i class="mx-1  ri-calendar-check-line"></i>Re-Schedule</a></li>

                                                            </some-element>
                                                          </container-element>
                                                    </some-element>
                                                    <some-element *ngSwitchCase="'eportal@omsb.org'">
                                                        <container-element [ngSwitch]="examData.status">
                                                            <some-element *ngSwitchCase="'Eligibility Check Pending'">
                                                                <li  (click)="openModal(withdrawalRequest, 'xl')" >
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-check-double-fill"></i>Mark as Eligible</a></li>
                                                                <li  (click)="openModal(withdrawalRequest, 'xl')" >
                                                                    <a class="dropdown-item" ><i class="mx-1 ri-close-line"></i>Mark as not Eligible</a></li>
                                                            </some-element>
                                                            <some-element *ngSwitchDefault>
                                                                <li>
                                                                    <a class="dropdown-item" >No Action</a></li>
                                                            </some-element>
                                                        </container-element>
                                                    </some-element>
                                                </container-element>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #requestStatus let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Request Status Tracker</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <ngx-simplebar class="p-3" style="max-height: 364px;">
                    <div class="acitivity-timeline acitivity-main">
                        <div class="acitivity-item d-flex mb-3" *ngFor="let stage of selectedRequest.applicationStatus; let i = index">
                            <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                <div class="avatar-title text-light rounded-circle " [ngClass]="stage.status === 'Pending' ? 'bg-warning' : 'bg-success' ">
                                    <i [ngClass]="stage.status === 'Pending' ? 'ri-loader-2-fill' : 'ri-check-double-line' "></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1">{{stage.stage}}</h6>
                                <p class="h7 mb-1">{{stage.name}}</p>
                                <span class="badge rounded-pill"
                                    [ngClass]="stage.status === 'Awaiting Approval' ? 'badge-soft-secondary' : 'badge-soft-success' "
                                >{{stage.status}}</span>
                                <br>
                                <small class="my-3 text-muted">{{"Date : "}}{{stage.date === '' ? 'N/A' : stage.date}}</small>
                                <br>
                                <small class="my-3 text-muted">{{"By : "}}{{stage.by === '' ? 'N/A' : stage.by}}</small>
                            </div>
                        </div>
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div>
</ng-template>