<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label">Form Name</label>
        <label class="form-control">{{selectedRequest.formName}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Common or Program Specific</label>
        <label class="form-control">{{selectedRequest.commonOrProgramSpecific}}</label>
    </div>
    <div class="col-md-12 mb-3">
        <label class="form-label">Purpose</label>
        <label class="form-control">{{selectedRequest.purpose}}</label>
    </div>
    <div class="col-md-6 mb-3" *ngIf="selectedRequest.commonOrProgramSpecific === 'Program Specific'">
        <label class="form-label">Programs applicable for</label>
        <label class="form-control">{{selectedRequest.applicableFor}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Conducted by</label>
        <label class="form-control">{{selectedRequest.conductedBy}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Intended for</label>
        <label class="form-control">{{selectedRequest.intendedFor}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">When Matched</label>
        <label class="form-control">{{selectedRequest.whenMatched}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">When available</label>
        <label class="form-control">{{selectedRequest.whenAvailable}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">When Due</label>
        <label class="form-control">{{selectedRequest.whenDue}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Block / Annual Requirement</label>
        <label class="form-control">{{selectedRequest.blockOrAnnualRequirement}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Mandatory</label>
        <label class="form-control">{{selectedRequest.mandatory}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Minimum required number</label>
        <label class="form-control">{{selectedRequest.minimumRequiredNumber}}</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-3" *ngIf="selectedRequest.commentsFromAP === null">
        <label class="form-label">Comments from Assessment and Performance Section</label>
        <textarea rows="3" class="form-control"></textarea>
    </div>
    <div class="col-md-12 mb-3" *ngIf="selectedRequest.commentsFromAP !== null">
        <label class="form-label">Comments from Assessment and Performance Section</label>
        <label class="form-control">{{selectedRequest.commentsFromAP}}</label>
    </div>
    <div class="col-md-12 mb-3" *ngIf="selectedRequest.commentsFromGmeDirector === null && selectedRequest.commentsFromAP !== null">
        <label class="form-label">Comments from GME Director</label>
        <textarea rows="3" class="form-control"></textarea>
    </div>
    <div class="col-md-12 mb-3" *ngIf="selectedRequest.commentsFromGmeDirector !== null && selectedRequest.commentsFromAP !== null">
        <label class="form-label">Comments from GME Director</label>
        <label class="form-control">{{selectedRequest.commentsFromGmeDirector}}</label>
    </div>
    <div class="col-md-12 mb-3" *ngIf="selectedRequest.commentsFromVpaa === null && selectedRequest.commentsFromGmeDirector !== null">
        <label class="form-label">Comments from VPPA</label>
        <textarea rows="3" class="form-control"></textarea>
    </div>
    <div class="col-md-12 mb-3" *ngIf="selectedRequest.commentsFromVpaa !== null && selectedRequest.commentsFromGmeDirector !== null">
        <label class="form-label">Comments from VPAA</label>
        <label class="form-control">{{selectedRequest.commentsFromVpaa}}</label>
    </div>
    <div class="col-md-12 mb-3" *ngIf="selectedRequest.commentsFromEacRapporteur === null && selectedRequest.commentsFromVpaa !== null">
        <label class="form-label">Comments from EAC Rapporteur</label>
        <textarea rows="3" class="form-control"></textarea>
    </div>
    <div class="col-md-12 mb-3" *ngIf="selectedRequest.commentsFromEacRapporteur !== null && selectedRequest.commentsFromVpaa !== null">
        <label class="form-label">Comments from EAC Rapporteur</label>
        <label class="form-control">{{selectedRequest.commentsFromEacRapporteur}}</label>
    </div>
    <div class="col-md-12 mb-3" *ngIf="selectedRequest.formNumber === null && selectedRequest.commentsFromEacRapporteur !== null">
        <label class="form-label">Assessment Form Number</label>
        <input rows="3" class="form-control">
    </div>
    <div class="col-md-12 mb-3" *ngIf="selectedRequest.formNumber !== null && selectedRequest.commentsFromEacRapporteur !== null">
        <label class="form-label">Assessment Form Number</label>
        <label class="form-control">{{selectedRequest.formNumber}}</label>
    </div>
</div>
<div class="row" *ngIf="!isEditable">
    <div class="d-flex flex-row justify-content-between mb-3">
        <p class="h5 text-primary ">Assessment Form Template</p>
        <button class="btn btn-primary btn-sm" *ngIf="selectedRequest.status === 'Submitted to GME Director' || selectedRequest.status === 'Requested'" (click)="onTogglePreview()">Edit Template</button>
    </div>
    <div class="col-md-12 mb-3">
        <div class="live-preview">     
            <div class="table-responsive">
                <table class="table align-middle table-hover table-wrap mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Criteria</th>
                            <th *ngFor="let value of selectedRequest.formChoices">{{value}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of selectedRequest.form; let i = index">
                            <td>
                                <label class="form-label">{{question.question}}</label>
                            </td>
                            <td *ngFor="let choice of question.choices; let j=index" [attr.colspan]="question.colspan">
                                <div *ngIf="question.isChoices" class="form-check mb-2">
                                    <div class="d-flex flex-row align-items-center">
                                        <input class="form-check-input text-start" type="radio" id="{{i}}{{j}}" name="{{i}}" >
                                        <label class="form-check-label mx-2 text-start check-option" for="{{i}}{{j}}">
                                            {{choice}}
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="!question.isChoices">
                                    <textarea rows="3" class="form-control"></textarea>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>                             
        </div>
    </div>
</div>
<div class="row" *ngIf="isEditable">
    <div class="d-flex flex-row justify-content-between mb-3">
        <p class="h5 text-primary">Assessment Form Template</p>
        <button class="btn btn-primary btn-sm" (click)="onTogglePreview()">Save Template</button>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Please select Evaluation Category</label>
        <ng-select [(ngModel)]="evaluationCategory"  [items]="['Unsatisfactory - Not Evaluated', 'Strongly Disagree - Strongly Agree', '1 - 4', '1 - 5 or More']" placeholder="Please select" (change)="onChangeCategory()">
        </ng-select>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Please select Input Type</label>
        <div class="d-flex flex-row gap-3">
            <ng-select style="min-width: 180px" [(ngModel)]="selectedSelectionType" [items]="['Add Multi Selection', 'Add Input Field']" placeholder="Please select">
            </ng-select>
            <button class="btn btn-sm btn-primary" (click)="addNewCriteriaListRow()">Add New Row</button>
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <div class="live-preview">     
            <div class="table-responsive">
                <table class="table align-middle table-hover table-wrap mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Criteria</th>
                            <th *ngFor="let value of selectedRequest.formChoices">{{value}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of selectedRequest.form; let i = index">
                            <td>
                                <input type="text" class="form-control" placeholder="Please enter the Criteria" [(ngModel)]="question.question">
                            </td>
                            <td *ngFor="let choice of question.choices; let j=index" [attr.colspan]="question.colspan">
                                <div *ngIf="question.isChoices" class="form-check mb-2">
                                    <div class="d-flex flex-row align-items-center">
                                        <input class="form-check-input text-start" type="radio" id="{{i}}{{j}}" name="{{i}}" >
                                        <label class="form-check-label mx-2 text-start check-option" for="{{i}}{{j}}">
                                            {{choice}}
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="!question.isChoices">
                                    <textarea rows="3" class="form-control"></textarea>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" (click)="removeRow(i)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>                             
        </div>
    </div>
</div>
<div class="d-flex flex-row">
    <button class="btn btn-primary">Submit</button>
</div>
