<app-breadcrumbs title="Assessment Form" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" (click)="onNavigate()" class="btn btn-primary btn-label waves-effect waves-light mb-3"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2 px-3">
                <div class="d-flex flex-row justify-content-center">
                    <img src="/assets/images/logo_2.png" class="img-fluid" style="width: 110px; height : auto">
                </div>
            </div>
            <div class="col-md-10 ">
                <div class="d-flex flex-column justify-content-center align-items-center h-100">
                    <p class="h2">Trainee Affairs Department</p>
                    <p class="h3">Counselling and Guidance Section</p>
                    <p class="h4 text-muted">Assessment Form</p>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="assessmentForm">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="form-label">Trainee Name</label>
                    <label class="form-control">{{formValues.name}}</label>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">OMSB Number</label>
                    <label class="form-control">{{formValues.omsb}}</label>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Age</label>
                    <label class="form-control">{{formValues.age}}</label>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Marital Status</label>
                    <label class="form-control">{{formValues.maritalStatus}}</label>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Program Name</label>
                    <label class="form-control">{{formValues.trainingProgram}}</label>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Year started at OMSB</label>
                    <label class="form-control">{{formValues.yearOfTraining}}</label>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Year of Training</label>
                    <label class="form-control">{{formValues.academicYear}}</label>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Referral Type</label>
                    <div class="d-flex flex-row mt-3">
                        <div class="form-check">
                          <input class="form-check-input" formControlName="referralType" type="radio" id="referralTypeCheckRadio1" value="Self-Referral">
                          <label class="form-check-label"  for="referralTypeCheckRadio1">Self-Referral</label>
                        </div>
                        <div class="form-check mx-3">
                          <input class="form-check-input" type="radio" id="referralTypeCheckRadio2" formControlName="referralType" value="Referred By">
                          <label class="form-check-label"  for="referralTypeCheckRadio2">Referred By</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3" *ngIf="formValues.referralType === 'Referred By'">
                    <label class="form-label">Refereed by Person Name</label>
                    <label class="form-control">{{formValues.refereeName}}</label>
                </div>
                <div class="col-md-3 mb-3" *ngIf="formValues.referralType === 'Referred By'">
                    <label class="form-label">Refereed on Date</label>
                    <label class="form-control">{{formValues.referredDate}}</label>
                </div>
            </div>
            <div class="row py-4 border-top border-top-dashsed">
                <div class="col-md-6 mb-3">
                    <div class="d-flex flex-row justify-content-between">
                        <ng-select [items]="listData.formDropDownSelections" placeholder="Please select" formControlName="assessment" class="w-100">
                        </ng-select>
                        <button (click)="addAssessmentsArray()" class="btn btn-primary mx-2 text-nowrap">Add Assessment</button>
                    </div>
                </div>
                <div formArrayName="assessmentArray">
                    <div class="col-md-12 mb-3" *ngFor="let control of assessmentArrayValues; let i = index" [formGroupName]="i">
                        <div class="d-flex flex-row justify-content-between">
                            <label class="form-label">{{control.value.name}}</label>
                            <button (click)="removeAssessmentsArray(i)" type="button" class="btn btn-outline-danger mb-1 btn-sm btn-icon waves-effect waves-light"><i class="ri-24-hours-fill"></i></button>
                        </div>
                        <textarea class="form-control" rows="3" formControlName="value"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Current lifestyle interventions</label>
                    <div class="d-flex flex-row mt-3">
                        <div class="form-check">
                          <input class="form-check-input" formControlName="lifestyleInterventions" type="radio" id="lifestyleInterventionsCheckRadio1" value="Exercise">
                          <label class="form-check-label"  for="lifestyleInterventionsCheckRadio1">Exercise</label>
                        </div>
                        <div class="form-check mx-3">
                          <input class="form-check-input" type="radio" id="lifestyleInterventionsCheckRadio2" formControlName="lifestyleInterventions" value="Diet">
                          <label class="form-check-label"  for="lifestyleInterventionsCheckRadio2">Diet</label>
                        </div>
                        <div class="form-check mx-3">
                          <input class="form-check-input" type="radio" id="lifestyleInterventionsCheckRadio3" formControlName="lifestyleInterventions" value="Other">
                          <label class="form-check-label"  for="lifestyleInterventionsCheckRadio3">Other</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3" *ngIf="formValues.lifestyleInterventions === 'Other'">
                    <label class="form-label">If, other</label>
                    <input type="text" formControlName="lifestyleInterventionOther" class="form-control">
                </div>
            </div>
            <div class="row">
                <p class="h5 text-muted">Medical History</p>
                <div class="col-md-12 mb-3">
                    <label class="form-label">a. Past Medical / Psychiatric History</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="col-md-12 mb-3">
                    <label class="form-label">b. Family Medical / Psychiatric History</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="col-md-12 mb-3">
                    <label class="form-label">c. Current Medications</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">d. Substance Use</label>
                    <ng-select [items]="listData.substanceUse" placeholder="Please select" formControlName="substanceUse">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3" *ngIf="formValues.substanceUse === 'Other'">
                    <label class="form-label">If, other</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <p class="h5 text-muted">Developmental History</p>
                <div class="col-md-12 mb-3">
                    <label class="form-label">a. Childhood</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="col-md-12 mb-3">
                    <label class="form-label">b. Schooling</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="col-md-12 mb-3">
                    <label class="form-label">c. Relationships</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="live-preview">                                    
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th colspan="8">Systemic Inquiry</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let inquiry of listData.systemicInquiry">
                                <tr>
                                    <td>{{inquiry[0]}}</td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                    <td>{{inquiry[1]}}</td>
                                    <td>
                                        <input class="form-control" type="text">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary mt-3">Submit</button>
    </div>
</div>