.card-widget {
    background-color : #41707d !important
}
td .dropdown-menu-up {
    right: auto !important;
    bottom:100% !important; 
    top:auto !important;
}
td a {
    cursor: pointer !important;
}
th {
    background-color: #193239 !important;   
    color: white;
    align-items: center;
}
td {
    word-wrap: break-word;
}