<app-breadcrumbs title="MMR Dashboard" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-widget mb-0 w-100">
                    <div class="card-body">
                         <div class="d-flex align-items-center">
                             <div class="avatar-sm flex-shrink-0">
                                 <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                                    <i class=" ri-window-2-line align-middle"></i>
                                 </span>
                             </div>
                             <div class="flex-grow-1 ms-3">
                                <p class="fw-semibold fs-12 text-light mb-1">Total Program Referrals</p>
                                <h4 class="text-light mb-0"><span [CountTo]="10" class="counter-value" [from]="0" [duration]="1"></span></h4>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-widget mb-0 w-100">
                    <div class="card-body">
                         <div class="d-flex align-items-center">
                             <div class="avatar-sm flex-shrink-0">
                                 <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                                    <i class=" ri-projector-line align-middle"></i>
                                 </span>
                             </div>
                             <div class="flex-grow-1 ms-3">
                                <p class="fw-semibold fs-12 text-light mb-1">Total Self Referrals</p>
                                <h4 class="text-light mb-0"><span [CountTo]="20" class="counter-value" [from]="0" [duration]="1"></span></h4>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
            <div class="col-md-4 mb-3">
                <label class="form-label">Name of Counselee</label>
                <ng-select [items]="listData.nameOfCounselee"
                placeholder="Please select">
                </ng-select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Scenario</label>
                <ng-select [items]="listData.scenario"
                placeholder="Please select">
                </ng-select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Program Name</label>
                <ng-select [items]="listData.program"
                placeholder="Please select">
                </ng-select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Type of Referral</label>
                <ng-select [items]="listData.typeOfReferral"
                placeholder="Please select">
                </ng-select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Date of Requested</label>
                <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                    [convertModelValue]="true" mode="range">
            </div>
            <div class="d-flex flex-row">
                <button class="btn btn-primary my-2">Filter</button>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <span style="cursor: pointer" (mouseenter)="openModal(scenarioStatistics, 'sm')" class="my-auto badge rounded-pill badge-soft-secondary">Scenario Statistics</span>
            <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="live-preview">                                    
            <div class="table-responsive">
                <table class="table align-middle table-hover mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Name of Counselee</th>
                            <th scope="col">Type of Referral</th>
                            <th scope="col">Program Name</th>
                            <th scope="col">Type of Counselee</th>
                            <th scope="col">Date of Request</th>
                            <th scope="col">Requested By</th>
                            <th scope="col">Scenario</th>
                            <th scope="col">Appointment Date</th>
                            <th scope="col">Counsellor Name</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appointment of listData.appointmentRequestData; let i = index">
                            <td>{{appointment.nameOfCounselee}}</td>
                            <td>{{appointment.typeOfReferral}}</td>
                            <td>{{appointment.program}}</td>
                            <td>{{appointment.typeOfCounselee}}</td>
                            <td>{{appointment.dateOfRequest | date : 'yyyy-M-dd'}}</td>
                            <td>{{appointment.requestedBy}}</td>
                            <td>{{appointment.scenario}}</td>
                            <td>{{appointment.appointmentDate | date : 'yyyy-M-dd'}}</td>
                            <td>{{appointment.counsellorName}}</td>
                            <td><div class="dropdown" ngbDropdown>
                                <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                    <i class="ri-more-2-fill"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                    <li (click)="onNavigate()">
                                        <a class="dropdown-item" ><i class="mx-1 ri-stack-line"></i>Mini Medical Record</a></li>
                                    <li *ngIf="appointment.appointmentDate === ''" (click)="openModal(confirmAppointment, 'xl'); selectAppointment(i)">
                                        <a class="dropdown-item"><i class=" mx-1 ri-window-2-line"></i>Schedule Appointment</a></li>
                                </ul>
                            </div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <app-appointments-calendar></app-appointments-calendar>
    </div>
</div>

<ng-template #scenarioStatistics let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Scenario Statistics</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-2 d-flex flex-row justify-content-between align-items-center">
                <div class="row text-center">
                    <div class="card shadow border">
                        <div class="card-body p-1">
                            <p class="h5 text-primary">Self</p>
                            <p class="h6 text-muted">5</p>
                        </div>
                    </div>
                    <div class="card shadow border">
                        <div class="card-body p-1">
                            <p class="h5 text-primary">Transfer</p>
                            <p class="h6 text-muted">5</p>
                        </div>
                    </div>
                    <div class="card shadow border">
                        <div class="card-body p-1">
                            <p class="h5 text-primary">Interruption	</p>
                            <p class="h6 text-muted">5</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<ng-template #confirmAppointment let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Schedule Appointment</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-2">
                <form [formGroup]="appointmentScheduleForm">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Schedule Type<span class="text-danger">{{ " *" }}</span></label>
                            <ng-select [items]="listData.scheduleType" placeholder="Please select" formControlName="scheduleType">
                            </ng-select>
                        </div>
                    </div><div class="row"  *ngIf="formValues.scheduleType === 'Internal'">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Name Of Counselor<span class="text-danger">{{ " *" }}</span></label>
                            <div class="d-flex flex-row">
                                <ng-select [items]="listData.nameOfCounseleeObjects" placeholder="Please select" 
                                bindLabel="counsellorsName"
                                formControlName="counsellorsSelector" class="w-100">
                                </ng-select>
                                <button class="btn btn-primary btn-sm mx-2" (click)="addInternalReferralControl()">Add</button>
                            </div>
                        </div>
                        <div formArrayName="internalReferral" >
                            <div class="live-preview border-top border-top-dashed my-3" *ngIf="internalReferralControls.length != 0">                                    
                                <div class="table-responsive">
                                    <table class="table align-middle mb-0 table-wrap">
                                        <thead>
                                            <tr>
                                                <th scope="col">Counsellors Name</th>
                                                <th scope="col">Mobile </th>
                                                <th scope="col">Email </th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let control of internalReferralControls; let i = index" [formGroupName]="i">
                                                <td>{{control.value.name === null ? 'Please select': control.value.name}}</td>
                                                <td>{{control.value.mobile === null ? 'Please select': control.value.mobile}}</td>
                                                <td>{{control.value.email === null ? 'Please select': control.value.email}}</td>
                                                <td>
                                                    <button (click)="deleteInternalReferral(i)" type="button" class="btn btn-sm btn-danger btn-icon waves-effect waves-light"><i class="ri-delete-bin-5-line"></i></button>
                                                </td>
                                            </tr>
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"  *ngIf="formValues.scheduleType === 'External'">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Name Of Counselor<span class="text-danger">{{ " *" }}</span></label>
                            <div class="d-flex flex-row">
                                <ng-select [items]="listData.nameOfCounseleeObjects" placeholder="Please select" 
                                bindLabel="counsellorsName"
                                formControlName="counsellorsSelector" class="w-100">
                                </ng-select>
                                <button class="btn btn-primary btn-sm mx-2" (click)="addReferralToControl()">Add</button>
                            </div>
                        </div>
                        <div formArrayName="referralTo" >
                            <div class="live-preview border-top border-top-dashed my-3" *ngIf="referralToControls.length != 0">                                    
                                <div class="table-responsive">
                                    <table class="table align-middle mb-0 table-wrap">
                                        <thead>
                                            <tr>
                                                <th scope="col">Counsellors Name</th>
                                                <th scope="col">Designation</th>
                                                <th scope="col">Institution </th>
                                                <th scope="col">Mobile </th>
                                                <th scope="col">Email </th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let control of referralToControls; let i = index" [formGroupName]="i">
                                                <td>{{control.value.name === null ? 'Please select': control.value.name}}</td>
                                                <td>{{control.value.designation === null ? 'Please select': control.value.designation}}</td>
                                                <td>{{control.value.institution === null ? 'Please select': control.value.institution}}</td>
                                                <td>{{control.value.mobile === null ? 'Please select': control.value.mobile}}</td>
                                                <td>{{control.value.email === null ? 'Please select': control.value.email}}</td>
                                                <td>
                                                    <button (click)="deleteReferralTo(i)" type="button" class="btn btn-sm btn-danger btn-icon waves-effect waves-light"><i class="ri-delete-bin-5-line"></i></button>
                                                </td>
                                            </tr>
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="formValues.scheduleType === 'External'">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Referral Reason<span class="text-danger">{{ " *" }}</span></label>
                            <div class="d-flex flex-row">
                                <div class="form-check mx-3">
                                    <input class="form-check-input" type="radio" id="selectionRadio1" name="radioOption1" value="Take Over">
                                    <label class="mx-2" for="selectionRadio1">Take Over</label>
                                  </div>
                                  <div class="form-check mx-3">
                                    <input class="form-check-input" type="radio" id="selectionRadio2" name="radioOption1" value="Evaluate">
                                    <label class="mx-2" for="selectionRadio2">Evaluate</label>
                                  </div>
                                  <div class="form-check mx-3">
                                    <input class="form-check-input" type="radio" id="selectionRadio3"  name="radioOption1" value="Treat">
                                    <label class="mx-2" for="selectionRadio3">Treat</label>
                                  </div>
                                
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <textarea cols="3" class="form-control"></textarea>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Is the Trainee aware of this referral?<span class="text-danger">{{ " *" }}</span></label>
                            <div class="d-flex flex-row">
                                <div class="form-check mx-3">
                                    <input class="form-check-input" type="radio" id="selectionRadio4" name="radioOption2" value="yes">
                                    <label class="mx-2" for="selectionRadio4">Yes</label>
                                  </div>
                                  <div class="form-check mx-3">
                                    <input class="form-check-input" type="radio" id="selectionRadio5"  name="radioOption2" value="no">
                                    <label class="mx-2" for="selectionRadio5">No</label>
                                  </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Is feedback/report required?<span class="text-danger">{{ " *" }}</span></label>
                            <div class="d-flex flex-row">
                                <div class="form-check mx-3">
                                    <input class="form-check-input" type="radio" id="selectionRadio6" name="radioOption3" value="yes">
                                    <label class="mx-2" for="selectionRadio6">Yes</label>
                                  </div>
                                  <div class="form-check mx-3">
                                    <input class="form-check-input" type="radio" id="selectionRadio7" name="radioOption3"  value="no">
                                    <label class="mx-2" for="selectionRadio7">No</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Appointment Date<span class="text-danger">{{ " *" }}</span></label>
                            <input class="form-control flatpickr-input" type="text"
                                formControlName="date" mwlFlatpickr [altInput]="true" [convertModelValue]="true">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Appointment Time</label>
                            <input class="form-control
                            flatpickr-input" 
                            formControlName="time"
                            type="text" mwlFlatpickr
                                        [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'">
                        </div>
                        
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Venue<span class="text-danger">{{ " *" }}</span></label>
                            <input type="text" formControlName="venue" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Mode<span class="text-danger">{{ " *" }}</span></label>
                            <ng-select [items]="listData.mode" placeholder="Please select"
                            formControlName="mode">
                            </ng-select>
                        </div>
                    </div>
                </form>
                <button class="btn btn-primary right" (click)="onSave()">Submit</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>