.section {
    background-color: rgb(218, 218, 218);
}
.card-body {
    padding: 15px 30px !important;
}
.form-text-label {
    color: white !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
}
.form-text-label span {
    font-weight: 500 !important;
}

.border {
    border: 1px solid var(--vz-border-color) !important;
    border-radius: 14px !important;
}

a i {
    padding: 5px;
}

a:hover i {
    border: 1px solid ;
}