<div class="row">
    <div class="col">
        <div class="h-100">
            <div class="row mb-3 pb-1">
                <div class="col-12">
                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                        <div class="flex-grow-1">
                            <h4 class="fs-16 mb-1">Good Morning, Abbas!</h4>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Admission Statistics (Submission per Month)</h4>
                        </div>
                        <div class="card-body px-3">
                            <apx-chart [series]="admissionStatisticsChart.series" [chart]="admissionStatisticsChart.chart"
                            [dataLabels]="admissionStatisticsChart.dataLabels" [plotOptions]="admissionStatisticsChart.plotOptions"
                            [responsive]="admissionStatisticsChart.responsive" [xaxis]="admissionStatisticsChart.xaxis"
                            [legend]="admissionStatisticsChart.legend" [fill]="admissionStatisticsChart.fill" [colors]="admissionStatisticsChart.colors"></apx-chart>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">My Tasks</h4>
                        </div>
                        <div class="card-body p-0">
            
                            <div class="align-items-center p-3 justify-content-between d-flex">
                                <div class="flex-shrink-0">
                                    <div class="text-muted"><span class="fw-semibold">4</span> of <span class="fw-semibold">10</span> remaining</div>
                                </div>
                                <button type="button" class="btn btn-sm btn-success"><i class="ri-add-line align-middle me-1"></i> Add Task</button>
                            </div>
                            
                            <ngx-simplebar style="max-height: 330px;">
                                <ul class="list-group list-group-flush border-dashed px-3">
                                    <li class="list-group-item ps-0">
                                        <div class="d-flex align-items-start">
                                            <div class="form-check ps-0 flex-sharink-0">
                                                <input type="checkbox" class="form-check-input ms-0" id="task_one">
                                            </div>
                                            <div class="flex-grow-1">
                                                <label class="form-check-label mb-0 ps-2" for="task_one">Log Duty Hours for December</label>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <p class="text-muted fs-12 mb-0">15 Oct, 2022</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item ps-0">
                                        <div class="d-flex align-items-start">
                                            <div class="form-check ps-0 flex-sharink-0">
                                                <input type="checkbox" class="form-check-input ms-0" id="task_two">
                                            </div>
                                            <div class="flex-grow-1">
                                                <label class="form-check-label mb-0 ps-2" for="task_two">Add Rotations to Anaesthesia Curriculum</label>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <p class="text-muted fs-12 mb-0">20 Oct, 2022</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item ps-0">
                                        <div class="d-flex align-items-start">
                                            <div class="form-check flex-sharink-0 ps-0">
                                                <input type="checkbox" class="form-check-input ms-0" id="task_three">
                                            </div>
                                            <div class="flex-grow-1">
                                                <label class="form-check-label mb-0 ps-2" for="task_three">Add Training Sites to Anaesthesia Curriculum</label>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <p class="text-muted fs-12 mb-0">24 Oct, 2022</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item ps-0">
                                        <div class="d-flex align-items-start">
                                            <div class="form-check ps-0 flex-sharink-0">
                                                <input type="checkbox" class="form-check-input ms-0" id="task_four">
                                            </div>
                                            <div class="flex-grow-1">
                                                <label class="form-check-label mb-0 ps-2" for="task_four">Log Procedures for Hilal basheer
                                                </label>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <p class="text-muted fs-12 mb-0">27 Oct, 2022</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item ps-0">
                                        <div class="d-flex align-items-start">
                                            <div class="form-check ps-0 flex-sharink-0">
                                                <input type="checkbox" class="form-check-input ms-0" id="task_five">
                                            </div>
                                            <div class="flex-grow-1">
                                                <label class="form-check-label mb-0 ps-2" for="task_five">Log Procedures for Al Abri Falsal</label>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <p class="text-muted fs-12 mb-0">29 Oct, 2022</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- end ul -->
                            </ngx-simplebar>
                            <div class="p-3 pt-2">
                                <a href="javascript:void(0);" class="text-muted text-decoration-underline">Show more...</a>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Scholarship Project Applications</h4>
                        </div>
                        <div class="card-body px-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex flex-row justify-content-end">
                                        <button (click)="onFilter()" type="button" class="btn-sm my-2 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select Specialty">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select Project specialization">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select Sub Specialization">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select Country">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select Academic Year">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select Employment Status">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select Employer">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select Obtained Degree">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <input class="form-control" type="text" placeholder="Please enter OMSB Selection Exam score">
                                </div>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select OMSB Selection Exam score">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select OMSB specialty certificate">
                                    </ng-select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <input class="form-control" type="text" placeholder="Please enter International Exams/Qualifications">
                                </div>
                                <div class="col-md-3 mb-1">
                                    <ng-select [items]="[]"
                                    placeholder="Please select BLS Certificate validity">
                                    </ng-select>
                                </div>
                                <div class="d-flex flex-row">
                                    <button (click)="onSearch()" class="btn btn-primary my-2">Filter</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="live-preview">     
                                    <div class="table-responsive">
                                        <table class="table align-middle table-hover table-wrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Full Name</th>
                                                    <th scope="col">Specialty</th>
                                                    <th scope="col">Sponsored By</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Contact Number</th>
                                                    <th scope="col">BLS Expiry Date</th>
                                                    <th scope="col">ACLS Expiry Date</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr *ngFor="let application of listData.applicationTableDate">
                                                    <td>{{application.fullName}}</td>
                                                    <td>{{application.program}}</td>
                                                    <td>{{application.sponsoredBy}}</td>
                                                    <td>{{application.email}}</td>
                                                    <td>{{application.contactNumber}}</td>
                                                    <td>{{application.blsExpiryDate}}</td>
                                                    <td>{{application.aclsExpiryDate}}</td>
                                                    <td>{{application.status}}</td>
                                                    <td>
                                                        <div class="dropdown" ngbDropdown>
                                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                                <i class="ri-more-2-fill"></i>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                                <li (click)="onNavigate('/employer/employer-view-applications')"><a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View Scholarship Project Application</a></li>
                                                                <li (click)="openModal(screeningStatus,'md')"><a class="dropdown-item" ><i class="mx-1 ri-pages-line"></i>Screening Status</a></li>
                                                                    
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </thead>
                                            
                                        </table>
                                    </div>                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Scholarship  Application Summary</h4>
                        </div>
                        <div class="card-body px-3">
                            <apx-chart [series]="applicationSummaryChart.series" 
                                [chart]="applicationSummaryChart.chart"
                                [labels]="applicationSummaryChart.labels" [responsive]="applicationSummaryChart.responsive"
                                [legend]="applicationSummaryChart.legend" [dataLabels]="applicationSummaryChart.dataLabels"
                                [colors]="applicationSummaryChart.colors"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div> 
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #screeningStatus let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Employer Screening Status</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form [formGroup]="committeeReviewForm">
                <div class="mt-2 row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Screening Status<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select [items]="listData.screeningStatus" placeholder="Please select" formControlName="reviewStatus">
                        </ng-select>
                    </div>
                    <div class="col-md-12 mb-3" *ngIf="formValues.reviewStatus === 'Not Approved by Employer'">
                        <label class="form-label">Not approved reason<span class="text-danger">{{ " *" }}</span></label>
                        <input type="text" class="form-control" formControlName="notApprovedStatus">
                    </div>
                    <div class="col-md-12 mb-3" *ngIf="formValues.reviewStatus === 'Other'">
                        <label class="form-label">If Other<span class="text-danger">{{ " *" }}</span></label>
                        <input type="text" class="form-control" formControlName="otherStatus">
                    </div>
    
                </div>
                <button class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    </div><!-- /.modal-content -->
</ng-template>