<app-breadcrumbs title="Workshop Setup" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/simulation/workshop')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>
<div class="row mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-end gap-3">
                        <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                        <button (click)="openModal(addWorkshopSetup, 'xl')" type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3" ><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>Create Workshop Setup</button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Workshop Code <span class="text-danger"></span></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Workshop Name<span class="text-danger"></span></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Workshop Type<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="listData.workshopTypeList" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Workshop Provider</label>
                    <ng-select 
                        [items]="listData.workshopProviderList" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Manual Type<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="listData.manualTypeList" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="d-flex flex-row">
                    <button class="btn btn-primary my-2">Filter</button>
                </div>
            </div>
            <div class="row">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Workshop Code</th>
                                    <th scope="col">Workshop Name</th>
                                    <th scope="col">Workshop Type</th>
                                    <th scope="col">Workshop Provider</th>
                                    <th scope="col">Manual Type</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let workshopSetup of listData.workshopSetupTableData">
                                    <td>{{workshopSetup.workshopCode}}</td>
                                    <td>{{workshopSetup.workshopName}}</td>
                                    <td>{{workshopSetup.workshopType}}</td>
                                    <td>{{workshopSetup.workshopProvider}}</td>
                                    <td>{{workshopSetup.manualType}}</td>
                                    <td>
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <li (click)="setWorkshopSetup(workshopSetup); openModal(viewWorkshopSetup, 'lg')"><a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addWorkshopSetup let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Add Workshop Setup</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form [formGroup]="createWorkshopSetupForm">
                <div class="mt-3">
                    <div class="card shadow border">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Workshop Code <span class="text-danger"></span></label>
                                    <input type="text" formControlName="workshopCode" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Workshop Name<span class="text-danger"></span></label>
                                    <input formControlName="workshopName" type="text" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Workshop Type<span class="text-danger"></span></label>
                                    <ng-select 
                                        [items]="listData.workshopTypeList" formControlName="workshopType" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-3" *ngIf="createWorkshopSetupValues.workshopType === 'Other'">
                                    <label class="form-lable">If Other, Workshop Type<span class="text-danger"></span></label>
                                    <input formControlName="workshopTypeOther" type="text" class="form-control">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label class="form-lable">Workshop Description<span class="text-danger"></span></label>
                                    <ckeditor [editor]="Editor" formControlName="workshopDescription"></ckeditor>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Pre-Requisite Workshop</label>
                                    <ng-select 
                                        [items]="[]" formControlName="preRequisiteWorkshop" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Workshop Duration (In Days)<span class="text-danger"></span></label>
                                    <input formControlName="workshopDuration" type="text" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Workshop Provider</label>
                                    <ng-select 
                                        [items]="listData.workshopProviderList" formControlName="workshopProvider" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-3" *ngIf="createWorkshopSetupValues.workshopProvider === 'Other'">
                                    <label class="form-lable">If Other, Workshop Provider<span class="text-danger"></span></label>
                                    <input formControlName="workshopProviderOther" type="text" class="form-control">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-lable">Evaluation Form </label>
                                    <ng-select 
                                        [multiple]="true"
                                        [items]="listData.evaluationFormList" formControlName="evaluationForm" placeholder="Please select">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow border">
                        <p class="h5 px-3 py-2 text-primary">Workshop Coordinators</p>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-lable">Staff</label>
                                    <ng-select 
                                        [multiple]="true"
                                        [items]="listData.userLists" formControlName="workshopStaffCoordinators" 
                                        bindLabel="labelValue" bindValue="name" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-lable">Other Coordinators</label>
                                    <ng-select 
                                        [multiple]="true"
                                        [items]="listData.userLists" formControlName="workshopOtherCoordinators" 
                                        bindLabel="labelValue" bindValue="name" placeholder="Please select">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow border">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">CPD Score <span class="text-danger"></span></label>
                                    <input formControlName="cpdScore" type="text" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Manual Type<span class="text-danger"></span></label>
                                    <ng-select 
                                        [items]="listData.manualTypeList" formControlName="manualType" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-3" *ngIf="createWorkshopSetupValues.manualType === 'eManual'">
                                    <label class="form-lable">eManual Link</label>
                                    <div class="d-flex flex-row gap-1">
                                        <input formControlName="eManualLink" type="text" class="form-control">
                                        <button class="btn btn-primary">Upload</button>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Minimum No. of manuals required<span class="text-danger"></span></label>
                                    <input formControlName="manualsRequired" type="text" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Current no. of manuals available<span class="text-danger"></span></label>
                                    <input formControlName="manualsAvailable" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow border">
                        <div class="d-flex flex-row px-3 py-2 justify-content-between">
                            <p class="h5 mb-0 text-primary">Roles</p>
                            <button (click)="addRolesArray()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-file-add-line"></i></button>
                        </div>
                        <div class="card-body" formArrayName="roles">
                            <div class="row mt-1 shadow" *ngFor="let roles of rolesControls; let i = index"
                            [formGroupName]="i">
                                <div class="d-flex flex-row justify-content-end">
                                    <button (click)="deleteRolesArray(i)" type="button" class="btn btn-outline-danger btn-sm btn-icon waves-effect waves-light"><i class=" ri-delete-bin-5-line"></i></button>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-lable">Role</label>
                                    <ng-select 
                                        [items]="listData.userRolesList" formControlName="role" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-lable">No. of Roles<span class="text-danger"></span></label>
                                    <input formControlName="noOfRoles" (change)="onChangeNoOfRoles(i)" type="text" class="form-control">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="row" *ngIf="usersRolePayControls(i).length != 0" formArrayName="usersArray">
                                        <div class="col-md-6 mb-3" *ngFor="let roles of usersRolePayControls(i); let j = index"
                                        [formGroupName]="j">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <ng-select 
                                                    [items]="listData.userLists" 
                                                    bindLabel="labelValue" bindValue="name" formControlName="userName" placeholder="Please select a User">
                                                </ng-select>
                                                </div>
                                                <div class="col-md-5">

                                                    <div class="input-group input-group">
                                                        <span class="input-group-text" id="inputGroup-sizing-sm">ر.ع.</span>
                                                        <input type="text" 
                                                        formControlName="userPay" placeholder="Payable Amount" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                    </div>

                                                </div>
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="card shadow border">
                        <div class="d-flex flex-row px-3 py-2 justify-content-between">
                            <p class="h5 mb-0 text-primary">Standardized Patients</p>
                            <button (click)="addStandardizedPatientsArray()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-file-add-line"></i></button>
                        </div>
                        <div class="card-body" formArrayName="standardizedPatients">
                            <div class="row">
                                <div class="col-md-4" *ngFor="let fee of standardizedPatientsControls; let i = index"
                                [formGroupName]="i" >
                                    <div class="row">
                                        <div class="col-md-9 mb-1">
                                            <label for="" class="form-label">Patients Name</label>
                                            <ng-select [items]="listData.userLists" 
                                            bindLabel="labelValue" bindValue="name" 
                                            formControlName="patient" placeholder="Please select a Patient">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3 mb-1">
                                            <div class="d-flex flex-row justify-content-between">
                                                <button (click)="openModal(standardizedPatientsPopUp,'lg')" type="button" class="btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class="ri-file-user-line"></i></button>
                                                <button (click)="deleteStandardizedPatientsArray(i)" type="button" class="btn btn-outline-danger btn-sm btn-icon waves-effect waves-light"><i class=" ri-delete-bin-5-line"></i></button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card shadow border">
                        <div class="d-flex flex-row px-3 py-2 justify-content-between">
                            <p class="h5 mb-0 text-primary">Certificate And Signatories</p>
                            <button (click)="addCertificateAndSignatoriesArray()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-file-add-line"></i></button>
                        </div>
                        <div class="card-body" formArrayName="certificateAndSignatories">
                            <div *ngFor="let certificate of certificateAndSignatoriesControls; let i = index"
                            [formGroupName]="i" class="row">
                                <div class="d-flex flex-row justify-content-end">
                                    <button (click)="deleteCertificateAndSignatoriesArray(i)" type="button" class="btn btn-outline-danger btn-sm btn-icon waves-effect waves-light"><i class=" ri-delete-bin-5-line"></i></button>
                                </div>
                                <div class="col-md-4 mb-1">
                                    <label for="" class="form-label">Certificate Type</label>
                                    <ng-select [items]="listData.certificateType" formControlName="certificateType" placeholder="Please select a certificate">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-1">
                                    <label class="form-label">Certificate Name</label>
                                    <input type="text" class="form-control" formControlName="certificateName" >
                                </div>
                                <div class="col-md-4 mb-1">
                                    <label for="" class="form-label">Signatories</label>
                                    <ng-select [items]="listData.userLists" 
                                    bindLabel="labelValue" bindValue="name" 
                                    [multiple]="true"
                                    formControlName="signatories" placeholder="Please select a User">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </form>
            
        </div>
    </div>
</ng-template>

<ng-template #viewWorkshopSetup let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">View Workshop Setup</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="card shadow border">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="form-lable">Workshop Code <span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.workshopCode}}</label>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-lable">Workshop Name<span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.workshopName}}</label>                                
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-lable">Workshop Type<span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.workshopType}}</label>
                            </div>
                            <div class="col-md-4 mb-3" *ngIf="selectedWorkshopSetup.workshopTypeOther.workshopType === 'Other'">
                                <label class="form-lable">If Other, Workshop Type<span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.workshopTypeOther}}</label>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="form-lable">Workshop Description<span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.workshopDescription}}</label>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-lable">Pre-Requisite Workshop</label>
                                <label class="form-control">{{selectedWorkshopSetup.preRequisiteWorkshop}}</label>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-lable">Workshop Duration (In Days)<span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.workshopDuration}}</label>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-lable">Workshop Provider</label>
                                <label class="form-control">{{selectedWorkshopSetup.workshopProvider}}</label>
                            </div>
                            <div class="col-md-4 mb-3" *ngIf="selectedWorkshopSetup.workshopProvider === 'Other'">
                                <label class="form-lable">If Other, Workshop Provider<span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.workshopProviderOther}}</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-lable">Evaluation Form</label>
                                <label class="form-control">{{selectedWorkshopSetup.evaluationForm}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow border">
                    <p class="h5 px-3 py-2 text-primary">Workshop Coordinators</p>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-lable">Staff</label>
                                <label class="form-control">{{selectedWorkshopSetup.workshopStaffCoordinators}}</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-lable">Other Coordinators</label>
                                <label class="form-control">{{selectedWorkshopSetup.workshopOtherCoordinators}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow border">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="form-lable">CPD Score <span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.cpdScore}}</label>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-lable">Manual Type<span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.manualType}}</label>
                            </div>
                            <div class="col-md-4 mb-3" *ngIf="selectedWorkshopSetup.manualType === 'eManual'">
                                <label class="form-lable">eManual Link</label>
                                <label class="form-control">{{selectedWorkshopSetup.eManualLink}}</label>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-lable">Minimum No. of manuals required<span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.manualsRequired}}</label>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-lable">Current no. of manuals available<span class="text-danger"></span></label>
                                <label class="form-control">{{selectedWorkshopSetup.manualsAvailable}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow border">
                    <div class="d-flex flex-row px-3 py-2">
                        <p class="h5 mb-0 text-primary">Roles</p>
                    </div>
                    <div class="card-body" >
                        <div class="row mt-1 shadow" *ngFor="let role of selectedWorkshopSetup.roles;">
                            <div class="col-md-6 mb-3">
                                <label class="form-lable">Role</label>
                                <label class="form-control">{{role.role}}</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-lable">No. of Roles<span class="text-danger"></span></label>
                                <label class="form-control">{{role.noOfRoles}}</label>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="row">
                                    <div class="col-md-6 mb-3" *ngFor="let user of role.usersArray;">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <label class="form-lable">User Name</label>
                                                <label class="form-control">{{user.userName}}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <label class="form-lable">Payable Amount</label>
                                                <div class="input-group input-group">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">ر.ع.</span>
                                                    <input type="text" 
                                                    [ngModel]="user.userPay"
                                                    placeholder="Payable Amount" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card shadow border">
                    <div class="d-flex flex-row px-3 py-2">
                        <p class="h5 mb-0 text-primary">Standardized Patients</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let standardizedPatient of selectedWorkshopSetup.standardizedPatients">
                                <div class="row">
                                    <div class="col-md-9 mb-1">
                                        <label for="" class="form-label">Patients Name</label>
                                        <label class="form-control">{{standardizedPatient.patient}}</label>
                                    </div>
                                    <div class="col-md-3 mb-1">
                                        <div class="d-flex flex-row justify-content-between">
                                            <button (click)="openModal(standardizedPatientsPopUp,'lg')" type="button" class="btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class="ri-file-user-line"></i></button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="card shadow border">
                    <div class="d-flex flex-row px-3 py-2">
                        <p class="h5 mb-0 text-primary">Certificate And Signatories</p>
                    </div>
                    <div class="card-body">
                        <div *ngFor="let certificate of selectedWorkshopSetup.certificateAndSignatories; let i = index" class="row">
                            <div class="col-md-4 mb-1">
                                <label for="" class="form-label">Certificate Type</label>
                                <label class="form-control">{{certificate.certificateType}}</label>
                            </div>
                            <div class="col-md-4 mb-1">
                                <label class="form-label">Certificate Name</label>
                                <label class="form-control">{{certificate.certificateName}}</label>
                            </div>
                            <div class="col-md-4 mb-1">
                                <label for="" class="form-label">Signatories</label>
                                <label class="form-control">{{certificate.signatories}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</ng-template>


<ng-template #standardizedPatientsPopUp let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Standardized Patients Details</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Civil ID</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.civilID}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Full Name</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.fullName}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Gender</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.gender}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Date Of Birth</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.dateOfBirth}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Nationality</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.nationality}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Registration Date</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.registrationDate}}</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Physical Information</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.physicalInformation}}</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Medical Information</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.medicalInformation}}</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Payable Amount</label>
                        <label class="form-control">{{listData.standardizedPatientsSampleObject.payableAmount}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>


