table {
    
    max-width: 100% !important;
}
th {
    background-color: #193239 !important;
    color: white !important;
}
td {
    vertical-align: middle;
}
.form-check-label  {
    font-size: 0.7125rem !important;
}