<div class="row card-box">
    <div class="col-md-3 col-12 mb-3">
        <div class="card  border shadow" [routerLink]="['/curriculum/new-program']">
            <div class="card-header bg-success">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    NP
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Starting New Program</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card  border shadow" [routerLink]="['/curriculum/curriculum-review']" >
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    CR
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Curriculum Review</p>
            </div>
        </div>
    </div>
</div>