.card {
    height: 100%;
}
.card .card-body {
    height: 100%;
}
.card .card-body .row{
    height: 100%;
}
.assignment-box {
    max-height: 70px;
    width: 100% !important;
    overflow-y: auto;
}

.assignment-box div {
    word-wrap: break-word;
    text-align: center;
    width: calc(95%/3) !important;
    margin: 0 5px 0 5px;
}
.assignment-box div:hover {
    background-color: rgb(216, 216, 216);
}
.active {
    background-color: rgb(110, 110, 110);
    color: white;
}
::ng-deep .fc-event {
    margin-top: 0 !important;
}
::ng-deep .fc-timegrid-event {
    padding: 0 !important;
}
::ng-deep .fc-event-title {
    font-size: 0.7rem !important;
}
::ng-deep .fc .fc-timegrid-slot {
    height: 2em;
}
full-calendar {
    height: calc(100vh - 240px ) !important;
}
::ng-deep .fc-event-title-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    font-weight: 300;
}