<app-breadcrumbs title="Add Meeting Invite" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="d-flex flex-row">
    <button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('meeting-management/view-meetings')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>
</div>
<form [formGroup]="meetingInviteForm">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Meeting Type<span class="text-danger">{{ " *" }}</span></label>
                    <ng-select [items]="listData.availableMeetingTypes" formControlName="meetingType"
                    (change)="onChangeMeetingType()"
                    bindLabel="meetingType" bindValue="meetingType" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-8 mb-3">
                    <label class="form-label">Title<span class="text-danger">{{ " *" }}</span></label>
                    <input type="text" formControlName="title" class="form-control">
                </div>
                <div class="col-md-12 mb-3">
                    <label class="form-label">Select Attendees<span class="text-danger">{{ " *" }}</span></label>
                    <ng-select [items]="listData.userLists" formControlName="selectedAttendees"
                    [multiple]="true"
                    bindLabel="labelValue" bindValue="name" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Start Date<span class="text-danger">{{ " *" }}</span></label>
                    <input class="form-control flatpickr-input" type="text" id="example-week-input" formControlName="startDate"
                    mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="multiple">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Start Time<span class="text-danger">{{ " *" }}</span></label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr formControlName="startTime"
                        [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">End Date<span class="text-danger">{{ " *" }}</span></label>
                    <input class="form-control flatpickr-input" type="text" id="example-week-input" formControlName="endDate"
                    mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="multiple">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">End Time<span class="text-danger">{{ " *" }}</span></label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr formControlName="endTime"
                        [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Venue<span class="text-danger">{{ " *" }}</span></label>
                    <a class="tagLink">Click here to book</a>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="isOnline"/>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Online<span
                            class="text-danger">{{ " *" }}</span
                        ></label>
                    </div>
                </div>
                <div class="col-md-4 mb-3" *ngIf="meetingInviteFormValues.isOnline">
                    <label class="form-label">Meeting Link<span class="text-danger">{{ " *" }}</span></label>
                    <a class="tagLink">Create a meeting link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="meetingInviteFormValues.meetingType">
        <div class="card-body">
            <ul ngbNav #ModifierCustom="ngbNav" [activeId]="1" class="nav nav-pills nav-customs nav-danger">
                <li [ngbNavItem]="1">`
                    <a ngbNavLink class="nav-link">
                      Predefined Agenda
                    </a>
                    <ng-template ngbNavContent>
                        <ng-container *ngTemplateOutlet="predefinedAgenda"></ng-container>   
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink class="nav-link">
                        Department Proposed Agenda
                    </a>
                    <ng-template ngbNavContent>
                        <ng-container *ngTemplateOutlet="proposedAgenda"></ng-container> 
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink class="nav-link">
                      New Agenda
                    </a>
                    <ng-template ngbNavContent>
                        <ng-container *ngTemplateOutlet="newAgenda"></ng-container> 
                    </ng-template>
                </li>
            </ul>
            <div class="tab-content text-muted">
                <div [ngbNavOutlet]="ModifierCustom"></div>
            </div>
        </div>
    </div>
</form>

<ng-template #predefinedAgenda>
    <div class="row mt-3" >
        <div class="col-md-12" *ngFor="let agenda of meetingInviteFormValues.predefinedAgenda; let i = index">
            <div class="shadow border border-dashed p-2">
                <p class="h4 text-success">{{(i+1)}}{{" : Agenda : "}}</p>
                <label class="text-wrap form-control" [innerHtml]="agenda.agendaItem"></label>
                <div class="d-flex flex-row gap-2">
                    <label class="form-control"><span class="text-muted">{{"Presenter : "}}</span>{{agenda.presenter}}</label>
                    <label class="form-control"><span class="text-muted">{{"Time Duration : "}}</span>{{agenda.timeDuration}}</label>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #proposedAgenda>
    <div class="row mt-3" >
        <div class="col-md-12" *ngFor="let agenda of meetingInviteFormValues.departmentAgenda; let i = index">
            <div class="shadow border border-dashed p-2 my-2">
                <div class="d-flex flex-row justify-content-between py-2">
                    <p class="h4 mb-0 text-success">{{(i+1)}}{{" : Agenda"}}</p>
                    <button *ngIf="!agenda.isPollCreated" type="button" class="btn btn-primary waves-effect waves-light btn-sm">Create Poll</button>
                    <button (click)="openModal(viewPollResult, 'md')" *ngIf="agenda.isPollCreated" type="button" class="btn btn-primary waves-effect waves-light btn-sm">Poll Result</button>
                </div>
                <div class="d-flex flex-row gap-2">
                    <label class="form-control"><span class="text-muted">{{"Presenter : "}}</span>{{agenda.presenter}}</label>
                    <label class="form-control"><span class="text-muted">{{"Service Name : "}}</span>{{agenda.serviceName}}</label>
                    <label class="form-control"><span class="text-muted">{{"Service Link : "}}</span>
                    <a class="tagLink" (click)="onNavigate(agenda.serviceLink)">{{"Link"}}</a>
                    </label>
                </div>
                <label class="text-wrap form-control" [innerHtml]="agenda.comments"></label>
                <div class="d-flex flex-row align-items-center">
                    <p class="h6">Download supporting documents</p>
                    <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <button class="btn btn-success">Accept</button>
                    <button class="btn btn-danger mx-3">Decline</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #newAgenda>
    <div class="row mt-3" >
        <div class="d-flex flex-row">
            <button (click)="openModal(addAgenda, 'lg')" type="button" class="btn btn-primary waves-effect waves-light"><i class=" ri-file-add-line"></i></button>
        </div>       
        <div class="col-md-12" *ngFor="let agenda of agendaArrayControls; let i = index">
            <div class="shadow border border-dashed p-2 my-2">
                <div class="d-flex flex-row justify-content-between py-2">
                    <p class="h4 mb-0 text-success">{{(i+1)}}{{" : Agenda"}}</p>
                    <div class="d-flex flex-row justify-content-end">
                        <button *ngIf="!agenda.value.isPollCreated" type="button" class="mx-1 btn btn-primary waves-effect waves-light btn-sm">Create Poll</button>
                        <button (click)="openModal(viewPollResult, 'md')" *ngIf="agenda.value.isPollCreated" type="button" class="mx-1 btn btn-primary waves-effect waves-light btn-sm">Poll Result</button>
                        <button (click)="onDeleteAgenda(i)" type="button" class="btn btn-danger waves-effect waves-light"><i class=" ri-delete-bin-line"></i></button>
                    </div>
                </div>
                <div class="d-flex flex-row gap-2">
                    <label class="form-control"><span class="text-muted">{{"Time Duration : "}}</span>{{agenda.value.timeDuration}}</label>
                    <label class="form-control"><span class="text-muted">{{"Presenter : "}}</span>{{agenda.value.presenter}}</label>
                </div>
                <label class="text-wrap form-control" [innerHtml]="agenda.value.agendaItem"></label>
                
            </div>
        </div>
        
    </div>
</ng-template>

<ng-template #addAgenda let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Add Agenda</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <form [formGroup]="agendaForm">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Agenda <span class="text-danger">*</span></label>
                            <ckeditor formControlName="agenda" [editor]="Editor" ></ckeditor>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Time Duration</label>
                            <input type="text" class="form-control" formControlName="timeDuration" >
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Presenter</label>
                            <ng-select [items]="listData.presentersList" formControlName="presenter" placeholder="Please select">
                            </ng-select>
                        </div>
                    </div>
                </form>
                <button class="btn btn-primary" (click)="onSubmitAgenda()">Submit</button>
            </div>
            
        </div>
    </div>
</ng-template>

<ng-template #viewPollResult let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Agenda Poll Result</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <apx-chart [series]="simpleDonutChart.series" [chart]="simpleDonutChart.chart"
                [labels]="simpleDonutChart.labels" [responsive]="simpleDonutChart.responsive"
                [legend]="simpleDonutChart.legend" [dataLabels]="simpleDonutChart.dataLabels"
                [colors]="simpleDonutChart.colors"></apx-chart>
            </div>
            
        </div>
    </div>
</ng-template>