.tagLink {
    text-decoration: underline;
    color: blue;
    margin-left: 15px;
    cursor: pointer;
}
.tagLink:hover {
    color: rgb(87, 87, 159);
}
.nav-customs.nav .nav-link.active, .nav-customs.nav .nav-link.active:before, .nav-customs.nav .nav-link.active:after {
    background-color: #193239;
    color: #fff;
}
.nav-customs.nav .nav-link.active {
    background-color: #193239!important;
}

.nav {
    background-color: #f6f6f6 !important;
}