<div class="row card-box">
    <div class="col-md-3 col-12 mb-3">
        <div class="card  border shadow" [routerLink]="['/accreditation/accredit-new-program']">
            <div class="card-header bg-success">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AP
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Accredit New Program</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card  border shadow" [routerLink]="['/accreditation/accreditation-review']" >
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AR
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Accreditation Review</p>
            </div>
        </div>
    </div>
</div>