<div class="row">
    <div class="col-md-4 mb-3">
        <label class="form-label">Request Id</label>
        <label class="form-control">{{formData.requestId}}</label>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label">Curriculum to be Reviewed</label>
        <label class="form-control">{{formData.curriculumToBeReviewed}}</label>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label">Proposed Effective AY for New Curriculum</label>
        <label class="form-control">{{formData.academicYear}}</label>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label">New Curriculum Document</label>
        <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light mx-4"><i class=" ri-download-cloud-line"></i></button>
    </div>
</div>
<div class="row my-2" *ngIf="formData.curriculumComponents !== null">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
        <ngb-panel id="static-1">
            <ng-template ngbPanelTitle class="accordion-header">
                <h2 class="accordion-header" id="gen-ques-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#gen-ques-collapseOne" aria-expanded="false" 
                        aria-controls="gen-ques-collapseOne">
                        Curriculum Components
                    </button>
                </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-curriculum-components [formData]="formData.curriculumComponents"></app-curriculum-components>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
            <ng-template ngbPanelTitle class="accordion-header">
                <h2 class="accordion-header" id="gen-ques-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#gen-ques-collapseOne" aria-expanded="false" 
                        aria-controls="gen-ques-collapseOne">
                        List Of Modification
                    </button>
                </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-list-of-modification [formData]="formData.listOfModifications"></app-list-of-modification>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3">
            <ng-template ngbPanelTitle class="accordion-header">
                <h2 class="accordion-header" id="gen-ques-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#gen-ques-collapseOne" aria-expanded="false" 
                        aria-controls="gen-ques-collapseOne">
                        Rotation Analysis
                    </button>
                </h2>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-rotaion-analysis [formData]="formData.rotationAnalysis"></app-rotaion-analysis>
            </ng-template>
        </ngb-panel>
        
  </ngb-accordion>  

    
</div>
<div class="row" *ngIf="formData.curriculumComponents !== null">
    <div class="col-md-4 mb-3" *ngIf="formData.effectiveDate !== null">
        <label class="form-label">Proposed Effective AY for New Curriculum</label>
        <label class="form-control">{{formData.effectiveDate}}</label>
        
    </div>
</div>
<div class="row" *ngIf="formData.effectiveDate !== null">
    <div class="col-md-12 mb-3" *ngIf="formData.commentsFromGme !== null">
        <label class="form-label">Comments | by : GME Director | On 2022-11-12</label>
        <label class="form-control">{{formData.commentsFromGme}}</label>
    </div>
</div>

<div class="row" *ngIf="formData.commentsFromGme !== null">
    <div class="col-md-12 mb-3" *ngIf="formData.commentsFromVppa !== null">
        <label class="form-label">Comments | by : VPPA | On 2022-11-12</label>
        <label class="form-control">{{formData.commentsFromVppa}}</label>
    </div>
</div>

<div class="row" *ngIf="formData.commentsFromVppa !== null">
    <div class="col-md-12 mb-3" *ngIf="formData.commentsFromBscToEb !== null">
        <label class="form-label">Comments | by : Board and Committee Section | On 2022-11-12</label>
        <label class="form-control">{{formData.commentsFromBscToEb}}</label>
    </div>
</div>
