<div class="card">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-end">
            <button (click)="openModal(addAgendaRequest, 'lg')" type="button" class="btn btn-primary btn-label waves-effect waves-light"><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>Add Agenda Request</button>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 mb-3">
                <ng-select [items]="[]" placeholder="Please select Presenter Name">
                </ng-select>
            </div>
            <div class="col-md-6 mb-3">
                <ng-select [items]="[]" placeholder="Please select Service Name">
                </ng-select>
            </div>
            <div class="d-flex flex-row">
                <button class="btn btn-primary">Filter</button>
            </div>
        </div>
        
        <div class="row mt-3" >
            <div class="col-md-12" *ngFor="let agenda of listData.agendas; let i = index">
                <div class="shadow border border-dashed p-2 my-2">
                    <div class="d-flex flex-row justify-content-between py-2">
                        <p class="h4 mb-0 text-success">{{(i+1)}}{{" : Agenda"}}</p>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <label class="form-control"><span class="text-muted">{{"Presenter : "}}</span>{{agenda.presenter}}</label>
                        <label class="form-control"><span class="text-muted">{{"Service Name : "}}</span>{{agenda.serviceName}}</label>
                        <label class="form-control"><span class="text-muted">{{"Service Link : "}}</span>
                        <a class="tagLink" (click)="onNavigate(agenda.serviceLink)">{{"Link"}}</a>
                        </label>
                    </div>
                    <label class="text-wrap form-control" [innerHtml]="agenda.comments"></label>
                    <div class="d-flex flex-row align-items-center">
                        <p class="h6">Download supporting documents</p>
                        <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-md-right float-md-end gridjs-pagination">
                  <ngb-pagination
                  [collectionSize]="50" [boundaryLinks]="true" [maxSize]="3" [rotate]="true" [ellipses]="false" [page]="1" [pageSize]="5">
                </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addAgendaRequest let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5"> Add Agenda Request</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form [formGroup]="agendaRequestForm">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Meeting Type<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select [items]="listData.meetingTypes" formControlName="presenter"placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Presenter<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select [items]="listData.userLists" formControlName="presenter"
                        bindLabel="labelValue" bindValue="name" placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="d-flex flex-row justify-content-end">
                        <button (click)="addServicesArrayControls()" type="button" class="btn btn-sm mb-3 btn-primary btn-label waves-effect waves-light"><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>Add More Service</button>
                    </div>
                    <div class="col-md-12 mb-3 shadow border border-dashed p-3" formArrayName="services">
                        <div class="row" *ngFor="let reminder of servicesArrayControls; let i = index" [formGroupName]="i">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Service Name<span class="text-danger">{{ " *" }}</span></label>
                                <ng-select [items]="listData.serviceNames" formControlName="serviceName" placeholder="Please select"></ng-select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Service Link<span class="text-danger">{{ " *" }}</span></label>
                                <ng-select [items]="listData.serviceLinks" formControlName="serviceLink" placeholder="Please select"></ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Agenda <span class="text-danger">*</span></label>
                        <ckeditor [editor]="Editor" formControlName="comments"></ckeditor>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p class="text-muted">Upload supporting Documents<span class="text-danger">{{ " *" }}</span></p>
                        <ngx-dropzone (change)="onSelect($event, 'files')"
                            [multiple]="false">
                            <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files"
                            [removable]="true" (removed)="onRemove(f, 'files')">
                            <ngx-dropzone-label >{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
            </form>
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</ng-template>