<form [formGroup]="requestForm">
    <div class="mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Title of Research Project<span class="text-danger">*</span></label>
                        <input type="text" formControlName="title" class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Type of research<span class="text-danger">*</span></label>
                        <ng-select formControlName="typeOfResearch"
                            [items]="listData.typeOfResearchList" placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="formValues.typeOfResearch === 'Other'">
                        <label class="form-label">If Other, Type of research<span class="text-danger">*</span></label>
                        <input type="text" class="form-control"  formControlName="ifOtherTypeOfResearch">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Type of the study design<span class="text-danger">*</span></label>
                        <ng-select formControlName="typeOfStudyDesign"
                            [items]="listData.typeOfStudyDesignList" placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="formValues.typeOfStudyDesign === 'Other'">
                        <label class="form-label">If Other, Type of the study design<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="ifOtherTypeOfStudyDesign">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Abstract <span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="abstract"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 text-primary">Research team</p>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Name of Research Team Member</label>
                        <ng-select [items]="listData.userLists" formControlName="researchMember" 
                            bindLabel="labelValue" bindValue="name" placeholder="Please select">
                        </ng-select>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Responsibility / Tasks</label>
                        <textarea rows="2" class="form-control" formControlName="tasks" ></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 text-primary">Complete Research Proposal</p>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Introduction and literature review<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="literatureReview"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Objectives and hypothesis of the study <span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="hypothesis"></textarea>
                    </div>
                </div>
                <div class="row">
                    <p class="h5 text-secondary">Methods</p>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Research design<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="researchDesign"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Characteristics of study area and target population<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="studyArea"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Sampling and sample size<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="sampling"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Variable definitions and measurements<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="definitionsAndMeasurements"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Data collection tools and methods<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="dataCollectionTools"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Pilot study<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="pilotStudy"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Data quality and entry<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="dataQuality"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Data analysis<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="dataAnalysis"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Ethical considerations</label>
                        <textarea rows="2" class="form-control" formControlName="ethicalConsiderations"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Results Dissemination</label>
                        <textarea rows="2" class="form-control" formControlName="resultsDissemination"></textarea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Limitations and difficulties of the study<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control" formControlName="limitationsAndDifficulties"></textarea>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Expected duration for the study in months<span class="text-danger" >*</span></label>
                        <input type="number" [maxLength]="2" formControlName="expectedDuration" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mt-3 d-flex flex-row justify-content-between">
                    <p class="h5 text-primary">Timeline / work plan of the study</p>
                    <a *ngIf="!isViewOnly" (click)="addTimeline()" href="javascript:void(0);"
                      class="link-primary" ><i class="ri-add-box-line"></i>Add more</a>
                  </div>
                <div class="row">
                    <div formArrayName="timeline">
                        <div class="mt-2 d-flex flex-column p-3  bg-light"
                          *ngFor="let timeline of timelineControls; let i = index"
                          [formGroupName]="i">
                          <div *ngIf="!isViewOnly" class="d-flex flex-row justify-content-end align-items-center">
                            <a (click)="onDeleteTimeline(i)" class="link-danger"
                              ><i class="ri-delete-bin-5-line"></i></a>
                          </div>
                          <div class="row">
                            <div class="col-md-12 mb-3">
                              <label class="form-label">Research activity<span class="text-danger">{{" *"}}</span></label>
                              <textarea rows="2" class="form-control" formControlName="activity"></textarea>
                            </div>
                            <div class="col-md-6">
                              <label class="form-label">Time to Complete - Start Time<span class="text-danger">{{ " *" }}</span></label>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" formControlName="start"
                                    [enableTime]="true" [convertModelValue]="true" [dateFormat]="'Y-m-d H:i'">
                            </div>
                            <div class="col-md-6">
                              <label class="form-label">Time to Complete - End Time<span class="text-danger">{{ " *" }}</span></label>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" formControlName="end"
                                    [enableTime]="true" [convertModelValue]="true" [dateFormat]="'Y-m-d H:i'">
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">If other health institutions involved in this research</label>
                        <div class="d-flex flex-row">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" id="isTraineeAwareCheckRadio1" formControlName="isOtherHealthInstitutionsInvolved" value="Yes">
                              <label class="form-check-label" for="isTraineeAwareCheckRadio1">Yes</label>
                            </div>
                            <div class="form-check mx-4">
                              <input class="form-check-input" type="radio" id="isTraineeAwareCheckRadio2" formControlName="isOtherHealthInstitutionsInvolved" value="No">
                              <label class="form-check-label" for="isTraineeAwareCheckRadio2">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="formValues.isOtherHealthInstitutionsInvolved === 'Yes'">
                        <label class="form-label">If, Yes<span class="text-danger">*</span></label>
                        <input type="text" formControlName="ifOtherHealthInstitutionsInvolved" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
