<section class="section pt-0" id="home">
    <div class="container-fluid carousel_box p-0">
        <ngb-carousel [showNavigationIndicators]="!showNavigationIndicators" [interval]="3000">
            <ng-template ngbSlide>
                <div class="d-flex justify-content-center align-items-center first slide">
                    <div class="d-flex flex-column justify-content-center align-items-start carousel_content">
                        
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="d-flex justify-content-center align-items-center second slide">
                    <div class="d-flex flex-column justify-content-center align-items-start carousel_content">

                    </div>
                </div>
            </ng-template>
          </ngb-carousel>      
    </div>
    <div class="d-flex flex-column p-5 position-absolute popup_div text-white">
        <h2 class="header text-white">Welcome to oman medical speciality board</h2>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa porro dolores fugit ullam, quibusdam totam et nihil earum, sapiente provident vel impedit. Fugiat, animi quidem.</p>
        <div class="d-flex flex-row">
            <a class="btn btn-custom">Read More</a>
        </div>
    </div>
</section>
<section class="section pt-0 " id="vision">
    <div class="container">
        <div class="d-flex flex-row justify-content-center align-items-center content_box gap-5 px-3 pb-5">
            <div class="content_box_items">
                <p class="header">OUR MISSION</p>
                <p class="text">The lab is staffed by a capable, friendly group of scientists, mostly microbiologists. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="javascript:void(0);" >Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
            </div>
            <div class="content_box_items">
                <p class="header">OUR VISION</p>
                <p class="text">We are passionate about our role in improving the quality of people’s lives. Our mission, our excellent science, and our strong sense of purpose guide us in all that we do.</p>
                <a href="javascript:void(0);" >Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
            </div>
            <div class="content_box_items">
                <p class="header">OUR VALUE</p>
                <p class="text">We strive to be the difference for our clients, colleagues, animals, and partners. Watch as our employees explain how our values are applied in their respective careers.</p>
                <a href="javascript:void(0);" >Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="section pt-0 " id="service">
    <div class="container">
        <div class="row d-flex flex-row justify-content-center my-5">
            <div class="col-md-6">
                <h2 class="header">OUR SERVICES</h2>
                <p class="mb-0 header_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quis recusandae delectus repudiandae, vero similique, nihil totam magnam architecto, sit soluta ab! Odio, eveniet quisquam!</p>
            </div>
        </div>
        <div class="row mt-5 service_box">
            <div class="col-lg-4 mb-3 service_box_section card-animate">
                <div class="body">
                    <p class="title">Residency & Fellowship</p>
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem consequatur exercitationem, veniam dolorum hic ipsum debitis molestiae facere, mollitia culpa deleniti asperiores, eligendi accusantium omnis dolore!</p>
                    <div class="d-flex flex-column list_menu">
                        <span>Simulation Course Registration</span>
                        <span>Prometric Exams</span>
                        <span>Exam Registration</span>
                        <span>Residency / Fellowship Application</span>
                        <span>GFP Application</span>
                        <span>Resident Management System</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 service_box_section card-animate">
                <div class="body">
                    <p class="title">Residency & Fellowship</p>
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem consequatur exercitationem.</p>
                    <div class="d-flex flex-column list_menu">
                        <span>Simulation Course Registration</span>
                        <span>Accredited E-Learning Courses</span>
                        <span>Prometric Exams</span>
                        <span>Certificate Verification</span>
                        <span>Certificate Equivalency</span>
                        <span>Continuous Professional 
                            Development</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 service_box_section card-animate">
                <div class="body">
                    <p class="title">Residency & Fellowship</p>
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem consequatur exercitationem.</p>
                    <div class="d-flex flex-column list_menu">
                        <span>E-Learning</span>
                        <span>Simulation Course Registration</span>
                        <span>Hakeem System</span>
                        <span>OMSB e-Services Portal</span>
                        <span>E-Library</span>
                        <span>Oman Medical Journal</span>
                        <span>Ejada</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    
<section class="section pt-0 " id="events">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="header">UPCOMING EVENTS & TRAINING</h2>
            </div>
            <div class="col-md-6">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, mollitia aperiam dignissimos expedita voluptatibus nulla optio illo quidem culpa! Fuga expedita quaerat nemo?</p>
                <a href="javascript:void(0);" >View all Events <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex flex-row flex-wrap event_card_box">
                <div class="d-flex flex-row p-3 event_card card-animate">
                    <div class="date_box d-flex flex-column justify-content-center align-items-center">
                        <p class="month mb-0">Aug</p>
                        <p class="date mb-0">21</p>
                    </div>
                    
                    <div class="info_box d-flex flex-column justify-content-center">
                        <p class="title mb-0">IPHEX 2020 Pharma and Health Care Exhibition Hyderabad</p>
                        <p class="type mb-0">Video</p>
                        <p class="info mb-0"><i class="ri-timer-line"></i> 14:00 - 15:00 PM</p>
                        <p class="info mb-0"><i class="ri-map-pin-line"></i> 213, Building 2, New Jersey, USA</p>
                    </div>


                </div>
                <div class="d-flex flex-row p-3 event_card card-animate">
                    <div class="date_box d-flex flex-column justify-content-center align-items-center">
                        <p class="month mb-0">Sep</p>
                        <p class="date mb-0">02</p>
                    </div>
                    
                    <div class="info_box d-flex flex-column justify-content-center">
                        <p class="title mb-0">American College of Toxicology (ACT) Annual Meeting</p>
                        <p class="type mb-0">Event</p>
                        <p class="info mb-0"><i class="ri-timer-line"></i> 14:00 - 15:00 PM</p>
                        <p class="info mb-0"><i class="ri-map-pin-line"></i> 213, Building 2, New Jersey, USA</p>
                    </div>


                </div>
                <div class="d-flex flex-row p-3 event_card card-animate">
                    <div class="date_box d-flex flex-column justify-content-center align-items-center">
                        <p class="month mb-0">Aug</p>
                        <p class="date mb-0">21</p>
                    </div>
                    <div class="info_box d-flex flex-column justify-content-center">
                        <p class="title mb-0">IPHEX 2020 Pharma and Health Care Exhibition Hyderabad</p>
                        <p class="type mb-0">Video</p>
                        <p class="info mb-0"><i class="ri-timer-line"></i> 14:00 - 15:00 PM</p>
                        <p class="info mb-0"><i class="ri-map-pin-line"></i> 213, Building 2, New Jersey, USA</p>
                    </div>
                </div>
                <div class="d-flex flex-row p-3 event_card card-animate">
                    <div class="date_box d-flex flex-column justify-content-center align-items-center">
                        <p class="month mb-0">Aug</p>
                        <p class="date mb-0">21</p>
                    </div>
                    <div class="info_box d-flex flex-column justify-content-center">
                        <p class="title mb-0">IPHEX 2020 Pharma and Health Care Exhibition Hyderabad</p>
                        <p class="type mb-0">Video</p>
                        <p class="info mb-0"><i class="ri-timer-line"></i> 14:00 - 15:00 PM</p>
                        <p class="info mb-0"><i class="ri-map-pin-line"></i> 213, Building 2, New Jersey, USA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section pt-0 " id="questions">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-md-6 p-5 question_box">
                <h2 class="header">Frequently Asked Questions</h2>
                <p class="mb-0 header_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quis recusandae delectus repudiandae, vero similique, nihil totam magnam architecto, sit soluta ab! Odio, eveniet quisquam!</p>
                <div class="mt-3">
                    <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                        <ngb-panel id="static-1">
                            <ng-template ngbPanelTitle class="accordion-header">
                                <h2 class="accordion-header" id="gen-ques-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#gen-ques-collapseOne" aria-expanded="false"
                                        aria-controls="gen-ques-collapseOne">
                                        Sunt soluta, rerum corrupti quas
                                    </button>
                                </h2>
                            </ng-template>
                            <ng-template ngbPanelContent>
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint impedit earum aspernatur blanditiis laborum ea ab repudiandae suscipit, iste labore quibusdam sapiente delectus corrupti tempore quo. Adipisci aperiam corrupti non facilis temporibus tempore delectus cupiditate voluptates.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2">
                            <ng-template ngbPanelTitle class="accordion-header">
                                <h2 class="accordion-header" id="gen-ques-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#gen-ques-collapseOne" aria-expanded="false"
                                        aria-controls="gen-ques-collapseOne">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit
                                    </button>
                                </h2>
                            </ng-template>
                            <ng-template ngbPanelContent>
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis ab, fugiat similique, nihil ullam praesentium totam alias, ex eligendi autem aut facere? Ullam, tempore suscipit.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3">
                            <ng-template ngbPanelTitle class="accordion-header">
                                <h2 class="accordion-header" id="gen-ques-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#gen-ques-collapseOne" aria-expanded="false"
                                        aria-controls="gen-ques-collapseOne">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </button>
                                </h2>
                            </ng-template>
                            <ng-template ngbPanelContent>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae in fugit qui tempora consequuntur quisquam iure placeat illo nobis, nemo suscipit soluta eos dolore rerum sint animi vero quam veritatis similique officia corporis. Eaque dolor nulla recusandae amet accusantium.
                            </ng-template>
                        </ngb-panel>
                      </ngb-accordion>
                </div>
            </div>
            <div class="col-md-6 image_box">
                <div class="row">
                    <div class="col-md-6 p-0 container_1_img">
                        <img src="assets/images/patient_checkup.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 p-0 container_1">
                        <div class="d-flex flex-column p-5 ">
                            <h3 class="header">JOIN OUR TALENT COMMUNITY</h3>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur distinctio itaque, sunt soluta, rerum corrupti quas necessitatibus placeat quo doloribus molestias, ab quasi?</p>
                            <div class="d-flex flex-row">
                                <a href="javascript:void(0);" >JOIN US<i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 p-0 container_2">
                        <div class="d-flex flex-column p-5 ">
                            <h3 class="header">FOR EMPLOYERS</h3>
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur distinctio itaque, sunt soluta, rerum corrupti quas necessitatibus placeat quo doloribus molestias, ab quasi?</p>
                            <div class="d-flex flex-row">
                                <a href="javascript:void(0);" >CONTACT US<i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-0 container_2_img">
                        <img src="assets/images/lady_doc-image.jpeg" alt="" class="img-fluid">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section pt-0 " id="news">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="header">NEWS & INSIGHTS</h2>
            </div>
            <div class="col-md-6">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, mollitia aperiam dignissimos expedita voluptatibus nulla optio illo quidem culpa! Fuga expedita quaerat nemo?</p>
                <div class="d-flex flex-row-reverse">
                    <a href="javascript:void(0);" >View all NEWS <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="card custom_card card-animate">
                    <img src="assets/images/lab_tests.jpeg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="card-text"></p>
                        <h5 class="card-title mb-1">The Guidelines and Challenges of Performing NHP DART Studies</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href="javascript:void(0);" class="link-light">Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card custom_card card-animate">
                    <img src="assets/images/vr-test.jpeg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title mb-1">New antigen tests are worse than PCR for evaluating asymptomatic patients</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href="javascript:void(0);" class="link-light">Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card custom_card card-animate">
                    <img src="assets/images/lady_doc-image.jpeg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title mb-1">The convergence of nuclear medicine and pediatric orthopedic surgery</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href="javascript:void(0);" class="link-light">Read More <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                    </div>
                </div>
            </div>
            
        </div> 
    </div>
</section>
<section class="section pt-0 " id="foot">
    <div class="container-fluid py-2">
    </div>
</section>