th {
    background-color: #193239 !important;   
    color: white;
    align-items: center;
}
td, th {
    vertical-align: middle;
    word-wrap: break-word;
}
td {
    padding: 0.45rem 0.6rem;
}
td .dropdown-menu-up {
    right: auto !important;
    bottom:100% !important; 
    top:auto !important;
}
td a {
    cursor: pointer !important;
}