<div class="row">
    <div class="col-md-4 mb-3">
        <label class="form-label">Request Id</label>
        <label class="form-control">{{formData.requestId}}</label>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label">Curriculum to be Reviewed</label>
        <label class="form-control">{{formData.curriculumToBeReviewed}}</label>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label">Proposed Effective AY for New Curriculum</label>
        <label class="form-control">{{formData.academicYear}}</label>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label">New Curriculum Document</label>
        <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light mx-4"><i class=" ri-download-cloud-line"></i></button>
    </div>
</div>
<div class="row" *ngIf="formData.curriculumComponents !== null">
    <div class="col-md-4 mb-3">
        <button class="btn btn-secondary btn-sm">View Curriculum Components</button>
    </div>
    <div class="col-md-4 mb-3">
        <button class="btn btn-secondary btn-sm">View Rotation Analysis</button>
    </div>
    <div class="col-md-4 mb-3">
        <button class="btn btn-secondary btn-sm">View List of Modifications</button>
    </div>
</div>
<div class="row" *ngIf="formData.curriculumComponents !== null">
    <div class="col-md-4 mb-3">
        <label class="form-label">Proposed Effective AY for New Curriculum</label>
        <input class="form-control flatpickr-input" type="text" mwlFlatpickr 
            [altInput]="true" [convertModelValue]="true">
    </div>
</div>
<div class="d-flex flex-row mt-3">
    <button class="btn btn-primary" *ngIf="formData.status ==='CFDS review comments submitted'">Submit Curriculum for review</button>
</div>