<div class="row card-box">
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/oc-examinations/manage-exams/view-exam')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    Ex
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">View Exam</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/oc-examinations/manage-exams/view-exam/view-exam-dates')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    ED
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">View Exam Dates</p>
            </div>
        </div>
    </div>
</div>