<form [formGroup]="newRequestForm">
    <div class="mt-3">
        <div class="card">
            <div class="card-body">
                <p class="h5 text-primary">Trainee Details</p>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Applicant Full Name<span class="text-danger">{{ " *" }}</span></label>
                        <input type="text" class="form-control" formControlName="name" >
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-control-label" >Nationality<span class="text-danger">{{ " *" }}</span></label>
                          <ng-select name="nationality"
                          formControlName="nationality"
                          [items]="listData.nationalities" bindLabel="name" bindValue="code"
                              placeholder="Please select">
                          </ng-select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">DoB<span class="text-danger">{{ " *" }}</span></label>
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" formControlName="dob"
                        [convertModelValue]="true"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 text-primary">Passport Details</p>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Passport Number<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="passportNumber">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Passport expiry Date</label>
                        <input class="form-control flatpickr-input"
                            type="text"
                            mwlFlatpickr
                            [altInput]="true"
                            formControlName="passportExpiry"
                            [convertModelValue]="true"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 text-primary">National ID Info</p>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">National/Resident ID No.<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="nationalIdNumber" [disabled]="true">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">National/Resident ID Card Expiry Date</label>
                        <input class="form-control flatpickr-input"
                            type="text"
                            mwlFlatpickr
                            [altInput]="true"
                            formControlName="nationalIdExpiry"
                            [convertModelValue]="true"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="h5 text-primary">Contact Details</p>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Home Telephone</label>
                        <input type="text" class="form-control" formControlName="homeTelephone">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Mobile<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="mobile">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Email<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>
                </div>
            </div>
        </div>        
        <div class="card">
            <div class="card-body">
                <p class="h5 text-primary">Other Info</p>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Profession<span class="text-danger">*</span></label>
                        <ng-select name="nationality"
                              formControlName="profession" [items]="['Doctor', 'Nurse', 'Pharmacist',
                              'Allied Healthcare Staff', 'Other']" 
                              placeholder="Please select">
                          </ng-select>
                    </div>
                </div>
                <div class="row">
                    <p class="h5 text-primary">Official Letter</p>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Title<span class="text-danger">{{ " *" }}</span></label>
                        <input type="text" class="form-control" formControlName="officialLetterTitle">

                    </div>
                    <div class="col-md-4 mb-3" *ngIf="formDataObject != null">
                        <div class="d-flex flex-row align-items-center">
                            <p class="h6">Download Official Letter</p>
                            <button type="button" class=" mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                        </div>
                    </div>
                    <div class="col-md-8 mb-3" *ngIf="formDataObject === null">
                        <p class="text-muted">Supporting Documents.<span class="text-danger">{{ " *" }}</span>
                        </p>
                        <ngx-dropzone (change)="onSelect($event, 'officialLetterFiles')"
                        [multiple]="false">
                        <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of officialLetterFiles"
                            [removable]="true" (removed)="onRemove(f, 'officialLetterFiles')">
                            <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
            </div>
            <div class="card-body" formArrayName="certificatesToBeEvaluate">
                <div class="d-flex flex-row justify-content-between">
                    <p class="h5 text-primary">Certificates to be Evaluated</p>
                    <a *ngIf="formDataObject === null" (click)="addCertificatesToBeEvaluate()"
                    href="javascript:void(0);"
                    class="link-primary"
                    ><i class="ri-add-box-line"></i>Add more</a>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3 border shadow p-3" *ngFor="let document of certificatesToBeEvaluateControls; let i = index"
                    [formGroupName]="i">
                        <div class="row">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <label class="form-label">Qualification Name<span class="text-danger">{{ " *" }}</span></label>
                                    <a *ngIf="formDataObject === null" (click)="onDeleteCertificatesToBeEvaluate(i)" class="link-danger"><i class="ri-delete-bin-5-line"></i></a>
                                </div>
                                <input type="text" class="form-control" formControlName="title">
                                <p class="text-muted mt-2">Attachment<span class="text-danger">{{ " *" }}</span></p>
                                <button *ngIf="formDataObject != null" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                <ngx-dropzone *ngIf="formDataObject === null" (change)="onSelect($event, 'toBeEvaluatedFiles')"
                                [multiple]="false">
                                <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of toBeEvaluatedFiles"
                                    [removable]="true" (removed)="onRemove(f, 'toBeEvaluatedFiles')">
                                    <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                                </ngx-dropzone>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" formArrayName="dfrnWithReceipt">
                <div class="d-flex flex-row justify-content-between">
                    <p class="h5 text-primary">Verification report or Dataflow payment receipt</p>
                    <a *ngIf="formDataObject === null" (click)="addDfrnWithReceiptArray()"
                    href="javascript:void(0);"
                    class="link-primary"
                    ><i class="ri-add-box-line"></i>Add more</a>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3 border shadow p-3" *ngFor="let document of dfrnWithReceiptArrayControls; let i = index"
                    [formGroupName]="i">
                        <div class="row">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <label class="form-label">Title<span class="text-danger">{{ " *" }}</span></label>
                                    <a *ngIf="formDataObject === null" (click)="onDeleteDfrnWithReceiptArray(i)" class="link-danger"><i class="ri-delete-bin-5-line"></i></a>
                                </div>
                                <ng-select
                                    formControlName="title" [items]="['Verification Report', 'Payment Receipt']" 
                                    placeholder="Select your employment Status">
                                </ng-select>
                                <p class="text-muted mt-2">Supporting Documents.<span class="text-danger">{{ " *" }}</span>
                                </p>
                                <button *ngIf="formDataObject != null" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                <ngx-dropzone *ngIf="formDataObject === null"  (change)="onSelect($event, 'dfrnFiles')"
                                [multiple]="false">
                                <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of dfrnFiles"
                                    [removable]="true" (removed)="onRemove(f, 'dfrnFiles')">
                                    <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                                </ngx-dropzone>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" formArrayName="otherDocuments">
                <div class="d-flex flex-row justify-content-between">
                    <p class="h5 text-primary">Other Documents</p>
                    <a *ngIf="formDataObject === null" (click)="addOtherOtherDocumentsArray()"
                    href="javascript:void(0);"
                    class="link-primary"
                    ><i class="ri-add-box-line"></i>Add more</a>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3 border shadow p-3" *ngFor="let document of otherDocumentsArrayControls; let i = index"
                    [formGroupName]="i">
                        <div class="row">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <label class="form-label">Title<span class="text-danger">{{ " *" }}</span></label>
                                    <a *ngIf="formDataObject === null" (click)="onDeleteOtherDocumentsArray(i)" class="link-danger"><i class="ri-delete-bin-5-line"></i></a>
                                </div>
                                <input type="text" class="form-control" formControlName="title">
                                <p class="text-muted mt-2">Supporting Documents.<span class="text-danger">{{ " *" }}</span>
                                </p>
                                <button *ngIf="formDataObject != null" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                <ngx-dropzone *ngIf="formDataObject === null" (change)="onSelect($event, 'otherFiles')"
                                [multiple]="false">
                                <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of otherFiles"
                                    [removable]="true" (removed)="onRemove(f, 'otherFiles')">
                                    <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                                </ngx-dropzone>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>