.bg-block-title {
    background-color: #193239 !important;
        color: white !important;
}


table {
        
    max-width: 100% !important;
}
th {
    background-color: #193239 !important;
    color: white !important;
}
td {
    vertical-align: middle;
}