<div class="row card-box">
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/tafus/academic-activities/research-day-incentives-judges')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    IC
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Research day - Incentives for the Judge</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/tafus/academic-activities/research-day-reward-winners')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    RW
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Research day - Reward for Winners</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/tafus/academic-activities/visiting-experts')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    VE
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Visiting Experts</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/tafus/academic-activities/academic-activities-request')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AA
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Academic Activity Requests</p>
            </div>
        </div>
    </div>
</div>