<div class="row card-box">
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'trainee@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/vehpc/verification/verify-certificate')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    VC
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Verify Certificates & Profile Info</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'trainee@omsb.org' || userRole === 'eportal@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/vehpc/verification/view-verification')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    VV
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">View Verification</p>
            </div>
        </div>
    </div>
</div>