<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Review And Confirm Rotation Curriculum" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="navigateBack()"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-2" >
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets/images/users/avatar-4.jpg" class="img-fluid" style="width: 110px; height : auto">
                    </div>
                    <div class="col-md-10">
                        <div class="d-flex flex-column justify-content-center">
                            <form [formGroup]="applicationHeaderForm">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="row">
                                            <div class="col-md-12 d-flex flex-row gap-2">
                                                <label class="form-label">Subject Name: </label>
                                                <p class="mb-0">{{getControlsValues.subjectName}}</p>
                                            </div>
                                            <div class="col-md-12 d-flex flex-row gap-2">
                                                <label class="form-label">Status: </label>
                                                <p class="mb-0">{{getControlsValues.subjectName}}</p>
                                            </div>
                                            <div class="col-md-12 d-flex flex-row gap-2">
                                                <label class="form-label">Employer: </label>
                                                <p class="mb-0">{{getControlsValues.employer}}</p>
                                            </div>
                                            <div class="col-md-12 d-flex flex-row gap-2">
                                                <label class="form-label">Program: </label>
                                                <p class="mb-0">{{getControlsValues.program}}</p>
                                            </div>
                                            <div class="col-md-12 d-flex flex-row gap-2">
                                                <label class="form-label">Rotation: </label>
                                                <p class="mb-0">{{getControlsValues.rotation}}</p>
                                            </div>
                                            <div class="col-md-12 d-flex flex-row gap-2">
                                                <label class="form-label">Evaluation Dates: </label>
                                                <p class="mb-0">{{getControlsValues.evaluationDates}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="row">
                                            <div class="col-md-12 d-flex flex-row gap-2">
                                                <label class="form-label">Evaluator Name: </label>
                                                <p class="mb-0">{{getControlsValues.evaluatorName}}</p>
                                            </div>
                                            <div class="col-md-12 d-flex flex-row gap-2">
                                                <label class="form-label">Status: </label>
                                                <p class="mb-0">{{getControlsValues.evaluatorStatus}}</p>
                                            </div>
                                            <div class="col-md-12 d-flex flex-row gap-2">
                                                <label class="form-label">Employer: </label>
                                                <p class="mb-0">{{getControlsValues.evaluatorEmployer}}</p>
                                            </div>
                                            <div class="col-md-12 d-flex flex-row gap-2">
                                                <label class="form-label">Program: </label>
                                                <p class="mb-0">{{getControlsValues.evaluatorProgram}}</p>
                                            </div>
                                        </div>
                                    </div>                                  
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="d-flex flex-column text-center">
                                <p class="h2">OMAN MEDICAL SPECIALTY BOARD</p>
                                <p class="h3">Review And Confirm Rotation Curriculum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body py-3 px-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive table_block table-fixed">
                            <table class="table table-wrap" >
                                <thead class="table-light">
                                    <tr>
                                        <th>Residency Level</th>
                                        <th>Block No.</th>
                                        <th>Rotation Name</th>
                                        <th>Confirmation Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let rotation of rotationCurriculumList; let i = index">
                                        <td> 
                                            {{rotation.level}}
                                        </td>
                                        <td style="min-width : 60px"> 
                                            {{rotation.blockNumber}}
                                        </td>
                                        <td class="w-75"> 
                                            {{rotation.rotation}}
                                        </td>
                                        <td> 
                                            <ng-select [items]="['Confirmed', 'Not Confirmed']" placeholder="Please select">
                                            </ng-select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>