th {
    background-color: #193239 !important;   
    color: white;
}
td {
    word-wrap: break-word;
    padding: 0.45rem 0.6rem;
}
th:nth-child(1) {
    min-width: 320px !important;
}
th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7) {
    max-width: 80px !important;
}
