<div class="card">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-end">
            <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="ri-printer-line"></i></button>
        </div>
        <div class="row mt-3" >
            <div class="col-md-12" *ngFor="let agenda of listData.meetingObject.agendas; let i = index">
                <div class="shadow border border-dashed p-2 my-2">
                    <div class="d-flex flex-row justify-content-between my-1">
                        <div class="d-flex flex-column gap-2 mb-2">
                            <p class="h4 mb-0 text-secondary">{{(i+1)}}{{" : Agenda"}}</p>
                            <p class="h5 mb-0 text-primary">{{"Agenda Type : "}}{{agenda.type}}</p>
                        </div>    
                        <button type="button" class="mx-2 btn btn-outline-primary btn-icon waves-effect waves-light"><i class="ri-printer-line"></i></button>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <label class="form-control"><span class="text-muted">{{"Presenter : "}}</span>{{agenda.presenter}}</label>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <label *ngIf="agenda.type === 'Department Agenda'" class="form-control"><span class="text-muted">{{"Service Name : "}}</span>{{agenda.serviceName}}</label>
                        <label *ngIf="agenda.type === 'Department Agenda'" class="form-control">
                            <span class="text-muted">{{"Service Link : "}}</span>
                            <a class="tagLink" (click)="onNavigate(agenda.serviceLink)">{{"Link"}}</a>
                        </label>
                    </div>
                    <div *ngIf="agenda.supportingDocument" class="d-flex flex-row align-items-center mb-3">
                        <p class="h6">Download supporting documents</p>
                        <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                    </div>
                    <label class="text-wrap form-control" [innerHtml]="agenda.agendaItem"></label>
                    <div class="live-preview">
                        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
                          <ngb-panel id="static-1">
                              <ng-template ngbPanelTitle class="accordion-header">
                                  <h2 class="accordion-header" id="gen-ques-headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                          data-bs-target="#gen-ques-collapseOne" aria-expanded="false"
                                          aria-controls="gen-ques-collapseOne">
                                          Action items
                                      </button>
                                  </h2>
                              </ng-template>
                              <ng-template ngbPanelContent>
                                <div class="row">
                                    <div class="col-md-12" *ngFor="let action of agenda.actionItems; let i = index">
                                        <div class="d-flex flex-row justify-content-end">
                                            <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="ri-printer-line"></i></button>
                                        </div>
                                        <div class="shadow border border-dashed p-2 my-2">
                                            <div class="d-flex flex-row justify-content-between py-2">
                                                <p class="h4 mb-0 text-success">{{(i+1)}}{{" : Action Item"}}</p>
                                            </div>
                                            <div class="d-flex flex-row gap-2">
                                                <label class="form-control"><span class="text-muted">{{"Assigned To  : "}}</span>{{action.assignedTo}}</label>
                                                <label class="form-control"><span class="text-muted">{{"Expected Closure Data : "}}</span>{{action.expectedClosureData}}</label>
                                            </div>
                                            <label class="text-wrap form-control" [innerHtml]="action.actionItemDescription"></label>
                                            <div *ngIf="action.supportingDocument" class="d-flex flex-row align-items-center mb-3">
                                                <p class="h6">Download supporting documents</p>
                                                <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                            </div>
                                            <div class="live-preview">
                                                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
                                                  <ngb-panel id="static-1">
                                                      <ng-template ngbPanelTitle class="accordion-header">
                                                          <h2 class="accordion-header" id="gen-ques-headingOne">
                                                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                                  data-bs-target="#gen-ques-collapseOne" aria-expanded="false"
                                                                  aria-controls="gen-ques-collapseOne">
                                                                  Followup
                                                              </button>
                                                          </h2>
                                                      </ng-template>
                                                      <ng-template ngbPanelContent>
                                                        <div *ngFor="let followup of action.followups">
                                                            <label class="text-wrap form-control" [innerHtml]="followup.content"></label>
                                                        </div>
                                                        
                                                      </ng-template>
                                                  </ngb-panel>
                                                  <ngb-panel id="static-2">
                                                      <ng-template ngbPanelTitle class="accordion-header">
                                                          <h2 class="accordion-header" id="gen-ques-headingOne">
                                                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                                  data-bs-target="#gen-ques-collapseOne" aria-expanded="false"
                                                                  aria-controls="gen-ques-collapseOne">
                                                                  Feedback
                                                              </button>
                                                          </h2>
                                                      </ng-template>
                                                      <ng-template ngbPanelContent>
                                                        <div *ngFor="let feedback of action.feedbacks">
                                                            <label class="form-label">{{"Feedback by : "}}<span class="text-muted">Abbas Al Ajmi</span></label>
                                                            <br>
                                                            <label class="form-label">{{"Comments"}}</label>
                                                            <label class="text-wrap form-control" [innerHtml]="feedback.content"></label>
                                                            <div class="d-flex flex-row align-items-center mb-3">
                                                                <p class="h6">Download supporting documents</p>
                                                                <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                                            </div>
                                                        </div>
                                                        
                                                      </ng-template>
                                                  </ngb-panel>
                                                </ngb-accordion>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                              </ng-template>
                          </ngb-panel>
                        </ngb-accordion>
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>