<div class="row card-box">
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'pd@omsb.org'">
        <div class="card  border shadow" [routerLink]="['/assessment-and-performance/develop-new-assessment-tools']">
            <div class="card-header bg-success">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    DAT
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Develop New Assessment Tools</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'pd@omsb.org'">
        <div class="card  border shadow" [routerLink]="['/assessment-and-performance/modify-assessment-tools']" >
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    MAT
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Modify Assessment Tools</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'pd@omsb.org'">
        <div class="card  border shadow" [routerLink]="['/assessment-and-performance/provide-support-assessment']" >
            <div class="card-header bg-warning">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    PSA
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Provide Support for Assessment</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'pd@omsb.org'">
        <div class="card  border shadow" [routerLink]="['/assessment-and-performance/monitor-program-data']" >
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    MPD
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Monitor Program Data</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userRole === 'pd@omsb.org' || userRole === 'eportal@omsb.org'">
        <div class="card  border shadow" [routerLink]="['/assessment-and-performance/trainee-portfolio']" >
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    TP 
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Trainee Portfolio</p>
            </div>
        </div>
    </div>
</div>