<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label">Request ID</label>
        <label class="form-control">{{formRequest.requestId}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Selected Assessment tool that require support</label>
        <label class="form-control">{{formRequest.assessments}}</label>
    </div>
    <div class="col-md-12 mb-3">
        <label class="form-label">Program Components</label>
        <label class="form-control">{{formRequest.programComponents}}</label>
    </div>
    <div class="col-md-12 mb-3">
        <label class="form-label">Comments</label>
        <label class="form-control">{{formRequest.comments}}</label>
    </div>
</div>