<app-breadcrumbs title="View Meeting" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card mx-n4 card-top-header">
            <div class="bg-soft-primary">
                <div class="card-body p-0">
                    <div class="d-flex flex-row w-100">
                        <div class="d-flex justify-content-between align-items-center g-3 w-100 px-4 py-3">
                            <div>
                                <h4 class="fw-bold">{{meeting.title}}</h4>
                                <div class="hstack gap-3 flex-wrap">
                                    <div><i class=" ri-profile-line align-bottom me-1"></i>{{"Meeting Type : "}}{{meeting.meetingType}}</div>
                                </div>
                                <div class="hstack gap-3 flex-wrap mt-2">
                                    <div>Start Date : <span class="fw-medium">{{meeting.startDate  | date : 'M/d/yy, h:mm a'}}</span></div>
                                    <div class="vr"></div>
                                    <div>End Date : <span class="fw-medium">{{meeting.endDate  | date : 'M/d/yy, h:mm a'}}</span></div>
                                </div>
                                <div class="hstack gap-3 flex-wrap mt-2">
                                    <div>Venue : <span class="fw-medium">{{meeting.venue}}</span></div>
                                    <div class="vr"></div>
                                    <div>Meeting Link : <span class="fw-medium"><a class="tagLink">{{meeting.meetingLink}}</a></span></div>    
                                </div>
                            </div>
                            <button *ngIf="!isViewOnly" type="button" class="mt-3 btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('meeting-management/view-meetings')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>
                            <button *ngIf="isViewOnly" type="button" class="mt-3 btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/meeting-management/my-meetings')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>
                        </div>
                    </div>
                    <div class="d-flex flex-row w-100 mt-2">
                        <ul ngbNav #customNav="ngbNav" [activeId]="1"  class="nav nav-tabs-custom border-bottom-0" role="tablist">
                            <li [ngbNavItem]="1" class="nav-item">
                                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                  Agenda
                                </a>
                                <ng-template ngbNavContent>
                                    <ng-container *ngTemplateOutlet="agendaOverview"></ng-container> 
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2" class="nav-item">
                                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">Minutes of Meeting</a>
                                <ng-template ngbNavContent>
                                    <app-minutes-of-meeting [isViewOnly]="isViewOnly"></app-minutes-of-meeting>
                                </ng-template>
                            </li>
                            
                            <li [ngbNavItem]="3" class="nav-item">
                                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">View / Attendance mark</a>
                                <ng-template ngbNavContent>
                                    <app-mark-attendance-meeting [isViewOnly]="isViewOnly"></app-mark-attendance-meeting>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="4" class="nav-item">
                                <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">Action Items Summary</a>
                                <ng-template ngbNavContent>
                                    <app-action-items-summary [isViewOnly]="isViewOnly"></app-action-items-summary>
                                </ng-template>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="tab-content text-muted">
          <div [ngbNavOutlet]="customNav"></div>
        </div>
    </div>
    <!-- end col -->
</div>

<ng-template #agendaOverview>
    <div class="card">
        <div class="card-body">
            <div class="row mt-3" >
                <div class="col-md-12" *ngFor="let agenda of meeting.agendas; let i = index">
                    <div class="shadow border border-dashed p-2 my-2">
                        <div class="d-flex flex-row justify-content-between py-2">
                            <div class="d-flex flex-column gap-2 mb-2">
                                <p class="h4 mb-0 text-secondary">{{(i+1)}}{{" : Agenda"}}</p>
                                <p class="h5 mb-0 text-primary">{{"Agenda Type : "}}{{agenda.type}}</p>
                            </div>                           

                            <div class="dropdown" ngbDropdown>
                                <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                    <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="ri-more-2-fill"></i></button>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                    <li (click)="selectActionItems(agenda.actionItems, i); openModal(actionItemsGrid, 'lg')">
                                        <a class="dropdown-item" >Action Items</a>
                                    </li>
                                    <li *ngIf="!isViewOnly" (click)="setAgenda(agenda);openModal(closeAgenda, 'lg')">
                                        <a class="dropdown-item" >Close Agenda</a>
                                    </li>
                                </ul>
                            </div>  
                        </div>
                        <div class="d-flex flex-row">
                            <label class="form-control"><span class="text-muted">{{"Presenter : "}}</span>{{agenda.presenter}}</label>
                        </div>
                        <div class="d-flex flex-row gap-2">
                            <label *ngIf="agenda.type === 'Department Agenda'" class="form-control"><span class="text-muted">{{"Service Name : "}}</span>{{agenda.serviceName}}</label>
                            <label *ngIf="agenda.type === 'Department Agenda'" class="form-control">
                                <span class="text-muted">{{"Service Link : "}}</span>
                                <a class="tagLink" (click)="onNavigate(agenda.serviceLink)">{{"Link"}}</a>
                            </label>
                        </div>
                        <div *ngIf="agenda.supportingDocument" class="d-flex flex-row align-items-center mb-3">
                            <p class="h6">Download supporting documents</p>
                            <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                        </div>
                        <label class="text-wrap form-control" [innerHtml]="agenda.agendaItem"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #actionItemsGrid let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5"> Action Items</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="d-flex flex-row justify-content-end">
                    <button *ngIf="!isViewOnly" (click)="closeModals(); openModal(addActionItem, 'lg');" type="button" class="btn btn-primary btn-label waves-effect waves-light"><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>Add Action Item</button>
                </div>
                <div class="row">
                    <div class="col-md-12" *ngFor="let action of selectedActionItems; let i = index">
                        <div class="shadow border border-dashed p-2 my-2">
                            <div class="d-flex flex-row justify-content-between py-2">
                                <p class="h4 mb-0 text-success">{{(i+1)}}{{" : Action Item"}}</p>
                            </div>
                            <div class="d-flex flex-row gap-2">
                                <label class="form-control"><span class="text-muted">{{"Assigned To  : "}}</span>{{action.assignedTo}}</label>
                                <label class="form-control"><span class="text-muted">{{"Expected Closure Data : "}}</span>{{action.expectedClosureData}}</label>
                            </div>
                            <label class="text-wrap form-control" [innerHtml]="action.actionItemDescription"></label>
                            <div *ngIf="action.supportingDocument" class="d-flex flex-row align-items-center mb-3">
                                <p class="h6">Download supporting documents</p>
                                <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                            </div>
                            <div class="live-preview">
                                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
                                  <ngb-panel id="static-1">
                                      <ng-template ngbPanelTitle class="accordion-header">
                                          <h2 class="accordion-header" id="gen-ques-headingOne">
                                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                  data-bs-target="#gen-ques-collapseOne" aria-expanded="false"
                                                  aria-controls="gen-ques-collapseOne">
                                                  Followup
                                              </button>
                                          </h2>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        <div *ngIf="!isViewOnly" class="d-flex flex-row justify-content-end">
                                            <button (click)="closeModals(); openModal(addFollowup, 'lg'); setActionItemIndex(i)"  class="btn btn-sm btn-primary mb-1">
                                                Add Followup
                                            </button>
                                        </div>
                                        <div *ngFor="let followup of action.followups">
                                            <label class="text-wrap form-control" [innerHtml]="followup.content"></label>
                                        </div>
                                        
                                      </ng-template>
                                  </ngb-panel>
                                  <ngb-panel id="static-2">
                                      <ng-template ngbPanelTitle class="accordion-header">
                                          <h2 class="accordion-header" id="gen-ques-headingOne">
                                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                  data-bs-target="#gen-ques-collapseOne" aria-expanded="false"
                                                  aria-controls="gen-ques-collapseOne">
                                                  Feedback
                                              </button>
                                          </h2>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        <div class="d-flex flex-row justify-content-end">
                                            <button (click)="closeModals(); openModal(addFeedBack, 'lg'); setActionItemIndex(i)"  class="btn btn-sm btn-primary mb-1">
                                                Add Feedback
                                            </button>
                                        </div>
                                        <div *ngFor="let feedback of action.feedbacks">
                                            <label class="form-label">{{"Feedback by : "}}<span class="text-muted">Abbas Al Ajmi</span></label>
                                            <br>
                                            <label class="form-label">{{"Comments"}}</label>
                                            <label class="text-wrap form-control" [innerHtml]="feedback.content"></label>
                                            <div class="d-flex flex-row align-items-center mb-3">
                                                <p class="h6">Download supporting documents</p>
                                                <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                                            </div>
                                        </div>
                                        
                                      </ng-template>
                                  </ngb-panel>
                                </ngb-accordion>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #closeAgenda let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5"> Close Agenda</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Description<span class="text-danger">*</span> </label>
                        <ckeditor [editor]="Editor" ></ckeditor>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">{{"Closed by : "}}<span class="text-muted">Abbas Al Ajmi</span></label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">{{"Date of closing : "}}<span class="text-muted">{{getCurrentDate | date : 'yyyy-M-dd'}}</span></label>
                    </div>
                </div>
                <div class="row border border-dashed py-2" *ngIf="selectedAgenda.serviceName">
                    <p class="h5 text-primary">Service List</p>
                    <div class="col-md-12 mb-1">
                        <p class="form-label">{{"Service Name : "}}{{selectedAgenda.serviceName}}</p>
                        <p class="form-label">{{"Service Link : "}}<a routerLink="{{selectedAgenda.serviceLink}}">{{"Link"}}</a></p>

                    </div>
                </div>
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addActionItem let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Add Action Item</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <form [formGroup]="actionItemForm">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Action Item <span class="text-danger">*</span> </label>
                            <ckeditor formControlName="actionItemDescription" [editor]="Editor" ></ckeditor>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Assigned To</label>
                            <ng-select [items]="listData.userLists" formControlName="assignedTo"
                            bindLabel="labelValue" bindValue="name" placeholder="Please select">
                            </ng-select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Expected Closure Date</label>
                            <input class="form-control flatpickr-input" type="text" id="example-week-input" formControlName="expectedClosureDate" mwlFlatpickr [altInput]="true" [convertModelValue]="true">
                        </div>
                        <div class="col-md-12 mb-3">
                            <p class="text-muted">
                              Upload Supporting Documents<span
                              class="text-danger"
                              >{{ " *" }}</span
                              >
                            </p>
                            <ngx-dropzone (change)="onSelect($event, 'actionSupportingFiles')" [multiple]="true">
                              <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                              <ngx-dropzone-preview
                              *ngFor="let f of actionSupportingFiles"
                              [removable]="true"
                              (removed)="onRemove(f, 'actionSupportingFiles')"
                              >
                              <ngx-dropzone-label
                                  >{{ f.name }} ({{
                                  f.type
                                  }})</ngx-dropzone-label
                              >
                              </ngx-dropzone-preview>
                            </ngx-dropzone>
                          </div>
                    </div>
                    <button class="btn btn-primary" (click)="onSaveActionItem(); modal.dismiss('Cross click')">Save</button>
                </form>
                
                
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addFollowup let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Add Followup</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <form [formGroup]="followupForm">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Comment</label>
                            <ckeditor formControlName="content" [editor]="Editor" ></ckeditor>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="onSaveFollowup(); modal.dismiss('Cross click')">Save</button>
                </form>
                
                
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addFeedBack let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Add Feedback</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <form [formGroup]="feedbackForm">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">{{"Feedback by : "}}<span class="text-muted">Abbas Al Ajmi</span></label>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Comment</label>
                            <ckeditor formControlName="content" [editor]="Editor" ></ckeditor>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p class="text-muted">Upload Supporting Documents<span
                              class="text-danger">{{ " *" }}</span>
                            </p>
                            <ngx-dropzone (change)="onSelect($event, 'feedbackFiles')" [multiple]="true">
                              <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                              <ngx-dropzone-preview
                              *ngFor="let f of feedbackFiles"
                              [removable]="true"
                              (removed)="onRemove(f, 'feedbackFiles')">
                              <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                              </ngx-dropzone-preview>
                            </ngx-dropzone>
                          </div>
                    </div>
                    <button class="btn btn-primary" (click)="onSaveFeedback(); modal.dismiss('Cross click')">Save</button>
                </form>
                
                
            </div>
        </div>
    </div>
</ng-template>