<!-- Main Body -->
<div class="row main-body">
    <ng-container *ngTemplateOutlet="tableBody"></ng-container>
</div>

<!-- Full screen body -->
<ng-template #fullDataModal let-modal style="z-index: 999999 !important;">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row modal-main-body">
                <ng-container *ngTemplateOutlet="tableBody"></ng-container>                
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>

<!-- template body -->
<ng-template #tableBody>
    <div class="card mb-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <p class="h5 px-3">Trainees</p>
                    <div class="list-group list-group-fill-success">
                        <div *ngFor="let student of listData.students; let i = index">
                            <a [ngClass]="status[i] === true ? 'bg-secondary' : ''" (click)="onSelectRotationCode(student.name, i)" class="list-group-item list-group-item-action" style="cursor: pointer !important">{{student.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div *ngIf="!isFullscreenMode" class="d-flex flex-row justify-content-end">
                        <button (click)="fullModal(fullDataModal)" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light my-2"><i class=" ri-fullscreen-fill"></i></button>
                    </div>
                    <div *ngIf="isFullscreenMode" class="d-flex flex-row justify-content-end">
                        <button (click)="closeModal()"type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light my-2"><i class="  ri-close-line
                            "></i></button>
                    </div>
                    <div class="table-responsive table_block">
                        <table class=" table table-nowrap" >
                            <thead class="table-light text-center">
                                <tr>
                                    <th>Rotation</th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 1</div>
                                            <div class="block_date">(01/09/2019 - 28/09/2019)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 2</div>
                                            <div class="block_date">(29/09/2019 - 26/10/2019)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 3</div>
                                            <div class="block_date">(27/10/2019 - 23/11/2019)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 4</div>
                                            <div class="block_date">(24/11/2019 - 21/12/2019)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 5</div>
                                            <div class="block_date">(22/12/2019 - 18/01/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 6</div>
                                            <div class="block_date">(19/01/2020 - 15/02/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 7</div>
                                            <div class="block_date">(16/02/2020 - 14/03/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 8</div>
                                            <div class="block_date">(15/03/2020 - 11/04/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 9</div>
                                            <div class="block_date">(12/04/2020 - 09/05/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 10</div>
                                            <div class="block_date"> (10/05/2020 - 06/06/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 11</div>
                                            <div class="block_date">(07/06/2020 - 04/07/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 12</div>
                                            <div class="block_date">(05/07/2020 - 01/08/2020)</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="block_box">
                                            <div class="block_name">Block 13</div>
                                            <div class="block_date">(02/08/2020 - 31/08/2020)</div>
                                        </div>
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor="let c of rotationCodeList">
                                    <td style="text-align:left !important" class="columnName">
                                        <span>{{c?.rotationCode}}</span>
                                    </td>
                                    <td (click)="setBlock(c?.rotationCode, 0)"><span>{{c?.blockValue[0]}}</span><i  *ngIf="c?.blockValue[0] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 0)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 1)"><span>{{c?.blockValue[1]}}</span><i  *ngIf="c?.blockValue[1] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 1)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 2)"><span>{{c?.blockValue[2]}}</span><i  *ngIf="c?.blockValue[2] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 2)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 3)"><span>{{c?.blockValue[3]}}</span><i  *ngIf="c?.blockValue[3] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 3)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 4)"><span>{{c?.blockValue[4]}}</span><i  *ngIf="c?.blockValue[4] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 4)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 5)"><span>{{c?.blockValue[5]}}</span><i  *ngIf="c?.blockValue[5] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 5)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 6)"><span>{{c?.blockValue[6]}}</span><i  *ngIf="c?.blockValue[6] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 6)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 7)"><span>{{c?.blockValue[7]}}</span><i  *ngIf="c?.blockValue[7] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 7)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 8)"><span>{{c?.blockValue[8]}}</span><i  *ngIf="c?.blockValue[8] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 8)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 9)"><span>{{c?.blockValue[9]}}</span><i  *ngIf="c?.blockValue[9] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 9)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 10)"><span>{{c?.blockValue[10]}}</span><i  *ngIf="c?.blockValue[10] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 10)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 11)"><span>{{c?.blockValue[11]}}</span><i  *ngIf="c?.blockValue[11] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 11)"></i></td>
                                    <td (click)="setBlock(c?.rotationCode, 12)"><span>{{c?.blockValue[12]}}</span><i  *ngIf="c?.blockValue[12] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(c?.rotationCode, 12)"></i></td>
                                </tr>
                                <tr *ngFor="let f of facultyList">
                                    <td style="text-align:left !important" class="columnName">
                                        <!-- <div class="hoverModal bg-light p-3 d-flex flex-column">
                                            <p class="mb-1">Program : {{c.student.program}}</p>
                                            <p class="mb-1">OMSB # : {{c.student.omsbNumber}}</p>
                                            <p class="mb-0">Year : {{c.student.year}}</p>
                                        </div> -->
                                        <span>{{f.faculty.name}}</span>
                                    </td>
                                    <td (click)="setBlock(f.faculty.name, 0)"><span>{{f?.blockValue[0]}}</span><i  *ngIf="f?.blockValue[0] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 0)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 1)"><span>{{f?.blockValue[1]}}</span><i  *ngIf="f?.blockValue[1] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 1)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 2)"><span>{{f?.blockValue[2]}}</span><i  *ngIf="f?.blockValue[2] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 2)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 3)"><span>{{f?.blockValue[3]}}</span><i  *ngIf="f?.blockValue[3] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 3)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 4)"><span>{{f?.blockValue[4]}}</span><i  *ngIf="f?.blockValue[4] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 4)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 5)"><span>{{f?.blockValue[5]}}</span><i  *ngIf="f?.blockValue[5] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 5)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 6)"><span>{{f?.blockValue[6]}}</span><i  *ngIf="f?.blockValue[6] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 6)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 7)"><span>{{f?.blockValue[7]}}</span><i  *ngIf="f?.blockValue[7] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 7)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 8)"><span>{{f?.blockValue[8]}}</span><i  *ngIf="f?.blockValue[8] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 8)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 9)"><span>{{f?.blockValue[9]}}</span><i  *ngIf="f?.blockValue[9] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 9)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 10)"><span>{{f?.blockValue[10]}}</span><i  *ngIf="f?.blockValue[10] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 10)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 11)"><span>{{f?.blockValue[11]}}</span><i  *ngIf="f?.blockValue[11] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 11)"></i></td>
                                    <td (click)="setBlock(f.faculty.name, 12)"><span>{{f?.blockValue[12]}}</span><i  *ngIf="f?.blockValue[12] != ''" class="ri-delete-bin-5-line text-danger mx-2" (click)="setBlock(f.faculty.name, 12)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</ng-template>