<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-widget mb-0 w-100">
                    <div class="card-body">
                         <div class="d-flex align-items-center">
                             <div class="avatar-sm flex-shrink-0">
                                 <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                                    <i class=" ri-file-text-line align-middle"></i>
                                 </span>
                             </div>
                             <div class="flex-grow-1 ms-3">
                                <p class="fw-semibold fs-12 text-light mb-1">No of Applications</p>
                                <h4 class="text-light mb-0"><span [CountTo]="10" class="counter-value" [from]="0" [duration]="1"></span></h4>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-widget mb-0 w-100">
                    <div class="card-body">
                         <div class="d-flex align-items-center">
                             <div class="avatar-sm flex-shrink-0">
                                 <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                                    <i class=" ri-alarm-line align-middle"></i>
                                 </span>
                             </div>
                             <div class="flex-grow-1 ms-3">
                                <p class="fw-semibold fs-12 text-light mb-1">Today's Interview Timeslot</p>
                                <p class="h5 text-light mb-0"><span class="counter-value">10:30AM - 11.30AM</span></p>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-row justify-content-end">
                    <button (click)="onFilter()" type="button" class="btn-sm my-2 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select Program Type">
                </ng-select>
            </div>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select Program specialization">
                </ng-select>
            </div>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select Sub Specialization">
                </ng-select>
            </div>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select Country">
                </ng-select>
            </div>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select Academic Year">
                </ng-select>
            </div>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select Employment Status">
                </ng-select>
            </div>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select Employer">
                </ng-select>
            </div>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select Obtained Degree">
                </ng-select>
            </div>
            <div class="col-md-3 mb-1">
                <input class="form-control" type="text" placeholder="Please enter OMSB Selection Exam score">
            </div>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select OMSB Selection Exam score">
                </ng-select>
            </div>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select OMSB specialty certificate">
                </ng-select>
            </div>
            <div class="col-md-3 mb-1">
                <input class="form-control" type="text" placeholder="Please enter International Exams/Qualifications">
            </div>
            <div class="col-md-3 mb-1">
                <ng-select [items]="[]"
                placeholder="Please select BLS Certificate validity">
                </ng-select>
            </div>
            <div class="d-flex flex-row">
                <button (click)="onSearch()" class="btn btn-primary my-2">Filter</button>
            </div>
        </div>
        <div class="row">
            <div class="live-preview">     
                <div class="table-responsive">
                    <table class="table align-middle table-hover table-wrap mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Nationality</th>
                                <th scope="col">Email</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">BLS Expiry Date</th>
                                <th scope="col">ACLS Expiry Date</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr *ngFor="let application of listData.applicationTableDate">
                                <td>{{application.fullName}}</td>
                                <td>{{application.gender}}</td>
                                <td>{{application.nationality}}</td>
                                <td>{{application.email}}</td>
                                <td>{{application.contactNumber}}</td>
                                <td>{{application.blsExpiryDate}}</td>
                                <td>{{application.aclsExpiryDate}}</td>
                                <td>{{application.status}}</td>
                                <td>
                                    <div class="dropdown" ngbDropdown>
                                        <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                            <i class="ri-more-2-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                            <li (click)="onNavigate('/interviewer/show-application-form')"><a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View Scholarship Program Application</a></li>
                                            <li (click)="onNavigate('/interviewer/evaluation-form')"><a class="dropdown-item" ><i class="mx-1 ri-pages-line"></i>Trainee Interview Evaluation Form</a></li>
                                            <li (click)="onNavigate('/interviewer/interview-result')"><a class="dropdown-item" ><i class="mx-1 ri-pages-line"></i>View Interview Result</a></li>
                                            <li (click)="openModal(committeeReview,'lg')"><a class="dropdown-item" ><i class="mx-1 ri-pages-line"></i>Committee Review Status</a></li>
                                                
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        
                    </table>
                </div>                             
            </div>
        </div>
    </div>
</div>


<ng-template #committeeReview let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Committee Review Status</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <form [formGroup]="committeeReviewForm">
                <div class="mt-2 row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Review Status<span class="text-danger">{{ " *" }}</span></label>
                        <ng-select [items]="listData.screeningStatus" placeholder="Please select" formControlName="reviewStatus">
                        </ng-select>
                    </div>
                    <div class="col-md-12 mb-3" *ngIf="formValues.reviewStatus === 'Not Approved'">
                        <label class="form-label">Not approved reason<span class="text-danger">{{ " *" }}</span></label>
                        <input type="text" class="form-control" formControlName="notApprovedStatus">
                    </div>
                    <div class="col-md-12 mb-3" *ngIf="formValues.reviewStatus === 'Other'">
                        <label class="form-label">If Other<span class="text-danger">{{ " *" }}</span></label>
                        <input type="text" class="form-control" formControlName="otherStatus">
                    </div>
    
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</ng-template>