<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label">Type of Material required</label>
        <label for="" class="form-control">{{formData.typeOfMaterial}}</label>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Date required by</label>
        <label for="" class="form-control">{{formData.requiredData}}</label>
    </div>
    <div class="col-md-12 mb-3">
        <label class="form-label">Description</label>
        <label for="" class="form-control">{{formData.description}}</label>
    </div>
    <div class="col-md-12 mb-3">
        <label class="form-label">Download Documents</label>
        <button type="button" class="mx-3 btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
    </div>
    
</div>
<div class="row" *ngIf="formData.comments === null">
    <div class="col-md-12 mb-3">
        <label class="form-label">Comments<span class="text-danger px-2">{{"*"}}</span></label>
        <textarea rows="2" class="form-control"></textarea>
    </div>
    <div class="col-md-12 mb-3">
        <label class="form-label">Material Uploads<span class="text-danger px-2">{{"*"}}</span></label>
        <ngx-dropzone (change)="onSelect($event, 'files')"
                    [multiple]="false">
                    <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files"
                        [removable]="true" (removed)="onRemove(f, 'files')">
                        <ngx-dropzone-label
                        >{{ f.name }} ({{
                            f.type
                        }})</ngx-dropzone-label
                        >
                    </ngx-dropzone-preview>
                    </ngx-dropzone>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Is Upload complete<span class="text-danger px-2">{{"*"}}</span></label>
        <ng-select [items]="['Yes', 'No']" placeholder="Please select option">
        </ng-select>
    </div>
</div>
<div class="row" *ngIf="formData.comments !== null">
    <div class="col-md-12 mb-3">
        <label class="form-label">Comments from Media Department<span class="text-danger px-2">{{"*"}}</span></label>
        <label for="" class="form-control">{{formData.comments}}</label>

    </div>
    <div class="col-md-12 mb-3">
        <label class="form-label">Material Uploads<span class="text-danger px-2">{{"*"}}</span></label>
        <button type="button" class="mx-3 btn btn-outline-primary btn-sm btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
        
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Is Upload complete<span class="text-danger px-2">{{"*"}}</span></label>
        <label for="" class="form-control">Yes</label>
    </div>
</div>

<div class="row" *ngIf="formData.approvalComments === null && formData.comments !== null">
    <div class="col-md-12 mb-3">
        <label class="form-label">Comments<span class="text-danger px-2">{{"*"}}</span></label>
        <textarea rows="2" class="form-control"></textarea>
    </div>
</div>
<div class="row" *ngIf="formData.approvalComments !== null && formData.comments !== null">
    <div class="col-md-12 mb-3">
        <label class="form-label">Approval Comments From Requestor<span class="text-danger px-2">{{"*"}}</span></label>
        <label for="" class="form-control">{{formData.approvalComments}}</label>
    </div>
</div>
<div class="row">
    <div class="d-flex flex-row gap-3">
        <button class="btn btn-primary" *ngIf="formData.status === 'Requested'">Submit</button>
        <button class="btn btn-primary" *ngIf="formData.status === 'Requested'">Return</button>
        <button class="btn btn-primary" *ngIf="formData.status === 'Submitted for Approval'">Approve</button>
        <button class="btn btn-primary" *ngIf="formData.status === 'Submitted for Approval'">Return</button>
    </div>
</div>