table {
    
    max-width: 100% !important;
}
th {
    background-color: #193239 !important;
    color: white !important;
}
.check-option {
    font-weight: 400 !important;
    font-size: 0.7025rem !important;
}