<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Master Rotation" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->
<div class="row">
    <ul ngbNav #ModifierCustom="ngbNav" [activeId]="1" class="nav nav-pills nav-customs nav-danger">
        <li [ngbNavItem]="1">`
            <a ngbNavLink class="nav-link">
              By Trainee
            </a>
            <ng-template ngbNavContent>
                <app-by-trainee></app-by-trainee> 
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink class="nav-link">
              By Rotation
            </a>
            <ng-template ngbNavContent>
                <app-by-rotation></app-by-rotation>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink class="nav-link">
              By Faculty
            </a>
            <ng-template ngbNavContent>
                <app-by-faculty></app-by-faculty>
            </ng-template>
        </li>
    </ul>
    <div class="tab-content text-muted">
        <div [ngbNavOutlet]="ModifierCustom"></div>
    </div>

</div>

