<app-breadcrumbs title="View Budget Request" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" (click)="onNavigate('/finance/dashboard')" class="btn btn-primary btn-label waves-effect waves-light mb-1"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>

<div class="card">
    <div class="card-header">
        <div class="d-flex flex-row justify-content-end">
            <div class="dropdown" ngbDropdown>
                <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                    <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class="ri-more-2-fill"></i></button>
                </a>
                <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                    <li (click)="openModal(uploadBudget, 'md')">
                        <a class="dropdown-item" ><i class="mx-1 ri-hand-coin-line"></i>Upload Budget</a>
                    </li>
                </ul>
            </div>  
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Country of received offer</label>
                <label class="form-control">{{formValues.country}}</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">University</label>
                <label class="form-control">{{formValues.university}}</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">University</label>
                <label class="form-control">{{formValues.university}}</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Program Type</label>
                <label class="form-control">{{formValues.programType}}</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Program Specialty</label>
                <label class="form-control">{{formValues.programSpecialty}}</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Program Sub Specialty</label>
                <label class="form-control">{{formValues.programSubSpecialty}}</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">From</label>
                <label class="form-control">{{formValues.fromDate | date : 'yyyy-MM-d'}}</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">To</label>
                <label class="form-control">{{formValues.toDate | date : 'yyyy-MM-d'}}</label>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Duration</label>
                <label class="form-control">{{formValues.duration}}</label>
            </div>
            <div class="col-md-4 mb-3">
                <div class="d-flex flex-row align-items-center">
                    <p class="h6">Download Acceptance Letter</p>
                    <button type="button" class="mx-3 btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-download-cloud-line"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #uploadBudget let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Upload Budget</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Budget Amount</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-12 mb-3" >
                        <p class="text-muted">
                            Upload Acceptance Letter<span class="text-danger"
                            >{{ " *" }}</span>
                        </p>
                        <ngx-dropzone (change)="onSelect($event)"
                            [multiple]="false">
                            <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of budgetFile"
                            [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label >{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #viewBudget let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5"> View Budget</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">

            </div>
        </div>
    </div>
</ng-template>