<div class="row card-box">
    <div class="col-md-3 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/workshop/workshop-setup')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AS
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Workshop Setup</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org' || userType === 'pd@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/workshop/scheduling')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    Sc
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Scheduling</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/workshop/create-form')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    CF
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Create Form</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/workshop/view-application')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    VA
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">View Applications</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/workshop/order-food')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    OF
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Order Food</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org' || userType === 'trainee@omsb.org'">
        <div class="card card-animate border shadow" (click)="onNavigate('/simulation/workshop/surgical-foundation-program-scores')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    SS
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Surgical Foundation Program Scores</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row ">
    <div class="col-md-6 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org'">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8" >
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">Workshop Setup</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/workshop/workshop-setup')" class="btn btn-success">Create Workshop</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org' || userType === 'pd@omsb.org' ">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">Scheduling</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/workshop/scheduling')" class="btn btn-success">Scheduling</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org'">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">Create Form</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/workshop/create-form')" class="btn btn-success">Create Form</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org'">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">View Applications</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/workshop/view-application')" class="btn btn-success">View</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3" *ngIf="userType === 'eportal@omsb.org'">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 ">Order Food</p>
                                </div>
                                <div class="p-3">
                                    <div class="d-flex flex-column">
                                        <button (click)="onNavigate('/simulation/workshop/order-food')" class="btn btn-success">View</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mt-3">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div> 
        </div>
    </div>
</div> -->