<div class="mt-3">
    <form [formGroup]="requestForm">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3" >
                        <label class="form-lable">Exam Type<span class="text-danger"></span></label>
                        <label class="form-control">Omani Examination for Nurses (OEN)<span class="text-danger">{{" * "}}</span></label>
            
                    </div>
                    <div class="col-md-4 mb-3" >
                        <label class="form-lable">Exam Date<span class="text-danger"></span></label>
                        <label class="form-control">2022-10-08<span class="text-danger">{{" * "}}</span></label>
            
                    </div>
                    <div class="col-md-4 mb-3" >
                        <label class="form-lable">Exam Time<span class="text-danger"></span></label>
                        <label class="form-control">08:00AM to 10:00AM<span class="text-danger">{{" * "}}</span></label>
            
                    </div>
                    <!-- <div class="col-md-3 mb-3" >
                        <label class="form-lable">Program Name<span class="text-danger"></span></label>
                        <label class="form-control">ENT<span class="text-danger">{{" * "}}</span></label>
            
                    </div> -->
                </div>
            </div>
        </div>
        <p class="h5 text-primary">Type of cancellation</p>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Cancellation Type<span class="text-danger">{{" * "}}</span></label>
                        <div class="d-flex flex-row" >
                            <div class="form-check">
                              <input class="form-check-input"
                              formControlName="cancellationType" type="radio" id="radioCheck1" value="Cancel directly">
                              <label for="radioCheck1">Cancel directly</label>
                            </div>
                            <div class="form-check mx-3">
                              <input class="form-check-input" 
                              formControlName="cancellationType" type="radio" id="radioCheck2"  value="Cancel by submitting request">
                              <label class="mx-2" for="radioCheck2">Cancel by submitting request</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="h5 text-primary">Request</p>
        <div class="card">
            <div class="card-body" >
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Reason<span class="text-danger">{{ " *" }}</span></label>
                        <textarea rows="2" formControlName="reason" class="form-control"></textarea>
                    </div>
                </div>
                <div formArrayName="supportingDocumentsArray">
                    <div *ngIf="withdrawalRequest === null" class="mt-3 d-flex flex-row justify-content-end">
                        <a
                          (click)="addSupportingDocumentsArray()"
                          href="javascript:void(0);"
                          class="link-primary"
                          ><i class="ri-add-box-line"></i>Add more</a
                        >
                    </div>
                    <div class="mt-2 d-flex flex-column">
                        <div class="row" >
                            <div class="col-md-6 mb-3 border shadow p-3" *ngFor="let document of supportingDocumentsControls; let i = index" [formGroupName]="i">
                                <div *ngIf="withdrawalRequest === null" class="d-flex flex-row justify-content-end align-items-center">
                                    <a (click)="onDeleteSupportingDocumentsArray(i)" class="link-danger"><i class="ri-delete-bin-5-line"></i></a>
                                </div>
                                <label class="form-label">Title<span class="text-danger">{{ " *" }}</span></label>
                                <input type="text" class="form-control" formControlName="title">
                                <p class="text-muted">Supporting Documents</p>
                                <ngx-dropzone (change)="onSelect($event, 'filesSupportingDocuments')"
                                [multiple]="false">
                                <ngx-dropzone-label >Drop your file here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of filesSupportingDocuments"
                                    [removable]="true" (removed)="onRemove(f, 'filesSupportingDocuments')">
                                    <ngx-dropzone-label>{{ f.name }} ({{f.type}})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                                </ngx-dropzone>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row" *ngIf="withdrawalRequest === null">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>