<div class="row">
    <div class="col-md-6 col-12 mb-1">
        <div class="card card-animate shadow" >
            <div class="card-body py-2">  
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="flex flex-column">
                                <div class="p-3">
                                    <p class="fs-19 mb-0 ">Rejoining Request</p>
                                </div>
                                <div class="p-3 d-flex flex-row gap-2">
                                    <a *ngIf="userRole === 'eportal@omsb.org' || userRole === 'trainee@omsb.org'" (click)="onNavigate('admission/rejoining/application')" class="btn btn-success">Application</a>
                                    <a *ngIf="userRole === 'eportal@omsb.org' || userRole === 'employer@omsb.org'" (click)="onNavigate('admission/rejoining/view-application')" class="btn btn-success">View Applications</a>
                                  </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 p-0 ">
                            <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                             
            </div>
        </div>
    </div>
</div>