<div class="card">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-end">
            <button type="button" (click)="onNavigate()" class="btn btn-primary my-2 btn-label waves-effect waves-light"><i class=" ri-file-add-fill label-icon align-middle fs-16 me-2"></i>Add</button>
        </div>
        <div class="live-preview" >                                    
            <div class="table-responsive">
                <table class="table table-hover align-middle table-nowrap mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Rotation</th>
                            <th scope="col">R1</th>
                            <th scope="col">R2</th>
                            <th scope="col">R3</th>
                            <th scope="col">R4</th>
                            <th scope="col">R5</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of listData.tableData">
                            <td (click)="onClickAction(row.rotation)">{{row.rotation}}</td>
                            <td>{{row.R1}}</td>
                            <td>{{row.R2}}</td>
                            <td>{{row.R3}}</td>
                            <td>{{row.R4}}</td>
                            <td>{{row.R5}}</td>
                            <td>{{(+row.R1 + +row.R2 + +row.R3 + +row.R4 + +row.R5)}}</td>
                        </tr>
                        <tr class="fw-blod bg-light" >
                            <td>Blocks per academic Year</td>
                            <td>{{tableTotal[0]}}</td>
                            <td>{{tableTotal[1]}}</td>
                            <td>{{tableTotal[2]}}</td>
                            <td>{{tableTotal[3]}}</td>
                            <td>{{tableTotal[4]}}</td>
                            <td>{{tableTotal[5]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #electiveSelector let-modal>
    <div class="modal-content">
        <div class="modal-body text-center p-2">
            <div class="d-flex flex-row justify-content-between">
                <label class="form-label mt-2 h5">Please select an Elective</label>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-2">
                <div class="d-flex flex-column">
                    <label class="form-label border border-dashed p-2"><a (click)="onClickAction('Elective 1')">Elective 1</a></label>
                    <label class="form-label border border-dashed p-2"><a (click)="onClickAction('Elective 2')">Elective 1</a></label>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>