<app-breadcrumbs title="Admission Setup" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<button type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3"  (click)="onNavigate('/admission/admission')"><i class="ri-arrow-left-circle-line label-icon align-middle fs-16 me-2"></i>Back</button>
<div class="row mt-1" *ngIf="userRole === 'eportal@omsb.org'">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-row justify-content-end gap-3">
                        <button (click)="onFilter()" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light"><i class=" ri-filter-2-line"></i></button>
                        <button (click)="openModal(addAdmissionSetup, 'xl')" type="button" class="btn btn-primary btn-label waves-effect waves-light mb-3" ><i class=" ri-file-add-line label-icon align-middle fs-16 me-2"></i>Create Admission Setup</button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isFilterOpened" [@enterAnimation]>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Program Type<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="listData.programType" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Program Name<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="listData.residencyProgramList" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Academic Year<span class="text-danger"></span></label>
                    <ng-select 
                        [items]="listData.yearsList" placeholder="Please select">
                    </ng-select>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Application Date Range<span class="text-danger"></span></label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    [convertModelValue]="true" mode="range">
                </div>
                <div class="d-flex flex-row">
                    <button class="btn btn-primary my-2">Filter</button>
                </div>
            </div>
            <div class="row">
                <div class="live-preview">     
                    <div class="table-responsive">
                        <table class="table align-middle table-hover table-wrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Academic Year</th>
                                    <th scope="col">Program Name</th>
                                    <th scope="col">Application Start Date</th>
                                    <th scope="col">Application End Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let courseSetup of listData.tableData">
                                    <td>{{courseSetup.academicYear}}</td>
                                    <td>{{courseSetup.programName}}</td>
                                    <td>{{courseSetup.applicationStartDate | date : 'yyyy-MM-d hh:mm:ss a'}}</td>
                                    <td>{{courseSetup.applicationEndDate | date : 'yyyy-MM-d hh:mm:ss a'}}</td>
                                    <td>{{courseSetup.status}}</td>
                                    <td>
                                        <div class="dropdown" ngbDropdown>
                                            <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                <i class="ri-more-2-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenuLink5" ngbDropdownMenu>
                                                <li (click)="openModal(viewAdmissionSetup, 'xl')"><a class="dropdown-item" ><i class="mx-1 ri-eye-line"></i>View</a></li>
                                                <li><a class="dropdown-item" ><i class="mx-1 ri-file-paper-2-line"></i>Setup Templates</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                             
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1" *ngIf="userRole === 'pd@omsb.org'">
    <div class="card bg-light">
        <div class="card-body">
            <div class="row">
                <div class="d-flex flex-row gap-3 justify-content-end">
                    <button type="button" (click)="openModal(addInterviewPanel, 'lg')" class="btn btn-primary btn-label waves-effect waves-light mb-3"><i class=" ri-user-2-line label-icon align-middle fs-16 me-2"></i>Add Interview Panel members</button>
                    <button type="button" (click)="openModal(addFilterExam, 'lg')" class="btn btn-primary btn-label waves-effect waves-light mb-3"><i class="ri-user-4-line label-icon align-middle fs-16 me-2"></i>Add Filter exam</button>

                </div>
                <ng-container *ngTemplateOutlet="viewAdmission"></ng-container>                
            </div>
        </div>
    </div>
</div>

<ng-template #addAdmissionSetup let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Add Admission Setup</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <form [formGroup]="admissionSetupForm">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Program Type<span class="text-danger"></span></label>
                                    <ng-select 
                                    formControlName="programType"
                                    [items]="listData.programType" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Program Name<span class="text-danger"></span></label>
                                    <ng-select formControlName="programName"
                                    [items]="programList" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Academic Year<span class="text-danger"></span></label>
                                    <ng-select formControlName="academicYear"
                                        [items]="listData.yearsList" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-lable">Application Start Date and Time<span class="text-danger"></span></label>
                                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    formControlName="applicationStartDate"
                                            [enableTime]="true" [convertModelValue]="true" [dateFormat]="'Y-m-d H:i'">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-lable">Application End Date and Time<span class="text-danger"></span></label>
                                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    formControlName="applicationEndDate"
                                            [enableTime]="true" [convertModelValue]="true" [dateFormat]="'Y-m-d H:i'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Medical Qualifications<span class="text-danger"></span></label>
                                    <ng-select 
                                    formControlName="medicalQualifications"
                                    [items]="['MD', 'MBBS' , 'BMBS', 'MBChB', 'MBBCh','Other']" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-3" *ngIf="admissionSetupFormValue.medicalQualifications === 'Other'">
                                    <label class="form-lable">If Other,<span class="text-danger"></span></label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Certifications required<span class="text-danger"></span></label>
                                    <ng-select 
                                    formControlName="certificationsRequired"
                                    [items]="['MD', 'MBBS' , 'BMBS', 'MBChB', 'MBBCh','Other']" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-3" *ngIf="admissionSetupFormValue.certificationsRequired === 'Other'">
                                    <label class="form-lable">If Other,<span class="text-danger"></span></label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3" *ngIf="admissionSetupFormValue.programType === 'Fellowship'">
                                    <label class="form-lable">Completion of training and specialty certificates<span class="text-danger"></span></label>
                                    <ng-select 
                                    formControlName="specialtyCertificates"
                                    [items]="['Yes', 'No']" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-3" *ngIf="admissionSetupFormValue.programName === 'General Dentistry program and Oral' || admissionSetupFormValue.programName === 'Maxillofacial surgery program'">
                                    <label class="form-lable">Membership of Faculty in Dentistry certificate<span class="text-danger"></span></label>
                                    <ng-select 
                                    formControlName="dentistryCertificate"
                                    [items]="['Yes', 'No']" placeholder="Please select">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label class="form-lable">Selection Exam Required<span class="text-danger"></span></label>
                                    <ng-select 
                                    formControlName="selectionExamRequired"
                                    [items]="['Yes', 'No']" placeholder="Please select">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <label class="form-lable">Evaluation Form<span class="text-danger"></span></label>
                                    <ng-select 
                                    formControlName="evaluationForm"
                                    [items]="['Evaluation Form']" placeholder="Please select">
                                    </ng-select>    
                                </div>
                                <div class="col-1 mb-3" *ngIf="admissionSetupFormValue.evaluationForm" >
                                    <div class="d-flex justify-content-center align-items-end h-100">
                                        <button (click)="openModal(interviewEvaluation,'xl')" type="button" class="btn btn-outline-primary mx-2 btn-icon waves-effect waves-light"><i class=" ri-article-line"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</ng-template>

<ng-template #viewAdmissionSetup let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">View Admission Setup</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <ng-container *ngTemplateOutlet="viewAdmission"></ng-container>                
            </div>            
        </div>
    </div>
</ng-template>


<ng-template #interviewEvaluation let-modal>
    <div class="modal-content bg-light">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Applicant Interview Evaluation</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <app-admission-setup-evaluation-form></app-admission-setup-evaluation-form>
            </div>       
        </div>
    </div>
</ng-template>

<ng-template #viewAdmission>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Program Type<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.programType}}</label>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Program Name<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.programName}}</label>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Academic Year<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.academicYear}}</label>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-lable">Application Start Date and Time<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.applicationStartDate | date : 'yyyy-MM-d hh:mm:ss a'}}</label>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-lable">Application End Date and Time<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.applicationEndDate | date : 'yyyy-MM-d hh:mm:ss a'}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Medical Qualifications<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.medicalQualifications}}</label>
                </div>
                <div class="col-md-4 mb-3" *ngIf="listData.admissionData.medicalQualifications === 'Other'">
                    <label class="form-lable">If Other,<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.medicalQualificationsOther}}</label>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Certifications required<span class="text-danger"></span></label>
                   <label class="form-control">{{listData.admissionData.certificationsRequired}}</label>
                    
                </div>
                <div class="col-md-4 mb-3" *ngIf="listData.admissionData.certificationsRequired === 'Other'">
                    <label class="form-lable">If Other,<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.certificationsRequiredOther}}</label>
                </div>
                <div class="col-md-4 mb-3" *ngIf="listData.admissionData.programType === 'Fellowship'">
                    <label class="form-lable">Completion of training and specialty certificates<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.specialtyCertificates}}</label>
                </div>
                <div class="col-md-4 mb-3" *ngIf="listData.admissionData.programName === 'General Dentistry program and Oral' || listData.admissionData.programName === 'Maxillofacial surgery program'">
                    <label class="form-lable">Membership of Faculty in Dentistry certificate<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.dentistryCertificate}}</label>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-lable">Selection Exam Required<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.selectionExamRequired}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6 mb-3">
                    <label class="form-lable">Evaluation Form<span class="text-danger"></span></label>
                    <label class="form-control">{{listData.admissionData.evaluationForm}}</label>
                </div>
                <div class="col-1 mb-3" *ngIf="listData.admissionData.evaluationForm" >
                    <div class="d-flex justify-content-center align-items-end h-100">
                        <button (click)="openModal(interviewEvaluation,'xl')" type="button" class="btn btn-outline-primary mx-2 btn-icon waves-effect waves-light"><i class=" ri-article-line"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addInterviewPanel let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Add Interview Panel members</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <form [formGroup]="interviewPanelForm">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-lable">Civil ID<span class="text-danger"></span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-lable">Panel Member Name<span class="text-danger"></span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-lable">Employer Details<span class="text-danger"></span></label>
                            <ng-select formControlName="employerDetails"
                                [items]="['OMSB' , 'MOH', 'SQUH' , 'Other']" placeholder="Please select">
                            </ng-select>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="interviewPanelFormValue.employerDetails === 'Other'">
                            <label class="form-lable">If Other,<span class="text-danger"></span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-lable">Authorized Employer Name<span class="text-danger"></span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-lable">Authorized Employer Civil ID<span class="text-danger"></span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-lable">Authorized Employer Email ID<span class="text-danger"></span></label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
                      
        </div>
    </div>
</ng-template>
<ng-template #addFilterExam let-modal>
    <div class="modal-content">
        <div class="modal-body px-4 py-2">
            <div class="d-flex flex-row justify-content-between">
                <p class="h5 mt-2">Add Filter exam</p>
                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="mt-3">
                <form [formGroup]="filterExamForm">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-lable">Is filter examination required?<span class="text-danger"></span></label>
                            <ng-select formControlName="isFilterExamRequired"
                                [items]="['Yes' , 'No']" placeholder="Please select">
                            </ng-select>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="filterExamFormValue.isFilterExamRequired === 'Yes'">
                            <label class="form-lable">Exam Type<span class="text-danger"></span></label>
                            <ng-select 
                                [items]="[]" placeholder="Please select">
                            </ng-select>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="filterExamFormValue.isFilterExamRequired === 'Yes'">
                            <label class="form-lable">Exam Date<span class="text-danger"></span></label>
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    [enableTime]="true" [convertModelValue]="true" [dateFormat]="'Y-m-d H:i'">
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="filterExamFormValue.isFilterExamRequired === 'Yes'">
                            <label class="form-lable">Start Time<span class="text-danger"></span></label>
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr
                                        [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'">
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="filterExamFormValue.isFilterExamRequired === 'Yes'">
                            <label class="form-lable">End Time<span class="text-danger"></span></label>
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr
                                        [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'">
                        </div>
                        
                    </div>
                    <div class="d-flex flex-row">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div> 
        </div>
    </div>
</ng-template>