<div class="row">
    <div class="col-md-4 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-8 col-8">
                        <div class="flex flex-column">
                          <div >
                              <p class="fs-16 ">Program Nomination</p>
                          </div>
                          <div >
                            <a (click)="onNavigate('/research/research-day/program-nomination')" class="btn btn-success">View</a>
                          </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 p-0">
                        <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                    </div>
                </div>
                         
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org' || userRole === 'trainee@omsb.org' ">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-8 col-8">
                        <div class="flex flex-column">
                          <div >
                              <p class="fs-16 ">Upload Presentation</p>
                          </div>
                          <div >
                            <a (click)="onNavigate('/research/research-day/upload-presentation')" class="btn btn-success">View</a>
                          </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 p-0">
                        <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                    </div>
                </div>
                         
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-8 col-8">
                        <div class="flex flex-column">
                          <div >
                              <p class="fs-16 ">Competition Grouping</p>
                          </div>
                          <div >
                            <a (click)="onNavigate('/research/research-day/competition-grouping')" class="btn btn-success">View</a>
                          </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 p-0">
                        <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                    </div>
                </div>
                         
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-4 col-12  mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-8 col-8">
                        <div class="flex flex-column">
                          <div >
                              <p class="fs-16 ">Presentation Evaluation</p>
                          </div>
                          <div >
                            <a (click)="onNavigate('/research/research-day/presentation-evaluation')" class="btn btn-success">View</a>
                          </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 p-0">
                        <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                    </div>
                </div>
                         
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12  mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-8 col-8">
                        <div class="flex flex-column">
                          <div >
                              <p class="fs-16 ">Presentation Evaluation Result</p>
                          </div>
                          <div >
                            <a (click)="onNavigate('/research/research-day/presentation-evaluation-result')" class="btn btn-success">View</a>
                          </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 p-0">
                        <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                    </div>
                </div>
                         
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12  mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-8 col-8">
                        <div class="flex flex-column">
                          <div >
                              <p class="fs-16 ">Booth Evaluation</p>
                          </div>
                          <div >
                            <a (click)="onNavigate('/research/research-day/booth-evaluation')" class="btn btn-success">View</a>
                          </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 p-0">
                        <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                    </div>
                </div>
                         
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-12 mb-3" *ngIf="userRole === 'eportal@omsb.org'">
        <div class="card card-animate shadow">
            <div class="card-body py-2">  
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-8 col-8">
                        <div class="flex flex-column">
                          <div >
                              <p class="fs-16 ">Booth Evaluation Result</p>
                          </div>
                          <div >
                            <a (click)="onNavigate('/research/research-day/booth-evaluation-result')" class="btn btn-success">View</a>
                          </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 p-0">
                        <img src="assets/images/verification-img.png" class="img-fluid" alt="">
                    </div>
                </div>
                         
            </div>
        </div>
    </div>
</div>