<div class="row card-box">
    <div class="col-md-3 col-12 mb-3">
        <div class="card card-animate border shadow" (click)="onNavigate('/tafus/terminations/terminate-residents')">
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    TR
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Terminate Residents</p>
            </div>
        </div>
    </div>
</div>