<div class="row card-box">
    <div class="col-md-3 col-12 mb-3">
        <div class="card  border shadow" [routerLink]="['/trainee-management-system/confirm-curriculum']">
            <div class="card-header bg-success">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    CC
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Confirm Curriculum</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card  border shadow" [routerLink]="['/trainee-management-system/setup-academic-activities']" >
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AA
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Setup Academic Activities</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card  border shadow" [routerLink]="['/trainee-management-system/schedule-academic-activities']" >
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    SA
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Schedule Academic Activities</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <div class="card  border shadow" [routerLink]="['/trainee-management-system/assessment-setup']" >
            <div class="card-header bg-primary">
            </div>
            <div class="card-body">
                <div class="d-flex card-thumbnail">
                    AS
                </div>
            </div>
            <div class="card-body py-2">
                <p class="h5">Assessment Setup</p>
            </div>
        </div>
    </div>
</div>